<div class="tint-bg-row">          
    <div class="container">
        <p class="lead">Centra are an <strong>Electronic Security Systems Installers</strong> founded in 1990. We are experienced in the <a href="/electronic-security-system-services/security-planning-consultancy/">planning</a>, <a href="/electronic-security-system-services/security-system-installation/">installation</a> and maintenance of <a href="/security-products/access-control/">Access Control</a>, <a href="/security-products/cctv/">CCTV</a> and all types of <a href="/security-products/intrusion-detection-systems-ids-pids/">intrusion detection sensors and devices.</a></p>

        <div class="row text-center">
            <div class="col-md-3">
                <p> <i class="icon-aeroplane i4x"></i></p><p>Based near Stansted Airport we have easy access for all UK and European locations.</p>
            </div>
            <div class="col-md-3">
                <p><i class="icon-global i4x"></i></p><p>Centra provide quality products having completed many UK &amp; overseas installations.</p>
            </div>
            <div class="col-md-3">
                <p><i class="icon-star i4x"></i></p><p>ISO 9001:2008<br/>Quality Certified</p>
            </div>
            <div class="col-md-3">
                <p><i class="icon-establishment i4x"></i></p><p>Centra have a wide client base - <a title="Government Security" href="/clients/government-security/">Government</a>, <a href="/clients/military-security-systems/">Military</a>, <a href="/clients/industrial-security/">Industrial</a> and <a href="/clients/commercial-security-systems/">Commercial</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
    <div class="row">        
        <div class="col-md-4">
            <a href="/partners">
            <div class="card">
                <div class="card-header">
                    <i class="icon-handshake i4x"></i>
                    <h4 class="card-title">Our Partners</h3>
                </div>
                <div class="card-body">
                  <p>Read more...</p>
                </div>
            </div>
            </a>
        </div>     
        <div class="col-md-4">
            <a href="/clients">
                <div class="card">
                    <div class="card-header">
                    <i class="icon-heart i4x"></i>
                    <h4 class="card-title">Our Clients</h3>
                    </div>
                    <div class="card-body"> 
                      <p>Read more...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">     
            <a href="/markets-served">
                <div class="card">
                    <div class="card-header">
                        <i class="icon-global i4x"></i>
                        <h4 class="card-title">Markets Served</h3>
                    </div>
                    <div class="card-body">
                      <p>Read more...</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>
</div>


<div class="brand-primary-bg-row">          
    <div class="container">
        <h2 class="page-title">Customer Care</h2>
        <p class="lead">It is our responsibility to understand and interpret our clients needs in order to assist them to provide a secure working environment for their employees. Working with the client we will achieve this goal by providing a total solution based on:</p>
        <div class="row">
            <div class="col-md-3">
                <p><i class="icon-tick i4x"></i></p>
                <p>Product reliability sourced from qualified suppliers</p>
            </div> 
            <div class="col-md-3">
                <p><i class="icon-tick i4x"></i></p>
                <p>Quality in depth and quality in service</p>
            </div>
            <div class="col-md-3">
                <p><i class="icon-tick i4x"></i></p>
                <p>After sales commitment</p>
            </div>
            <div class="col-md-3">
                <p><i class="icon-tick i4x"></i></p>
                <p>Continuous improvement</p>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">          
    <div class="container text-center">
        <a href="/wp-content/uploads/sites/11/2014/02/CENTRA-CORP-BROCHURE.pdf" target="_blank">
        <i class="icon-pdf-page-icon i5x"></i><h3>Download the Centra Corporate Brochure</h3></a>
    </div>
</div>
