<div class="positive-bg-row">
	<div class="container">
		<div class="row">
		<div class="col-md-8">	
		<h3>Dial <a href="Skype:centrasecurity?call">+44333 990 2525</a> now for a free consultation or <a href="#email">drop us an email</a> using the <a href="#email">form below</a>.</h3>
		</div>
		<div class="col-md-4">
			<div class="card brand-primary-bg">
				<div class="card-body">
					<i class="icon-crossroadssign i3x"></i>
				<p class="lead">Coming to meet us?<br><a class="btn btn-light mt-3" title="Get directions from Google Maps" href="#directions">Get Directions</a></p>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="tint-bg-row" id="email">
	<div class="container">
		<h2 class="page-title">Send us an email</h2>
		[gravityform id=1 title=false description=false ajax=true]
	</div>
</div>

<div class="positive-bg-row">
	<div class="container">
		<div class="row">
		    <div class="col-md-4">
		    	<i class="icon-location-pin i3x mb-5"></i>
		        <p class="mt-3"><strong>Centra Security Systems (UK)</strong><br>
		        	3rd Floor Endeavour House<br>
		        	Coopers End Road<br>
		        	Stansted Airport<br>
		        	CM24 1SJ<br>
		        	United Kingdom</p>
		    </div>
		    <div class="col-md-4">
		    	<i class="icon-headset i3x mb-5"></i>
		         <p class="mt-3">Tel: <a href="callto:+44 333 990 2525">+44 (0)333 990 2525</a><br>
		        	Skype: <a class="url" href="skype:centrasecurity?call">centrasecurity</a></p>
		    </div>
		    <div class="col-md-4">
		    	<i class="icon-envelope i3x mb-5"></i>
				<p class="mt-3">Email: <a href="mailto:info@centrasecurity.co.uk"><strong>info@centrasecurity.co.uk</strong></a></p>
		        <p>Why not <a class="text" href="/wp-content/themes/centra-sg-theme/images/centra-security-services-ltd.vcf">download our contact file</a> to your address book? <a class="text" href="/wp-content/themes/centra-sg-theme/images/centra-security-services-ltd.vcf">[vCard Contact File]</a></p>
		    </div>
		</div>
	</div>
</div>
<div class="mapoverlay"><a id="directions"></a>
    <div class="less"></div>
    <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4977.334014352014!2d0.24952513380157404!3d51.88056570427892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d88e4f41b16735%3A0x4dabd4df148687f4!2sStansted%2C+Essex+CM24+1SJ!5e0!3m2!1sen!2suk!4v1441206694930" width="100%" height="640" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>