<div class="brandBase negative home-hero" id="">
        
    <div class="container">
        <h2 class="text-center">Our Partners</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Centra security partners with some of the leading providers of integrated security solutions to government, commercial and critical infrastructure customers around the world.</p>
            <p class="text-center"><a href="#partnerlogos"><i class="icon-arrow-down-circle i3x"></i></a></p>
            </div>
        </div>
    </div>


</div>

<div class="positive-bg-row">
    <div class="container">
        <p class="lead" id="partnerlogos">The close relationships we forge with our partners allows us to provide a larger range of products, services and skills which in turn helps us deliver richer solutions to clients.</p>
    </div>

      [justified_image_grid preset=10 thumbs_spacing=10 row_height=250 lightbox=prettyphoto orderby=title_asc limit=0 hidden_limit=99 width_mode=responsive_fallback last_row=flexible-match-center developer_link=hide load_more=click load_more_text="More" load_more_count_text=none load_more_auto_width=off load_more_limit=99 recent_posts=yes recents_post_type=page recents_custom_links=yes recents_parent_id=85]
</div>
