<div class="container">
  <p class="lead">Our aim is to deliver innovative solutions specific to your individual requirements. We have a dedicated team of highly qualified engineers, systems integrators and network specialists ready to implement any system. Cable management systems cable and equipment enclosures are procured through distributors using quality suppliers like...</p>
</div>

<div class="positive-bg-row">
  <div class="container">
[justified_image_grid preset=10 thumbs_spacing=10 row_height=150 lightbox=prettyphoto orderby=title_asc limit=0 hidden_limit=99 width_mode=responsive_fallback last_row=flexible-match-center developer_link=hide load_more=click load_more_text="More" load_more_count_text=none load_more_auto_width=off load_more_limit=99 recent_posts=yes recents_post_type=page recents_custom_links=yes recents_parent_id=85]
</div>
</div>



<div class="engineer-bg">
  <div class="container">
  <h2>Standards</h2>
    <p class="lead">Installations graded as High Medium or low risk. The appropriate use of cable enclosure can be made to reflect this.</p>

  <div class="row justPad">
    <div class="col-sm-3">
        <p><i class="icon-card i3x"></i></p>
    	<p>Centra  all carry Ladder Inspectors Health and Safety Cards for working at height.</p>
    </div>
    <div class="col-sm-3">
        <p><i class="icon-cctv-tilt i3x"></i></p> 
    	<p>MSCE qualified engineers needed in setting up of Enterprise Level CCTV and Electronic Access Systems</p>
    </div>
    <div class="col-sm-3">
        <p><i class="icon-gleam i3x"></i></p>
    	<p>Qualified Electricians used on contract</p>
    </div>
    <div class="col-sm-3">
       <p><i class="icon-electro-measurement i3x"></i></p>
       <p>Centra carry out in-house system testing enabling Installation teams the confidence to meet strict on target job completions.</p>
    </div>
  </div>

  </div>  
</div>
