<div class="positive-bg-row">
    <div class="container">
        <p class="lead">At Centra we pride ourselves as being one of the most certified installers in the UK. Adhering strictly to recognised British Standards gives our clients and leading security brands confidence in our work, across the globe.</p>
        <p class="upload-link upload-link-pdf"><a href="/wp-content/uploads/sites/11/2012/04/cctv_small_user_checklist.pdf" target="_blank">CCTV Small User Checklist</a> (87 kB)</p>
    </div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
        <h2>CCTV: British Standards Institution Publications</h2>
        <div class="card-group justPad">
        	<div class="card">
	            <a href="http://shop.bsigroup.com/en/ProductDetail/?pid=000000000030122793" target="_blank">
                    <div class="card-header brand-primary-bg"><i class="icon-pdf-page-icon i5x"></i></div>
                    <div class="card-body">BS7958:2005 CCTV Management and Operation Code of Practice</div>
	            </a>
	        </div>
            <div class="card">
            	<a href="http://shop.bsigroup.com/en/ProductDetail/?pid=000000000030138356" target="_blank">
                    <div class="card-header brand-primary-bg"><i class="icon-pdf-page-icon i5x"></i></div>
                    <div class="card-body">BS8418:2003 Installation and remote monitoring of detector activated CCTV systems. Code of Practice</div>
                </a>
            </div>
	        <div class="card">
	            <a href="http://shop.bsigroup.com/en/ProductDetail/?pid=000000000030173629" target="_blank">

	                    <div class="card-header brand-primary-bg"><i class="icon-pdf-page-icon i5x"></i></div>
	                    <div class="card-body">BS5979-2007 Remote centres receiving signals from fire and security systems. Code of Practice</div>
	            </a>                
	        </div>
            <div class="card">
		        <a href="http://shop.bsigroup.com/en/ProductDetail/?pid=000000000030155338" target="_blank">
		            <div class="card-header brand-primary-bg">
		                <i class="icon-pdf-page-icon i5x"></i>
		            </div>
		            <div class="card-body">BS EN 11064-1:2001 Ergonomic design of control centres</div>
		        </a>
        	</div>
			<div class="card">
				<a href="#" target="_blank">
					<div class="card-header brand-primary-bg"><i class="icon-pdf-page-icon i5x"></i></div>
					<div class="card-body">BS 7858:2006 Security screening of individuals employed in a security environment. Code of Practice</div>
				</a>	
			</div>
			<div class="card">
				<a href="#" target="_blank">
					<div class="card-header brand-primary-bg"><i class="icon-pdf-page-icon i5x"></i></div>
					<div class="card-body">The ICO is the UK’s independent body set up to uphold information rights.</div>
					</div>
				</a>
    	</div>
	</div>
</div>


