<div class="positive-bg-row pb-0">
	<div class="container">
	    <p class="lead">Today's current business and political environment requires a security solution appropriate to the risk and up to the job. Employers are now fully aware that they are responsible for <strong>protection of the companies assets which include employee's in the work place</strong>.</p>
	</div>
</div>
<div class="positive-bg-row">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
		    <h2>Risk Design and Planning</h2>
		    	<p>This means installing systems that will offer the appropriate level of security tied to a sensible budget. Centra offer technical expertise in the <strong>design</strong> and <strong>operation</strong> of physical and electronic security systems.</p>
		    	<p>See the example below. Our staff of security professionals will work with you to interpret and understand your needs and asses your risks to create a custom system.</p>
		    </div>
			<div class="col-md-6">
			<a href="/wp-content/uploads/sites/11/2009/10/kuwait-control-design-prtotype-a.jpg">
				<img class="img-fluid" src="/wp-content/uploads/sites/11/2009/10/kuwait-control-design-prtotype-a.jpg" alt="kuwait-control-design-prtotype-a.jpg">
			</a>
			</div>
		</div>
	</div>
</div>

<div class="positive-bg-row">
			<div class="container">
		<div class="row">
		    <div class="col-md-6">
				<h2>Consultancy</h2>
		    	<p>Although primarily Installers we are employed on occasions just to consult to work independently and by using our experience we can work give an unbiased solution. We have designed and Installed security solutions for Military bases, Nuclear power plants, small and large manufacturing organizations, government and commercial Planning. The Centra ethos is focused on ensuring safety, and delivering maximum value throughout the process, from design to implementation. Our team of experts have extensive experience in the delivery of security solutions and know how to plan for the most effective role out.</p>
			</div>
			<div class="col-md-6">
				<a href="/wp-content/uploads/sites/11/2009/10/sight-logix-survey-tool-example-only.jpg">
					<img class="img-fluid" src="/wp-content/uploads/sites/11/2009/10/sight-logix-survey-tool-example-only.jpg" alt="sight-logix-survey-tool-example-only.JPG">
				</a>
			</div>
		</div>
			</div>
</div>