<div class="tint-bg-row">
	<div class="container">
    	<p class="lead">Centra Security strives to provide customers with the required system knowledge and tools necessary for successfully completing security projects.</p>
	</div>
</div>
<div class="positive-bg-row">
	<div class="container">
		<div class="card-group">
		    <div class="card brand-secondary-bg">
		        <div class="card-header darkest">
		            <h3 class="card-title">Training</h3>
		        </div>
		        <div class="card-body">
		        	<div class="row">
			        	<div class="col-md-6">
			            <p>Our engineers have years of experience as system educators on and off site. We can therefore provide standard and customized training courses to meet your needs. Centra are approved by Industry Authorities.</p>
						</div>
						<div class="col-md-6">
							<img class="img-fluid" title="chas-logo" src="http://centra.menellproject.test/wp-content/uploads/sites/11/2008/09/chas-logo22.jpg" alt="" />
			        	</div>
			         </div>
	            <div class="card-footer">
	            	CCTV Code Of Practice Document: <a title="bs-standard-8495-2007.pdf" href="/wp-content/uploads/sites/11/2009/06/bs-standard-8495-2007.pdf">bs-standard-8495-2007.pdf</a>
            	</div>
		    	</div>
		    </div>	
		    <div class="card brand-primary-bg">
		        <div class="card-header">
		            <h3 class="card-title">Support</h3>
		        </div>
		        <div class="card-body">
		        	<div class="row">
			        	<div class="col-md-6">
			            For assistance Please call us on : <strong>+44 (0)333 990 2525</strong> or email <a href="mailto:info@centrasecurity.co.uk"><strong>info@centrasecurity.co.uk</strong></a>
			        	</div>
			        	<div class="col-md-6">
			            <img class="img-fluid" title="rapport" src="http://centra.menellproject.test/wp-content/uploads/sites/11/2008/09/rapport.jpg" alt="" />
			        	</div>
			        </div>
		    	</div>	
	            <div class="card-footer">
	            <p>Centra Engineers use Approved Technical Meters like the "Rapport 2 Pro" See: <a href="http://www-centrasecurity-co-uk.menellproject.test/wp-content/uploads/sites/11/2008/09/29A-CENTRA-DOC29A-TERMS-AND-CONDITIONS.pdf">29a-centra-doc29a-terms-and-conditions</a>.</p>
	        	</div>
			</div>
	  	</div>
	</div>
</div>
<div class="tint-bg-row training-bg">
	<div class="container">
    	<h2>Raise a Support Query</h2>
    	[gravityform id="1" description="false" ajax="true"]
	</div>
</div>