[smartslider3 slider=2]
<div class="parallaxSlide positiveRow">
    <div class="container">
        <h1 class="display-4">"Our mission is to enhance cyber resilience in an uncertain world"</h1>
        <p>Firms of all sizes need to develop a ‘security culture’, from the board down to every employee. Firms should be able to identify and prioritise their information assets - hardware, software and people. They should protect these assets, detect breaches,
        respond to and recover from incidents, and constantly evolve to meet new threats.</p>

        <p>Tantivy guides and supports firms in maintaining clarity, focus and control to achieve enhanced cyber resilience. Whether it’s the increasingly complex regulatory burden, unknown risk from the proliferation of third-party suppliers, or the rise of cybercrime
        and malicious actors’ intent on exploiting your vulnerabilities, Tantivy can assist.</p>

        <p>At Tantivy, our Information Security and Data Privacy experts bring our proprietary toolkit and partner with clients to examine their businesses – defining security risk &amp; mitigation, benchmarking and establishing requirements. We plan, enable and
        coach in delivering security transformation; taking responsibility throughout the programme life cycle. We provide professional and managed services in operational cyber resilience.</p>
    </div>
</div>

<div class="container">

<div id="minimalAccordian">
    <div id="accordion" role="tablist">
        <div class="row">
            <div class="col-md-6" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="300">
                <div class="card brand-color">
                    <div id="headingOne" class="card-header" role="tab">

                        <i class="icon-analysis i5x" alt="analysis"></i>
                        <h5 class="mb-1 mb-x"><a class="collapsed" href="#collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">Consulting</a></h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li style="list-style-type: none;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Security Health Check Assessment</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Threat Perimeter Assessment</li>
                                <li class="list-group-item">Business Risk Resilience Radar</li>
                                <li class="list-group-item">M&amp;A Cyber Hygiene Report</li>
                                <li class="list-group-item">Strategy, Architecture &amp; Operating Model</li>
                                <li class="list-group-item">Policy &amp; Governance</li>
                                <li class="list-group-item">Education &amp; Awareness</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
                <div class="card brandCompColour">
                    <div id="headingTwo" class="card-header" role="tab">

                    <i class="icon-change i5x" alt="change"></i>
                        <h5 class="mb-1 mb-x"><a class="collapsed" href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">Business Protection: Keepnet Labs</a></h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Phishing Simulation</li>
                                <li class="list-group-item">Training &amp; Awareness</li>
                                <li class="list-group-item">Threat Intelligence</li>
                                <li class="list-group-item">Email Threat Simulation</li>
                                <li class="list-group-item">Suspicious Email Reporter</li>
                                <li class="list-group-item">Incident Response</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="900">
                <div class="card brandComp-darkest-pallete">
                    <div id="headingThree" class="card-header" role="tab">

                    <i class="icon-transformation i5x" alt="transformation"></i>
                        <h5 class="mb-1 mb-x"><a class="collapsed" href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">Standards &amp; Compliance</a></h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">GDPR</li>
                                <li class="list-group-item">ISO27001</li>
                                <li class="list-group-item">Cyber Essentials</li>
                                <li class="list-group-item">IASME Governance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="1200">
                <div class="card brandDarkCol">
                    <div id="headingFour" class="card-header" role="tab">

                    <i class="icon-project-managment i5x" alt="project managment"></i>
                        <h5 class="mb-1 mb-x"><a class="collapsed" href="#collapseFour" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">Services</a></h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="collapseFour">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Virtual CISO</li>
                                <li class="list-group-item">Virtual DPO</li>
                                <li class="list-group-item">Keepnet Labs Service Desk</li>
                                <li class="list-group-item">Interim Staffing</li>
                                <li class="list-group-item">Outsourced SOC</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END #accordion -->

</div><!-- END #minimalAccordian -->
</div>

<div id="agileProjectPeople" class="brandRow pb-5">
    <div class="container">
        <h2 data-aos-easing="ease-in-sine" data-aos-duration="200">Why worry about cyber resilience?</h2>
        <div class="row">
            <div class="col-12">
                <p class="display-4">Cyber resilience helps businesses to recognise that hackers have the advantage of innovative tools, element of surprise, target and can be successful in their attempt. This concept helps business to prepare, prevent, respond and successfully recover to the intended secure state.</p>
                <p class="lead">This is a cultural shift as the organisation sees security as a full-time job and embedded security best practices in day-to-day operations. In comparison to cyber security, cyber resilience requires the business to think differently and be more agile on handling attacks.</p>
            </div>
            <div class="col-sm-12" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
                <h3 class="pt-3 mb-3">Ask yourself...</h3>
                <ol>
                    <li data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="100">Do we evaluate, take ownership and have effective management of our cyber risk?</li>
                    <li data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Do we have a cyber-aware organisational culture? Do our people know what to do?</li>
                    <li data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="300">What do we do to protect the organisation’s information assets from our adversaries?</li>
                    <li data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Have we really understood the impact of various cyber incidents, however unlikely we initially deem them to be? How do we mobilise our response?</li>
                    <li data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="500">Are we a strong and secure link in the highly connected business ecosystems in which we operate?</li>
                </ol>
            </div>
        </div>
    </div>
</div>