<div class="positive-bg-row">
    <div class="container" data-aos-easing="ease-in-sine" data-aos-duration="300">
        [docxpresso file="http://tantivyconsult.staging.wpengine.com/wp-content/uploads/2019/01/Standards-Compliance.odt" comments="true" SVG="true"]
    </div>
 </div>

<div class="brand-primary-bg-row">
    <div class="container" data-aos-easing="ease-in-sine" data-aos-duration="300">
        <h2>GDPR</h2>
        <p class="lead">The General Data Protection Regulations are the biggest shake up to Europe's privacy laws in decades. Enforceable by the ICO since May 2018, breached organisations face fines of upto 4% of annual turnover. EU data subjects have more rights of how their personal data is controlled and processed and there are strict procedures for companies to follow in the event of an access request or breach.</p>

        &nbsp; Tantivy's data privacy experts apply our discovery and assessment methods to validate your compliance against the regulations. Following GDPR guidelines, we then produce a Data Inventory, mapping the data flow for different data types, resulting
        in a better understanding of personal data stored, and how it is managed (controlled) and retained. Drawing on our experience and GDPR Toolkit, Tantivy deliver GDPR compliance projects, end-to-end. &nbsp; Organisations also come to us for vDPO Services
        - more information on our virtual Data Protection Officer services can be found here. &nbsp; Finally, if you already have internal expertise and are only seeking the Tantivy GDPR document toolkit, this can be purchased as an off-the-shelf product.
        

        <p>The Tantivy GDPR Toolkit includes:</p>
        <ul>
            <li>24x Policies (incl. Data Protection, Cybersecurity, Access Control, Acceptable Use, etc)</li>
            <li>GDPR Process templates (incl. Impact Assessment (DPIA), Access Management Processes)</li>
            <li>GDPR Planning templates (i.e. Data Breach Management)</li>
            <li>GDPR Self Audit Procedure &amp; Report template</li>
        </ul>
    </div>
</div>


<div class="positive-bg-row">
    <div class="container" data-aos-easing="ease-in-sine" data-aos-duration="300">
        <h2>ISO27001</h2>
        <p class="lead">ISO/IEC 27001&nbsp;is an information security standard, part of the ISO/IEC 27000 family of standards, of which the last version was published in 2013, with a few minor updates since then.&nbsp;ISO27001 specifies an Information Security Management System (ISMS) that is intended to bring information security under management control and gives specific requirements. Organisations that meet the requirements may be certified by an accredited certification body following successful completion of an audit.</p>

        <p>Tantivy's ISO27001 Lead Auditors will lead you though the requirements to meet the Standard, working with you to produce the information asset register, complex risk assessments and treatment plans, in addition to all other policies and processes. This is a complex programme with often transformational change required to implement and maintain. Our change philosophy is that successful change requires engaged people – we will draw on our experience to deliver the transformation smoothly. With our security experts and ISO27001 Toolkit, Tantivy deliver ISO27001 compliance projects, end-to-end.</p>
        

        <p>If you already have internal expertise and are only seeking the Tantivy ISO27001 document toolkit, this can be purchased as an off-the-shelf product.</p>
        <p><a href="/contact/">Contact us</a> for further details.</p>
    </div>    
</div>


<div class="brand-primary-bg-row">
    <div class="container" data-aos-easing="ease-in-sine" data-aos-duration="300">

    <h3>Cyber Essentials</h3>
    <h4>Cyber Essentials and Cyber Essentials Plus are UK government information assurance schemes operated by the National Cyber Security Centre (NCSC) that encourages organisations to adopt good practice in information security. Cyber Essentials helps you to guard against the most common cyber threats and demonstrate your commitment to cyber security.</h4>
    Tantivy will soon become a Cyber Essentials Certification Body and look forward to working with you to achieve recognition for your commitment to cyber resilience. 
    <h4>&nbsp;</h4>
    <h3>IASME Governance</h3>
    <h4>The IASME Governance standard, based on international best practice,&nbsp;is risk-based and includes aspects such as physical security, staff awareness, and data backup. The IASME standard was recently recognised as the best cyber security standard
        for small companies by the UK Government when in consultation with trade associations and industry groups. The IASME governance self-assessment includes the Cyber Essentials assessment within it as well as an assessment against the requirements
        of the GDPR. The audited IASME certification (GOLD) is seen as a realistic alternative to&nbsp;ISO27001 by an increasing number of companies.</h4>
    Tantivy will soon become an IASME Governance Certification Body and look forward to working with you to achieve recognition for your commitment to cyber resilience.
    <div class="row justify-content-center">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg btn-outline" href="/contact">Contact us</a>
        </div>
    </div>
</div>
</div>
