<div class="tb-column-inner">

				
				
					
<!-- module text -->
<div id="text-201-0-0-1" class="module module-text text-201-0-0-1   ">
	
	
	<h3>DVD &amp; CD</h3>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-2" class="module module-text text-201-0-0-2   ">
			<h3 class="module-title">No Money Down CD Box Set</h3>	
	
	<p><img class=" wp-image-497 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/nmd-300x300.png" alt="" width="220" height="220" srcset="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/nmd-300x300.png 300w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/nmd-150x150.png 150w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/nmd.png 600w" sizes="(max-width: 220px) 100vw, 220px"></p>
<p>11 Proven Strategies we have used to build a portfolio of cashflowing properties.</p>
<p>Including; Creative Financing, Lease Options, Rent To Rent, Crowd Funding + 6 more!</p>
<a href="https://progproperty.infusionsoft.com/app/orderForms/No-Money-Down-test-order-CD-Set-e-shop" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>

	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-3" class="module module-text text-201-0-0-3   ">
			<h3 class="module-title">Be Your Own Bank – The Joint Venture Blueprint</h3>	
	
	<p><strong><img class="wp-image-496 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/byob-300x300.png" alt="" width="220" height="212"></strong></p>
<p><strong>8 CD Audio Programme plus Loaded Bonus CD ROM</strong></p>
<p>The No Money Down, Joint Venture Blueprint for Property Investment &amp; business with other people’s money, time and experience.</p>
<p>Learn how to raise finance for business &amp; investing without banks or mortgages, and create bigger cashflowing portfolios &amp; businesses in turbulent times</p>
<a href="https://progproperty.infusionsoft.com/app/orderForms/f26c92da-ab5f-4809-97ce-468eb95fdac3" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>

	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-4" class="module module-text text-201-0-0-4   ">
			<h3 class="module-title">Advanced Bareknuckle Negotiation</h3>	
	
	<p><img class="size-full wp-image-498 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/barek-nuckle-property-negotiation.jpg" alt="" width="210" height="257"></p><p>Learn how to negotiate powerfully, confidently and influence anyone in <i>any situation&nbsp;</i>to get what you want, ethically. Persuade and negotiate so powerfully that the other party think it was their decision and thank you for it.</p><a href="https://progproperty.infusionsoft.com/app/orderForms/ae5cf147-afd9-49cd-a1b8-fa89357f2338" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-5" class="module module-text text-201-0-0-5   ">
			<h3 class="module-title"> Buy To Let Boom - Part One</h3>	
	
	<p><img class="wp-image-495 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/btlb-300x300.png" alt="" width="220" height="220" srcset="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/btlb-300x300.png 300w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/btlb-150x150.png 150w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/btlb.png 600w" sizes="(max-width: 220px) 100vw, 220px"></p><p>If you want to make more money using the most proven asset for wealth creation, property investment], and be inspired to financial success, then the UK’s best selling property investment book on launch, is for you.&nbsp;“Progressive in Property: Beginners to Winners” reveals multiple property income strategies through the stories of beginner investors who joined the Progressive Property Community and succeeded big…</p><a href="https://progproperty.infusionsoft.com/app/orderForms/f66c2c98-077c-4576-964c-c1d4f699dbf0" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-6" class="module module-text text-201-0-0-6   ">
			<h3 class="module-title">Buy To Let Boom - Part Two</h3>	
	
	<p><img class="size-full wp-image-494 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/b2lb22.jpg" alt="" width="210" height="190"></p><p>If you want to make more money using the most proven asset for wealth creation, property investment], and be inspired to financial success, then the UK’s best selling property investment book on launch, is for you.&nbsp;“Progressive in Property: Beginners to Winners” reveals multiple property income strategies through the stories of beginner investors who joined the Progressive Property Community and succeeded big…</p><a href="https://progproperty.infusionsoft.com/app/orderForms/95fe5a85-ad0c-42e5-adf1-f5094ed263e4" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-201-0-0-7" class="module module-text text-201-0-0-7   ">
			<h3 class="module-title">Under The Radar Influence</h3>	
	
	<p style="text-align: left;"><img class="size-full wp-image-493 alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/utri.jpg" alt="" width="210" height="152"></p><p><strong>The Art of Selling Without Selling</strong></p><p>Intelligent, Respectful Influence, Persuasion &amp; Leadership Without Being Pushy or Hypey.&nbsp;If you’re sick and tired of the academic textbooks (by authors telling you how they think selling and influencing should be done) not delivering the goods then you’ll love our new 8 CD audio pack jam packed with over 43 Under The Radar Influence strategies to accelerate your success in all areas of your life…</p><a href="https://progproperty.infusionsoft.com/app/orderForms/99f9c541-c031-4b31-83f8-dc755d79ac8d" class="shortcode button small " style="background-color: #190d85;color: #ffffff;">Learn More</a>
	</div>
<!-- /module text -->

				
			</div>

<a class="btn btn-secondary" href="/dvd-cd/">View All CD’s &amp; DVD’s</a>