<div class="negative-bg-row" id="empowerment-hero">

</div>

<div class="positive-bg-row">
    <div class="container">
        <h2 class="brand-primary-colour">Expert Speaker Discovery</h2>
        <p class="lead">Attending the Expert Speaker Discovery is possibly the fastest way to go from inexperienced speaker to a confident speaker.</p>
        <p>During the event you’re taken by the hand and shown step-by-step the secrets to making memorable speeches which attract standing ovations. So afterwards you’ll be able to confidently speak. And boost your reputation as a speaker and be well-rewarded in the process.</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>5 common mistakes to avoid when speaking. One of them is overfill people’s heads with data and facts.</li>
                    <li>When to speak for FREE… and still walk away with thousands of pounds.</li>
                    <li>You need courage to speak, right? Wrong. Why courage is the least of your concerns. And what’s more important instead.</li>
                    <li>The "exercise" secret that guarantees standing ovations. Not physical. Takes just minutes to do.</li>
                    <li>You need courage to speak, right? Wrong. Why courage is the least of your concerns. And what’s more important instead.</li>
                    <li>What the best speakers have that allows them to motivate, inspire and sell. Secret you can use too.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>The hidden architecture of every speech you give. Just include these 7 parts in every speech.</li>
                    <li>How to grab your audience's attention immediately. Simply include one of these in the opening couple of minutes.</li>
                    <li>Speech starting to go wrong? Use this utilisation technique. Allows you to recover control – without losing the audience.</li>
                    <li>Never forget your speech content with this Pentagon Content Model. Prevents any embarrassing pauses. Amazing!</li>
                    <li>The "4 to 1 script" that allows you to emotionally connect with your audience. Presents you as a genuine, likeable person.</li>
                    <li>6 things to always include in your speech. One of them is to make your speech memorable.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="negative-bg-row" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Special Offer</h2>
                <h4>For a limited time only we are offering this course at a reduced price of £100+VAT (RRP £497)</h4>
                <button type="button" href="https://success.progressive.test/single-product/" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>So Why Be A Speaker?</h2>
                <p>How would you like to Build & Monetise the brand of you? Stay accountable & motivated & gain huge financial & time leverage. You could attract deals & JV partners and will boost your confidence getting better results. You will be learning
                    in a safe, fun environment to see if it’s really for you. Create modular, memorable content for your presentation all in one day.</p>
                <ul>
                    <li>We teach you to be yourself – not a puppet use your quirks / personality and discover how to exaggerate and repeat this could make your brand!</li>
                    <li>We teach you to be yourself – not a puppet use your quirks / personality and discover how to exaggerate and repeat this could make your brand!</li>
                    <li>We teach you to be yourself – not a puppet use your quirks / personality and discover how to exaggerate and repeat this could make your brand!</li>
                    <li>We teach you to be yourself – not a puppet use your quirks / personality and discover how to exaggerate and repeat this could make your brand!</li>
                </ul>
                <p>Bottom line is - Buy this product</p>
                <button type="button" class="btn btn-primary">Read More</button>
                <button type="button" class="btn btn-secondary">Read More</button>
            </div>
            <div class="col-md-6">
                <img src="wp-content/uploads/sites/4/2018/10/esd-ticket-1280x1280.jpg">
                <h4>The Next Elite Speaker Discovery</h4>
                <p>Date: Thu 28 June 2018</p>
                <p>TIME: 09:00 – 17:00 BST</p>
                <p>LOCATION: PETERBOROUGH</p>
                <button type="button" class="btn btn-primary">Read More</button>
                <button type="button" class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</div>

<div class="negative-bg-row" id="audience8">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>You Are Your Greatest Asset</h2>
                <h4>An introduction to better communication, stronger influence and booming profits.</h4>
                <button type="button" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Don’t Just Take Our Word For It!</h2>
                <button type="button" class="btn btn-primary">Testimonials</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>EVENT REVIEWS</h2>
    <p>How would you like to Build & Monetise the brand of you? Stay accountable & motivated & gain huge financial & time leverage. You could attract deals & JV partners and will boost your confidence getting better results.</p>
</div>

<div class="positive-bg-row">
    <div class="container pb-5">
        <div class="row gray-lighter">
            <div class="col-md-8">
                <h3>Expert Speaker Discovery</h3>
                <p>Held at Progressive HQ in Peterborough</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <img src="wp-content/uploads/sites/4/2018/08/Star-4.png">
            </div>
            <div class="col-md-4">
                <button type="button" href="https://success.progressive.test/single-product/" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row gray-lighter">
            <div class="col-md-8">
                <h3>Expert Speaker Discovery</h3>
                <p>Held at Progressive HQ in Peterborough</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-3.png">
            </div>
            <div class="col-md-4">
                <button type="button" href="https://success.progressive.test/single-product/" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>


    <div class="container pb-5">
        <div class="row gray-lighter">
            <div class="col-md-8">
                <h3>Expert Speaker Discovery</h3>
                <p>Held at Progressive HQ in Peterborough</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-4.png">
            </div>
            <div class="col-md-4">
                <button type="button" href="https://success.progressive.test/single-product/" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>


    <div class="container pb-5">
        <div class="row gray-lighter">
            <div class="col-md-8">
                <h3>Expert Speaker Discovery</h3>
                <p>Held at Progressive HQ in Peterborough</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <p><strong>Date:</strong> 5<sup>th</sup> July - 6<sup>th</sup> July</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-3.png">
            </div>
            <div class="col-md-4">
                <button type="button" href="https://success.progressive.test/single-product/" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
        <h2>Event Reviews</h2>
        <p>How would you like to Build & Monetise the brand of you? Stay accountable & motivated & gain huge financial & time leverage. You could attract deals & JV partners and will boost your confidence getting better results.</p>

        <div class="row">
            <div class="col-md-3">
                <h4>Customer Name</h4>
                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-4.png">
            </div>
            <div class="col-md-3">
                <h4>Customer Name</h4>
                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-3.png">
            </div>
            <div class="col-md-3">
                <h4>Customer Name</h4>
                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-4.png">
            </div>
            <div class="col-md-3">
                <h4>Customer Name</h4>
                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="/wp-content/uploads/sites/4/2018/08/Star-3.png">
            </div>
        </div>
    </div>
</div>

<div class="negative-bg-row" id="empowerment-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Special Offer</h2>
                <p class="display-4">For a limited time only we are offering this course at a reduced price of £100+VAT (RRP £497)</h4>
                <button type="button" class="btn btn-primary">Find Out More</button>
            </div>     
        </div>
    </div>
</div>


<div class="positive-bg-row">
    <div class="container">
            <h2>Product Details</h2>
            <p>How would you like to Build & Monetise the brand of you? Stay accountable & motivated & gain huge financial & time leverage. You could attract deals & JV partners and will boost your confidence getting better results.</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                    <li>Here would be written a brief summary of what goes onto each disc to entice the reader to want to learn more.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
            </div>
        </div>
    </div>
</div>