<div id="empowerment-hero" class="brandBase negative hero-bg">
</div>

<div class="brandBase">
    <div class="container">
        <h1>Get in Touch</h1>
        <p>Attending the Expert Speaker Discovery is possibly the fastest way to go from inexperienced speaker to a confident speaker.</p>
        <p>During the event you’re taken by the hand and shown step-by-step the secrets to making memorable speeches which attract standing ovations. So afterwards you’ll be able to confidently speak. And boost your reputation as a speaker and be well-rewarded in the process.</p>

        [gravityform id=2]
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
		<h2>HOW TO FIND US</h2>
	</div>
    <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.2531389455903!2d-89.23024619999998!3d48.4516724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d5923dbfe697737%3A0xc9d925c9bc9573fa!2s116+Bruce+St%2C+Thunder+Bay%2C+ON+P7A+5W6!5e0!3m2!1sen!2sca!4v1424272264157" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>

<div class="row brandBase">
    <div class="container">
        <div class="row">
            <h4>HOW TO SET S.M.A.R.T. GOALS</h4>
        </div>
        <div class="row">
            <p>This acronym is a useful tool for goal-setting which has been adopted by schools and businesses worldwide.</p>
            <p>Specificity and precision when constructing your goals is key, because they’ll help you stick to them. As an example, “I want to have lost weight by next year” is a very flimsy goal that’s, quite frankly, just going to leave a person lost
                and confused about how to get there.</p>
            <p>Specificity and precision when constructing your goals is key, because they’ll help you stick to them. As an example, “I want to have lost weight by next year” is a very flimsy goal that’s, quite frankly, just going to leave a person lost
                and confused about how to get there.</p>
            <p>Specificity and precision when constructing your goals is key, because they’ll help you stick to them. As an example, “I want to have lost weight by next year” is a very flimsy goal that’s, quite frankly, just going to leave a person lost
                and confused about how to get there.</p>
        </div>
    </div>
</div>

<div class="jig">[justified_image_grid preset=9 thumbs_spacing=0 row_height=300 height_deviation=0 caption_opacity=1 caption_bg_color=(0,0,0,0) limit=5 max_rows=1 last_row=hide load_more=click initially_load=5 recent_posts=yes recents_description_3=auto_manual_excerpt
    recents_include=3]</div>
<div class="text-center p-5 mx-auto"><a class="btn btn-primary" href="/blog/">View all posts</a></div>