<div class="row">
	<div class="col-md-6">
		<img class="img-fluid" src="/wp-content/uploads/sites/11/2015/06/armoured-cabin3.jpg" alt="Armoured cabins"/>
	</div>
	<div class="col-md-6">
		<img class="img-fluid" src="/wp-content/uploads/sites/11/2015/06/armoured-cabin2.jpg" alt="armoured cabin"/>
	</div>
</div>