<div class="positive-bg-row">
    <div class="container">
        <p class="lead">FLIR leads the pack in thermal security technology with the new TCX Bullet and Mini Bullet — innovating the first class of cameras to combine 24/7 high-contrast thermal video and high-performance built-in video motion detection (VMD) with a level
            of affordability that the industry has never seen.</p>
        <!--more-->
        <p class="lead"><img class="wp-image-7280 size-medium alignleft" src="http://www-centrasecurity-co-uk.menellproject.test/wp-content/uploads/sites/11/2015/06/tcx-minibullet-camerastack-trans-e1437563459686-1-300x274.png" alt="" width="300" height="274">FLIR thermal
            cameras give you the advantage to see clearly in complete darkness without any illumination, in bright sunlight, through smoke, dust or even light fog.</p>
        <p class="lead">Delivering intrusion detection, video alarm verification, lighting control, people counting, retail traffic flow and queue management, TCX enables a whole new range of applications for thermal imaging in one affordable device.</p>
    </div>
</div>
<div id="flir-bullet" class="negative-bg-row tint-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Eliminate False Alarms</h2>
                <h4>More reliable than visible cameras, high-contrast thermal imaging results in a dramatic reduction in false alarms</h4>
                <ul class="ticklist mt-3">
                    <li class="text-white">Not affected by changes in lighting, low-contrast scenes or inclement weather</li>
                    <li class="text-white">No illumination is required</li>
                    <li class="text-white">Outperforms comparably priced visual cameras at night and in challenging lighting conditions</li>
                </ul>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
</div>
<div class="gray-lighter-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="im-fluid" src="/wp-content/uploads/sites/11/2015/06/tcx-minibullet-camerastack-trans-e1437563459686.png" alt="TCX Minibullet Camerastack" width="512" height="532"></div>
            <div class="col-md-8">
                <h2 class="dark-text">Easy Integration in All Environments</h2>
                <h4>With the flexibility to integrate anywhere you need it, you can even employ the TCX in cold climates</h4>
               	<ul class="ticklist mt-3">
                    <li>Plug and play with FLIR mobile apps, FLIR network or MPX recorders</li>
                    <li>Tri-mode connection: IP, MPX (HDCVI) and analog video outputs</li>
                    <li>PoE Class 3 &amp; 12 VDC, Indoor/outdoor IP66, temp range -40°C - 50°C (Anti-Ice)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="flir-bullet-outside" class="negative-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Detection and Verification in One Device</h2>
                <p class="lead">The TCX Thermal Bullet Cameras provide affordable intrusion detection and accurate video alarm verification in one device</p>
                    <ul class="ticklist mt-3">
                        <li class="text-white">Detection with built-in VMD or third-party analytics</li>
                        <li class="text-white">Clear video 24/7 for video alarm verification</li>
                    </ul>
                </div>

            <div class="col-md-6">&nbsp;</div>
        </div>
        <p style="text-align: center;"><a class="btn btn-danger btn-lg" style="color: #fff !important;" href="http://www.flir.co.uk/cs/display/?id=67949&amp;collectionid=1182&amp;col=68027" target="_blank" rel="noopener">Read more</a></p>
    </div>
</div>