<p class="lead">We have an impressive clients list spanning the following markets:</p>

<div class="band5">[justified_image_grid preset=9 thumbs_spacing=10 row_height=250 caption_text_color=#CC0000 caption_align=center lightbox=links-off orderby=title_asc limit=0 hidden_limit=99 width_mode=responsive_fallback last_row=flexible-match-center developer_link=hide load_more=click load_more_text="More" load_more_count_text=none load_more_auto_width=off load_more_limit=99 recent_posts=yes recents_post_type=page recents_parent_id=3747]</div>