<p class="lead"><a href="/wp-content/uploads/sites/11/2016/09/Centra%20Analogue%IP%20Proof%20Camera.pdf" target="_blank">Download our Centra IP Explosion Proof Camera</a> [PDF]</p>

<div class="row">
    <div class="col-md-6">
        <h4 >IP Explosion Proof Camera</h4>
        <h4 ><iframe src="//e.issuu.com/embed.html#1327950/38948858" frameborder="0" allowfullscreen="allowfullscreen"></iframe></h4>
        <p><a href="/wp-content/uploads/sites/11/2016/09/Centra%20Analogue%IP%20Proof%20Camera.pdf" target="_blank">Download our Centra IP Explosion Proof Camera</a> [PDF]</p>
    </div>
    <div class="col-md-6">
        <h4 >Analogue Explosion Proof Camera</h4>
        <h4 ><iframe src="//e.issuu.com/embed.html#1327950/38949650" frameborder="0" allowfullscreen="allowfullscreen"></iframe></h4>
        <a href="http://www-centrasecurity-co-uk.menellproject.test/wp-content/uploads/sites/11/2016/09/Centra%20Analogue%20Explosion%20Proof%20Camera.pdf" target="_blank">Download our Centra Analogue Explosion Proof Camera Brochure</a> [PDF]
    </div>
</div>