


<div class="tint-bg-row">          
    <div class="container">
<h1 class="entry-title">Services</h1>

    	<p class="lead">We are currently responsible for the maintenance on many large networked installations down to small stand-alone systems. Fully comprehensive service agreements are offered with all Installations which can include emergency call out engineer response
    backed up by a 24hr service.</p>
	</div>
</div>

<div class="row positive-bg-row text-center">

    <div class="col-md-3 text-center">
        <p><a class="iconfont" href="/electronic-security-system-services/security-system-installation/"><i class="icon-tools i4x"></i></a></p>
        <h4 class="text-center"><a title="Security Installation Service and Commissioning" href="/electronic-security-system-services/security-system-installation/">Installation Service &amp; Commissioning</a></h4>
    </div>
    <div class="col-md-3 text-center">
        <p><a class="iconfont" href="/electronic-security-system-services/security-planning-consultancy/"><i class="icon-umbrella i4x"></i></a></p>
        <h4 class="text-center"><a title="Risk, Security Planning &amp; Consultancy" href="/electronic-security-system-services/security-planning-consultancy/">Risk, Security Planning &amp; Consultancy</a></h4>
    </div>
    <div class="col-md-3 text-center">
        <p><a class="iconfont" href="/electronic-security-system-services/security-legislation/"><i class="icon-news i4x"></i></a></p>
        <h4 class="text-center"><a title="Security Legislation" href="/electronic-security-system-services/security-legislation/">Security Legislation</a></h4>
    </div>
    <div class="col-md-3 text-center">
        <a class="iconfont" href="/electronic-security-system-services/support/">
            <i class="icon-mortarboard i4x"></i></a>
        <h4 class="text-center"><a href="/electronic-security-system-services/support/">Security Training &amp; Support</a></h4>
    </div>


</div>

<div class="tint-bg-row text-center">
	<div class="container">
	<h2 class="page-title">Flexibility</h2>
	<p>We are also able to take over the maintenance and update/repair on all existing systems. Centra also offer a professional consultancy package, with all reports prepared by our CAD back office systems, to include drawings of cable and system layouts. From
	    everyone from the small business to National corporations, we can offer everything from a complete integrated package to a simple emergency service call.</p>
	</div>    
</div>
