<a href="/wp-content/uploads/sites/11/2009/01/hirsch-access-control-system.jpg">
	<img src="/wp-content/uploads/sites/11/2009/01/hirsch-access-control-system.jpg" class="alignleft imageframe" alt="Hirsch Access Control System | Access Control | Centra Security - Electronic Security Systems"/>
</a>

<a href="/wp-content/uploads/sites/11/2009/07/11.jpg" title="11.jpg">
	<img src="/wp-content/uploads/sites/11/2009/07/11.jpg" class="alignleft imageframe" alt="11"/>
</a>

<p style="clear:both">The <strong>Hirsch ScramblePad</strong> keypad/reader provides a very high security approach to access, because the ID code or PIN number cannot be accidentally shared with, or stolen by, onlookers. Each numeral is randomly scrambled to a new position each time the START button is pressed, so a bystander cannot see the code, learn the pattern, nor identify telltale wear marks on certain keys.</p>

<!--more-->

<p>Also, viewing restrictors allow only the person directly in front of the keypad to see the numbers, eliminating “shoulder-surfing.” The ScramblePad delivers the additional benefits of remote operator control and tenant override functions. Hirsch also offers <strong>ScrambleProx</strong>, a ScramblePad with a built-in proximity reader enabling a variety of card-plus-code applications, and <strong>ScrambleSmart</strong>, a ScramblePad with an integrated, hidden contactless smart card reader, for smart card applications. The Scramble Pad remains the industry’s best solution for high security door access.</p>

<p>Related Information:</p>

<p align="left"><a href="http://www.hirschelectronics.com/PDF/Hirsch_ScramblePadProxSmart.pdf" title="Hirsch ScramblePad Data Sheet | Access Control | Centra Security - Electronic Security Systems">ScramblePad Products Data Sheet </a>

<a href="http://www.hirschelectronics.com/products/" title="Full Hirsch Product Catalog| Access Control | Centra Security - Electronic Security Systems">Full Hirsch Product Catalog</a>

<a href="http://www.hirschelectronics.com/products-services/physical-security/readers-keypads-biometrics/scramblepad" title=" Hirsch ScramblePad Products | Access Control | Centra Security - Electronic Security Systems">Other Hirsch ScramblePad Products</a>