


.alert { 
	border-radius: $default-border-radius;
}

.alert-danger { 
	
}

.alert.alert-heads-up {
		margin-bottom: 0;
	}

.close {
	line-height: .25;
}

// .alert {
//   width: 100%;
//   margin-top: 3rem;
// }