header.entry-header.tinted-image, header.woocommerce-products-header {
	background: no-repeat;	
	background-size: cover;
	// background-attachment: fixed;
	background-position: center;
	a { 
		filter: brightness(130%);
	 }
}

//PLEASE Extend me for all background images!
// Refer to _background-images-* for site specific actual images
.section-bg-img { 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center, center;
    height: 100%;
    width: 100%;
	content: '';
	overflow: hidden;
	transition:all .4s ease-in-out;
}

// 1
.background-clip { // Wrap your whole bg & img-content in this to avoid overflow on scaling.
	background-clip: padding-box;
	z-index: 99;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-right: 0;
	max-height: 500px;
}

// 2 
.img-background { //Just add .img-background around your hover element & set a unique image ID i.e #msopi-bg:before {your image}
	z-index: 1;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
		transition:all .4s ease-in-out;
}

// 3
.img-content { // Place your content in this class.
	@extend .negative;
	position: relative; // position: relative; // keep content present!
    height: 100%;
    width: 100%;
	//padding: 5rem 3rem 4rem;
	padding: 18% 10%;
	z-index: 11;
	min-height: 360px;
}

// Hover colour controls
#progressive-property-site, #progressive-group-site { // Set the hover bg colour per brand
	.hover-bg-color {
		background-color: $brand-secondary;
		filter: grayscale(50%) brightness(300%);

	}
}
#progressive-emp-site {
	.hover-bg-color {
		background-color: $brand-primary;
		filter: grayscale(20%) brightness(150%);
		transition:all .4s ease-in-out;
	}
}

.scale-color {
	transform:scale(1.2) translateZ(0); // Scale on hover
	
	background-blend-mode: multiply; // Colour on hover
	@extend .hover-bg-color;
}

// END Hover colour controls




