#carousel-col-3-courses {
    .carousel-inner {
        height: 575px;
        // margin-left: 50px;
        // margin-right: 50px; // Chevron outside
    }

    .carousel-control {
       width: 5%; 
    }
    .carousel-control.left {
      margin-left: -50px;
    }

    .carousel-control.right {
      margin-right: -50px;

    }

    .carousel-caption {
        @extend .tint-grad-bg;
        right: 15px;
        left: 15px;
        bottom: 0;
        p {
            padding: 2rem 2rem 0;
        }
    }
}


#carousel-col-3-products {
    .carousel-caption { 
        position: relative;
        left: auto;
        right: auto;
        width: 66%;
        margin: 1rem auto 2rem auto;
    }
}


@media (min-width: 768px) {
/*https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once/20008623#20008623*/
#carousel-col-3-courses, #carousel-experts, #carousel-col-3-products {

        /* show 3 items */
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item {
            display: block;
        }

        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }

        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
          position: relative;
          transform: translate3d(0, 0, 0);
        }

        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        /* farthest right hidden item must be also position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }

    }

}