
// .carousel.carouselTabbed {
// 		//width: 100%;
// 		min-height: 400px;
// 		padding-top: 4rem;

// 		.carousel-inner {
// 			min-height: 396px;
// 		}
			
// 	 .carousel-indicators {
// 	    //width: 100%;
// 	    top: 0;
// 	    left: 0;
// 	    position: absolute;
// 	    white-space: nowrap;
// 	  }
// 	.carousel-indicators li {
// 		width: 50%;
// 		margin-bottom: 3rem;
// 		background-color: $gray-light;

// 	}
	
// 	li.active::before {
// 		width: 0; 
// 		height: 0; 
// 		border-left: 1rem solid transparent;
// 		border-right: 1rem solid transparent;
// 		border-bottom: 1rem solid $brand-primary;
// 		margin-top: -6px;
// 		left: 45%;
// 	}
// 	li.active:not( img) {
// 		background-color: $brand-primary; // set bottom border to highlight
// 	}
// 	li.active>img, li>img {
// 	    top: -6rem;
// 	    left: 25%;
// 		width: 50%;
// 		height: 3rem;
// 	    position: absolute;
// 	}
// 	li:not(.active)>img{
// 		@extend .grayscale;
// 		opacity: 0.5;

// 	}

// 	li.active>img{
// 	 //border: 1px solid red;
// 	}

// 	.carousel-item>.col-md-6 {
// 		margin: 0;
// 		padding: 0;
// 	.carousel-inner {
// 		padding: 0;
// 	}
// 	}
// }	