
#carousel-testimonials {

    .carousel-control-prev,
    .carousel-control-next  {
    }

    .carousel-indicators li {
        background-color: $gray-lighter;
    }

    .carousel-indicators .active {
            background-color: $brand-primary;
    } 

    .carousel {
    	.carousel-inner {
    		height: 500px;
    	}
    }


    #carouselTestimonialIndicators {
        min-height: 360px;
        p {
            max-width: 70%;
            @extend .mx-auto;
        }
    }


}