
// Homepage Single arrow down animation
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-20px));
  }
	60% {
    @include transform(translateY(-10px));
  }
}

.arrow {
  margin:0 auto;
  width: 2rem;
  height: 2rem;
  color: $brand-primary;
}

.arrow:before {
  font-family: 'progressive-icons';
  content: $icon-progressive-arrow-down-top;
  margin-left: -1.5rem;
}

.bounce {
  @include animation(bounce 2s infinite);
}
// END Homepage Single arrow down animation

.bounce .staggered:first-child {
  animation-delay: 0.25s;
}
.bounce .staggered:nth-child(2) {
  animation-delay: 0.5s;
}
.bounce .staggered:nth-child(3) {
  animation-delay: 0.75s;
}



