
.contact-footer {

	margin-top: $triangle-width; // 
	background-color: $brand-footer-color;
	color: $background-color;
	padding: $triangle-width 0 $triangle-width 0;

	input {
		background-color: $background-color; 
	}
}

#wrapper-footer-full {
	background-color: $brand-footer-color;
	color: $background-color;
	margin-left: 0;
	margin-right: 0;
	ul {
		padding: 2rem 0;
		list-style: none;
		margin: 0;
		li {
			color: $background-color;
			}
			a {	color: $background-color;
			}
		}
		#media_image-5 {
			img {
			padding: 2rem 0 1rem;
			@include media-breakpoint-down (md) {
			max-width: 224px !important; // Custom Widgets - Group
			}
		}

}

#wrapper-footer .wrapper {
	padding: 1rem 0;
}

#wrapper-footer-full,
#wrapper-static-hero {
  background-color: $brand-footer-color;
  color: $foreground-color;
}

div .wrapper #wrapper-footer {
	background-color: $complimentary-color;
	color: $background-color;
	border-bottom: 8px solid $brand-primary;
}


.footer-inner {
	// padding-top: 6rem;
	// padding-bottom: 1rem;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.contact-footer { margin-top: $triangle-width;}
.contact-footer>.container:before {
	font-family: 'progressive-icons';
	font-size: 300%;
	content: $icon-progressive-arrow-down-flush-x3;
	left: $triangle-width;
	top: -12px;
	position: relative;
	color: $brand-primary;
	transform-origin: left top 0;
	-webkit-transform: rotate(-90deg);
	}

}

