nav#footer-nav{
	ul.nav { width: 100%;}
	li .nav-link{
		position: relative;
	}
	a.nav-link:hover:after, a.active:after {
		font-family: 'progressive-icons';
		content: $icon-progressive-arrow-up-bottom;
		color: $background-color !important;
		position: absolute;
		top: -12px;
		left: 40%;
		text-align: center;
		font-size: 3rem;
		display: block;
	}

	li>h5 { margin: .38rem 0;}
}

