
.flat-select {
	background: url(#{$get-path-to-assets}/select-carret-dark.svg) no-repeat right;
	background-size: contain;
	background-color: $input-bg;		
	border-radius: $default-border-radius;
	border-color: rgba(0, 0, 0, 0.2);  
	-webkit-border-radius: $default-border-radius;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
	outline:4;
	padding-left: 1em;	
}

.flat-input, textarea   { // input:not([type="checkbox"])
	height: $input-height;
	background-color: $input-bg;
	border-radius: $default-border-radius;
	color: inherit; // assume the row palette colours
	font-size: $default-paragraph-size;
	border: $input-border;
	padding-left: 1rem;
	box-shadow: none;
}

input[type="submit"] {
	height: auto;
}

input, textarea {
  @include placeholder() {
    	color: inherit !important;
    	opacity: .5;
  }
}
 
.positive-bg-row {
	textarea, input:not(.gform_button):not(.submit) {background-color: rgba(0,0,0, 0.07) !important;}
}

// Footer Newsletter form - white inputs
.contact-footer {
	input {
		background-color: $background-color;
		color: $foreground-color;
		  @include placeholder() {
    			color: $foreground-color !important;		
		}
	}	
}