
.i2x, .i2x a:hover {
    font-size: 2em;
    text-decoration: none;
    padding: 1vw;
}

.i3x {
    font-size: 3.5em;
    text-decoration: none;
}

.i4x {
    font-size: 4em;
    text-decoration: none;

}

.i5x {
    @include mq(ip) {font-size: 2em;}
    @include media-breakpoint-up (xs) {font-size: 2.63em;}
    @include media-breakpoint-up (sm) {font-size: 4em;}
    @include media-breakpoint-up (md) {font-size: 4em;}
    @include media-breakpoint-up (lg) {font-size: 5em;} // 10em ilogo
    @include media-breakpoint-up (xl) {font-size: 5em;} 

    a {
        text-decoration: none;
    }
}

.i6x {
    font-size: 6em;
    text-decoration: none;

}

.i7x,  a>i.i7x  {
    font-size: 7em;
    text-decoration: none;

}

.i8x,  a>i.i8x  {
    font-size: 8em;
    text-decoration: none;

}

.i9x,  a>i.i9x  {
    font-size: 9em;
    text-decoration: none;
}



.circle-bg {
  font-size: 1.3rem;
  margin:.5rem 0 auto 0rem;
  position: absolute;
}

// Pure Progressive start
.circle-bg:before {
  // @include circle(200px, #999);
  // float: left;
  z-index: -1;
  border-radius: 32px;
  border: 8px solid transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .15);
  width: 24px;
  height: 24px;
  padding: .1em;
  text-align: center;
  background-color: $brand-primary;
  color: $background-color;
  a {
    color: $background-color !important;
    &:hover {
      color: $background-color;
      background-color: $gray-lighter;
    }
  }
  h6 {
    //padding-top: .25rem;
    font-weight: bold;
  }
}


.icon-responsive {
  width: auto;
    max-width: 100%;
    height: auto !important; 
}

.date {

}

.date:before {
  font-family: '#{$icomoon-font-family}';
  content: $icon-calendar;
  font-size: 1em;
  margin-right: .5em;
}

.date.soldout {
  text-decoration: line-through;
}

.location:before {
  font-family: '#{$icomoon-font-family}';
  content: $icon-location-pin;
  font-size: 1em;
  margin-right: .5em; 
}
