
//////////////// Links

// Set the links to the $brand-primary variable. Could equally be $brand-secondary, tertairy etc.
// Best practice to cover all of the "states". An easy way to do that is "LOVE HATE" L:link, O, V:visited...
a {
	color: $brand-primary;
	&:visited {}
	&:hover {
		text-decoration: none;
		color: lighten($brand-primary, 20%);
	}
	&:active { color: $brand-secondary;}
}

a>img {
	&:hover {
	opacity: .6 !important;
	}
}

.clickable-div {
	// display: block;
	// position: relative;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	cursor: pointer;
	a { color: $background-color; }
}


.breadcrumbs span a {
	filter: brightness(130%);
} 