// Target all sites
.navbar-brand {
	background: url(#{$get-path-to-assets}/logo.svg) no-repeat 0px 0px;
	background-size: 100% 100%;
	height: 64px;
	width: 249px;
	margin-right: 0;
	padding: 0;
}

#progressive-property-site {
	.navbar-brand {
		height: 48px;
		width: 140px;
		margin: .5rem 1rem .5rem 0;
	}
}

#any-other-site3 { 
	.navbar-brand {
		width: 190px; height: 45px;
	}
}

// Target Group Site only

#tranny-nav {
	.navbar-brand {
		height: 52px;
		width: 200px;
		margin-top: .5rem;
		margin-bottom: 1rem;
		background-size: 100% 100%;
		a {	color: $background-color;}
	}
	.navbar-brand.smaller {
		background-size: 150px 32px;

	}

	.navbar-toggler {
		//margin-right: $triangle-width;
	}
}

// Square logo site
#any-other-site {
	.navbar-brand {
		height: 69px;
		width: 64px;
		margin-bottom: 1rem;
	}
}

#any-other-site.home {		
	.navbar-brand {
		//background: none;
		opacity: 0;
		}
	.trans-nav.dropShadow>.container>a.navbar-brand {
		opacity: 1;
	}	
}

