

.mask-group {
	-webkit-clip-path:	polygon(0 0, 100% 0, 100% 100%, $triangle-width 100%, 0 calc(100% - #{$triangle-width} *1));	// Safari
	clip-path: 			polygon(0 0, 100% 0, 100% calc(100% - #{$triangle-width}), calc(#{$triangle-width}) calc(100% - #{$triangle-width}), 0 calc(100% - #{$triangle-width} *2)); // Chrome
	//moz: 				polygon(0 0, 100% 0, 100% 100%, $triangle-width 100%, 0 calc(100% - #{$triangle-width} *1));
}

.mask-group-br {
	-webkit-clip-path:	 polygon(0 0, 100% 0, 100% calc(100% - #{$triangle-width}), calc(100% - #{$triangle-width}) 100%, 0 100%);
	clip-path: 			 polygon(0 0, 100% 0, 100% calc(100% - #{$triangle-width}), calc(100% - #{$triangle-width}) 100%, 0 100%);	
}
			
.mask-group-bl {
	-webkit-clip-path:	polygon(0 0, 100% 0, 100% 100%, $triangle-width 100%, 0 calc(100% - #{$triangle-width} *1));	// Safari
	clip-path: 			polygon(0 0, 100% 0, 100% 100%, calc(#{$triangle-width}) 100%, 0 calc(100% - #{$triangle-width} *1)); // Chrome
}

.mask-group-tl{
	-webkit-clip-path:	polygon(0 $triangle-width, $triangle-width 0, 100% 0, 100% 100%,  0 100%);
	clip-path: 			polygon(0 $triangle-width, $triangle-width 0, 100% 0, 100% 100%,  0 100%);
}

.mask-group-tr {
	-webkit-clip-path:	polygon(100% $triangle-width, 100% 100%, 0 100%, 0 0, calc(100% - #{$triangle-width}) 0);
	clip-path:			polygon(100% $triangle-width, 100% 100%, 0 100%, 0 0, calc(100% - #{$triangle-width}) 0);
}

.mask-group-btn-br {
	-webkit-clip-path:	 polygon(0 0, 100% 0, 100% calc(100% - #{$triangle-width} * .25), calc(100% - #{$triangle-width} * .25) 100%, 0 100%);
	clip-path: 			 polygon(0 0, 100% 0, 100% calc(100% - #{$triangle-width} * .25), calc(100% - #{$triangle-width} * .25) 100%, 0 100%);	
}

