// Modals

// productModal
#productModal {
	.modal-dialog {
		max-width: 100%;
		margin: 0;
		padding: 2rem 0 0;

		.close, .close:focus, .close:hover {
			color: $background-color;
			opacity: 1;
			font-size: 2rem;
		}
		.modal-content {
			@extend .brand-secondary-grad-bg;
		}
		.modal-header, .modal-footer { 
			border: 0;
		}
		.modal-body { 
			padding: 0;
		}
		hr {
			color: $background-color;
			border-top: solid 2px $background-color;
		}
		hr:after {
			color: $background-color;
		}
	}
}

//Event reg Modal
// .modal-wrapper, .modal-wrapper.styled {
//     background-color: rgb(0, 0, 0); /* Fallback color */
//     background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
// }

// .modal-wrapper.modal, .modal-wrapper.styled.modal { // Let's just load another plugin and write a shitload more css over it :(
//     position: relative;
// 	width: 33% !important; /* Could be more or less, depending on screen size */
//     margin: 10vh; /* 10vh from the top and centered */
//     padding: 1rem;
//     border: 1px solid $gray-lighter;
//     transition: all 2s ease;
// }

// .modal-wrapper.styled .modal .close-modal {
//     position: relative;
//     right: 1rem;
//     top: .5rem;
//     background-color: white;
//     font-size: 1rem;
// }

// .modal-wrapper .modal .loading {
// 	display: block;
//     width: 100px;
//     margin: auto;
//     padding: 25vh 0;
// }