
//////////////// Navigation
.navbar:not(#tranny-nav) {
    border-bottom: 4px solid $brand-primary;
}
.navbar-toggler {
    border:0;
    margin-bottom: 1rem;
}

.navbar-nav {
    margin-left: auto;
}

// Full height mobile nav - all sites 
#navbarNavDropdown   {
    @include media-breakpoint-down (md) {
        min-height: 100vh;
        line-height: 6vh; 
        margin: 10vh 25% 30vh;
        //transition-delay: 5s;
    }
    @include media-breakpoint-up (md) { 
    }

}

.trans-nav { // Full height mobile nav - Group Nav only
    #navbarNavDropdown {
        min-height: 100vh;
        line-height: 6vh;
        @include media-breakpoint-up (md) { 
        margin: 10vh 40% 30vh; 
        }
    }

    .navbar-toggler .lines-button {
        padding: 0;
    }
}

// Progressive Brands Nav link spacing
#progressive-emp-site, #progressive-property-site {

    .navbar-nav .nav-link { // Top nav hover 
        padding: 0.25rem 1rem !important;
         &:hover { color: $brand-primary; }
    }
}

#progressive-pass-site, #any-other-site, #any-other-site3 {
    .navbar {
        min-height: $navbar-height;
        padding: $navbar-padding;
        padding-bottom: 1rem;
        border-bottom: 0;
    }
    .nav-link {
        padding: 1.15rem 1rem;
    } 
}

#progressive-group-site, #any-other-site {
    .navbar {
        padding-bottom: 0;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-item {
        color: $brand-primary;
    }
}

li.nav-item { // Active nav item has arrow - Makes arrow centered important!
    position: relative;
}
// Active nav item has arrow
.navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
        color: $brand-primary;
        @include media-breakpoint-up (lg) {
            &:before:not(.dropdown-item) {
            font-family: 'progressive-icons';
            content: $icon-progressive-arrow-up-bottom;
            font-size: 2rem;
            position: absolute;
            top: 1.1rem;
            left: calc(50% - 15px);
            }
        }
}

// Active nav item has border
#progressive-pass-site,  #any-other-site, #any-other-site2  {
    .navbar-nav .show>.nav-link,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link:hover:not(.dropdown-item) {
        @include media-breakpoint-up (lg) {
            border-bottom: 4px solid $brand-primary;
            bottom: 0;

        }
        &:before {
            content: '';
            font-family: inherit;
        }
    }

    border-bottom: 4px solid $brand-primary;
}
#main-menu {
    @include media-breakpoint-down (md) {
        max-width: 270px;
    }
}


.dropdown-item.active, .dropdown-item:active { // Focus
    background-color: transparent;
}
.dropdown-item:focus, .dropdown-item:hover, .nav-link.active {
    background-color: transparent;
    color: $brand-primary;
    content: '';

}

.dropdown-item .nav-link {
    &:before {
        content: '';
    }
}

// menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-173 current_page_item active menu-item-23634 nav-item

.dropdown-menu  .nav-link:hover:before { // Dropdown hover
    border-radius: 0px;

}

@include media-breakpoint-up (md) { // Dropdown carret
    .dropdown-toggle::after, .nav-link.active:after {
        font-family: 'progressive-icons';
        content: $icon-carret-down;
        border: none;
        font-size: 125%; 
        vertical-align: -.15em;
        margin-left: .5em;
        line-height: 1.15rem;
    }
}
