.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: $icon-bar-color;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
  cursor: pointer;
}

// The Animation
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; // 10 10
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; // 10 90
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

//http://kylegoslan.co.uk/bootstrap-4-hamburger-menu-animation/