
// Temp testing classes
// div {
// 	border: 1px solid gray;
// }
// .row {
// 	border: 1px solid green;
// }


// body#progressive-property-site {
// 	@extend .grayscale;
// }
// END Temp testing classes

body.logged-in.admin-bar { // Just to make th WP Admin bar tidy.
	.trans-nav, #nav-bg {
		@include media-breakpoint-down	(md) { margin-top: 3rem;}
		@include media-breakpoint-up	(md) { margin-top: 2rem;}
	}
}


//////////////////////// Group Site ONLY
#progressive-group-site:not(.page-template-right-sidebarpage-quickchat){ 
	margin-top: 5rem; // make room for permenant navbar not relying on now lesser brandBase margins 
	header {
		@extend .section-bg-img;
		@extend .mask-group !optional;
		margin-top: $navbar-height;		
		min-height: 400px;
		position: relative;
	}
}

//////////////////////// END Group Site ONLY
// #any-other-site.page-template:not(.home), .product-template-default, .post-type-archive-product  {
// 	// padding-top: 5rem; 
// } 

.col-md {
	@extend .col-md-auto;
}

#any-other-site {
	#error-404-wrapper, .home {
		margin-top: 10rem;
	}
}

.subpage-header {
	color: $background-color;
	h1 {
		margin: 2rem 0 3rem 0;
	}
	max-height: 400px;
	min-height: 300px;
}

.flush {
	padding-left: 0px;
	padding-right: 0px;
}

.justPad {
	@include mq(ip) {padding-top: 1rem; padding-bottom: 1rem;}
	@include mq(xs) {padding-top: 1rem; padding-bottom: 1rem;}
	@include mq(sm) {padding-top: 1rem; padding-bottom: 1rem;}
	@include mq(md) {padding-top: 2rem; padding-bottom: 2rem;}
	@include mq(lg) {padding-top: 2rem; padding-bottom: 2rem;}
	@include mq(xl) {padding-top: 2rem; padding-bottom: 2rem;}
}	

.bsPad {
	padding: 1rem 0;
}


.row-footer {
	min-height: 250px;
	width: 100%;	
}

.neg-margin-sm {
	@include media-breakpoint-up 	(md) { margin-top: -6.6rem; }
	@include media-breakpoint-down	(md) { padding-top: 8rem;}
}


.vh100 {
	height: 100vh;
}

.vcol-* {
	position: relative;
}

.vcol-8 {
	height: 66.66%;
}

.vcol-4 {
	height: 33.33%;
}

.vcol-6 {
	height: 50%;
}

.p-brand {
	width: 320px;
}

.gridy {
	@include aspect-ratio(1, 1);
	vertical-align: middle;
	max-height: 370px;
	.content {
		margin-top: 20%;
	}
}
