
.ticker.ticker-title>div {
	@extend .display-3;
    @include media-breakpoint-down  (sm)    { height: 140px;}
    @include mq						(sm)    { height: 96px;}
    @include media-breakpoint-up    (lg)    { height: 66px;}
    // Hide undefined overflow
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.ticker {
	word-wrap: break-word;
}

.ticker-bar {
	border-bottom: 1px solid $gray-lighter;
	&:hover {
		cursor:pointer;
	}
}

.featured-in-label {
	background-color: $brand-primary;
	padding: .5rem;
	width: 100%;
	position: relative;
	a {
		color: $background-color;
	}
	&:after {

	}
    //@include media-breakpoint-down (sm) { margin-right: -1rem; margin-left: -1rem; }
}


.ticker.featured-in {
	padding: .5rem;
	overflow: visible;
	ul {
		display: inline-block;
	}

	a { color: $brand-primary; }
}

.ticker.featured-in>div {
	@extend .jig-caption-title;
}