<header id="group-hero-home">
	<div id="group-home-hero" class="container hero group negative mask-group d-flex align-items-end">
		<a href="/no-money-down-discovery">
			<div class="hero-content" data-aos="fade-up">
			<h2>Do You Want To</h2>
			<h2>Achieve Financial Freedom?</h2>
			<div class="col-md-8">
				<p>Kevin went from being massively in debt from a couple of very bad investment years ago, he decided to get property education.</p>
			</div>
			</div>
		</a>
	</div>
	</div>
</header>
<div class="positive-bg-row text-center">
<div class="container">
<h2>Shaping The Great Entrepreneurs And Investors Of Tomorrow.</h2>

<p>Whether you are new to investing or a property professional we believe that Progressive can help you make more money and bigger profits through our personal, nationwide networking and educational community for any investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.</p>

<div class="row justPad text-left">
	<div class="col-md-6"><a href="/about/"><img class="mask-group" src="/wp-content/uploads/sites/1/2015/09/aav-6144.jpg" alt="Unlimited Success" data-aos="zoom-in-right" /></a>
<h3 class="arrow-title">About Us</h3>

</div>
<div class="col-md-6"><a href="/news/"><img class="mask-group" src="/wp-content/uploads/sites/1/2018/10/latest-group-news_750x500.jpg" alt="Unlimited Success" data-aos="zoom-in-left" /></a>
<h3 class="arrow-title">Our Latest News</h3>

</div>
</div>
</div>
</div>
<div class="gray-lighter-bg-row text-left">
<div class="container">
<h2 class="component-title text-center aos-init aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300">Our Companies</h2>
<div id="carouselTabbedlIndicators" class="carousel slide carouselTabbed" data-ride="carousel">
<ol class="carousel-indicators">
 	<li class="active" data-target="#carouselTabbedlIndicators" data-slide-to="0"><img class="img-fluid" src="/wp-content/themes/progressive-property/images/logo.svg" alt="" /></li>
 	<li data-target="#carouselTabbedlIndicators" data-slide-to="1"><img class="img-fluid" src="/wp-content/themes/progressive-success/images/logo.svg" alt="" /></li>
</ol>
<div class="row">
<div class="carousel-inner col-8 offset-2">
<div class="carousel-item active">
<div class="row">
<div class="col-md-6"><img class="mask-group aos-init aos-init aos-animate" src="/wp-content/uploads/sites/1/2015/09/aav-6144.jpg" alt="Progressive Property" width="340" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300" /></div>
<div class="col-md-6">
<h4>Who Are Progressive Property?</h4>
<p class="lead brand-primary-colour">Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum- my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut- pat.

<a class="btn btn-primary" href="http://property.progressive.test/">Visit our site</a>

</div>
</div>
</div>
<div class="carousel-item">
<div class="row">
<div class="col-md-6"><img class="mask-group" src="/wp-content/uploads/sites/1/2015/09/aav-6144.jpg" alt="Unlimited Success" width="340" /></div>
<div class="col-md-6">
<h4>Who Are Unlimited Success?</h4>
<p class="lead brand-primary-colour">Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum- my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut- pat.

<a class="btn btn-primary" href="http://unlimited-success.co.uk">Visit our site</a>

</div>
</div>
</div>
<!--
<div class="carousel-item">
		      <img class="d-block mx-auto" width="320" src="/wp-content/uploads/sites/2/2018/09/cpc-logo.svg" alt="Third slide">
<h4>Loads of informative content</h4>
<p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic...</p>
<p class="text-muted">- Jason Hunt</p>

</div>
-->

</div>
</div>
<a class="carousel-control-prev" role="button" href="#carouselTabbedlIndicators" data-slide="prev">
<i class="icon-progressive-arrow-left-flush i3x text-muted"></i>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next text-faded" role="button" href="#carouselTabbedlIndicators" data-slide="next">
<i class="icon-progressive-arrow-right-flush i3x text-muted"></i>
<span class="sr-only">Next</span>
</a>

</div>
</div>
</div>