<div class="positive-bg-row">
    <div class="container">
        <p class="lead">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
[justified_image_grid preset=9 thumbs_spacing=16 row_height=370 height_deviation=0 title_field=title caption_field=description caption=mixed caption_opacity=1 caption_bg_color=(0,0,0,0) caption_match_width=no caption_align=left v_center_captions=vertical_only
gradient_caption_bg=no filter_style=buttons rss_url=http://property.progressive.test/feed/]
	</div>
</div>