<div id="negative testimonialCarousel" class="carousel slide align-items-end" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonialCarousel" data-slide-to="1" ></li>
      <li data-target="#testimonialCarousel" data-slide-to="2" ></li>
      <li data-target="#testimonialCarousel" data-slide-to="3" ></li>
      <li data-target="#testimonialCarousel" data-slide-to="4" ></li>
      <li data-target="#testimonialCarousel" data-slide-to="5" ></li>
    </ol>
    <div class="carousel-inner align-items-end" role="listbox">
      <div class="carousel-item active" id="mcdonalds">
            <div class="carousel-caption d-md-block">
            <p class="testimonial">"I have worked with Jon over the course of several years and for various clients such as the <a href="/portfolio/nspcc-web-design/">NSPCC</a>, CACHE and <a href="/mcdonalds/">McDonald’s.</a>&nbsp; Jon’s ability to deliver outstanding creative concepts has been proven again and again".</p><a class="inherit-color iconfont" href="/mcdonalds/"><i class="icon-mcdonalds i5x" alt="McDonalds.co.uk"></i></a><h6 class="small">Amy Buckley - McDonald's Account Manager</h6>
            </div>
      </div>
      <div class="carousel-item" id="royal-college-of-art">
          <div class="carousel-caption d-md-block">
          <p class="testimonial">"When you really need top-class design work Jon is your man. Yes, his graphic work is superb - imaginative concepts to get your message across, executed with style and polish - but more importantly, Jon is determined to get into the the brief and see the big picture.</p>
            <a class="inherit-color iconfont" href="https://www.rca.ac.uk/more/staff/dr-john-stevens/"><i class="icon-royal-college-of-art i5x" alt="Royal College of Art"></i></a>
          <h6 class="small">Dr Stevens, Global Innovation Design - Royal College of Art</h6>
          </div>
      </div>
      <div class="carousel-item" id="agilisys">
          <div class="carousel-caption d-md-block">
          <p class="testimonial">"Jonathan is a capable Creative Director with a broad range of design skills, an easy manner to work with and a large amount of high quality work behind him for many clients".</p>
            <a class="inherit-color iconfont" href="https://www.blenheimchalcot.com/people"><i class="icon-blenheim-chalcot-agilisys-head-of-ux i5x" alt="Blenheim Chalcot"></i></a>
          <h6 class="small">David Abensour, Group CTO - Blenheim Chalcot</h6>
          </div>
      </div>
      <div class="carousel-item" id="mcdonalds">
            <div class="carousel-caption d-md-block">
            <p class="testimonial">"Jon is extremely client-facing and able to express technical concepts clearly to non-technical people. Jon was a delight to work with as his dedication was as inspiring as his work".</p><a class="inherit-color iconfont" href="/mcdonalds/"><i class="icon-mcdonalds i5x" alt="McDonalds.co.uk"></i></a><h6 class="small">Amy Buckley - McDonald's Account Manager</h6>
            </div>
      </div>
      <div class="carousel-item" id="mcdonalds">
            <div class="carousel-caption d-md-block">
            <p class="testimonial">"Jonathan is a rare combination: creatively brilliant AND easy to work with. Clients ADORED him".</p><a class="inherit-color iconfont" href="//www.agilisys.co.uk"><i class="icon-agilisys-head-of-user-experience i5x"></i></a><h6 class="small">Gary Straughan, Senior Software Engineer - Agilisys</h6>
            </div>
      </div>
        <div class="carousel-item" id="mcdonalds">
            <div class="carousel-caption d-md-block">
            <p class="testimonial">"Jonathan’s impact has really demonstrated the value of UX to the business as a whole".</p><a class="inherit-color iconfont" href="//www.autoprotect.co.uk"><i class="icon-autoprotect-logo i5x"></i></a><h6 class="small">Lesley Coelho – IT Development Manager - Autoprotect</h6>
            </div>
      </div>
      
      <div class="carousel-item" id="royal-college-of-art">
          <div class="carousel-caption d-md-block">
          <p class="testimonial">"He wants to take your brand communication to the next level, and he will if you let him! A delight to work with".</p>
            <a class="inherit-color iconfont" href="https://www.rca.ac.uk/more/staff/dr-john-stevens/"><i class="icon-royal-college-of-art i5x" alt="Royal College of Art"></i></a>
          <h6 class="small">Dr John Stevens, Senior Tutor, Global Innovation Design - Royal College of Art</h6>
          </div>
      </div>
    </div>

</div>