<div class="row brand-secondary-bg-row">

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h2 class="display-4">Our Products</h2>
    </div>
    <div class="col-md-6">
    <p>You can learn more about our proven systems through our life-changing property courses, training events, bestselling books, podcasts, blogs, videos, emails and social media.</p>
    </div>
  </div>
</div>

    <div id="carousel-col-3-products" class="carousel slide" data-ride="carousel" data-interval="9000">
        <ol class="carousel-indicators">
            <li data-target="#carousel-col-3-products" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-col-3-products" data-slide-to="1"></li>
            <li data-target="#carousel-col-3-products" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            
            <div class="carousel-item col-md-4 active">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no1.png" alt="No Money Down">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">44 Most Closely Guarded Property Secrets.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Make Cash In A Property Market Crash.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>                    
                      </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                     <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Life Leverage.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>                    
                      </div>
            </div>


            <div class="carousel-item col-md-4 ">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no1.png" alt="No Money Down">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">44 Most Closely Guarded Property Secrets.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Make Cash In A Property Market Crash.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                     <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Life Leverage.<br>By Rob Moore & Mark Homer</p>
                        <a class="float-left">Find Out More</a>
                    </div>
            </div>
 
        </div>


        <a class="carousel-control-prev" role="button" data-slide="prev" data-target="#carousel-col-3-products">
            <i class="icon-chevron-left i2x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded"  role="button" data-slide="next" data-target="#carousel-col-3-products">
            <i class="icon-chevron-right i2x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>


    </div>
</div>

<div class="row negative-bg-row">
    <a href="/styleguide/" class="btn btn-primary mx-auto">back to Style Guide</a>
</div>