

        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="brand-secondary-colour">Life &amp; Income Changing Training Events</h2>
            </div>
            <div class="col-md-6">
                <p class="lead">Progressive teach and share step-by-step education, mentoring and community to help you invest successfully in property for equity, growth and income. We give you education and inspiration, and with a little perspiration you can take your
                    investing and income to the next level, be that part time, full time or big time.</p>
            </div>
        </div>
        <div class="row">
            <div id="carousel-col-3-courses" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox" id="courses-cards">
                    <!-- start loop -->
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/property-events/beginner-property-secrets-day/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/bps-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Learn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div active">
                            <a role="button" href="/property-events/multiple-streams-of-property-income-event/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/msopi-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Gain financial security from property – plus spectacular levels of wealth</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div active">
                            <a role="button" href="/courses/no-money-down/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/nmd-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-nmd.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Attract the right partners to create life-changing income</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/commercial-property-conversions/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/cpc-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-cpc.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Turn old commercial property into residential goldmines</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/serviced-accommodation-intensive/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/sa-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-sa.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 active">
                        <div class="card clickable-div">
                            <a role="button" href="courses/rent-2-rent/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/r2r-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/02/r2r-card.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Replace your income in 30-90 days using other people’s’ money</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- END loop -->
                    <!-- start loop -->
                    <div class="carousel-item col-md-4 ">
                        <div class="card clickable-div">
                            <a role="button" href="/property-events/beginner-property-secrets-day/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/bps-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Learn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div ">
                            <a role="button" href="/property-events/multiple-streams-of-property-income-event/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/msopi-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi-p-1.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Gain financial security from property – plus spectacular levels of wealth</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div ">
                            <a role="button" href="/courses/no-money-down/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/nmd-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-nmd.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Attract the right partners to create life-changing income</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/commercial-property-conversions/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/cpc-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-cpc.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>Turn old commercial property into residential goldmines</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/serviced-accommodation-intensive/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/sai-on-w-hite-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-sa.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="courses/rent-2-rent/">
                                <div class="card-header"> <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/04/r2r-on-white-350x107.svg" width="350" height="107" alt="Property Course"> </div>
                                <div class="card-body p-0"> <img class="" src="/wp-content/uploads/sites/2/2019/02/r2r-card.jpg" alt="Property Course"> </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- END loop -->
                </div> <a class="carousel-control-prev" href="#carousel-col-3-courses" role="button" data-slide="prev"><i class="icon-chevron-left i3x text-muted"></i><span class="sr-only">Previous</span></a> <a class="carousel-control-next text-faded" href="#carousel-col-3-courses"
                    role="button" data-slide="next"><i class="icon-chevron-right i3x text-muted"></i><span class="sr-only">Next</span></a> </div>
        </div>
        <div class="text-center p-5 pt-3 mx-auto"> <a class="btn btn-primary" href="/property-events/">See More Events</a> </div>







