
<div class="row brandBase">
	<div class="container">
		<h3 class="module-title">CD &amp; DVD</h3>
		<p>Progressive’s CD home study programmes help you use your time wisely, giving you access to the best property education training in the UK in easy to follow stages. Our Programmes cover every property investing strategy that you need to know including how to source below market value property deals and how to buy property with none of your own money</p>
		<a class="btn btn-light" href="/dvd-cd/">View All CD’s & DVD’s</a>
	</div>
</div>

<div class="row gray-lighter-bg-row">
	<div class="container">
		<h3 class="module-title">Books</h3>
		<p><img class="alignleft size-full wp-image-20940" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2017/06/multiple-streams-of-property-income-159x300-2.png" alt="" width="159" height="300">Rob &amp; Mark were writing books before the property market crash. They’re humbled and inspired that every one of our books has become an Amazon Best-Seller, and have sold tens of thousands of copies internationally. Rob &amp; Mark’s books have inspired everyday people just like you to achieve freedom, choice, and profit through property investing, by sharing amazing stories of success and actionable strategies.</p>

		<a class="btn btn-secondary" href="/progressive-books/">View All Books</a>
		</div>
</div>

<div class="row brandBase">
	<div class="container">
		<h3 class="module-title">Training Programmes</h3>

		<p><img class="wp-image-488  alignleft" src="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/courses-300x300.png" width="200" height="200" srcset="https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/courses-300x300.png 300w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/courses-150x150.png 150w, https://www.progressiveproperty.co.uk/wp-content/uploads/2016/12/courses.png 600w" sizes="(max-width: 200px) 100vw, 200px">Progressive have training programmes for every type of investor, at every stage of the investing journey, for every personality type, in your preferred delivery style.&nbsp;Whether you’re a beginner who likes full immersion courses and hand holding support, or an advanced, self motivated investor who wants easily consumable knowledge to crack on and take action…</p>

		<a class="btn btn-secondary" href="/progressive-training-programmes/">View Training Courses</a>
	</div>
</div>