
<div class="row brandBase">
    <div class="col-6">
       <h2 class="display-4 brand-primary">Read Our Latest Blog</h2>

    </div>
    <div class="col-6">
        <a class="btn btn-primary">All posts</a>
    </div>
    <div class="section">
     [justified_image_grid preset=9 thumbs_spacing=16 row_height=370 height_deviation=0 caption_opacity=1 caption_bg_color=(0,0,0,0) limit=4 max_rows=2 load_more=click initially_load=4 rss_url=http://property.progressive.test/feed/]
    </div>
</div>


