
<div class="container">
	<h1>Real Progressive Success Stories</h1>
	<h3>From the couch with Rob Moore</h3>
	<p class="lead">A small selection of real Progressive people achieving real success through Progressive trainings, mentorship and support. Many from a standing start, many with little previous knowledge or experience and their own personal challenges to overcome. You may be able to relate to many of them. Start your property education today &amp; be inspired by people like you.</p>
</div>

<!-- <div class="row">[justified_image_grid preset=17 thumbs_spacing=0 row_height=600 height_deviation=200 prettyphoto_theme=dark_rounded caption_field=off overlay=hovered overlay_color=#1700ab overlay_opacity=0.75 lightbox=prettyphoto min_height=600 limit=1 max_rows=1 disable_cropping=yes link_target=video rss_url=https://www.youtube.com/user/progressiveproperty rss_links_to=permalink rss_description=description rss_link=yes rss_link_text="Watch on YouTube"]</div> -->

<div class="container">
	<div class="card-deck justPad">
	  <div class="card">
	    <img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">New Dad Gary Elliott: Progressive Taught Me How To Find Money For Any Property Deal
</h5>
	      <p class="card-text">Rob Moore interviews Gary to find out how he raised £2million in JV finance in 4 months and invested in 43 properties.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">From 5 to 25 Properties Worth £3.3Million...</h5>
	      <p class="card-text">Tash & Karen talk to Rob about how they have accelerated their portfolio thanks to Progressive.</p>
		</div>
		<div class="card-footer">
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>&nbsp;<i style="margin-bottom: -1rem;" class="float-right icon-heart"></i></p>
	  	</div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">£6M Property Portfolio...</h5>
	      <p class="card-text">Father and son team build a £6M property portfolio with the help of Progressive.</p>
	      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	</div>

	[justified_image_grid preset=17 thumbs_spacing=1 prettyphoto_theme=dark_rounded caption_field=off overlay=hovered overlay_color=#1700ab overlay_opacity=0.75 lightbox=prettyphoto min_height=300 disable_cropping=yes limit=4  link_target=video rss_url=https://www.youtube.com/user/progressiveproperty rss_links_to=permalink rss_description=description rss_link=yes rss_link_text="Watch on YouTube"]
</div>

<div class="container">
[justified_image_grid preset=17 thumbs_spacing=1 prettyphoto_theme=dark_rounded caption_field=off overlay=hovered overlay_color=#1700ab overlay_opacity=0.75 lightbox=prettyphoto min_height=700 disable_cropping=yes limit=12  link_target=video rss_url=https://www.youtube.com/user/progressiveproperty rss_links_to=permalink rss_description=description rss_link=yes rss_link_text="Watch on YouTube"]
</div>
