<div class="container">
	<div id="themify_builder_content-79" data-postid="79" class="themify_builder_content themify_builder_content-79 themify_builder themify_builder_front">

				<!-- module_row -->
			<div data-gutter="gutter-default" class="themify_builder_row themify_builder_79_row module_row module_row_0 module_row_79-0 clearfix gutter-default col_align_top" data-column-alignment="col_align_top">

		
				
				<div class="row_inner_wrapper">
					<div class="row_inner">

						
						
							
		<div class="col-full first tb-column  tb_79_column module_column_0 module_column_79-0-0 module_column">

			
			
			<div class="tb-column-inner">

				
				
					
	<!-- module image -->
	<div id="image-79-0-0-1" class="module module-image image-79-0-0-1   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/sofa.jpg" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


				
			</div><!-- /.tb-column-inner -->
					</div>
		<!-- /.tb-column -->
		
		
								
								
							
						</div>
						<!-- /row_inner -->
					</div>
					<!-- /row_inner_wrapper -->
				</div>
				<!-- /module_row -->
					<!-- module_row -->
			<div data-gutter="gutter-narrow" class="themify_builder_row themify_builder_79_row module_row module_row_1 module_row_79-1 clearfix gutter-narrow col_align_top" data-column-alignment="col_align_top">

		
				
				<div class="row_inner_wrapper">
					<div class="row_inner">

						
						
							
		<div class="col3-2 first tb-column  tb_79_column module_column_0 module_column_79-1-0 module_column">

			
			
			<div class="tb-column-inner">

				
				
					
<!-- module text -->
<div id="text-79-1-0-1" class="module module-text text-79-1-0-1   ">
	<p>A small selection of&nbsp;<b>real Progressive people&nbsp;</b>achieving <strong>real success </strong><strong>through Progressive trainings, mentorship and support. Many from a standing start, many with little previous knowledge or experience and their own personal challenges to overcome. You may be able to relate to many of them. </strong>Start your property education today &amp; be inspired by people like you.</p>
</div>
<!-- /module text -->


	<!-- module video -->
	<div id="video-79-1-0-2" class="module module-video video-79-1-0-2 video-top  ">

					<h3 class="module-title">Progressive VIP Programme Has Upped Our Property Game</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/KtCBO06ExpM?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
		</div>
		<!-- /col-6 -->

		
	</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-3" class="module module-video video-79-1-0-3 video-top  ">

					<h3 class="module-title">Tash &amp; Karen</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/tSOaOGfknEE?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-4" class="module module-video video-79-1-0-4 video-top  ">

					<h3 class="module-title">Jackie Tomes</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/x9VHLhoJTB0?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-5" class="module module-video video-79-1-0-5 video-top  ">

					<h3 class="module-title">Glenn Delve</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/XieSznzRrVQ?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-6" class="module module-video video-79-1-0-6 video-top  ">

					<h3 class="module-title">Anne Houlton</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/qKxoiy0UQxw?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-7" class="module module-video video-79-1-0-7 video-top  ">

					<h3 class="module-title">Graeme Swatton</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/1mRkHAskSSY?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->


	<!-- module video -->
	<div id="video-79-1-0-8" class="module module-video video-79-1-0-8 video-top  ">

					<h3 class="module-title">MSOPI Experiences</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/DmqeCkeaqxc?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->


	<!-- module video -->
	<div id="video-79-1-0-9" class="module module-video video-79-1-0-9 video-top  ">

					<h3 class="module-title">Aaron Yahaya</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/r6miLifBZLI?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-10" class="module module-video video-79-1-0-10 video-top  ">

					<h3 class="module-title">Dan Bradbury</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/MqHRbEA7f8I?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-11" class="module module-video video-79-1-0-11 video-top  ">

					<h3 class="module-title">Anne Houlton</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/BrK4YxUexl0?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->



	<!-- module video -->
	<div id="video-79-1-0-12" class="module module-video video-79-1-0-12 video-top  ">

					<h3 class="module-title">Luke Hamill</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/nJlt9FsdNc0?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-12.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-13" class="module module-video video-79-1-0-13 video-top  ">

					<h3 class="module-title">Iain McBain</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/MSjjtOIMu3w?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-13.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-14" class="module module-video video-79-1-0-14 video-top  ">

					<h3 class="module-title">Wendy Whitaker-Large</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/5iDH-rrSe5Q?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-14.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-15" class="module module-video video-79-1-0-15 video-top  ">

					<h3 class="module-title">Stuart Mellody</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/klRj5fpDmrU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-15.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-16" class="module module-video video-79-1-0-16 video-top  ">

					<h3 class="module-title">Andi Cooke &amp; Lloyd Giradi Property Results</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/i7a45GGJE1g?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-16.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-17" class="module module-video video-79-1-0-17 video-top  ">

					<h3 class="module-title">Derek Whatley</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/LTApeaU4wps?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-17.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-18" class="module module-video video-79-1-0-18 video-top  ">

					<h3 class="module-title">Steve Pratt</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/JayA8Egj93g?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-18.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-19" class="module module-video video-79-1-0-19 video-top  ">

					<h3 class="module-title">Glenn Delve</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/mHwO8wso6RE?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-19.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-20" class="module module-video video-79-1-0-20 video-top  ">

					<h3 class="module-title">Andy Churchill</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/NhAXClaKF7M?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 508.64549356223176px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-20.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-21" class="module module-video video-79-1-0-21 video-top  ">

					<h3 class="module-title">Tracey &amp; Nigel</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/4mw7MFKTIbU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-21.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-22" class="module module-video video-79-1-0-22 video-top  ">

					<h3 class="module-title">Marc Nicholson</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/dJhwddhTDhw?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-22.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-23" class="module module-video video-79-1-0-23 video-top  ">

					<h3 class="module-title">Ben &amp; Andrew</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/ifeP3RXgvBo?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-23.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-24" class="module module-video video-79-1-0-24 video-top  ">

					<h3 class="module-title">Stuart &amp; Kevin</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/HyOHYGenKEg?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-24.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-25" class="module module-video video-79-1-0-25 video-top  ">

					<h3 class="module-title">Progressive VIPs</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/L_Ie8BE-nis?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-25.module-video {} 
</style>

	<!-- module image -->
	<div id="image-79-1-0-26" class="module module-image image-79-1-0-26   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/ian-mcbain.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->



	<!-- module video -->
	<div id="video-79-1-0-27" class="module module-video video-79-1-0-27 video-top  ">

					<h3 class="module-title">James Mason</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/jphmM3ZMr58?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-27.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-28" class="module module-video video-79-1-0-28 video-top  ">

					<h3 class="module-title">Paul Towlson One Year On</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/2UK6XAe8p2c?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-28.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-29" class="module module-video video-79-1-0-29 video-top  ">

					<h3 class="module-title">Beckie Cooper</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/eShDvZOn1lk?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-29.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-30" class="module module-video video-79-1-0-30 video-top  ">

					<h3 class="module-title">Martin Fowler</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/XlJMWoXMZYo?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-30.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-31" class="module module-video video-79-1-0-31 video-top  ">

					<h3 class="module-title">Halstead Ottley</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/uDuSCQSIIkA?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-31.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-32" class="module module-video video-79-1-0-32 video-top  ">

					<h3 class="module-title">Paul Towlson</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/2UK6XAe8p2c?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-32.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-33" class="module module-video video-79-1-0-33 video-top  ">

					<h3 class="module-title">Richard Lindon</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/CMh_SJKpwMk?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-33.module-video {} 
</style>

	<!-- module image -->
	<div id="image-79-1-0-34" class="module module-image image-79-1-0-34   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/fran_jane1-1.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


<!-- module text -->
<div id="text-79-1-0-35" class="module module-text text-79-1-0-35   ">
			<h3 class="module-title">Mehul Patel</h3>	
	
	<p><img class="wp-image-463 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/patel.jpg" width="235" height="225"></p><h3>£245,000 JV Finance…</h3><p>I have raised £245,000 JV finance. £1,000,000 in Property [me alone] £500,000 in property [Company]. My company assets are £2,000,000. Cash flow is £15,000 of rent per month – Net £10,000</p>
	</div>
<!-- /module text -->

	<!-- module image -->
	<div id="image-79-1-0-36" class="module module-image image-79-1-0-36   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/andy.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


<!-- module text -->
<div id="text-79-1-0-37" class="module module-text text-79-1-0-37   ">
			<h3 class="module-title">Kam Dovedi</h3>	
	
	<p><img class="wp-image-469 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/Kam-Dovedi.jpg" width="264" height="300"></p><h3>£780,000 Equity &amp; £7,800 Monthly Cash Flow!</h3><p>After only 2 years’ of joining progressive Kam has a portfolio worth 2.9 million, £780,000 equity and a monthly cash flow of £7,800.</p>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-79-1-0-38" class="module module-text text-79-1-0-38   ">
			<h3 class="module-title">Ben Beaumont</h3>	
	
	<p><img class="wp-image-470 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/ben.jpg" width="235" height="225"></p><h3>£1.25M JV Investment…</h3><p>After 4 months of “being in property” I have just shook hands on the first part of a £1.25m JV investment deal. Feeling pretty damn good!</p>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-79-1-0-39" class="module module-text text-79-1-0-39   ">
			<h3 class="module-title">Adam Eccleston</h3>	
	
	<p><img class="wp-image-472 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/adam.jpg" width="235" height="225"></p><h3>NET Profit Is £70,000…</h3><p>Since joining the VIP Programme we have got 6 deals going through at the moment and all with JV finance. 3 BTLs we are keeping for the long term. We also have 3 properties for flipping using No Money down Strategies, the total net profit for these 3 properties is £70,000</p>
	</div>
<!-- /module text -->

	<!-- module image -->
	<div id="image-79-1-0-40" class="module module-image image-79-1-0-40   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/wallace1.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->



	<!-- module video -->
	<div id="video-79-1-0-41" class="module module-video video-79-1-0-41 video-top  ">

					<h3 class="module-title">Francis &amp; Jane Dolley</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/z5ecguPzHnc?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-41.module-video {} 
</style>

<!-- module text -->
<div id="text-79-1-0-42" class="module module-text text-79-1-0-42   ">
			<h3 class="module-title">Geoff Whittaker</h3>	
	
	<p><img class="wp-image-475 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/geoff.jpg" width="235" height="225"></p><h3>£58,000 In Nine Months…</h3><p>I’ve made £58,000 Cash Income in 9 months Selling Deals thanks to Rob, Mark &amp; the Progressive trainings. These guys talk real sense and no BS</p>
	</div>
<!-- /module text -->

<!-- module text -->
<div id="text-79-1-0-43" class="module module-text text-79-1-0-43   ">
			<h3 class="module-title">Trevor Cutmore</h3>	
	
	<p><img class="wp-image-477 size-full alignleft" src="/wp-content/uploads/sites/2/2016/12/trevor.jpg" width="235" height="225"></p><h3>20 Deals,other peoples money…</h3><p>I’ve done over 20 deals with other people’s money, and have over £35,000 per year net cashflow, and it’s all thanks to Progressive trainings.</p>
	</div>
<!-- /module text -->


	<!-- module video -->
	<div id="video-79-1-0-44" class="module module-video video-79-1-0-44 video-top  ">

					<h3 class="module-title">Andy Churchill</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/zqWnzMzzDbo?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-44.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-45" class="module module-video video-79-1-0-45 video-top  ">

					<h3 class="module-title">Alex &amp; Kat</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/_RaaoqPnBpM?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-45.module-video {} 
</style>


	<!-- module video -->
	<div id="video-79-1-0-46" class="module module-video video-79-1-0-46 video-top  ">

					<h3 class="module-title">Steve Evans</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/LTyKzlllFOI?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 678px; height: 381.1931330472103px;"></iframe>
</div>
		<!-- /col-6 -->

		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-0-46.module-video {} 
</style>

				
			</div><!-- /.tb-column-inner -->
					</div>
		<!-- /.tb-column -->
		
		
		<div class="col3-1 last tb-column  tb_79_column module_column_1 module_column_79-1-1 module_column">

			
			
			<div class="tb-column-inner">

				
				
					

	<!-- module video -->
	<div id="video-79-1-1-1" class="module module-video video-79-1-1-1 video-top widgetRounding ">

					<h3 class="module-title">Gary Elliott</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/0_Gnxe_3NCo?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													£2M in JV Finance…											</h3>
				
									<div class="video-caption">
						Gary talks to Rob about how being part of the Progressive Community has helped him achieve his goals					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-1.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-2" class="module module-video video-79-1-1-2 video-top widgetRounding ">

					<h3 class="module-title">Tash &amp; Karen</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/E0KuXm37xwU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													From 5 to 25 Properties Worth £3.3Million...											</h3>
				
									<div class="video-caption">
						Tash &amp; Karen talk to Rob about how they have accelerated their portfolio thanks to Progressive					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-2.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-3" class="module module-video video-79-1-1-3 video-top widgetRounding ">

					<h3 class="module-title">Nitin Patel</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/t4L8s952-4U?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													£6M Property Portfolio...											</h3>
				
									<div class="video-caption">
						Father and son team build a £6M property portfolio with the help of Progressive					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-3.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-4" class="module module-video video-79-1-1-4 video-top widgetRounding ">

					<h3 class="module-title">Andy Beach</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/-pojORVZboI?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													A Massive 60% Below Market Value Deal…											</h3>
				
									<div class="video-caption">
						Find out how Andy bought a five flat unit for £195,000, which has now been re valued at an amazing £490,000					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-4.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-5" class="module module-video video-79-1-1-5 video-top widgetRounding ">

					<h3 class="module-title">Tash &amp; Karen</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/pSFvNCUsdwg?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													Over £1M of property in the last 12 months...											</h3>
				
									<div class="video-caption">
						Tash and Karen talk about their success at the VIP Awards					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-5.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-6" class="module module-video video-79-1-1-6 video-top widgetRounding ">

					<h3 class="module-title">Ian McBain</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/CsvgOKShaHU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													£100k in a year…											</h3>
				
									<div class="video-caption">
						Find out how Ian earned up to £100,000 after only a year of Progressive Education!					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-6.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-7" class="module module-video video-79-1-1-7 video-top widgetRounding ">

					<h3 class="module-title">Richard Lyndon</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/RzdhHht3JFg?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													I Quit My Job...											</h3>
				
									<div class="video-caption">
						Richard quit his six figure salary and now sources and packages property deals full time…Watch the video above					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-7.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-8" class="module module-video video-79-1-1-8 video-top widgetRounding ">

					<h3 class="module-title">Roy Inman</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/yCjy-SBW7ao?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													10 years' of success...											</h3>
				
									<div class="video-caption">
						With over 10 years’ in the property market Roy has achieved a lot! Watch to find out how Roy built up a portfolio of 68 properties worth in excess of 6 million.					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-8.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-9" class="module module-video video-79-1-1-9 video-top widgetRounding ">

					<h3 class="module-title">Tracey Woods</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/Fg47eg2RfVs?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													£1.1M Portfolio &amp; and growing											</h3>
				
									<div class="video-caption">
						Tracey reveals how her journey with Progressive has enabled her to double her cash-flow.					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-9.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-10" class="module module-video video-79-1-1-10 video-top widgetRounding ">

					<h3 class="module-title">Andy Churchill</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/NhAXClaKF7M?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 247.57081545064378px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													How Progressive has helped me to bring in over 6k a month!											</h3>
				
									<div class="video-caption">
						With over £350,000 of JV finance Andy is on course to smash all of his financial targets.					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-10.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-11" class="module module-video video-79-1-1-11 video-top widgetRounding ">

					<h3 class="module-title">Trevor Cutmore</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/20WnO_1ndLU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													28 properties and an impressive 50k cash flow a year…											</h3>
				
									<div class="video-caption">
						Trevor is a real specialist in his field. Listen to his journey and what he’s achieved.					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-11.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-12" class="module module-video video-79-1-1-12 video-top widgetRounding ">

					<h3 class="module-title">John Philbin</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/oLcBmqc6jWU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													A portfolio worth an amazing 2 million and earning over £5,000 a month…											</h3>
				
									<div class="video-caption">
						John reveals how he got there in yet another dazzling success story.					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-12.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-13" class="module module-video video-79-1-1-13 video-top widgetRounding ">

					<h3 class="module-title">Kam Dovedi</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/jpumxSffr78?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													£780,000 equity and a monthly cash flow of £7,800…											</h3>
				
									<div class="video-caption">
						After only 2 years of joining progressive Kam has a portfolio worth 2.9 million!					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-13.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-14" class="module module-video video-79-1-1-14 video-top widgetRounding ">

					<h3 class="module-title">Iain Wallis</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/jN2Dk-SIxz0?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													Over 1 million equity and counting…!											</h3>
				
									<div class="video-caption">
						Listen to how in just 3 years Iain now has a portfolio worth over £3 million…					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-14.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>


	<!-- module video -->
	<div id="video-79-1-1-15" class="module module-video video-79-1-1-15 video-top widgetRounding ">

					<h3 class="module-title">John Wooley</h3>		
		
		<div class="col-6">
			<iframe src="https://www.youtube.com/embed/mQZE7blMhTY?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" style="width: 330px; height: 185.53648068669528px;"></iframe>
</div>
		<!-- /col-6 -->

					<div class="video-content">
									<h3 class="video-title">
													At only 21 John is a real success story!											</h3>
				
									<div class="video-caption">
						Listen to how he made 1 million in equity and got a property revalued for more than double the price…					</div>
					<!-- /video-caption -->
							</div>
			<!-- /video-content -->
		
			</div>
	<!-- /module video -->
<style type="text/css">.themify_builder .video-79-1-1-15.module-video { background-color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
</style>

	<!-- module image -->
	<div id="image-79-1-1-16" class="module module-image image-79-1-1-16   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/steve-mitchelle.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


	<!-- module image -->
	<div id="image-79-1-1-17" class="module module-image image-79-1-1-17   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/nick-hague.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


	<!-- module image -->
	<div id="image-79-1-1-18" class="module module-image image-79-1-1-18   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/iphone.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


	<!-- module image -->
	<div id="image-79-1-1-19" class="module module-image image-79-1-1-19   image-top  ">

		
		
		<div class="image-wrap">
							<img src="/wp-content/uploads/sites/2/2016/12/deena.png" alt="Success Stories">			
						</div>
			<!-- /image-wrap -->
		
		
		
		</div>
	<!-- /module image -->


				
			</div><!-- /.tb-column-inner -->
					</div>
		<!-- /.tb-column -->
		
		
								
								
							
						</div>
						<!-- /row_inner -->
					</div>
					<!-- /row_inner_wrapper -->
				</div>
				<!-- /module_row -->
		</div><a class="themify_builder_turn_on js-turn-on-builder" href="#"><span class="dashicons dashicons-edit"></span>Turn On Builder</a>
<!-- /themify_builder_content --><div class="swp-content-locator"></div>
				
				[<a class="post-edit-link" href="https://www.progressiveproperty.co.uk/wp-admin/post.php?post=79&amp;action=edit">Edit</a>]
				<!-- comments -->
									


								<!-- /comments -->

			</div>