
<div class="row">
    <div class="container-fluid">
    <div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <div data-target="#carouselTestimonialIndicators" data-slide-to="0" class="active"></li>
        <div data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
        <div data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item text-center active">
          <img src="/wp-content/uploads/sites/11/2014/12/25years-300x300.png" data-desktop="/wp-content/uploads/sites/11/2014/12/25years-300x300.png" alt="Image not available" title="">
                <h4>Protecting assets and critical infrastructure for over 25 years</h4>

                <div class="d-flex justify-content-inbetween" id="sectors"> 
                        <div class="col">
                            <i class="i3x icon-briefcase"></i>
                            <p>Commercial</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-factory"></i>
                            <p>Industrial</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-establishment"></i>
                            <p>Government</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-sight"></i>
                            <p>Military</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-mortarboard"></i>
                            <p>Educational</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-pill"></i>
                            <p>Pharma</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-coffee"></i>
                            <p>Food</p>
                        </div>
                        <div class="col">
                            <i class="i3x icon-timer"></i>
                            <p>Correctional</p>
                        </div>
                </div>
        </div>

        <div class="carousel-item text-center">
          <img class="d-block mx-auto" width="320" src="https://via.placeholder.com/350x150" alt="Second slide">
                <h4>Certified Installer of the world’s leading security brands</h4>
            <div id="slide-logo-section" class="d-flex justify-content-inbetween">
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/agent-vi.png" alt="client-logo">
                </div>
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/axis.png" alt="client-logo">     
                </div>
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/honeywell.png" alt="client-logo">
                </div>
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/identiv.png" alt="client-logo">
                </div>
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/milestone.png" alt="client-logo">
                </div>
                <div class="col-sm-2">
                    <img src="/wp-content/uploads/sites/11/2015/01/sdc.png" alt="client-logo">
                </div>
            </div>

                
        </div>

        <div class="carousel-item text-center">
          <img class="d-block mx-auto" width="320" src="https://via.placeholder.com/350x150" alt="Third slide">
                <h4>Global reach; Based near Stansted Airport for rapid deployment and support to overseas operations.</h4>
            <div class="row">
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
                <div class="col-sm-2">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h3>UK</h3>
                </div>
            </div>
        </div>

      </div>
        <a class="carousel-control-prev" role="button" data-slide="prev" data-target="#carouselTestimonialIndicators">
            <i class="icon-chevron-left i2x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded"  role="button" data-slide="next" data-target="#carouselTestimonialIndicators">
            <i class="icon-chevron-right i2x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
</div>
