<div id="slide-logo-section" class="d-flex justify-content-inbetween">
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/agent-vi.png" alt="client-logo">
	</div>
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/axis.png" alt="client-logo">		
	</div>
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/honeywell.png" alt="client-logo">
	</div>
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/identiv.png" alt="client-logo">
	</div>
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/milestone.png" alt="client-logo">
	</div>
	<div class="col-sm-2">
		<img src="/wp-content/uploads/sites/11/2015/01/sdc.png" alt="client-logo">
	</div>
</div>
