<div class="negative home-hero">
    <div id="centraHeroSlider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <div data-target="#centraHeroSlider" data-slide-to="0" class="active"></li>
        <div data-target="#centraHeroSlider" data-slide-to="1"></li>
        <div data-target="#centraHeroSlider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item text-center active">
        <div class="vcol-4 col-md-2 offset-md-5 text-center">    
                  <img class="img-fluid hero-item" src="/wp-content/uploads/sites/11/2014/12/25years-300x300.png" alt="25 years" title="25 years">
        </div>
        <div class="vcol-8">  
                <h3>Protecting assets and critical infrastructure<br>for over 25 years</h3>
                <div class="d-flex justify-content-between" id="sectors"> 
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-briefcase"></i>
                            <p>Commercial</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-factory"></i>
                            <p>Industrial</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-establishment"></i>
                            <p>Government</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-sight"></i>
                            <p>Military</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-mortarboard"></i>
                            <p>Educational</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-pill"></i>
                            <p>Pharma</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-coffee"></i>
                            <p>Food</p>
                        </div>
                        <div class="d-none d-md-inline-block">
                            <i class="i3x icon-timer"></i>
                            <p>Correctional</p>
                        </div>
                </div>
            </div>
        </div>

        <div class="carousel-item text-center">
        <div class="vcol-4 col-md-2 offset-md-5 text-center">
              <img class="img-fluid d-block mx-auto hero-item" src="/wp-content/uploads/sites/11/2015/01/certified-icon-300x300.png" alt="Second slide">
        </div>
        <div class="vcol-8">              
                <h3>Certified Installer of the world’s leading<br>security brands</h3>
            <div id="slide-logo-section" class="d-flex justify-content-inbetween">
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/agent-vi.png" alt="client-logo">
                </div>
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/axis.png" alt="client-logo">     
                </div>
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/honeywell.png" alt="client-logo">
                </div>
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/identiv.png" alt="client-logo">
                </div>
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/milestone.png" alt="client-logo">
                </div>
                <div class="col-sm-2 d-none d-md-inline-block">
                    <img src="/wp-content/uploads/sites/11/2015/01/sdc.png" alt="client-logo">
                </div>
            </div>
        </div>
                
        </div>

        <div class="carousel-item text-center">
            <div class="vcol-4 col-sm-3 offset-sm-3 col-md-2 offset-md-5 text-center">      
              <img class="img-fluid d-block mx-auto hero-item" src="/wp-content/uploads/sites/11/2015/01/global-reach-icon.png" alt="Third slide">
            </div>
                <h3>Global reach; Stansted Airport based<br><span class="d-none d-md-block"> for rapid deployment and support to overseas operations</span></h3>
            <div class="row">
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="125" height="75" alt="">
                   <h5>UK</h5>
                </div>
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/europe.png" width="125" height="75" alt="">
                   <h5>Europe</h5>
                </div>
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/middle-east.png" width="125" height="75" alt="">
                   <h5>Middle East</h5>
                </div>
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/asia.png" width="125" height="75" alt="">
                   <h5>Asia</h5>
                </div>
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/russia.png" width="125" height="75" alt="">
                   <h5>Russia</h5>
                </div>
                <div class="col-md-2 d-none d-md-inline-block">
                   <img name="UK" src="/wp-content/uploads/sites/11/2015/04/usa.png" width="125" height="75" alt="">
                   <h5>US</h5>
                </div>
            </div>
        </div>

      </div>
        <a class="carousel-control-prev" role="button" data-slide="prev" data-target="#centraHeroSlider">
            <i class="icon-chevron-left i2x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded"  role="button" data-slide="next" data-target="#centraHeroSlider">
            <i class="icon-chevron-right i2x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
        <h2 class="text-center">Our Services</h2>
        <div class="row justPad">
            <div class="col-md-3 text-center">
                <p>
                    <a class="iconfont" href="/electronic-security-system-services/security-system-installation/"><i class="icon-tools i5x aos-init aos-animate" data-aos="zoom-in"></i></a>
                </p>
                <h5><a title="Security Installation Service and Commissioning" href="/electronic-security-system-services/security-system-installation/">Installation Service &amp; Commissioning</a></h5>
            </div>
            <div class="col-md-3 text-center">
                <p class="text-center"><a class="iconfont" href="/electronic-security-system-services/security-planning-consultancy/"><i class="icon-umbrella i5x aos-init aos-animate" data-aos="zoom-in"></i></a></p>
                <h5><a title="Risk, Security Planning &amp; Consultancy" href="/electronic-security-system-services/security-planning-consultancy/">Risk, Security Planning &amp; Consultancy</a></h5>
            </div>

            <div class="col-md-3 text-center">
                <p class="text-center"><a class="iconfont" href="/electronic-security-system-services/security-legislation/"><i class="icon-news i5x aos-init aos-animate" data-aos="zoom-in"></i></a></p>
            <h5><a title="Security Legislation" href="/electronic-security-system-services/security-legislation/">Security Legislation</a></h5>
            </div>

            <div class="col-md-3 text-center">
                  <p class="text-center"><a class="iconfont" href="/electronic-security-system-services/support/"><i class="icon-mortarboard i5x aos-init aos-animate" data-aos="zoom-in"></i></a></p>
                  <h5><a href="/electronic-security-system-services/support/">Security Training &amp; Support</a></h5>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <h2 class="text-center">Our Products</h2>
    </div>
      [wmls name="4-col" id="1"]
  </div>

  


<div class="brand-primary-bg-row">
    <div class="container">
        <h2 class="text-center aos-init aos-animate" data-aos="zoom-in">Why Centra Security?</h2>
        <p class="lead text-center">Conveniently based at Stansted Airport for rapid support deployment to European and global clients, here are just some of the reasons why we are the first choice for clients and leading security product suppliers world-wide.</p>

        <div class="row" style="text-align: center; margin: 8rem auto;">
            <div class="col-md-3 text-center">
                <i class="icon-years i5x aos-init aos-animate" data-aos="zoom-in"></i>
            <h5>25 year proven track record</h5>
            </div>
            <div class="col-md-3 text-center"><i class="icon-medal i5x aos-init aos-animate" data-aos="zoom-in"></i>
            <h5 style="text-align: center; padding-top: .6rem;">ISO 9001:2008
            Quality Certified</h5>
            </div>
            <div class="col-md-3 text-center"><i class="icon-trophy i5x aos-init aos-animate" data-aos="zoom-in"></i>
            <h5 style="text-align: center; padding-top: .6rem;">Certified and approved installer for the world’s leading security solutions</h5>
            </div>
            <div class="col-md-3 text-center"><i class="icon-aeroplane i5x aos-init aos-animate" data-aos="zoom-in"></i>
            <h5 style="text-align: center; padding-top: .6rem;">Global Reach</h5>
            </div>
        </div>
    </div>
</div>       
