<div id="wrapper-navbar" itemscope="" itemtype="http://schema.org/WebSite">

        <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>

        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

                    <div class="container">
        
                    <!-- Your site title as branding in the menu -->
                    <a href="http://www-centrasecurity-co-uk.mproject.test/" class="navbar-brand custom-logo-link" rel="home" itemprop="url"><img width="10" height="10" src="http://www-centrasecurity-co-uk.mproject.test/wp-content/uploads/sites/11/2018/09/transparent.png" class="img-fluid" alt="Centra Security Services" itemprop="logo"></a><!-- end custom logo -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- The WordPress Menu goes here -->
                <div id="navbarNavDropdown" class="collapse navbar-collapse"><ul id="main-menu" class="navbar-nav ml-auto"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3933" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3933 nav-item"><a href="/" class="dropdown-item nav-link"><i class="icon-home"></i></a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3641" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children dropdown active menu-item-3641 nav-item"><a title="About Centra Security Services" href="http://www-centrasecurity-co-uk.mproject.test/about/" aria-haspopup="true" class="nav-link dropdown-toggle">About</a>
<ul class="dropdown-menu" role="menu">
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3573 nav-item"><a title="Our Partners" href="http://www-centrasecurity-co-uk.mproject.test/about/partners/" class="dropdown-item nav-link">Our Partners</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3580 nav-item"><a title="Our Clients" href="http://www-centrasecurity-co-uk.mproject.test/clients/" class="dropdown-item nav-link">Our Clients</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3749" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3747 current_page_item active menu-item-3749 nav-item"><a title="Markets Served" href="http://www-centrasecurity-co-uk.mproject.test/about/markets-served/" class="dropdown-item nav-link">Markets Served</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5670" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5670 nav-item"><a title="Case Studies" href="http://www-centrasecurity-co-uk.mproject.test/security-installers/case-studies/" class="dropdown-item nav-link">Case Studies</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-3567 nav-item"><a title="Services" href="http://www-centrasecurity-co-uk.mproject.test/electronic-security-system-services/" aria-haspopup="true" class="nav-link dropdown-toggle">Services</a>
<ul class="dropdown-menu" role="menu">
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3568 nav-item"><a title="Installation Service and Commissioning" href="http://www-centrasecurity-co-uk.mproject.test/electronic-security-system-services/security-system-installation/" class="dropdown-item nav-link">Installation Service and Commissioning</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3569 nav-item"><a title="Risk, Security Planning and Consultancy" href="http://www-centrasecurity-co-uk.mproject.test/electronic-security-system-services/security-planning-consultancy/" class="dropdown-item nav-link">Risk, Security Planning and Consultancy</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3570 nav-item"><a title="Security Legislation" href="http://www-centrasecurity-co-uk.mproject.test/electronic-security-system-services/security-legislation/" class="dropdown-item nav-link">Security Legislation</a></li>
    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3571 nav-item"><a title="Security Training and Support" href="http://www-centrasecurity-co-uk.mproject.test/electronic-security-system-services/support/" class="dropdown-item nav-link">Security Training and Support</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3657" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3657 nav-item"><a title="Products" href="http://www-centrasecurity-co-uk.mproject.test/security-products/" class="dropdown-item nav-link">Products</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-3585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3585 nav-item"><a title="Contact" href="http://www-centrasecurity-co-uk.mproject.test/contact/" class="dropdown-item nav-link">Contact</a></li>
</ul></div>                     </div><!-- .container -->
            
        </nav><!-- .site-navigation -->

    </div>