
// Hero/Generic Carousel

.carousel .slide {
	background-color: $brand-primary;
}
.carousel-inner { // Middle align vertically
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.carousel-caption { // Middle align vertically
	position: relative;
	// top: 50%;
	// transform: translateY(-50%);
	left: 0%;
	right:0%;

	h2#stilesIcon:before, h2#deliverIcon:before, h2#listenIcon:before, h2#startedIcon:before {
		font-family: 'newbrandmedia'; display: block; font-size: 2em; padding: .25em;
	}

	h2#deliverIcon:before { content: $icon-gleam;}
	h2#listenIcon:before { content: $icon-ear;}
	h2#startedIcon:before { content: $icon-rocket;}

	p.lead {
		margin: 0 auto;
		padding: 0 2em;
	}

}

.carousel-caption p { // Reverse excerpt being hidden.
  display: block;
}



// Testimonials - make the image slider a text slider.

div#testies {

	a.left.carousel-control, a.right.carousel-control {
		filter: none;
		background: none;
		text-shadow: none;
		background-repeat: none;
		-webkit-appearance:none;
	}

	.carousel-caption {
		text-shadow: none;
		h2 {
			// color: red;
			display: none;
		}

		p.testimonial {
			text-shadow: none;
			color: $brand-secondary-darkest; // Set colour to suit background
			font-weight: 300;
				@include mq(ip) { font-size: .98em; line-height: 1.15em; }
				@include media-breakpoint-up (xs) { font-size: 1.1em; line-height: 1.2em; margin-bottom: .5em;}
				@include media-breakpoint-up (sm) { font-size: 1.14em; line-height: 1.5em;}
				@include media-breakpoint-up (md) { font-size: 1.3em; line-height: 1.4em;}
				@include media-breakpoint-up (lg) { font-size: 1.4em; line-height: 1.4em;}
				@include media-breakpoint-up (xl) { font-size: 1.6em; line-height: 1.4em;}
		}

		p.cite {
			text-shadow: none;
			font-weight: 500;
			color: $brand-secondary-darkest;// Set colour to suit background
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1em;
			@include mq(ip) { font-size: .8em;  }
			@include media-breakpoint-up (xs) { font-size: .8em; line-height: 1.4em}
			@include media-breakpoint-up (sm) { font-size: 1em;}

		}
	}
}

