// Justified Image Grid Plugin specific  

.jigRow {
	width: 100%;
	min-width: 320px;
}


// Add margin to JIG btn where JIG's in a row/flush
#jigBtnMargin>#jig1.justified-image-grid>div:last-of-type {	
	@include media-breakpoint-down (md) { margin: 15px;	}
}

.jig-loadMoreButton {
	@extend .btn-secondary;
	@extend .justify-content-center;
	box-shadow: none;
	text-align: center;
	border-radius: $default-border-radius;
	border: none !important;
	background: $brand-secondary;
	    @include media-breakpoint-down (md) { margin: 15px 41.5%;}
	    @include media-breakpoint-up   (lg) { margin: 15px 47.5%; max-width: 33%;}
}

.jig-loadMoreButton:hover {
	@extend .btn-secondary, :hover;
}

.btn-default:active:hover, .jig-loadMoreButton:active:hover, .btn-default:active, .jig-loadMoreButton:active {
	color: $white;
}

.jig-caption,
.jig-caption-wrapper {
}

.jig-caption {
	padding: 2rem !important;
	background-color: transparent !important; // rgba(0,0,0,0.3) !important;

	.jig-caption-title {		
		// font-size: 2rem !important; // Make room for arrow
	    @include media-breakpoint-up (xs) {font-size: 1.25rem !important;}
	    @include media-breakpoint-up (sm) {font-size: 2rem !important;}
	    @include media-breakpoint-up (md) {font-size: 2rem !important;}
	    @include media-breakpoint-up (lg) {font-size: 1.5rem !important;}
	    @include media-breakpoint-up (xl) {font-size: 2rem !important;}
	}
	.jig-caption-description {

	}
}

#property-jig {
	.jig-caption-title {
	//padding: 40% 0 0 !important;
	}
}

#empower-jig { // just for wrapped JIG titles w/arrow 
	width: 100%;
	.jig-caption-title {
		padding: 0 !important;
	}
	.jig-caption-description {
	}
}

