// Rich Reviews Plugin

.testimonial_group {
	margin: 2rem 0;
	.testimonial {
    	@include media-breakpoint-down (md) { padding: 0 !important;}
    	@include media-breakpoint-up (md) { padding: 0 1rem 0 0 !important;}
	}
	.rr_review_text {
		span.drop_cap { display: none; }
	}
	a.read_more {
		font-style: normal;
	}
}


.rr_review_form {
	padding: 2rem;
	.form_table {
		width: 100%;
		.rr_small_input {
			@extend .flat-input;
			height: $input-height;
		}
		input#submitReview {
			@extend .btn-secondary;
		}

		.rr_form_heading {
			@extend .col-md-1;
			text-align: left;
			width: 33%;
		}

		.rr_form_input {
			@extend .col-md-11;
		}

		textarea {
			min-height: 5rem; width: 100%;
	    	@include media-breakpoint-down (md) { width: 100% !important;}
		}
	}
}