// .xoo-wsc-icon-basket1:before {
// 	font-family: "progressive-icons";
// 	content: $icon-addBasket;
// }

// [class^="xoo-wsc-icon-"], [class*=" xoo-wsc-icon-"] {
// 	font-family: "progressive-icons" !important;
// }


.xoo-wsc-items-count {
	background-color: $brand-primary;
}