/*
Theme Name: wp-bootstrap
Theme URI: http://320press.com/wpbs
Description: A simple responsive theme based on the Bootstrap framework. Includes multiple page templates, two different sidebars and a theme options panel.
Version: 3.3.1
Author: Chris Barnes
Author URI: http://cbarn.es
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

// Posts
#main, #sidebar1 {
	margin-top: $navbar-height;
}
#sidebar1 {
	@extend .bsPad;
}

.page-header {
	border-bottom: 0;
}

#content {
	padding: 0em;
}

#main article {
	margin-bottom: 0px;
	padding: 0; // Remove white gap above footer
}

#main p.meta {
	font-style: normal;
	font-family: $headings-font-family;
	text-transform: uppercase; 
	letter-spacing: 1px;
}

#main article footer {
	display: none; // Remove white gap above footer
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
	content: "";
	display: table;
}


.archive #main .post h3 {

}

h3#comments {
	line-height: inherit;

}

h4.widgettitle {
	// @extend h2;
	// font-size: 260%;

}

#inner-footer>hr {
	display: none;
}

input#submit.submit {
	padding: $btn-padding
}



 