/** 
	
 */

.wmle_post_meta {
	display: none;
}


.wmle_post_title>a{
	font-family: $headings-font-family;
	@extend h3; // Uses H3 mq's
	font-weight: 300;
}


.wmle_loadmore .wmle_loadmore_btn {
	@extend .btn;
}

.wmle_post_excerpt a { // Target the Post Excerpt to avoid effecting the wmle_post_title (i.e. making it a button)
	@extend .btn;
}

// .wmle_container a:not( a.wmle_post_title){
// 	@extend .btn;
// 	color: inherit;
// }

//Shame!
.wmle_container .wmle_item {
	@include media-breakpoint-down (md) { padding: 16px !important;}
    @include media-breakpoint-up (xl) { padding: 32px !important;}

	.wmle_post_title {
		padding-top: 0 !important;
		border-top: 0 !important;
		//@extend h3;
	}

}

.wmle_container .wmle_item .wmle_post_title a {
	color: $brand-primary !important;
}


// .wmle_container .wmle_item .wmle_post_excerpt>p {
// 	 color: inherit;
// }







// .wmle_container .wmle_item .wpme_image {
// 	margin-bottom: 15px;
// 	background-color: $black;
// }

// .wmle_container a>img:hover {
// 	opacity: .4;
// 	background-color: $brand-primary;
// }


