
// Overiding the Noddy Editor
.vc_row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.vc_column_container>.vc_column-inner {
	padding-left: 0 !important;
	padding-right: 0 !important;
}