
<div class="row positive">
    <div id="carousel-col-3" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-md-4 active">
                    <div class="carousel-caption d-md-block">
                        <p class="text-left">Logo</p>
                    </div>
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no1.jpg" alt="No Money Down">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Attract A Huge Choice Of Investment Partners And Joint Venture Finance.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no2.jpg" alt="Deal Packaging">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Money Making Strategies Without Mortgages, Loans or Debt.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3.jpg" alt="Beginners Property Secrets">
                     <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">4 Days To Make You A Professional Property Investor.</p>
                    </div>
            </div>

            <div class="carousel-item col-md-4">
                    <div class="carousel-caption d-md-block">
                        <p class="text-left">Logo</p>
                    </div>
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no1.jpg" alt="No Money Down">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Attract A Huge Choice Of Investment Partners And Joint Venture Finance.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no2.jpg" alt="Deal Packaging">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Money Making Strategies Without Mortgages, Loans or Debt.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3.jpg" alt="Beginners Property Secrets">
                     <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">4 Days To Make You A Professional Property Investor.</p>
                    </div>
            </div>

            <div class="carousel-item col-md-4">
                    <div class="carousel-caption d-md-block">
                        <p class="text-left">Logo</p>
                    </div>
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no1.jpg" alt="No Money Down">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Attract A Huge Choice Of Investment Partners And Joint Venture Finance.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no2.jpg" alt="Deal Packaging">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">Money Making Strategies Without Mortgages, Loans or Debt.</p>
                    </div>
            </div>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3.jpg" alt="Beginners Property Secrets">
                     <div class="carousel-caption d-none d-md-block">
                        <p class="text-left">4 Days To Make You A Professional Property Investor.</p>
                    </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-col-3" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carousel-col-3" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
