<div id="slide-logo-section" class="d-flex justify-content-inbetween">
<li class="col-sm-4">
<div class="col-sm-6">
           <img name="UK" src="/wp-content/uploads/sites/11/2015/04/uk.png" width="150" height="90" alt=""><p></p>
<h3>UK</h3>
<p></p></div>
<div class="col-sm-6">
               <img name="Europe" src="/wp-content/uploads/sites/11/2015/04/europe.png" width="150" height="90" alt=""><p></p>
<h3>Europe</h3>
</div>
</li>
<li class="col-sm-4">
<div class="col-sm-6">
           <img name="UK" src="/wp-content/uploads/sites/11/2015/04/middle-east.png" width="150" height="90" alt=""><p></p>
<h3>Middle East</h3>
<p></p></div>
<div class="col-sm-6">
           <img name="Middle East" src="/wp-content/uploads/sites/11/2015/04/asia.png" width="150" height="90" alt=""><p></p>
<h3>Asia</h3>
<p></p></div>
</li>
<li class="col-sm-4">
<div class="col-sm-6">
           <img name="Russia" src="/wp-content/uploads/sites/11/2015/04/russia.png" width="150" height="90" alt=""><p></p>
<h3>Russia</h3>
<p></p></div>
<div class="col-sm-6">
           <img name="USA" src="/wp-content/uploads/sites/11/2015/04/usa.png" width="150" height="90" alt=""><p></p>
<h3>US</h3>
<p></p></div>
</li>
</div>