<div class="justPad d-flex justify-content-between">
	<div class="text-center aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300">
		<a href="/e-shop/">
			<i class="icon-cart-open i3x circle-bg" alt="Shop"><h6 class="icon-label">Shop</h6></i>
		</a>
	</div>
	<div class="text-center aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="600">
		<a href="/blog/">
			<i class="icon-news i3x circle-bg" alt="Blog" ><h6 class="icon-label">Blog</h6></i>
		</a>
	</div>
	<div class="text-center aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="900">
		<a href="/progressive-training-programmes/">
			<i class="icon-calendar i3x circle-bg" alt="Events"><h6 class="icon-label">Events</h6></i>
		</a>
	</div>
	<div class="text-center aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="1200">
		<a href="/podcast/">
			<i class="icon-mic i3x circle-bg" alt="Podcasts"><h6 class="icon-label">Podcasts</h6></i>
		</a>
	</div>
</div>

<section class="negative d-flex justify-content-center">
	<a href="#firstsection"><i class="icon-band-arrow i2x brand-primary" alt="Podcasts"></i></a>
</div>
</div>