	<div class="row">
	    <div class="col-6">
			<div class="img-clip-arrow-top tinted-image">
				
				<div class="bottom-align">
			    	<h3>In Three Years They Have Bought 25 Properties Worth £3.3 million.</h3>
			    	<a class="btn btn-primary">More</a>
				</div>
			</div>
	    </div>
	    <div class="col-6">
	    	<div class="img-clip-arrow-top tinted-image">
				<div class="bottom-align">
			    	<h3>Quit His Job Climbing Ladders To Invest In Property.</h3>
			    	<a class="btn btn-primary">More</a>
				</div>
	    	</div>
		</div>
	</div>