$icomoon-font-family: "progressive-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-left: "\e079";
$icon-chevron-right: "\e080";
$icon-shopping-cart: "\f07a";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-camera-retro: "\f083";
$icon-linkedin-square: "\f08c";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-pinterest: "\f0d2";
$icon-pinterest-square: "\f0d3";
$icon-google-plus-square: "\f0d4";
$icon-google-plus: "\f0d5";
$icon-envelope2: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-github-alt: "\f113";
$icon-html5: "\f13b";
$icon-css3: "\f13c";
$icon-youtube: "\f167";
$icon-skype: "\f17e";
$icon-git-square: "\f1d2";
$icon-diamond: "\f219";
$icon-chamfer-br: "\e90d";
$icon-progressive-arrow-down-flush-x3: "\e902";
$icon-progressive-arrow-right-flush-x3: "\e904";
$icon-progressive-arrow-left-flush: "\e907";
$icon-progressive-arrow-right-flush: "\e90a";
$icon-progressive-arrow-right: "\e90c";
$icon-progressive-arrow-down-top: "\e903";
$icon-progressive-arrow-up-bottom: "\e909";
$icon-progressive-arrow-down: "\e905";
$icon-close-x: "\e901";
$icon-back-to-top: "\e900";
$icon-rocket: "\e927";
$icon-ear: "\e90e";
$icon-ux-touch: "\e90b";
$icon-code: "\e908";
$icon-ux: "\e926";
$icon-sort: "\e639";
$icon-plus: "\e924";
$icon-minus: "\e925";
$icon-cal-days: "\e923";
$icon-addBasket: "\e910";
$icon-removeBasket: "\e911";
$icon-not-available-product: "\e912";
$icon-productDemandsNeeds: "\e90f";
$icon-cart-open: "\e930";
$icon-identity2: "\e931";
$icon-envelope: "\e906";
$icon-heart-monitor: "\e6d0";
$icon-handshake: "\e6d1";
$icon-sight: "\e6ca";
$icon-coffee: "\e6c8";
$icon-pill: "\e6c9";
$icon-downarrow: "\e6a8";
$icon-medal: "\e6a0";
$icon-safe: "\e698";
$icon-user-female: "\e694";
$icon-sound: "\e692";
$icon-globe: "\e691";
$icon-identity: "\e68f";
$icon-money: "\e68c";
$icon-cloud-download: "\e68b";
$icon-cloud-upload: "\e68a";
$icon-arrow-down-circle: "\e689";
$icon-carret-down: "\e688";
$icon-carret-left-circle: "\e687";
$icon-carret-left: "\e686";
$icon-arrow-right-circle: "\e685";
$icon-carret-right: "\e684";
$icon-uparrow: "\e683";
$icon-carret-top: "\e682";
$icon-close: "\e681";
$icon-x: "\e680";
$icon-airplay: "\e67f";
$icon-alarm-clock: "\e67e";
$icon-warning: "\e67b";
$icon-back: "\e67a";
$icon-basketball: "\e679";
$icon-battery: "\e678";
$icon-alarm: "\e677";
$icon-window: "\e672";
$icon-phone: "\e670";
$icon-uniE66F: "\e66f";
$icon-shopping-trolley: "\e66e";
$icon-comments: "\e66d";
$icon-tick-circle: "\e66c";
$icon-time: "\e66b";
$icon-cloud: "\e66a";
$icon-food: "\e669";
$icon-comment: "\e6aa";
$icon-compass: "\e667";
$icon-setting: "\e666";
$icon-2papers: "\e665";
$icon-creditcard: "\e664";
$icon-establishment: "\e662";
$icon-trophy: "\e661";
$icon-calendar: "\e660";
$icon-disk: "\e65f";
$icon-presentation: "\e65e";
$icon-slideshow: "\e65d";
$icon-downlaod: "\e65c";
$icon-inbox: "\e65b";
$icon-drop: "\e65a";
$icon-settings-sliders: "\e659";
$icon-larger: "\e658";
$icon-fullscreen: "\e657";
$icon-paper: "\e656";
$icon-funnel: "\e655";
$icon-flagline: "\e654";
$icon-folder: "\e668";
$icon-gift: "\e652";
$icon-glasses: "\e651";
$icon-gleam: "\e650";
$icon-global: "\e64f";
$icon-piechart: "\e64e";
$icon-linegraph: "\e64d";
$icon-graph: "\e64c";
$icon-barchart: "\e64b";
$icon-questionmark: "\e64a";
$icon-help: "\e649";
$icon-home: "\e648";
$icon-info: "\e647";
$icon-basket-empty: "\e646";
$icon-keypad: "\e645";
$icon-minus-circle: "\e644";
$icon-lighbulb: "\e643";
$icon-heart: "\e642";
$icon-links: "\e641";
$icon-torch: "\e653";
$icon-padlock-closed: "\e63f";
$icon-view: "\e640";
$icon-infinity: "\e63d";
$icon-location-pin: "\e638";
$icon-map-folded: "\e637";
$icon-navbar: "\e636";
$icon-mic: "\e635";
$icon-screen: "\e634";
$icon-cresent-moon: "\e633";
$icon-more-options: "\e632";
$icon-mouse: "\e631";
$icon-news: "\e62e";
$icon-fast-foward: "\e62d";
$icon-notes: "\e62c";
$icon-book: "\e62b";
$icon-paper-aeroplane: "\e629";
$icon-mobile: "\e627";
$icon-copy: "\e626";
$icon-aeroplane: "\e625";
$icon-play: "\e624";
$icon-plus-sign: "\e623";
$icon-briefcase: "\e63e";
$icon-star: "\e6b7";
$icon-mortarboard: "\e6b9";
$icon-timer: "\e6bd";
$icon-tools: "\e6be";
$icon-uniE6BF: "\e6c0";
$icon-camera: "\e6c4";
$icon-factory: "\e61d";
$icon-sort2: "\e603";
$icon-pdf: "\e6d4";
$icon-pdf-page-icon: "\e604";
$icon-pdf-file-icon: "\e605";
$icon-padlock: "\e606";
$icon-cross: "\e612";
$icon-doc-time: "\e613";
$icon-settings: "\e614";
$icon-trash: "\e615";
$icon-thumbsup: "\e616";
$icon-tick-cirle: "\e618";
$icon-plus-circle: "\e617";
$icon-clock: "\e619";
$icon-tick: "\e61a";
$icon-umbrella: "\e61b";
$icon-speedometer: "\e61c";
$icon-magnify: "\e6d2";
$icon-years: "\e913";
$icon-noun_749812_cc: "\e914";
$icon-cctv: "\e915";
$icon-cctv-tilt: "\e916";
$icon-electro-measurement: "\e917";

