
// Elementor Page Builder Plugin specific sass 

a.elementor-button {
    @extend .btn-primary;
    border-radius: $default-border-radius;
}

// Heavy handed overide 
.elementor-size-sm, .elementor-size-md, .elementor-size-lg, .elementor-size-xl {
	border-radius: $default-border-radius !important;

}

// Heavy handed overide to align with Boostrap padding
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
	padding: 0 15px !important;
}

// Kill massive 128px margin under section titles
.elementor-135 .elementor-element.elementor-element-637c548 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}


.elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}


// Override elementor-image-carousel-caption
.elementor-10 .elementor-element.elementor-element-49f98ce .elementor-image-carousel-caption {
	width: 50% !important;
	margin:	1rem auto !important;
	text-align: left !important;
}

// Turn 
.elementor-10 .elementor-element.elementor-element-49f98ce .elementor-image-carousel-caption p:last-child {
	text-decoration: underline;
}

// .elementor-divider-separator {
// 	@extend hr;
// 	border-top: 2px solid $brand-secondary;
// 	border-top-width: 2px;
// 	&:after {
// 		margin-top:0.9rem;
// 		color: $brand-secondary;
// 	}

// }