// gravity-forms-bootstrap plugin pumps in some default styles.

/* ------------------------------------
Gravity Forms Bootstrap
Help from https://gist.githubusercontent.com/DevinWalker/7110951/raw/8f6863c52df3cc0d627bb1e18e9cb832b5ecf395/gravity-forms_bootstrap
---------------------------------------*/


//  Display gform li's inline for custom columns 
li.gfield {
	text-align: left;
	display: inline-block;
	&:after {
		clear: both;
	}
}
// Custom columns
.form-col-md-12 {
	@extend .col-md-12;
}

.form-col-md-6 {
	@extend .col-md-6;
}

.form-col-md-4 {
	@extend .col-md-4;
}
// .gfield_label, .ginput_complex > span > label {
// 	font-size: $default-paragraph-size;
// }

// .form-col-6 {
// 	width: calc(50% - 16px);
// 	display: inline-block;
// 	&:first-child {
// 		margin-right: 1rem;
// 	}
// }

.gform_footer {
	@extend .col-12;
}

// Date Picker

.ui-datepicker  {
	border: 1px solid $gray-lighter;
	padding: 1rem;
	min-width: 300px;
	background-color: $background-color;
	table.ui-datepicker-calendar {
		@extend .table-responsive;		
		margin-top: 1rem; 
		display: table;
	}
}

.ui-icon {
	display: inline-block;
 }

 a.ui-datepicker-next:before,  a.ui-datepicker-prev:before {
 	font-family: 'progressive-icons';
 	display: inline-block;
 	padding: .5rem;
 	color: $brand-primary;
 }

 a.ui-datepicker-next:before {
 	@extend .icon-chevron-right;
 		float: right;
 }

 a.ui-datepicker-prev:before {
 	@extend .icon-chevron-left;
 }

select.ui-datepicker-month, select.ui-datepicker-year {
	@extend .flat-select;
	width: 40%;
	padding: .5rem;
	border-color: $gray-light;
	&:nth-child(2n) {
		float: right;
		margin-left: 1rem;
	}
}

// END picker

.gform_wrapper .button,
.gform_button [type="submit"]{
	@extend .btn-primary;
}
.gform_button:hover { background-color: darken($brand-primary, 10%); color: $white;  border-color: transparent; }
.gform_button:focus { background-color: $background-color; color: $brand-secondary; }

.ginput_container input, .ginput_container textarea, .ginput_container textarea .large, .ginput_container select{ 	
	@extend .flat-input;
	width: 100% !important;
}

.ginput_container textarea {
	height: auto;
}

.ginput_container select {
	@extend .flat-select;
	color: $foreground-color;
	border:	solid rgba(0,0,0, .2) 1px;

}

// Focus Styles
.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
	box-shadow: inset 0 2px 0px rgba(203, 59, 199, 0.075); //, 0 0 8px rgba(255, 59, 199, 0.6); // removed for material style inputs 
	border: 2px solid $brand-primary;
	 box-sizing: border-box; // Make border inside to avoid jumping
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.gform_wrapper, #gform_wrapper {
	width: 100% !important;
}

// Make all inputs 100% not gform default 97%
input:not([type="submit"]):not([type="checkbox"]) { width: 100% !important;}

input[type="file"], input[type="file"]#input_1_3 { 
	padding: 7px 12px;
	background-color: $background-color !important;
	border: 3px dotted $gray-lighter;
	outline: none;
}


// .custom-file-input {
//    color: transparent;
// }
// .custom-file-input::-webkit-file-upload-button {
//   visibility: hidden;
// }
// .custom-file-input::before {
//   content: 'Select some files';
//   color: black;
//   display: inline-block;
//   background: red;// -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
//   border: 1px solid #999;
//   border-radius: 3px;
//   padding: 5px 8px;
//   outline: none;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   cursor: pointer;
//   text-shadow: 1px 1px #fff;
//   font-weight: 700;
//   font-size: 10pt;
// }
// .custom-file-input:hover::before {
//   border-color: black;
// }
// .custom-file-input:active {
//   outline: 0;
// }
// .custom-file-input:active::before {
//   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
// }









// Footer Newsletter form 
.contact-footer {
	ul.gform_fields { margin-bottom: 0;} 
	.gform_wrapper label.gfield_label + div.ginput_container {

	}
	li.gfield {
		margin-bottom: 0;
	}
	// li>label.gfield_label {
	// 	display: none;
	// }
	.gfield_description .validation_message {
		background-color: $bg-danger !important;
		padding: .5rem;
	}
	.validation_error {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}


}


// Newsletter sign up form

input[type="checkbox"] { height: 32px !important; width: auto !important; display: inline-block; margin: 0 .5rem .2rem 0 !important; padding: 0; float: left;}

.contact-footer {
	.gform_body {
		@extend .row;
		a { border-bottom: 1px dotted; }
	}
	li { margin: 0;}
	.ginput_container_checkbox {
		margin-top: .5rem;
	}
	input#choice_4_4_1 { margin-bottom: 2px; }
	.gform_wrapper .gform_footer { padding: 0; margin: 0;}
}

li#field_8_5>label, // Hide the * eating up space
li#field_4_4>label,
li#field_1_12>label,
li#field_1_7>label,
li#field_1_7>label,
li#field_2_10>label,
li#field_5_9>label,
li#field_2_4>label{ // PG site gdpr
	display: none;
}

.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
	padding: 1rem !important;
}

// Form validation 
.gform_wrapper div.validation_error {
	@extend .alert;
	@extend .alert-danger;
	color: $danger;
	margin: 1rem;
	border: $alert-border-width solid transparent;
}

div.gfield_description.validation_message {
	background-color: #f1dbda;
	color:  $danger;
	font-size: 14px;
	padding: .5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

#gform_confirmation_message_5 {
	@extend .col;
}


