
form.infusion-form:not(#wpadminbar) {
	background-color: $background-color;
	color: $foreground-color;

	input[type="text"] {
		@extend .flat-input;
		margin-bottom: 1rem;
	}
	button[type="submit"] {
		@extend .btn-primary;
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	div.infusion-field:last-child {
		margin-top: 2rem;
	}

	.gdpr {
	    overflow-y: scroll;
	    margin: 0;
	    padding: 1rem;
	    border: 1px solid $gray-lighter;
 	    margin: 0 0 1rem 0;
	    //min-width: 608px;

	}
	.badge {
		padding: 0.5em .8em;
		background-color: $brand-secondary;
	}

	span.number {
		font-size: 1.5rem;
		padding: 1em;
		height: 64px;
	    width: 64px;
	    border-radius: 100%;
	    background-color: $brand-primary;
	    color: $background-color;
	} 
}



// /**
//  * Circle Styles
//  */

// .circle {
//   position: relative;
//   display: block;
//   margin: 2em 0;
//   background-color: transparent;
//   color: #222;
//   text-align: center;
// }

// .circle:after {
//   display: block;
//   padding-bottom: 100%;
//   width: 100%;
//   height: 0;
//   border-radius: 50%;
//   background-color: $brand-primary;
//   content: "";
// }

// .circle__inner {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .circle__wrapper {
//   display: table;
//   width: 100%;
//   height: 100%;
// }

// .circle__content {
//   display: table-cell;
//   padding: 1em;
//   vertical-align: middle;
// }


// .circle__content {
//   	@media mq {
//     	font-size: 2em;
//   	}
// }

// @media (min-width: 768px) {
//   .circle__content {
//     font-size: 4em;
//   }
// }