/*!
 * jQuery Conveyor Ticker (jConveyorTicker)
 * Description: jQuery plugin to create simple horizontal conveyor belt animated tickers.
 *
 * Copyright (c) 2017 Luis Luz - UXD Lda
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Project home:
 *   https://github.com/lluz/jquery-conveyor-ticker
 *
 * Version:  1.0.1
 *
 */
.jctkr-wrapper,
.jctkr-wrapper *{
  box-sizing: border-box;
  background-color: transparent;

}

.jctkr-wrapper{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 35px;
  vertical-align: top;
  overflow: hidden;
    &:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down-top;
    position: absolute;
    font-size: 2rem;
    top: -10px;
    left: 6%;
    color: $brand-primary;
  }
}
.jctkr-wrapper ul{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;

// JP Mods
  li {
    padding: .5rem;
    &:before {
      content: '\2022'; //add bullet
      padding-right: .5rem; 
      color: $brand-primary;
    }
    a {
      color: $brand-primary;
    }
  }

}


.jctkr-wrapper.jctkr-initialized ul{
  opacity: 1;
}
.jctkr-wrapper ul li{
  display: inline-block;
  font-family: $font-family-primary;
  font-size: 1rem;
}
.jctkr-label{
  display: inline-block;
}