
// Woocommerce Specific Mods

#woocommerce-wrapper {

	.col-md.content-area {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}


.woocommerce-form-coupon-toggle {
	// @extend .container;
	// margin-left-: -1rem;
	// margin-right-: -1rem; 
}

.woocommerce .woocommerce-breadcrumb {
	// padding: 1rem 1rem 0 1rem;
	display: none;

}


.woocommerce_before_main_content {
	display: block;
	width: 100%;
}

.woocommerce-notices-wrapper {
	// @extend .container;
	// margin-left: -1rem;
	// margin-right: -1rem; 
}

.woocommerce-result-count {
	@extend .col-6;
	padding: 2rem 0;
}

.woocommerce .woocommerce-ordering {
	display: inline-block;
	float: right;
	margin: 1rem 0;
}

.products {
	// @extend .col-12;
}
.btn,
.add_to_cart_button,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button,
.woocommerce input.button, .woocommerce button.button.alt {
	@extend .btn-primary;
}

.woocommerce button.button.alt { // Proceeed to PayPal btn

}

.woocommerce a.added_to_cart {
	margin-top: 1rem;
	@extend .btn-secondary;
	padding-right: 1rem;
	&:after {
		position: absolute;
		font-family: 'progressive-icons';
		content: $icon-productDemandsNeeds;
		// margin: 1.5rem 0 .75rem 1rem;
		font-size: 1.5rem;
		top: 0px;

	}
}

select, select.orderby.custom-select {
	@extend .flat-select;
	background-color: $woo-input-bg;
}

.woocommerce ul.products li.product .price {
	color: $brand-secondary;
}

h2.woocommerce-loop-product__title {
	@extend h3;

}

// h3#ship-to-different-address>label>span {
// 	@extend h5;
// }

.input-text .qty .text {

}

.woocommerce-input-wrapper {
	width: 100%;
}

input[type="number"] {
	height: 2.333333rem;
}


select.orderby.custom-select {
	width: 100% !important;
}


.woocommerce-billing-fields__field-wrapper {
	input, input#billing_state, input.input-text {
		@extend .flat-input; // billing_state
	}
	.woocommerce-input-wrapper {
		height: $input-height;
	}


	.select2-container--default .select2-selection--single {
	 	border: 0;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: $input-height;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		@extend .flat-select;
		height: $input-height;
		background-color: rgba(0,0,0, 0.07);
		margin-bottom: 2rem;
		padding-top: .5rem;
	}
	.select2-selection__arrow {
		display: none;
	}
}

.select2-dropdown {
	background-color: $background-color;
	border: 0;
	margin-top: 1.5rem;
	@include box-shadow( 0, 0, 32px, rgba(0, 0, 0, .15));

	li {
		padding-left: 1rem;
		&:hover { background-color: $brand-primary; }
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
		background-color: $brand-primary; 
	}
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 50%;
}

.woocommerce form .form-row textarea {
	min-height: 16em;
}

.woocommerce span.onsale {
	background-color: $brand-primary;
	padding: 0;
}

.woocommerce-checkout-review-order {
	width: 100%;
}

.woocommerce table.shop_table {
	background-color: $background-color;
}

.woocommerce-checkout #payment {

}

h3.order_review_heading {
	margin-bottom: 2rem;
}
.add_to_cart_button.product_type_simple.single_add_to_cart_button.btn.btn-lg.btn-outline-primary.btn-block.ajax_add_to_cart.added {
	background-color: lighten($brand-secondary, 60%); 
	border: lighten($brand-secondary, 60%);
	color: $brand-secondary;
	&:after {
		font-family: 'progressive-icons';
		content: $icon-tick-circle;
		padding-left: .75rem;
		padding-right: 1rem;
	}
}

// Tabs 

.wc-tab>h2:first-child {
	//@extend h3;
	display: none; // Hide the uneccessary 'Description' title.
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: $default-border-radius;
	&:after, &:before {
		border-radius: $default-border-radius;
	}
}

// restore some padding after hidden breadcrumbs
//#any-other-site{
 #woocommerce-wrapper:not(#progressive-property-site) {
	padding-top: 1rem;
	//margin-top: 3rem;
	}
//}
// Make 3 columns transform to 100% on mobile 
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
	    @include media-breakpoint-down (sm) {
	    	width: 100%;
	    	padding-left: 1rem;
	    	padding-right: 1rem;
	    }
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	margin: 0 4px 8px 0;
}

.product {
	@include media-breakpoint-down (sm) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}


