/** 
	
 */

.wmle_post_meta {
	display: none;
}


.wmle_post_title>a{
	font-family: $headings-font-family;
	@extend h3; // Uses H3 mq's
	font-weight: 300;
}


.wmle_loadmore .wmle_loadmore_btn {
	@extend .btn;
	@extend .btn-secondary;
	border: 0 !important;
	color: $background-color !important;
}

.wmle_post_excerpt a { // Target the Post Excerpt to avoid effecting the wmle_post_title (i.e. making it a button)
	@extend .btn;
}

// 
.wmle_container .wmle_item {

	background-color: $background-color;
	box-shadow: 0px 0px 12px 6px rgba(149, 149, 149, 0.12) !important;
	border: 0 !important;
	margin: $spacer !important;
	padding: 0 !important;

	.wmle_post_title, .wmle_post_excerpt {
		//padding-top: 0 !important;
		border-top: 0 !important;
		@include media-breakpoint-down (md) { padding: 16px !important;}
    	@include media-breakpoint-up (lg) { padding: 32px !important;}
	}
}

.wmle_container .wmle_item .wmle_post_excerpt {
	font-size: 1rem !important;
}

.wmle_container .wmle_item .wmle_post_title a {
	color: $brand-primary !important;
}

#disable-click {
	.wmle_container .wmle_item {
		pointer-events: none;
	}
}