
// WP Template Mods

// header.page-header {
// 	margin-top: 2em;
// }

.entry-content {
	// margin-top: 1em; 
}

.wrapper {
	padding: 0;
}

#wrapper-footer-full {
	//padding-top:10vh;
	// margin-left: -15px; // Would rather remove the c/o/n/t/a/i/n/e/r col-md now?
	// margin-right: -15px;
}

#wrapper-footer-full>.container {
	width: 100% !important;
}

// #content {
// 	padding-bottom: 5em; // pad content from footer on posts
// }