<p><img class="size-full wp-image-144 alignleft" src="/wp-content/uploads/sites/2/2016/12/1-rob-mark-cars.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/1-rob-mark-cars.jpg 167w, /wp-content/uploads/sites/2/2016/12/1-rob-mark-cars-150x150.jpg 150w" alt="1-rob-mark-cars" width="167" height="166" /></p>
<p class="lead">Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.</p>
<p>A personal community for any property investor, real estate entrepreneur or individual wanting make more money, invest or create a better life for freedom, choice and profit. We hope this is you. Progressive was built by property multi-millionaire Co-Founders Rob Moore &amp; Mark Homer after they achieved freedom…  <a class="btn-secondary btn btn-sm" href="/about-progressive-property/">Read More</a></p>
<div id="text-5-0-0-2" class="module module-text text-5-0-0-2 ">
<h3> </h3>
<hr />
<h3>Progressive Property Visions &amp; Values</h3>
<p><img class="alignnone size-full wp-image-145 alignleft" src="/wp-content/uploads/sites/2/2016/12/3-super-conference.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/3-super-conference.jpg 167w, /wp-content/uploads/sites/2/2016/12/3-super-conference-150x150.jpg 150w" alt="3-super-conference" width="167" height="166" /></p>
<p style="color: #272c68; text-align: left;"><strong>Progressive, Innovative, Personal &amp; Prepared. </strong>If you want dull and boring presentations, grey corporate suits and plain-Vanilla-generic information, Progressive is not for you. If you want an innovative, Progressive community to help you evolve quickly and take fast mover, early advantage of the fast changing, contrarian opportunity now, Progressive could be your partner of choice.</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/vision-and-values/">Read More</a></p>
</div>
<div id="text-5-0-0-3" class="module module-text text-5-0-0-3 ">
<h3> </h3>
<h3> </h3>
<h3>Meet The Progressive Team</h3>
<p><img class="alignnone size-full wp-image-146 alignleft" src="/wp-content/uploads/sites/2/2016/12/4-meet-the-team.png" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/4-meet-the-team.png 167w, /wp-content/uploads/sites/2/2016/12/4-meet-the-team-150x150.png 150w" alt="4-meet-the-team" width="167" height="167" /></p>
<p style="color: #272c68; text-align: left;"><strong>The Progressive team are here to help you. </strong>We’re proud of our great people and culture, and the 35 or so of us believe in being a loyal team, resourcefulness, professionalism, continual development, ambition, results focus and passion.<a class="btn-secondary btn btn-sm" href="/meet-team/">Meet The Team</a></p>
</div>
<div id="text-5-0-0-4" class="module module-text text-5-0-0-4 ">
<h3> </h3>
<h3> </h3>
<h3> </h3>
<h3>The Co-Founders of Progressive Property</h3>
<p><img class="size-full wp-image-209 alignleft" src="/wp-content/uploads/sites/2/2016/12/property-investors.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/property-investors.jpg 167w, /wp-content/uploads/sites/2/2016/12/property-investors-150x150.jpg 150w" alt="" width="167" height="166" />Progressive was built by property multi-millionaire Co-Founders Rob Moore &amp; Mark Homer after they achieved financial independence through property in their 20’s. Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice &amp; profit [at first].<a class="btn-secondary btn btn-sm" href="/the-progressive-co-founders/">Read More</a></p>
</div>
<div id="text-5-0-0-5" class="module module-text text-5-0-0-5 ">
<h3> </h3>
<h3> </h3>
<h3> </h3>
<h3>Progressive Property Trainers</h3>
<p><img class="alignleft wp-image-20142 size-thumbnail" src="/wp-content/uploads/sites/2/2017/02/trainers-dayout-150x150.png" sizes="(max-width: 150px) 100vw, 150px" srcset="/wp-content/uploads/sites/2/2017/02/trainers-dayout-150x150.png 150w, /wp-content/uploads/sites/2/2017/02/trainers-dayout-300x300.png 300w, /wp-content/uploads/sites/2/2017/02/trainers-dayout-768x768.png 768w, /wp-content/uploads/sites/2/2017/02/trainers-dayout-180x180.png 180w, /wp-content/uploads/sites/2/2017/02/trainers-dayout-600x600.png 600w, /wp-content/uploads/sites/2/2017/02/trainers-dayout.png 960w" width="150" height="150" />Progressive works with some of the UK’s foremost Property experts.</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/progressive-property-trainers/">Read More</a></p>
</div>
<div id="text-5-0-0-6" class="module module-text text-5-0-0-6 ">
<h3> </h3>
<h3> </h3>
<h3>Why Progressive?</h3>
<p><img class="size-full wp-image-212 alignleft" src="/wp-content/uploads/sites/2/2016/12/why-progressive-property.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/why-progressive-property.jpg 167w, /wp-content/uploads/sites/2/2016/12/why-progressive-property-150x150.jpg 150w" alt="" width="167" height="166" />Where else can you go to a bank, get a loan for most of the value of a property, go to a JV partner for the deposit and refurb, go to a tenant to pay your mortgage and JV partner costs, and generate passive cashflow with other people paying all your ‘debt?’ <a class="btn-secondary btn btn-sm" href="/why-progressive/">Read More</a></p>
</div>
<div id="text-5-0-0-7" class="module module-text text-5-0-0-7 ">
<h3> </h3>
<h3> </h3>
<h3> </h3>
<h3>We Support</h3>
<p><img class="size-full wp-image-213 alignleft" src="/wp-content/uploads/sites/2/2016/12/we-support.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/we-support.jpg 167w, /wp-content/uploads/sites/2/2016/12/we-support-150x150.jpg 150w" alt="" width="167" height="166" /><strong>The very Best thing about property investing is what you get to give.</strong> Our goal is to reach this milestone by 2016, and with the Progressive Community, we have every chance.</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/we-support/">Read More</a></p>
</div>
<div id="text-5-0-0-8" class="module module-text text-5-0-0-8 ">
<h3> </h3>
<h3> </h3>
<h3>Services</h3>
<p><img class="size-full wp-image-214 alignleft" src="/wp-content/uploads/sites/2/2016/12/services.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/services.jpg 167w, /wp-content/uploads/sites/2/2016/12/services-150x150.jpg 150w" alt="" width="167" height="166" />Progressive isn’t just an education portal, or property training company, or an investing community. Progressive promotes multiple streams of property income.</p>
<p>There are many related business models to property that are complimentary and relatively simple to add, one once you become a professional investor.</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/services/">Read More</a></p>
</div>
<div id="text-5-0-0-9" class="module module-text text-5-0-0-9 ">
<h3> </h3>
<h3>Careers</h3>
<p><img class="size-full wp-image-217 alignleft" src="/wp-content/uploads/sites/2/2016/12/work-for-progressive.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/work-for-progressive.jpg 167w, /wp-content/uploads/sites/2/2016/12/work-for-progressive-150x150.jpg 150w" alt="" width="167" height="166" />Progressive is Progressive, Innovative, Personal &amp; Prepared – A unique, rebellious, disruptive and non-uniform property education company like no other. Ever. And a career (for you) like no other. Join us at Progressive; a movement and revolution. Leading and training other (many, most, all) to break the shackles of boredom, frustration and just-above-poverty…</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/jv-with-pp/progressive-careers/">Read More</a></p>
</div>
<div id="text-5-0-0-10" class="module module-text text-5-0-0-10 ">
<h3> </h3>
<h3>PR and Media</h3>
<p><img class="size-full wp-image-219 alignleft" src="/wp-content/uploads/sites/2/2016/12/pr-media.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/pr-media.jpg 167w, /wp-content/uploads/sites/2/2016/12/pr-media-150x150.jpg 150w" alt="" width="167" height="166" />The property world is talking about Progressive Property. Find snippets of press cuttings and how to contact Rob and Mark to talk at your property event.</p>
<p style="color: #272c68; text-align: left;"><a class="btn-secondary btn btn-sm" href="/press/">Read More</a></p>
</div>
<div class="col3-1 last tb-column tb_5_column module_column_1 module_column_5-0-1 module_column">
<div class="tb-column-inner">
<div id="layout-part-5-0-1-1" class="module module-layout-part layout-part-5-0-1-1 "> </div>
<div id="divider-5-0-1-2" class="module module-divider divider-5-0-1-2 solid divider-fullwidth " style="border-width: 0px; border-color: rgba(255,255,0, 1);"> </div>
<div id="image-5-0-1-3" class="module module-image image-5-0-1-3 image-center ">
<h3> </h3>
<h3>2018 Property Strategies</h3>
<div class="image-wrap"><a href="/e-shop/"><br /><img class=" wp-image-495" src="/wp-content/uploads/sites/2/2016/12/btlb.png" sizes="(max-width: 600px) 100vw, 600px" srcset="/wp-content/uploads/sites/2/2016/12/btlb.png 600w, /wp-content/uploads/sites/2/2016/12/btlb-150x150.png 150w, /wp-content/uploads/sites/2/2016/12/btlb-300x300.png 300w" alt="About Us" /> </a></div>
<p><!-- /image-wrap --></p>
</div>
<p><!-- /module image --></p>
<div id="divider-5-0-1-4" class="module module-divider divider-5-0-1-4 solid divider-fullwidth " style="border-width: 0px; border-color: rgba(255,255,0, 1);"> </div>
<p><!-- module slider image --></p>
<div id="slider-5-0-1-5" class="module module-slider slider-5-0-1-5 themify_builder_slider_wrap clearfix slider-default " style="visibility: visible; height: auto;">
<h3>Progressive People</h3>
<div class="carousel-wrap" style="position: relative;">
<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: auto; width: 321px; height: 516px; margin: 0px; overflow: hidden;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/34-simon-grace.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/32-sally-lawson.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/33-iain-wallis.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/31-neil-asher.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/30-deena-honey.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;"> </li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/26-dan-bradbury.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/27-gill-alton.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/25-neville-wright.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/23-tasha-karen.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/22-james-caan.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/21-francis-dolley.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/20-bob-geldof.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/19-rick-walton.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/18-karen-brady.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/17-simon-zutshi.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/14-lordsugar.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/16-frank-bruno.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/15-andreas-papadopolis.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/13-progressive-people.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="list-style-type: none;">
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/36-saj-hussein.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</li>
</ul>
<p> </p>
<ul class="themify_builder_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 14445px; height: 516px; z-index: auto;" data-id="slider-5-0-1-5" data-visible="1" data-scroll="1" data-auto-scroll="10" data-speed="1" data-wrap="yes" data-arrow="no" data-pagination="no" data-effect="scroll" data-height="variable" data-pause-on-hover="resume">
<li style="width: 321px;">
<div class="slide-image"><img src="/wp-content/uploads/sites/2/2016/11/35-tracey-woods.png" alt="About Us" /></div>
<p><!-- /slide-image --></p>
</li>
</ul>
</div>
</div>
<p><!-- /themify_builder_slider --></p>
</div>
<p><!-- /module slider image --></p>
<div id="image-5-0-1-6" class="module module-image image-5-0-1-6 image-center ">
<h3>Progressive Love</h3>
<div class="image-wrap"><a href="/progressive-love/"><br /><img src="/wp-content/uploads/sites/2/2016/12/37-progressive-love.jpg" alt="About Us" /> </a></div>
<p><!-- /image-wrap --></p>
</div>
</div>
</div>