
<div class="container">
	<p class="lead">Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.</p>
	<p>A personal community for any property investor, real estate entrepreneur or individual wanting make more money, invest or create a better life for freedom, choice and profit. We hope this is you. Progressive was built by property multi-millionaire Co-Founders Rob Moore &amp; Mark Homer after they achieved freedom…</p>

	[justified_image_grid thumbs_spacing=16 row_height=360 title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=no load_more=click initially_load=9 recent_posts=yes recents_description=auto_manual_excerpt recents_post_type=page post_ids=169,165,167,183,171,177,175,173,185]
</div>