<div class="row">
	<div class="container">
		<h1>Progressive Property Blog</h1>
	</div>
</div>

<!-- <div class="row row align-items-center no-gutters"> -->
	<a class="img-background" href="/property-management/">
		<div id="blog-cat-property-managment" class="blog-cat-img col-6 d-flex align-items-center">
			<div class="img-content">
				<h3>Property Managment</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
	</a>

	<a class="img-background" href="/property-market-news/">
		<div id="blog-cat-uk-property-market-news" class="blog-cat-img col-6 d-flex align-items-center">
			<div class="grid-content align-middle">
				<h3>Property Market News</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
	</a>
	
	<a class="img-background" href="/investing-in-property/">
		<div id="blog-cat-investing-in-property" class="blog-cat-img col-6 d-flex align-items-center">
			<div class="grid-content align-middle">
				<h3>Investing in Property</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
		</a>
	<a class="img-background" href="/commercial-property/">	
		<div id="blog-cat-commercial-property" class="blog-cat-img col-6 d-flex align-items-center">
			<div class="grid-content align-middle">
				<h3>Commercial Property</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
	</a>

	<a class="img-background" href="/property-investing-tips/">		
		<div id="blog-cat-property-investing-tips" class="blog-cat-img col-6 d-flex align-items-center">
		 	<div class="img-content grid-content align-middle">
				<h3>Property Investing Tips</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
	</a>
	<a class="img-background" href="/buy-to-let-properties/">		
		<div id="blog-cat-buy-to-let" class="blog-cat-img col-6 d-flex align-items-center">
			<div class="grid-content align-middle">
				<h3>Buy to Let</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
				<button type="button" class="btn btn-light">Secondary</button>
			</div>
		</div>
	</a>



