
    <div class="container pt-4">
        <h2 class="brand-primary-colour">Gain long term financial security from property</h2>
        <p class="lead">This intensive, fun and rewarding three day course has immeasurably helped tens of thousands of investors take steps towards financial freedom.</p>
        <hr style="margin-bottom: 2rem;">
    </div>

<div class="positive-bg-row">
        <!-- header and two columns text/two columns images -->
        <div class="container">
            <h2 class="brand-secondary-colour">Start your property empire</h2>
                <p class="lead brand-primary-colour">The UK’s brightest property investment experts will offer you in-depth, practical knowledge of buy-to-let properties, property trading, raising finance and how to build a mighty portfolio from the ground up.</p>
            <div class="row">
                <div class="col-md-6">
                    <p>You’ll network with entrepreneurs who share your dreams of owning more property, and discover all you need to know to gain financial security from investing in property – not to mention spectacular levels of wealth.</p>
                </div>
                <div class="col-md-6">
                    <p>The Multiple Streams of Property Income event is for anyone seeking a path into property ownership – regardless of whether you are simply trying to pull together a deposit to buy your next home, or you are a full-time property investor hungry
                        to source the below market-value property deals that will propel your income to the highest levels.</p>
                </div>
                <div class="w-100">&nbsp;</div>
                <div class="col-md-6"><img class="alignnone wp-image-23675 img-fluid" src="/wp-content/uploads/sites/2/2019/01/property-event-msopi.png" alt="property-event-msopi"></div>
                <div class="col-md-6"><img class="alignnone wp-image-23676 img-fluid" src="http://property-beprogressive-com.progressive.test/wp-content/uploads/sites/2/2019/01/msopi-event-uk.png" alt="msopi-event-uk"></div>
            </div>
        </div>
</div>
<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Get your Free Report</h3>
                <p class="lead">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>
            </div>
            <div class="col-md-4">
                <img class="alignnone wp-image-23690 img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/buy-to-let-property-report.png" alt="buy-to-let-property-report">
            </div>
        </div>
    </div>
</div>
<div class="alert alert-primary brand-primary-bg alert-dismissible fade show" role="alert">
    <div class="container">
        <p class="col lead">Live Update: Paul from London just bought two tickets!</p>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><br><span aria-hidden="true">×</span><br></button>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-9">
                <h2 class="brand-primary-colour">Interested in attending the next Multiple Streams of Property Income live event?</h2>
                <h3 class="lead">When You join us You will discover:</h3>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>How to make more money from ONE simple property deal than you make in 6 months of paid work.</li>
                    <li>A simple strategy to lock in a quick £900/month income (&amp; how to repeat it again and again...)</li>
                    <li>How to make an immediate £3,000.00 without buying a single property.</li>
                    <li>Proven formulas to invest in property without a deposit or a mortgage for instant ongoing monthly cashflow.</li>
                    <li>How to get the hottest property deals (these deals NEVER appear in Estate Agent’s windows).</li>
                    <li>How to give up your job within 30-90 days and live off your property income WITHOUT the need for a large cash pot, mortgage or loans.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Why and how property can make you wealthy, regardless of experience or cash to start, &amp; how to find properties at silly low prices (WAY below market price) without paying a single penny.</li>
                    <li>How to make £500,000 from ONE property deal – thanks to a little known recent government policy change.</li>
                    <li>How to get UNLIMITED finance to build your portfolio (hint: you can do this WITHOUT using either a mortgage company OR a bank!)</li>
                    <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
                    <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
                </ul>
            </div>
        </div>
    </div>
 </div>   
    <div class="row brand-secondary-bg-row">
        <div class="container">
            <h2>Spaces are limited, Don't Miss Out</h2>
            <div class="row">
                <div class="col">
                    <p>Number of people&lt; MSOPI has helped:</p>
                    <h4><img class="alignnone size-thumbnail wp-image-23761" role="img" src="http://property-beprogressive-com.progressive.test/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="60" height="60">100,000</h4>
                </div>
                <div class="col">
                    <p>Amount raised (on average)by delegates of this course</p>
                    <h4><img class="alignnone size-thumbnail wp-image-23761" role="img" src="http://property-beprogressive-com.progressive.test/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="60" height="60">£16,000*</h4>
                </div>
                <div class="col">
                    <p>Spaces left on this course</p>
                    <h4><img class="alignnone size-thumbnail wp-image-23762" role="img" src="http://property-beprogressive-com.progressive.test/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="60" height="60">Just 11</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-lighter-bg-row">
        <!-- testimonials -->
        <div class="container">
            <h2>Testimonials</h2>
            <div class="row">
                <div class="col-md-6"><img class="wp-image-22803 img-fliud mb-4" src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt=""><br><img class="wp-image-22803 img-fliud" src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png"
                        alt=""></div>
                <div class="col-md-6"><img class="wp-image-22803 img-fliud mb-4" src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt=""><br><img class="wp-image-22803 img-fliud" src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png"
                        alt=""></div>
            </div>
        </div>
    </div>
    <div id="course-banner" class="brand-secondary-bg-row">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Attract the Right Partners to create life-changing income</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic
                                world view of disruptive innovation via workplace diversity and empowerment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
    </div>
    <p>
        <!-- last section tickets -->
    </p>


<div class="positive-bg-row">    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are Selling Fast!</h2>
                <p class="lead mb-4">Act now to avoid missing out</p>
                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next money down event</h4>
                    </div>
                    <div class="col">
                        <p>3rd-7th May</p>
                        <p>Peterborough</p>
                    </div>
                    <div class="col">
                        <p>3rd-7th May</p>
                        <p>Peterborough</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div><img class="wp-image-21690 img-fliud" src="/wp-content/uploads/sites/2/2018/03/ESD-TICKET-600-300x216.png" alt=""></div>
                    <h5>Click here to register<br>for your tickets now</h5>
                </div>
            </div>
        </div>
    </div>
</div>