<div class="mt-5">
    <div class="container">
        <h2 class="underline-arrow brand-secondary-colour">Life Changing Property Courses.</h2>
        <p class="lead">Progressive have property training programmes in multimedia for every type of investor, at every stage of the investing journey, for every personality type, in your preferred delivery style.</p>
        <p class="lead">We teach and share invaluable guidance to mastering the UK’s buy-to-let and commercial property market. We hope will both educate and inspire you to take your property investing to the next level.</p>
    </div>
</div>
<div class="positive-bg-row mt-3">
    <div class="container">
            <!-- 1st deck of 3 -->
        <div id="courses-cards" class="card-deck">
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/bps.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Learn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/btlb.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btlb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/btsb.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btsb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>This 2-day course sees the UK’s two most knowledgeable experts in the “big lump sum” profit strategy.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
        </div>
            <!-- /1st deck of 3 -->
            <!-- 2nd deck of 3 -->
        <div id="courses-cards" class="card-deck">
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/cpcd.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/02/pp-web-property-event-image-cpcd.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/dp-1.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-dp.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/eca.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/02/pp-web-property-event-image-eca.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
        </div>
            <!-- /2nd deck of 3 -->
            <!-- 3rd deck of 3 -->
        <div id="courses-cards" class="card-deck">
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/hmo-logo.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-hmo.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2017/01/jv.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-jv.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/msopip.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi-p.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>This 3-day course has helped tens of thousands of investors take steps towards financial freedom.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
        </div>
            <!-- /3rd deck of 3 -->
            <!-- 4th deck of 3 -->
        <div id="courses-cards" class="card-deck">
            <div class="card linked-card w-33">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmd.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-nmd.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p>Take Action Now!</p>
                </div>
                <p> </p>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/nmdm.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-dp.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/ppm.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-dp.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
        </div>
            <!-- /3rd deck of 3 -->
            <!-- 5th deck of 3 -->
        <div id="courses-cards" class="card-deck">
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/sa.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-sa.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>It’s the property letting strategy that is making traditional investors hundreds of percent more cashflow, every month!</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/tdm.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-tax.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
            <div class="card linked-card">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/taxd.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2017/05/rental-property-tax.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
                    <p><a href="/courses/deal-packaging-property-course/">Take Action Now!</a></p>
                </div>
            </div>
        </div>
            <!-- /5th deck of 3 -->
    </div>
</div>