<div class="container">
    <!-- header big title  -->
    <h2 class="brand-primary-colour">Discover how ordinary brits etc </h2>
    <div class="lead"> Grow your portfolio - subhead here </div>
    <hr>
</div>
<br>

<div class="container">
    <!-- header and two columns text/two columns images  -->
    <div class="row">
        <div class="col-9" style="background-color:lavender;">
            <h2> h2Header blue
                <h2>
        </div>
        <div class="lead"> Grow your portfolio - subhead here Grow your portfolio - subhead here Grow your portfolio - subhead here Grow your portfolio - subhead here m </div>
        <div class="col-md-6">At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive
            we love to </div>
        <div class="col-md-6">At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <img src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3-300x300.jpg" alt="" class="wp-image-22087 img-fluid"/>
        </div>
        <div class="col-md-6">
            <img src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3-300x300.jpg" alt="" class="wp-image-22087 img-fluid" />
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color:lavender;">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive
                we love to </div>
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2017/07/PIA-Stack-2-300x200.png" alt="PIA-Stack-2"  class="wp-image-21054 img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="alert alert-primary brand-primary-bg alert-dismissible fade show" role="alert">
    <div class="container">
        <p>This is a primary alert—check it out!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
    </div>
</div>


<div class="container">
    <!-- bullet points   -->
    <div class="row">
        <div class="col-9" style="background-color:lavender;">
            <h2> What our event will teach you
                <h2>
        </div>

        <div class="col-md-6">
            <ul>
                <li> At progressive we love to At progressive we</li>
                <li>love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li> At progressive we love to At progressive we</li>
                <li>love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to At progressive we love to
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row brand-secondary-bg-row">
    <div class="container">
            <h2>Spaces are limited, Don't Miss Out</h2>

        <div class="row align-items-start">
            <div class="col">
                <p>Number of people MSOPI has helped</p>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <img src="/wp-content/uploads/sites/2/2018/12/icons-calendar-normal.svg" alt="" width="30" height="30" class="wp-image-23387" role="img" />
                    </div>
                    <div class="col-6 col-md-6">
                        <h4>5,678</h4>
                    </div>
                </div>

            </div>

            <div class="col">
                <p> One of three columns</p>
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <img src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="30" height="30" class="wp-image-23386" role="img" />
                    </div>
                    <div class="col-6 col-sm-6">
                        <h4>1,023</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>One of three columns</p>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <img src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="30" height="30" class="wp-image-23386" role="img" />
                    </div>
                    <div class="col-6 col-md-6">
                        <h4>10,023</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<div class="gray-lighter-bg-row">
    <!-- testimonials   -->
    <div class="container">
        <h2>Testimonials<h2>
        <div class="row">    
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt="" class="wp-image-22803 img-fliud mb-4" />
                <img src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt="" class="wp-image-22803 img-fliud" />
            </div>
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt="" class="wp-image-22803 img-fliud mb-4" />
                <img src="/wp-content/uploads/sites/2/2018/10/Screen-Shot-2018-10-04-at-13.27.18.png" alt="" class="wp-image-22803 img-fliud" />
            </div>
        </div>
    </div>
</div>

    <div class="brand-secondary-bg-row" id="course-banner">
        <div class="container">                 
                <div class="row">
                    <div class="col-md-10">    
                        <h2>Attract the Right Partners to create life-changing income </h2>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                            </div>
                        </div>    
                    </div>    
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
    </div>




<!-- last section tickets  -->


<div class="container">


    <div class="row align-items-center">
        <div class="col-md-8">
            <h3>Spaces are limited fancy header goes here lore ipsum</h3>
            <div class="lead"> Act now to avoid missing out </div>
        </div>
        <div class="col-md-4">
            <img src="/wp-content/uploads/sites/2/2018/03/ESD-TICKET-600-300x216.png" alt="" width="300" height="216" class="wp-image-21690" />
            <div class="row align-items-center">
                <img src="/wp-content/uploads/sites/2/2018/10/dpm.svg" alt="" width="30" height="30" class="wp-image-23063" role="img" />
                <p>click here</p>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <h3 class="brand-primary-colour">The next money down event</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <p>Number of people MSOPI has helped</p>
            <div class="row">
                <div class="col-6 col-md-6">
                    <img src="/wp-content/uploads/sites/2/2018/12/icons-calendar-normal.svg" alt="" width="30" height="30" class="wp-image-23387" role="img" />
                </div>
                <div class="col-6 col-md-6">
                    <h4>5,678</h4>
                </div>
            </div>

        </div>

        <div class="col">
            <p> One of three columns</p>
            <div class="row">
                <div class="col-6 col-sm-6">
                    <img src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="30" height="30" class="wp-image-23386" role="img" />
                </div>
                <div class="col-6 col-sm-6">
                    <h4>1,023</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <p>One of three columns</p>
            <div class="row">
                <div class="col-6 col-md-6">
                    <img src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="30" height="30" class="wp-image-23386" role="img" />
                </div>
                <div class="col-6 col-md-6">
                    <h4>10,023</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>