
  <div class="row justPad">
    <div class="col-md-6">
      <p>At the Multiple Streams of Property Income event we reveal the many ways you can quickly make large sums of money and secure your financial future. Our skilled trainers will reveal proven, successful methods for you to cash in on right now, even if you have no previous experience and little to no finance.</p>

      <p>Our trainers have all ‘been there, done that’ and you can relax in the certainty that you are getting the expert help you deserve! Your just need to take that first step...</p>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">MSOPI - Peterborough</h4>
            </div>
            <div class="card-body">
                <h4 class="event-detail"><span class="badge badge-success">Date </span> 3rd-7th May 2019</h4>
                <h4 class="event-detail"><span class="badge badge-success">Time </span> 9.00am</h4>
                <h4 class="event-detail"><span class="badge badge-success">Location </span> Peterborough</h4>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/book-now/">Book now</a>
            </div>
        </div>
    </div>
  </div>


<div class="col">
  <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/msopi-event-uk.png" alt="msopi-event-uk" >
</div>  

<div class="row pt-5">
        <div id="carouselTestimonialIndicators" class="carousel slide" style="height: 450px;" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselTestimonialIndicators" data-slide-to="0"></li>
                <li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
                <li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item text-center active">
                  <img src="/wp-content/uploads/sites/2/2019/01/christine-dalton-400x400.jpg" width="200" height="200" class="d-block mx-auto img-fluid img-thumbnail rounded" alt="Amazing trainers at the MSOPI!">
                    <h4>Amazing trainers at the MSOPI</h4>
                    <p class="lead">"Also wanted to thank the amazing trainers at the MSOPI event David Siegler, Kevin McDonnell, Liam Ryan, Anne Houlton, Paul Smith and Bethany Lee-Ashby..."</p>
                    <p class="text-muted">- Abigail Langridge</p>

                </div>
                <div class="carousel-item text-center">

                    <img src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" width="200" height="200" class="d-block mx-auto img-fluid img-thumbnail rounded" alt="">
                    <h4>Enjoyed a brilliant 3 days</h4>
                    <p class="lead">“I enjoyed a brilliant 3 days at my first MSOPI in Manchester with my son Phil Essery. We got a great deal out of the weekend &amp; met some lovely people..."</p>
                    <p class="text-muted">- Jenny Essery</p>

                </div>
                <div class="carousel-item text-center">

                    <img src="/wp-content/uploads/sites/2/2019/01/kay-bennellack-400x400.jpg" width="200" height="200" class="d-block mx-auto img-fluid img-thumbnail rounded" alt="">
                    <h4>Loads of informative content</h4>
                    <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic..."</p>
                    <p class="text-muted">- Jason Hunt</p>

                </div>
            </div>
            <a class="carousel-control-prev" role="button" data-slide="prev" data-target="#carouselTestimonialIndicators">
            <i class="icon-chevron-left i2x text-muted"></i>
            <span class="sr-only">Previous</span>
            </a>
                        <a class="carousel-control-next text-faded" role="button" data-slide="next" data-target="#carouselTestimonialIndicators">
            <i class="icon-chevron-right i2x text-muted"></i>
            <span class="sr-only">Next</span>
            </a>

        </div>
    </div>


  <div class="row">
    <div class="col-12">
      <h2 class="brand-primary-colour">Interested in attending the next Multiple Streams of Property Income live event?</h2>
      <p class="lead">When You join us You will discover:</p>
    </div>

    <div class="col-md-6">
      <ul>
        <li>How to make more money from ONE simple property deal than you make in 6 months of paid work.</li>
        <li>A simple strategy to lock in a quick £900/month income (&amp; how to repeat it again and again...)</li>
        <li>How to make an immediate £3,000.00 without buying a single property.</li>
        <li>Proven formulas to invest in property without a deposit or a mortgage for instant ongoing monthly cashflow.</li>
        <li>How to get the hottest property deals (these deals NEVER appear in Estate Agent’s windows).</li>
        <li>How to give up your job within 30-90 days and live off your property income WITHOUT the need for a large cash pot, mortgage or loans.</li>
      </ul>
    </div>
    <div class="col-md-6">
    <ul>
      <li>Why and how property can make you wealthy, regardless of experience or cash to start, &amp; how to find properties at silly low prices (WAY below market price) without paying a single penny.</li>
      <li>How to make £500,000 from ONE property deal – thanks to a little known recent government policy change.</li>
      <li>How to get UNLIMITED finance to build your portfolio (hint: you can do this WITHOUT using either a mortgage company OR a bank!)</li>
      <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
      <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
    </ul>
    </div>
  </div>  
<div class="embed responsive mt-5 mb-5">
  <iframe style="width: 100%; min-height: 412px;" class="embed-responsive-item" width="730" height="412" src="https://www.youtube.com/embed/ytfsrkya_dU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


  <div class="row">
      <div class="col-md-12">
        <h2 class="brand-primary-colour">Tickets are going fast!</h2>
        <p class="lead mb-4">Act now to avoid missing out</p>
            <div class="card">
            <div class="card-header">
                <h4 class="card-title">MSOPI - Peterborough</h4>
            </div>
            <div class="card-body">
                <h4 class="event-detail"><span class="badge badge-success">Date </span> 3rd-7th May 2019</h4>
                <h4 class="event-detail"><span class="badge badge-success">Time </span> 9.00am</h4>
                <h4 class="event-detail"><span class="badge badge-success">Location </span> Peterborough</h4>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" href="/book-now/">Book now</a>
            </div>
        </div>
    </div>
  </div>
