<div class="positive-bg-row">
    <div class="container">
    	<p class="lead">Whether you’re a beginner who likes full immersion courses and hand holding support, or an advanced, self motivated investor who wants easily consumable knowledge to crack on and take action, Progressive delivers immersion courses, accountability programmes, CD’s, DVD’s, Apps &amp; innovation, networking events; even the UK’s largest SuperConferences. And, importantly, at very fair prices, with big guarantees, personal support, accountability and community.</p>
	</div>
</div>
	<div class="row no-gutters">
	    <div class="col-sm-6">
			 <div class="background-clip">
		    	<div class="img-background" id="msopi-bg">
			        <div class="img-content">
			            <h3>Multiple Streams of Property Income (MSOPI)</h3>
			            <h4>Start Your Own Property Empire</h4>
			            <a class="btn btn-primary" href="/property-events/multiple-streams-of-property-income-event/">Get started!</a>
			        </div>
		    	</div>
	    	</div>
		</div>
	    <div class="col-sm-6">
	    	<div class="background-clip">
		    	<div class="img-background" id="bps-bg">
			        <div class="img-content">
			            <h3>Beginners Property Secrets (BPS)</h3>
			            <h4>Grill the UK’s top property investors!</h4>
			            <a class="btn btn-primary" href="/property-events/beginner-property-secrets-day/">Get involved!</a>
			        </div>
		        
		    	</div>
	    	</div>
		</div>
	</div>
