<div class="brandBase negative" id="home-hero-property">
  <div class="container">
    <h1 class="text-md-left">We Make Property Millionaires​</h1>
  <div class="row">
    <div class="col-md-8 text-md-left">
      <p>Where we help shape the great property development entrepreneurs and investors of tomorrow.</p>
    </div>
    <div class="col-md-12">
      <hr class="plain">
    </div>
  </div>
  <div class="row justPad text-sm-center">
    <div class="col-md-3 text-md-left">
      <h3>Ways we can help</h3>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-md-2 text-sm-center">
      <p>Our Products</p>
      <a href="#OurEvents"><i class="icon-shopping-trolley i3x circle-bg text-center"></i></a>
    </div>
    <div class="col-md-2 text-sm-center">
      <p>Our Events</p>
      <a href="#OurEvents"><i class="icon-calendar i3x circle-bg text-center"></i></a>
    </div>
    <div class="col-md-2 text-sm-center">
      <p>Our Blog</p>
      <a href="#OurEvents"><i class="icon-comment i3x circle-bg text-center"></i></a>
    </div>
    <div class="col-md-2 text-sm-center">
      <p>Our Podcasts</p>
      <a href="#OurEvents"><i class="icon-mic i3x circle-bg text-center"></i></a>
    </div>
  </div>

    <div class="bounce animated mt-6">
      <a href="#firstSection">
          <div class="arrow i5x">
          </div>
        </a>  
    </div>
  </div>
</div>

<div class="positive-bg-row" id="firstSection">
  <div class="container">
    <h2 class="brand-primary-colour">Property Investment Courses, Seminars And Training Events.</h2>
      <p class="lead">The innovative, lucrative world of Progressive Property is where we help shape the great property development entrepreneurs and investors of tomorrow.</p>
      <div class="row mb-0">
        <div class="col-md-6">
          <p>Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit. Whether you are new to investing or a property professional we believe that Progressive Property can help you make more money and bigger profits through our property education.</p>
          <h3>Meet Our Founders</h3>
          <h4>The UK’s largest property educators, changing the lives of thousands of entrepreneurs.</h4>
          <p>The company was the brainchild of two dreamers, <a href="/the-progressive-co-founders/">Rob Moore and Mark Homer</a>, who simply wanted to build a joint property portfolio, but ended up becoming the UK’s largest property investment education company and improving the lives of thousands of people in the process.</p>
        <div class="row p-3">
          <a class="btn btn-primary btn-block-sm-only" href="/our-founders/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Founders</a>&nbsp;<a class="btn btn-secondary btn-block-sm-only" href="/our-vision/">Our Vision</a>
        </div>
        </div>

        <div class="col-md-6">
          <div class="bg-float-bottom-rnm d-none d-md-block"></div>

        </div>
        <div class="col-12">
          <hr>
        </div>
      </div>
    </div>
</div>
  
<div class="brandBase negative experts-bg">
  <div class="container"> 
    <div class="row">
      <div class="col-md-6">
        <img src="/wp-content/uploads/sites/2/2018/11/msopip-whiteout.svg" width="320">
        <h2>Make large sums of money even if you have no previous experience and little to no finance.</h2>
        <p>You just need to make that first step...</p>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary" href="" class="float-right arrow-de-toir">Next step</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="brand-secondary-colour">Life Changing Training Events.</h2>
        </div>
        <div class="col-md-6">
            <p class="lead brand-primary-colour">We teach and share invaluable guidance to mastering the UK’s buy-to-let and commercial property market. We hope will both educate and inspire you to take your property investing to the next level.</p>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div id="carousel-col-3-courses" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox" id="courses-cards">
            <div class="carousel-item col-md-4 active">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>                
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-col-3-courses" role="button" data-slide="prev">
            <i class="icon-chevron-left i3x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carousel-col-3-courses" role="button" data-slide="next">
            <i class="icon-chevron-right i3x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
        <div class="text-center p-5 pt-3 mx-auto">
            <a class="btn btn-primary" href="/property-events/">See More Events</a>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="property-jig">[justified_image_grid title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=yes load_more=hybrid initially_load=6 recent_posts=yes recents_description=auto_manual_excerpt recents_include=10]</div>
</div>