<div class="brandBase negative" id="home-hero-property">
    <div class="container">
        <h1 class="text-md-left">We Make Property Millionaires​</h1>
        <div class="row">
            <div class="col-md-12 text-md-left">
                <p class="bigger pb-3">We help shape the great property development entrepreneurs and investors of tomorrow. Start your property journey with:</p>
            </div>
            <div class="col-md-12">
                <hr class="plain">
            </div>
        </div>
        <div class="row justPad text-sm-center d-flex justify-content-between">
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/shop/">
                    <h4 class="whiteout text-center pb-2">Our Products</h4>
                    <p class="text-center"><img class="alignnone wp-image-23386 size-thumbnail mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/property-events/">
                    <h4 class="whiteout text-center pb-2">Our Events</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23387 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-calendar-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/blog/">
                    <h4 class="whiteout text-center pb-2">Our Blog</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23388 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-speech-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/podcast/">
                    <h4 class="whiteout text-center pb-2">Our Podcasts</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23388 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-headphones-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
        </div>
        <div class="bounce animated mt-6">
            <a href="#firstSection">
                <div class="arrow i5x">
                </div>
            </a>
        </div>

    </div>
</div>

<div class="positive-bg-row" id="firstSection">
    <div class="container">
        <h2 class="brand-primary-colour">Property Investment Courses, Seminars And Training Events</h2>
        <p class="lead">The innovative, lucrative world of Progressive Property is where we help shape the great property development entrepreneurs and investors of tomorrow</p>
        <div class="row mb-0">
            <div class="col-lg-6 order-sm-3">
                <p>Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.
                    Whether you are new to investing or a property professional we believe that Progressive Property can help you make more money and bigger profits through our property education</p>
                <h3>Meet Our Founders</h3>
                <h4>The UK’s largest property educators, changing the lives of thousands of entrepreneurs</h4>
                <p>The company was the brainchild of two dreamers, <a href="/the-progressive-co-founders/">Rob Moore and Mark Homer</a>, who simply wanted to build a joint property portfolio, but ended up becoming the UK’s largest property investment education
                    company and improving the lives of thousands of people in the process</p>
                <div class="row p-3">
                    <a class="btn btn-lg btn-primary btn-block-sm-only" href="/the-progressive-co-founders/">Our Founders</a>&nbsp;<a class="btn btn-lg btn-secondary btn-block-sm-only" href="/vision-and-values/">Our Vision</a>
                </div>
            </div>

            <div class="col-lg-6 order-sm-2">
                <div class="bg-float-bottom-rnm d-none d-md-block"></div>

            </div>
            <div class="col-12 order-sm-1 order-lg-3">
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="brandBase negative experts-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2018/11/msopip-whiteout.svg" width="320">
                <h2>Make large sums of money even if you have no previous experience and little to no finance</h2>
                <p class="lead">You just need to make that first step..</p>
            </div>
            <div class="col-md-6 d-flex flex-row align-items-start">
                <a class="btn btn-lg btn-primary align-self-end" href="/courses/no-money-down/" class="float-right arrow-de-toir">Next step</a>
            </div>
        </div>
    </div>
</div>


<div class="positive-bg-row">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="brand-secondary-colour">Life Changing Training Events</h2>
            </div>
            <div class="col-md-6">
                <p class="lead">We teach and share invaluable guidance to mastering the UK’s buy-to-let and commercial property market. We hope will both educate and inspire you to take your property investing to the next level</p>
            </div>
        </div>

        <div class="row">
            <div id="carousel-col-3-courses" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox" id="courses-cards">

                    <!-- start loop -->
                    <div class="carousel-item col-md-4 active">
                        <div class="card clickable-div">
                            <a role="button" href="/property-events/beginner-property-secrets-day/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/bps.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Learn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div active">
                            <a role="button" href="/property-events/multiple-streams-of-property-income-event/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/msopi.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Gain financial security from property – plus spectacular levels of wealth</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>    
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div active">
                            <a role="button" href="/courses/no-money-down/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmd.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-nmd.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Attract the right partners to create life-changing income</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/commercial-property-conversions/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/cpcd.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-cpc.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Turn old commercial property into residential goldmines</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/serviced-accommodation-intensive/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/sa.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-sa.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="courses/rent-2-rent/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/r2r.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/02/r2r-card.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Replace your income in 30-90 days using other people's’ money</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- END loop -->

                                      <!-- start loop -->
                    <div class="carousel-item col-md-4 ">
                        <div class="card clickable-div">
                            <a role="button" href="/property-events/beginner-property-secrets-day/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/bps.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Learn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div ">
                            <a role="button" href="/property-events/multiple-streams-of-property-income-event/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/msopip.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi-p-1.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Gain financial security from property – plus spectacular levels of wealth</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>    
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div ">
                            <a role="button" href="/courses/no-money-down/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmd.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-nmd.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Attract the right partners to create life-changing income</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/commercial-property-conversions/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/cpcd.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-cpc.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>Turn old commercial property into residential goldmines</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="/courses/serviced-accommodation-intensive/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/sa.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-sa.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="carousel-item col-md-4">
                        <div class="card clickable-div">
                            <a role="button" href="courses/rent-2-rent/">
                                <div class="card-header">
                                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/r2r.svg" width="350" height="111" alt="Property Course">
                                </div>
                                <div class="card-body p-0">
                                    <img class="" src="/wp-content/uploads/sites/2/2019/02/r2r-card.jpg" alt="Property Course">
                                </div>
                                <div class="card-footer">
                                    <p>The most secure and profitable ways to let via Serviced Accommodation</p>
                                    <p class="arrow-right-x3">Take Action Now!</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- END loop -->

                </div>
                <a class="carousel-control-prev" href="#carousel-col-3-courses" role="button" data-slide="prev">
              <i class="icon-chevron-left i3x text-muted"></i>
              <span class="sr-only">Previous</span>
          </a>
                <a class="carousel-control-next text-faded" href="#carousel-col-3-courses" role="button" data-slide="next">
              <i class="icon-chevron-right i3x text-muted"></i>
              <span class="sr-only">Next</span>
          </a>

            </div>
        </div>

    <div class="text-center p-5 pt-3 mx-auto">
        <a class="btn btn-primary" href="/property-events/">See More Events</a>
    </div>
    </div>
</div>

<div class="positive-bg-row pt-3">
    <div class="container">
        <div id="property-jig">[justified_image_grid row_height=560 mobile_row_height=345 title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=yes load_more=click initially_load=3 recent_posts=yes recents_description=auto_manual_excerpt recents_include=10]</div>
    </div>
</div>

<div class="brand-secondary-grad-bg-row">
    <div class="container">

        <!-- START Carousel -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Our Products</h2>
                </div>
                <div class="col-md-6">
                    <p class="lead">You can learn more about our proven systems through our life-changing property courses, training events, bestselling books, podcasts, blogs, videos, emails and social media</p>
                </div>
            </div>
        </div>
        <div id="carousel-col-3-products" class="carousel slide justPad" data-ride="carousel" data-interval="9000">
            <ol class="carousel-indicators">
                <li data-target="#carousel-col-3-products" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-col-3-products" data-slide-to="1"></li>
                <li data-target="#carousel-col-3-products" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-4 clickable-div active">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no1.png" alt="No Money Down">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">44 Most Closely Guarded Property Secrets</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div text-left">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Make Cash In A Property Market Crash</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Life Leverage</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no1.png" alt="No Money Down">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">44 Most Closely Guarded Property Secrets</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Make Cash In A Property Market Crash</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Life Leverage</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>

                <!--  -->
                 <div class="carousel-item col-md-4 clickable-div text-left">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Make Cash In A Property Market Crash</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Life Leverage</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no1.png" alt="No Money Down">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">44 Most Closely Guarded Property Secrets</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no2.png" alt="Deal Packaging">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Make Cash In A Property Market Crash</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>
                <div class="carousel-item col-md-4 clickable-div">
                    <img class="img-fluid mx-auto d-block" src="/wp-content/uploads/sites/2/2018/09/carousel-products-col-3_no3.png" alt="Beginners Property Secrets">
                    <div class="carousel-caption d-sm-block">
                        <h5 class="text-left">Life Leverage</h5>
                        <p class="text-left">By Rob Moore &amp; Mark Homer</p>
                        <p><a href="/product/make-cash-in-a-property-market-crash/" class="float-left btn btn-primary">Buy now</a></p>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" role="button" data-slide="prev" data-target="#carousel-col-3-products">
                                <i class="icon-chevron-left i2x text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
            <a class="carousel-control-next text-faded" role="button" data-slide="next" data-target="#carousel-col-3-products">
                                <i class="icon-chevron-right i2x text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a></div>
    </div>
    <!-- END Carousel -->
</div>


<div class="positive-bg-row">
    <div class="container">
        <div class="row justPad">
            <div class="col-md-6">
                <h2>Real Success</h2>
            </div>
            <div class="col-md-6">
                <p class="lead">Here at Progressive Property we pride ourselves on a personal approach, getting to know people at different stages of their property journey</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Tash &amp; Sharon</h4>
                <div class="img-clip-arrow-top tinted-image mb-3" id="story1">

                    <div class="bottom-align">
                        <h3>In Three Years They Have Bought 25 Properties Worth £3.3 million</h3>
                        <a href="/real-successes/#story1" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Derek Pape</h4>
                <div class="img-clip-arrow-top tinted-image mb-3" id="story2">
                    <div class="bottom-align">
                        <h3>Quit His Job Climbing Ladders To Invest In Property</h3>
                        <a href="/real-successes/#story2" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col text-center justPad">
                <a href="/real-successes/" class="btn btn-primary btn-lg" href="">Read More Success Stories</a>
            </div>
        </div>

    </div>
</div>