<div class="positive-bg-row">
    <div class="container">

		<p class="lead">This is the property investment podcast for investors at all levels of experience, from amateurs to veterans and everyone in between.</p>
		<div class="row">
		    <div class="col-md-6">
		        <p>The Progressive Property Podcast is carefully compiled to give you no fluff, no filler, no adverts; only the most thought-provoking insights into the property world, to help YOU become a more accomplished, better informed, and wealthier property
		            investor.</p>
		        <p>It doesn’t matter whether you are a multi-letter, a deal packager, a flipper, a “buy and hold” investor, or any other form of property entrepreneur – the Progressive Property Podcast will provide you with proven, practical, real-life information
		            from a range of expert property investors who have some of the UK’s largest and most lucrative portfolios. Learn from the best as you hear the views and advice of millionaires, billionaires and success stories from our very own Progressive
		            Property community.</p>
		        <p class="lead">It’s packed with info, it’s frequently updated, and it’s free. What are you waiting for?</p>
		    </div>
		    <div class="col-md-6"><img class="img-fluid p-5" src="/wp-content/uploads/sites/2/2017/11/progressive-property-podcast.jpg" /></div>
		    <hr />
		    <div class="row mt-5 mb-5">
		        <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/sites/2/2018/11/us-uk-apple-podcasts-listen-badge-rgb.svg" width="330" height="80" /></div>
		        <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/sites/2/2018/11/Listen-on-Stitcher-placeholder.svg" width="330" height="80" /></div>
		    </div>
		</div>
	</div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container"><img class="img-fluid" src="/wp-content/uploads/sites/2/2018/11/pp-podcast-2.png" /></div>
</div>