
<div class="gray-lighter-bg-row pt-5">
	<p class="i3x d-flex flex-row justify-content-around p-5">
		<a href="//www.facebook.com/ProgressivePropertyInvestment/" target="_blank">
			<i class="icon-facebook mr-3"></i></a><a href="//twitter.com/robandmark" target="_blank"><i class="icon-twitter mr-3"></i></a><a href="//www.linkedin.com/company/progressive-property/"
	        target="_blank"><i class="icon-linkedin mr-3"></i>
	   </a>
	</p>
</div>