<div class="container">
    <h2 class="brand-primary-colour">Real Progressive Success Stories</h2>
    <h3>From the couch with Rob Moore</h3>
    <p class="lead">A small selection of real Progressive people achieving real success through Progressive trainings, mentorship and support.</p>
    <p> Many from a standing start, many with little previous knowledge or experience and their own personal challenges to overcome. You may be able to relate to many of them. Start your property education today &amp; be inspired by people like you.</p>
</div>


<div class="row">
    <div class="container">
        <div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="list-style-type: none">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#carouselTestimonialIndicators" data-slide-to="0"> </li>
                    </ol>
                </li>
            </ol>
            <p> </p>
            <ol class="carousel-indicators">
                <li style="list-style-type: none">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselTestimonialIndicators" data-slide-to="1"> </li>
                    </ol>
                </li>
            </ol>
            <p> </p>
            <ol class="carousel-indicators">
                <li data-target="#carouselTestimonialIndicators" data-slide-to="2"> </li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item text-center active">
                    <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/iain-mcbain-400x400.jpg" alt="Iain Mcbain" width="200" /></p>
                    <h4>Iain & Iain McBain</h4>
                    <p class="lead">Father & Son duo with only 8 months investing experience raise &pound;300k in JV finance</p>
                </div>
                <div class="carousel-item text-center">
                    <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/fran-dolley-400x400.jpg" alt="Fran Dolley" width="200" /></p>
                    <h4>Fran & Jane Dolley</h4>
                    <p class="lead">We make &pound;4,900 NET cashflow from our Multi-Let without the sweat prioperties, and we did it in 5 months!</p>
                </div>
                <div class="carousel-item text-center">
                    <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/mehul-patel-400x400.jpg" alt="Mehul Patel" width="200" /></p>
                    <h4>Mehul Patel</h4>
                    <p class="lead">I have raised &pound;245,000 JV finance; &pound;1,000,000 in property (me alone), &pound;500,000 in property (company). My company assets are &pound;2,000,000. Cashflow is &pound;15,000 of rent per month - NET &pound;10,000.</p>
                </div>
                <div class="carousel-item text-center">
                    <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/andy-gelder-400x400.jpg" alt="Andy Gelder" width="200" /></p>
                    <h4>Andy Gelder</h4>
                    <p class="lead">18 properties & packaging deals to investors (min &pound;3,000 per deal) part-time!</p>
                </div>
                <div class="carousel-item text-center">
                    <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/01/kam-dovedi-400x400.jpg" alt="Kam Dovedi" width="200" /></p>
                    <h4>Kam Dovedi</h4>
                    <p class="lead">&pound;780,000 Equity & &pound;7,800 monthly cashflow! After only 2 years of joining progressive Kam has a portfolio worth 2.9 million, &pound;780,000 equity and a monthly cash flow of &pound;7,800.</p>
                </div>
            </div>
            <p><a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev"><br /><i class="icon-chevron-left i2x text-muted"></i><br /><span class="sr-only">Previous</span><br /></a><br /><a class="carousel-control-next text-faded"
                    role="button" href="#carouselTestimonialIndicators" data-slide="next"><br /><i class="icon-chevron-right i2x text-muted"></i><br /><span class="sr-only">Next</span><br /></a></p>
        </div>
    </div>
</div>
<p>

    <!--
<div class="row">[justified_image_grid preset=17 thumbs_spacing=0 row_height=600 height_deviation=200 prettyphoto_theme=dark_rounded caption_field=off overlay=hovered overlay_color=#1700ab overlay_opacity=0.75 lightbox=prettyphoto min_height=600 limit=1 max_rows=1 disable_cropping=yes link_target=video rss_url=https://www.youtube.com/user/progressiveproperty rss_links_to=permalink rss_description=description rss_link=yes rss_link_text="Watch on YouTube"]</div>


-->
</p>
<div class="container">
    <div class="card-deck justPad">
        <div class="card">
            <p><img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap" /></p>
            <div class="card-body">
                <h5 class="card-title">New Dad Gary Elliott: Progressive Taught Me How To Find Money For Any Property Deal</h5>
                <p class="card-text">Rob Moore interviews Gary to find out how he raised £2million in JV finance in 4 months and invested in 43 properties.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <p><img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap" /></p>
            <div class="card-body">
                <h5 class="card-title">From 5 to 25 Properties Worth £3.3Million...</h5>
                <p class="card-text">Tash &amp; Karen talk to Rob about how they have accelerated their portfolio thanks to Progressive.</p>
            </div>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <i class="float-right icon-heart" style="margin-bottom: -1rem;"></i></p>
            </div>
        </div>
        <div class="card">
            <p><img class="card-img-top" src="/wp-content/uploads/sites/2/2018/09/youtube-placeholder.png" alt="Card image cap" /></p>
            <div class="card-body">
                <h5 class="card-title">£6M Property Portfolio...</h5>
                <p class="card-text">Father and son team build a £6M property portfolio with the help of Progressive.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <!-- https://www.youtube.com/playlist?list=PLf-0C0__qEy1hwg-j67JfNgS5a__mi900 -->

</div>
<div id="property-video-jig" class="container">

    [justified_image_grid preset=50 thumbs_spacing=20 last_row=hide last_row=flexible prettyphoto_theme=dark_rounded row_height=300 height_deviation=200 caption_field=off caption_align=left overlay=hovered overlay_color=#0f265c overlay_opacity=0.9 lightbox=prettyphoto
    min_height=300 limit=50 disable_cropping=no link_target=video rss_url=https://www.youtube.com/playlist?list=PLf-0C0__qEy1hwg-j67JfNgS5a__mi900 rss_links_to=permalink rss_description=description rss_link=yes rss_link_text="Watch on YouTube"]</div>