<div class="positive-bg-row">
    <div class="container">
<h4>Progressive was built by property multi-millionaire Co-Founders Rob Moore &amp; Mark Homer after they achieved financial independence through property in their 20’s.</h4>
<p>Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice &amp; profit [at first].</p>
<p>Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership built Progressive from a room in Rob’s house to over 600 properties bought
    and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>
<p>Rob &amp; Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way…</p>
</div></div>


<div class="gray-lighter-bg-row">
    <div class="container">
	<img class="size-medium wp-image-23648 alignleft" src="/wp-content/uploads/sites/2/2019/01/pp-co-founder-rob-300x300.jpg" alt="" width="300" height="300" />
	<h3>Rob Moore</h3>
	<h5>Rob’s Mantra – “If you don’t risk anything, you risk everything”</h5>
	<p>Rob is a self made Property Investor, businessman/Entrepreneur &amp; public speaker, co-owning the Progressive group with Mark. It wasn’t always that way, and in 2005 he was struggling to make ends meet as an Artist, selling his work for less than it
    was worth, if he could. He built up debt of over £50,000 since leaving University, and had become frustrated and reclusive, feeling that he was missing something and there was more to life than money worries and unhappiness. Perhaps you can relate
    to this.</p>
	<p>Rob had a painful, life changing event on December 15<sup>th</sup> 2005 that completely changed his life, that he shares at his events.</p>
	<p>Fast forward to now just a few short years later and Rob is a highly sought after speaker on business, Property &amp; personal development, having presented to over 100,000 people at paid property conferences, Entrepreneur Academies with Peter Jones [Dragon’s
    Den], and consulting to wealthy investors in the Cayman Islands and around the world. Rob has had partnered with many of the biggest household name business people,  featured in  prime time TV shows for Living as a Mentor, on Channel 4, the BBC, The
    Independent and The Business Channel, and now mentors other people who want to achieve the same results.</p>
	<p>Rob especially likes helping young Entrepreneurs, and [extra] ordinary people who don’t have silver spoons or inheritance, and is know across the industry as the guy who can make you believe and inspire you to greatness [Mark deals with the details!].</p>
	<p>His taste in shirts divides opinion, his shoes upset stuffy businessmen, but he is commonly regarded as the best Property speaker in the UK, getting more people to take action and get results than anyone else.</p>
	<p>He believes his humble success is down to the Property system that Mark pioneered over 20,000 hours, and feels grateful and fortunate to have met such a great [though eccentric] business partner and friend. Rob is on a personal mission to prove YOU, or
    anyone can do it, and is prepared to go public on that mission.</p>

	<p><a class="btn btn-default btn-primary" href="http://robmoore.com/" target="_blank" rel="noopener"> Visit Rob's Personal Site</a></p>

	</div>
</div>		

<div class="positive-bg-row">
    <div class="container">
		<img class="size-medium wp-image-23647 alignleft" src="/wp-content/uploads/sites/2/2019/01/pp-co-founder-mark-300x300.jpg" alt="" width="300" height="300" />
		<h3>Mark Homer</h3>
		<h5>Mark’s Mantra – “Focus like a laser on one thing and become the best at it”</h5>
		<p>Mark has bought over 600 properties [&amp; counting] for himself, Rob, his family &amp; his investors since 2003. He is a systems and spreadsheet geek, er, guy, and has developed a complex, secret algorithm that takes all human error out of buying residential, commercial and multi-let property.<br />He has commented and been referenced in almost all major publications including BBC Radio, The Independent, the FT, The Wall Street journal, as well as co-authoring the UK’S 4 Best Selling Property Books.</p>
	
		<p>Mark quit corporate life in 2006 where he saw a long road to quiet desperation, giving up a ‘good job’ that was actually dead end and monotonous. Yes it was above average pay, but life was empty and it was not his path. Maybe you can relate to this.</p>
	
		<p>On the side, Mark has been an Entrepreneur investor since the age of 15, setting up many small businesses through University, and continually saving, re-investing and compounding the money using laws of wealth that he now teaches to 10,000’s of people.</p>
	
		<p>Mark is a paranoid spreadsheet geek and an analyst. Giving up a good career was a big decision for him, he is a bit of a recluse but he makes up for it in finance. Mark has been obsessed and [literally] sleep deprived on finding the very best investment vehicle and at the end of 2007 his joint portfolio with Rob produced more profit than any of his other investments he’d tried in the last 10 years, combined.</p>
  	</div>
</div>



<div class="negative-bg-row">
		 <div class="container justPad">
		 	<h2>Chalk &amp; Cheese</h2>
		 </div>	
<div class="row">
	<div class="col-md-4">
		<img src="/wp-content/uploads/sites/2/2019/01/pp-co-founders-640x640-1.jpg" alt="The Progressive Co-Founders" class="wp-image-23649"/>
	</div>	
	<div class="col-md-4">
		<img src="/wp-content/uploads/sites/2/2019/01/pp-rob-and-mark-2.jpg" alt="The Progressive Co-Founders" class="wp-image-23649"/>
	</div>	
	<div class="col-md-4">
		<img src="/wp-content/uploads/sites/2/2019/01/pp-rob-and-mark.jpg" alt="The Progressive Co-Founders" class="wp-image-23649"/>
	</div>	
</div>

    <div class="container justPad">
		<h5>As you will discover, Rob &amp; Mark are two very different people. Rob has the personality and commitment to action, he’s quoted as inspirational, controversial and motivating, and Mark has the spreadsheets and the brains!</h5>

		<p>They are self professed property and business addicts, have similar interests such as racing their sports cars [often with each other], flying the Helicopter, reading and continually learning, and spending time with friends, family and inspirational people.</p>

		<p>It is this combination that the property industry has recognised has made them successful in their partnership, through the growing and falling property markets where others have struggled.</p>
	</div>
</div>
