<div class="positive-bg-row">
	<div class="container">
        <h1 class="brand-secondary-colour">We are:<span class="inline-img"><img class="" src="/wp-content/uploads/2018/11/logo-progressive-group.svg" data-aos="fade"></span></h1>

		<p class="lead">If you want dull and boring presentations, awkward networking, grey corporate suits and plain-Vanilla-generic information, Progressive is not for you.</p>
		<p>If you want an innovative, Progressive community to help you evolve quickly and take fast mover, early advantage of the fast changing, contrarian opportunity now, Progressive could be your partner of choice.</p>
		<p>If you want a big cold machine to churn you out, were not for you. But if you want a personal community company that cares about you, genuinely wants to help you, and has the best reputation in the industry for support, giving, community and accountability, we have a long future together.</p>

	</div>
</div>


<div class="brand-secondary-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<h2>Our Values</h2>
                <p class="display-4">We believe life is best lived as a progressive journey towards knowing, making and giving more. Empowering the greatness already within everyone. Making money whilst making a difference.</p>
                <p class="lead">All of our brands follow the same core values:</p>

                <div class="card-deck">
                    <div class="card positive w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger title-arrow">Progressive</h3>
                            <p class="lead">Always learning, growing, serving and solving.</p>
                        </div>
                    </div>

                    <div class="card positive w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger title-arrow">Innovative</h3>
                            <p class="lead">Embracing and pre-empting change rather than being disrupted by it.</p>
                        </div>
                    </div>

                    <div class="card positive w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger title-arrow">Personal</h3>
                            <p class="lead">We are available and accessible.<br>We build communities not machines.</p>
                        </div>
                    </div>

                </div>
                <p class="display-4 justPad">Our core values are what keep our people, our products and our brands on the same progressive path. They are what define us a group of companies, so we can provide amazing experiences for everyone when they spend time with us.</p>

            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
	<div class="container">
        <h2>Who We Are</h2>
	    <div class="row justPad">
	    	<div class="col-md-4">
	            <p class="bigger title-arrow">We are <span class="brand-primary-colour">Progressive;</span> innovative and personal;</p>
            </div>
            <div class="col-md-4">
	            <p class="bigger title-arrow">We are constantly <span class="brand-primary-colour">revolutionising;</span> blazing the trail;</p>
	        </div>
	        <div class="col-md-4">    
	            <p class="bigger title-arrow">We are <span class="brand-secondary-colour">responsible</span>, dynamic &amp; <span class="brand-primary-colour">passionate.</span></p>
	        </div>
	    </div>
	</div>
</div>

<div class="brand-primary-bg-row">
	<div class="container">
		    <h2>What is our purpose?</h2>
		     <p class="lead">What do we exist to do?</p>
		    <ul>
		        <li>To create worldwide financial security, freedom &amp; choice by making property investing accessible to everyone;</li>
		        <li>To bring an expanding community of likeminded people together &amp; break down personal and financial barriers;</li>
		        <li>To give people belief &amp; purpose; we change people’s lives.</li>
		    </ul>
	</div>
</div>

<div class="positive-bg-row">
	<div class="container">
	    <h2>What is unique about Progressive?</h2>
	    <ul>
	        <li>We’ve created more property millionaires than anyone in the UK: the Progressive community gets results;</li>
	        <li>We create the next generation of trainers in the industry – the trainer to the trainers;</li>
	        <li>Integrity: Progressive walk the walk; investing in what we teach in multiple property income streams.</li>
	    </ul>
</div>
</div>

<div class="gray-lighter-bg-row">
	<div class="container">	
	    <h2>What would the world be without us?</h2>
	    <ul>
	        <li>Boring; less colourful, fun &amp; energetic;</li>
	        <li>Fewer financially free &amp; savvy investors;</li>
	        <li>More financial calamities &amp; fewer success stories.</li>
	    </ul>
	</div>
</div>