<div class="positive-bg-row">
	<div class="container">
    <p class="lead pb-5">Where else can you go to a bank, get a loan for most of the value of a property, go to a JV partner for the deposit and refurb, go to a tenant to pay your mortgage and JV partner costs, and generate passive cashflow with other people paying all your
        'debt?'</p>
    <div class="row pb-5">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-why-progressive-640x640.jpg" alt=""></div>
        <div class="col-md-8">
            <p class="lead">And where else can you create ‘good debt’ to invest, and have the government eat away at that good debt over time through inflation, yet the value of your property doubles every 7-10 years [see below]?</p>

            <p>Certainly not in the stock market. Or in the bank. Or under the mattress.</p>
            <p>Since 1952, according to the Halifax house price data, has doubled in value every 7-10 years, even taking into account major crashes.</p>
            <p>In fact, since 1088 post Doomsday book, when Land prices were first tracked, land and property has doubled every 10 years at worst. That’s almost 1000 years of historic evidence.</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-why-progressive-640x640.jpg" alt=""></div>
        <div class="col-md-8">
            <p class="lead">Every single person in the Rich List: Times, Forbes, owns property. Many of them are in fact full time or part time investors, in fact our guest speaker and partner at the 2011 Property SuperConference, who owns £300M of property, said this:</p>
            
            <blockquote>"While I was stupidly messing around with the FA these young property guys were making a fortune, it was a waste of my time and talent."</blockquote>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-4">
        	<img class="" src="/wp-content/uploads/sites/2/2019/01/pp-why-progressive-640x640.jpg" alt="">
        </div>
        <div class="col-md-8">
           <p class="lead">The UK and UK media has a love affair with property. It’s not just that virtually every millionaire owns property, but its sustainable. In the UK we have little land left to develop on, large growth in population and a relatively small land mass. According to the Barker report and the Halifax, the UK is currently 120,000 houses a year short of keeping up with demand, with that likely to rise to 400,000 by 2012.</p>
           <p>This pushes rents up and demand strengthens year on year. The amount of people needing to rent is doubling every 8 years or less, according to the Barker report. This is great news for property investors, and keeps the cashflow high and voids low.</p>
        </div>
    </div>
	</div>
</div>