<div class="google-wrapper">
	<div id="google-map">
		<iframe src="https://snazzymaps.com/embed/112105" width="100%" height="400" style="border:none;" class="mask-group google-map" ></iframe>
	</div>
	<div id="google-map-overlay">
		<div class="container">
			<h1 class="positive">Contact</h1>
		</div>
	</div>
</div>


<div class="positive-bg-row text-center">
		<div class="container">
			<p class="lead">We’re a social bunch. You can contact us through the following social media accounts:</p>
			<p class="i3x d-flex flex-row justify-content-around"><a href="//www.facebook.com/ProgressivePropertyInvestment/" target="_blank"><i class="icon-facebook mr-3"></i></a><a href="//twitter.com/robandmark" target="_blank"><i class="icon-twitter mr-3"></i></a><a href="//www.linkedin.com/company/progressive-property/" target="_blank"><i class="icon-linkedin mr-3"></i></a></p>
			<p class="lead">If you’d prefer to speak to us we are available during normal office hours on:</p>
			<p class="text-center"><a class="btn btn-xl btn-primary d-block d-md-inline" href="tel:01733898557"><i class="icon-phone"></i> 01733 898 557</a></p>
		</div>
</div>


<div class="brand-secondary-bg-row">
		<div class="container">
			<h3>Email Progressive</h3>
			[gravityform id=1 title=false description=false ajax=true]
		</div>
</div>


<div class="row no-gutters mask-group">
		<div class="col-md-6">
			<iframe src="https://snazzymaps.com/embed/112105" width="100%" height="400" style="border:none;" class="google-map" ></iframe>
		</div>
		<div class="col-md-6 brand-primary-bg p-5 lead">
			<p class="lead"><strong>Progressive Property Ventures LLP</strong><br>
			Unit 10, Office Village<br>
			Forder Way, Cygnet Park<br>
			Peterborough<br>
			PE7 8GX<br>
			<p><i class="icon-phone"></i> 01733 898 557</p>
			<p><i class="icon-envelope"></i> <a href="mailto:hello@ProgressiveProperty.co.uk">hello@progressiveproperty.co.uk</p>
			<p class="lead"><a href="https://www.google.com/maps/dir//Progressive+Property+Limited®+-+Property+Investment+Courses,+Seminars,+Training+%26+Events,+10+Forder+Way,+Peterborough+PE7+8GX/@52.5443092,-0.2607699,16.94z/data=!4m9!4m8!1m0!1m5!1m1!1s0x4877f1cf934ecff9:0x71daef0a67dbbe05!2m2!1d-0.258417!2d52.544286!3e0" target="_blank"><i class="icon-location-pin"></i> Get Directions</p></a>
		</div>
</div>
