<div class="positive-bg-row">
		<h2>Project Details</h2>

		<div class="row">
			<div class="col-12">
			<h3>Project Sponsor</p>
			</div>
			[gravityform id="3" title="false" description="false" ajax="true"]
		</div>
</div>