<div class="mt-4 mb-4">
    <div class="d-flex justify-content-between">
        <img class="alignnone size-medium wp-image-862" role="img" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" alt="" width="300" height="300">
        <img class="alignnone size-medium wp-image-862" role="img" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" alt="" width="300" height="300">
	</div>
 </div>
<div class="dark-gray-grad-bg-row">
	<div class="container">
	    <h2>Live Stream Event Title</h2>
	    <h4 class="brand-primary-colour">Event Subtite or Presenter Name</h4>
	    <div class="live-container embed-responsive">

<!-- PASTE YOUR EMBED CODE BETWEEN THESE COMMENTS OVER EXISTING -->
        	<iframe class="embed-responsive-item live-item" src="https://www.youtube.com/embed/Bx3IsRZQ3JE" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<!-- # PASTE YOUR EMBED CODE BETWEEN THESE COMMENTS OVER EXISTING -->


	    </div>
  	</div>

    <div class="container">
		<p class="pt-1">Do we want any help text or social links? Need help? Contact <a href="mailto:thomluter@progressiveproperty.co.uk">thomluter@progressiveproperty.co.uk</a> anytime day or night!</p>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>This is an editable alert</strong> for notifications. I have all the styles you may need from info (blue), warning (yellow) to danger (red).
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

	</div>

</div>

