
<div class="positive-bg-row" id="group-home-hero">
    <div class="container">
        <h1 class="whiteout justPad">Progressive Brands</h1>
        <p class="lead negative">If you have a burning desire to achieve more, and live the lifestyle of your dreams, our Progressive Group collective of brands is the best place to start to getting the very latest information for your success in your area of interest. Furthermore,
            discovering what potential courses or strategies you should take to push you in the right direction, to progress as quickly as possible.</p>

        <p class="lead negative">Explore the options open to you below, for the best path for you to take as an individual, towards making that first step.</p>


        <div class="card-deck">
            <div class="card mb-sm-4 bg-light">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>We deliver value to you through <a href="">books</a>, audio and podcasts, online and physical courses, masterminds, mentorships and retreats. We believe that traditional education may make you a living, but self-education could make
                        you a fortune.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivepropertynetwork.co.uk" class="btn btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                </div>
            </div>

            <div class="card mb-sm-4 bg-light">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>This is the best place to get the education you need to improve all areas of your personal and business life and live the life of your dreams! We’re not into personal development – we are into supporting you every step of the way and
                        welcoming you into our community.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivepropertynetwork.co.uk" class="btn btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                </div>
            </div>

            <div class="card mb-sm-4 brand-secondary-bg">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-developments.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>We continue to develop our property strategies and investment opportunities. This is all housed under this brand. Our focus is converting commercial properties into desired living spaces.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivedevelopments.co.uk" class="btn btn-sm btn-primary mt-3 btn-secondary-bg" target="_blank">Visit the site</a>
                </div>
            </div>
        </div>

        <div class="row card-deck" id="">

            <div class="card mb-sm-3 bg-light">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>Join us and discover the busiest, most entertaining and supportive property network across the UK. Take your property investing to the next level, and grow your portfolio with help and advice from experienced members across all areas
                        of the property spectrum.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivepropertynetwork.co.uk" class="btn btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                </div>
            </div>

            <div class="card mb-sm-3 bg-light">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>If you have something to say, either on printed page, by video or podcast we can help get things moving. We offer full agency support, publishing your words to the desired medium, so you can concentrate on what you do best. Focus on
                        you business needs.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivelets.co.uk" class="btn btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                </div>
            </div>

            <div class="card brand-primary-bg mb-sm-3">
                <div class="card-header">
                    <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets-wo.svg" data-aos="fade">
                </div>
                <div class="card-body">
                    <p>As Peterborough's fastest growing and most innovative independent letting agent, we are here to support you with all your property requirements. Big or small, long or short term, residential or commercial - we offer a wide range of
                        rental opportunities and property services to suit all.</p>
                </div>
                <div class="card-footer">
                    <a href="//progressivelets.co.uk" class="btn btn-sm btn-light mt-3" target="_blank">Visit the site</a>
                </div>
            </div>
        </div>
    </div>
<div class="justPad">
    <div class="container">
        <p class="lead display-4">We are always here to help anyone with their financial goals and dreams, so if you need the inspiration and community to help you achieve, why not start your journey with us today?</p>
        <a class="btn btn-primary" href="/contact/">Start your journey</a>
    </div>
</div>

</div>
<div class="positive-bg-row">
    <div class="container">
        <h1 class="brand-secondary-colour">We are:<span class="inline-img"><img class="" src="/wp-content/uploads/2018/11/logo-progressive-group.svg" data-aos="fade"></span></h1>
        <div class="row">
            <div class="col-md-12">
                <p class="display-4">We believe life is best lived as a progressive journey towards knowing, making and giving more. Empowering the greatness already within everyone. Making money whilst making a difference.</p>
                <p class="lead">All of our brands follow the same core values:</p>

                <div class="card-deck">
                    <div class="card brand-secondary-bg w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger">Progressive</h3>
                            <p class="lead">Always learning, growing, serving and solving.</p>
                        </div>
                    </div>

                    <div class="card brand-secondary-bg w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger">Innovative</h3>
                            <p class="lead">Embracing and pre-empting change rather than being disrupted by it.</p>
                        </div>
                    </div>

                    <div class="card brand-secondary-bg w-100 mask-group-br">
                        <div class="card-body pl-4">
                            <h3 class="bigger">Personal</h3>
                            <p class="lead">We are available and accessible.<br>We build communities not machines.</p>
                        </div>
                    </div>

                </div>
                <p class="display-4 justPad">Our core values are what keep our people, our products and our brands on the same progressive path. They are what define us a group of companies, so we can provide amazing experiences for everyone when they spend time with us.</p>

            </div>
        </div>
    </div>
</div>

