

// Horizontral Rule as branded arrow

.pointer:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down-top;
    font-size: 4rem;
    margin-top: -2rem;
    left: 0;
    top: -40px;
    color: $background-color;
    position: relative;
}

.brand-primary-bg-row, .positive-bg-row, .card .brand-primary-bg, .row-before-arrow   {
    position: relative;
}

.row-arrow:after {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down-top;
    font-size:  calc(#{$triangle-width} * 3);
    position: absolute;
    bottom: -120px; // calc( 0px - #{$section-padding-bottom;} + 9px); 
    left: 46.6%;
}

.row-arrow-primary:after {
    @extend .row-arrow;
    color: $brand-primary;
    z-index: 1;
}

.row-arrow-positive:after {
    @extend .row-arrow;
    color: $background-color;
    z-index: 1;
}

.row-before-arrow:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down-top;
    font-size:  calc(#{$triangle-width} * 3);
    position: absolute;
    top: -1.5rem; 
    left: 46.6%;
    color: $brand-primary;
}

.row-before-arrow-3-down-top:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down-flush-x3;
    font-size:  calc(#{$triangle-width} * 1.5);
    position: absolute;
    color: $brand-primary;
    top: -2.8rem; 
        left: 1rem;
    @include media-breakpoint-down (sm) {
        left: 3rem;
    
    }

}

p.arrow-right-x3 {
    font-size: 1.15rem;
}

.arrow-right-x3:before {
    font-family: 'progressive-icons';
    font-size: 1.15rem;
    content: $icon-progressive-arrow-right-flush-x3;
    color: $brand-primary;
    margin: 1rem .5rem 0 0;
    padding-top: 1rem;
    &:hover {
        color: $background-color;
    }
}

.arrow-right-x3:hover:before {
    color: $background-color;
}
