footer.author_bio { 
 display: none; // 
}

#author-row {
	min-height: 500px;
}

/* The new author box */
.author_bio_section{
	// @extend .gray-lighter-bg-row;
 	a:nth-child(2) {
 		margin: 1rem 0;
 	}
}

.author-posts {
}


.author_bio_section a{
 text-decoration: none;
 box-shadow: none !important; 
}

.author_bio_section a:hover{
 color: $brand-primary; 
}

/* About and author name or nick */
.author_name{
 @extend .h3;
	 @include media-breakpoint-up (md) {
	 	// padding-left: 27px;
	 }
}

/* Surrounding avatar image */
.author_image {
 float: left;
 margin: 0 1rem 1rem 0;
 background: $gray-lighter;
    @include media-breakpoint-up (md) { margin-top:-3rem; }

}

/* avatar image */
.avatar {
 border-radius: 5px !important;
 @extend .img-fluid;
}


/* View all posts by and website link */
.author_links {
 margin: 0;
 float: left;
 padding: 1rem 0;
}

/* Fontawesome icon */
.icon-* {
 padding: 5px 10px 5px 9px;
 margin: -10px 10px 0 0;
 float: left;
 background: #205D7A;
 color: #fff;
 border-radius: 5px;
 transition-property: opacity;
 transition-delay: 0.3s;
 transition-duration: .5s; 
 border: 1px solid #333;
}
/* Fontawesome icon */
.icon-*:hover {
 background: #005781;
 color: #fa7777; 
 border: 1.5px solid #333;
}


/* --- Tooltip --- */

/* black up arrow */
.tooltip:hover:before{
 border: solid;
 border-color: #005781 transparent; // Arrow
 border-width: 0 7px 7px 7px; // Arrow
 top: 35px;
 content: "";
 left: 40%;
 position: absolute;
 z-index: 99; 
 opacity: .8;
}

/* black tool tip title box */
.tooltip {
 display: inline;
 position: relative;
 right: 8%;
 
}

/* black tool tip title box */
.tooltip:hover:after{
 background: #005781;
 background: rgba(32,93,122, .9);
 border-radius: 5px;
 top: 40px;
 color: #fff;
 content: attr(title);
 left: 40%;
 padding: 5px 8px;
 position: absolute;
 z-index: 98;
 width: 110px;
}