//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive PROPERTY Background Images
////////////////////////////////////////////////////////////////////////////////////////

#home-hero-property {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/2/2018/09/fullheight-hero_1920x1280-1.jpg);
	background-attachment: fixed;
	z-index: 2;
	background-color: $foreground-color;
	    @include media-breakpoint-down (sm) { background-attachment: scroll;} // iPhone coverr fix
}

// Home hero
#events-property-hero {
	@extend .section-bg-img; 
	background: url(/wp-content/uploads/sites/2/2018/09/fullheight-hero_1920x1280-1.jpg);
	background-attachment: fixed;
}

// event banner // nasty blue fade
#course-banner {
	@extend .section-bg-img; 
	background: url(/wp-content/uploads/sites/2/2018/10/property-event-hero.jpg) no-repeat center center;
	// background-attachment: fixed;
}

#msopi-event-reg {
	@extend .section-bg-img; 
	@extend .tinted-image;
	background: linear-gradient(rgba(0, 128, 198, 1), rgba(62, 47, 128, 1)), url(/wp-content/uploads/sites/2/2019/03/msopi-event-reg-hero-1920x1008.jpg);
	// z-index: 2;
}

#msopi-bg:before  { 
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate25-1280x1280.jpg);
	&:hover {
		@extend .scale-color;	
	}
}

#bps-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate13-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}

.bg-float-bottom {
	background: bottom center no-repeat;
	background-size: contain;
	min-height: 320px;
	background-position: bottom;
}

// About Rob Page
#about-rob {
 	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/rob-moore-author.jpg);
	background-position: top, top;
	background-attachment: fixed;
	    @include media-breakpoint-down (sm) { background-position: -200px 0; padding-top: 20rem !important; }
}

#about-rob-second-scroll {
 	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/rob-moore-on-stage.jpg);
	background-position: top, top;
	background-attachment: fixed;
}

// #about-rob-third-scroll {
//  	@extend .section-bg-img;
// 	background-image: url(/wp-content/uploads/sites/2/2019/04/rob-moore-on-stage.jpg);
// 	background-position: top, top;
// }



.bg-float-bottom-rnm { 
	@extend .bg-float-bottom;
	background-image: url(/wp-content/uploads/sites/2/2016/12/RnM-1080x1080.png); 
	height: 100%;
}

.experts-bg{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2018/09/meet-our-experts-bg-e1546623021780.jpg);
}

#ppn-bg{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/03/ppn-1920x640.jpg);	
}

#vip-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/vip-banner.jpg);
	background-attachment: fixed center center;
}

#vip-bg{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/03/vip-white-bg-1920x1080.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sad-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/03/sad-1920x640.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#sai-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/03/sai-1920x640.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#sam-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/03/sam-1920x640.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#hmo-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/hmo-pro-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#dpd-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/dpd-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#dpm-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/dpm-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 


#cpcd-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/cpcd-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#cpcm-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/cpcm-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#ppm-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/ppm-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#nmdm-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/nmdm-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#b2sb-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/b2sb-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#tax-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/tax-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jv-banner{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2019/04/tax-banner.jpg);
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#pp-ident{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
   height: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url(https://progressive-property.s3.amazonaws.com/progressive-logo-ident.mp4) no-repeat;
  background-size: cover;
}




#blog-cat-property-managment { background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-management.jpg);}
#blog-cat-uk-property-market-news {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-uk-property-market-news-investment-strategies.jpg);}
#blog-cat-investing-in-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-investing-in-property.jpg);}
#blog-cat-commercial-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-commercial-property.jpg);}
#blog-cat-property-investing-tips {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-investing-tips.jpg);}
#blog-cat-buy-to-let {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-buy-to-let.jpg);}

.blog-cat-img {
	@extend .negative-bg;
	min-height: 320px;
	text-align: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	.grid-content {
		//border: 1px solid green;
		display: inline-block;
		max-width: 60%;
		margin: 0 auto;
		vertical-align: middle;
		}
	}



