//////////////////////////////////////////////////////////////////////////////////////// 
// Any other site Background Images
////////////////////////////////////////////////////////////////////////////////////////

#home-hero-wild {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/20/2019/03/wildlore-hero@2x-8.png);
	background-attachment: fixed;
	z-index: 2;
	background-color: $foreground-color;
	    @include media-breakpoint-down (sm) { background-attachment: scroll;} // iPhone cover fix
}

#our-mission {
	@extend .section-bg-img; 
	background-image: url(/wp-content/uploads/2019/02/bg-triangular-blues.jpg);
	background-attachment: fixed;
}


#msopi-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate25-1280x1280.jpg);
	&:hover {
		@extend .scale-color;	
	}
}

#bps-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate13-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}

