// Group Background Images

// The actual images!

//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive GROUP
////////////////////////////////////////////////////////////////////////////////////////

#group-home-hero {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/2018/10/clouds-hero.jpg);
	//margin-top: $navbar-height;
	padding-top: $triangle-width;
	//height: 100vh;
	position: relative;
	// z-index: 1032;
}


#home-inspire {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/2018/11/stars-1920x1080.jpg);
	background-attachment: fixed;
	min-height: $default-row-height;
	
}

#home-drone {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/2018/11/drone_noise-parallax.jpg);
	background-attachment: fixed;
	//min-height: $default-row-height;
	background-position-x: 0px;
}


//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive PROPERTY
////////////////////////////////////////////////////////////////////////////////////////

#home-hero-property {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/2/2018/09/t_fullheight-hero-sofa_1920x1360.jpg);
	background-attachment: fixed;
}

// Home hero
#events-property-hero {
	@extend .section-bg-img; 
	background-image: url(/wp-content/uploads/sites/4/2018/08/Home-Header-1920x750.jpg);
	background-attachment: fixed;
}



#msopi-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate25-1280x1280.jpg);
	&:hover {
		@extend .scale-color;	
	}
}

#bps-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate13-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}

.bg-float-bottom {
	background: bottom center no-repeat;
	background-size: contain;
	min-height: 320px;
	background-position: bottom;
}

.bg-float-bottom-rnm { 
	@extend .bg-float-bottom;
	background-image: url(/wp-content/uploads/sites/2/2016/12/RnM-1080x1080.png); 
	height: 100%;
}


.experts-bg{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2018/09/meet-our-experts-bg.jpg);
} 

#blog-cat-property-managment { background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-management.jpg);}
#blog-cat-uk-property-market-news {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-uk-property-market-news-investment-strategies.jpg);}
#blog-cat-investing-in-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-investing-in-property.jpg);}
#blog-cat-commercial-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-commercial-property.jpg);}
#blog-cat-property-investing-tips {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-investing-tips.jpg);}
#blog-cat-buy-to-let {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-buy-to-let.jpg);}

.blog-cat-img {
	@extend .negative-bg;
	min-height: 320px;
	text-align: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	.grid-content {
		//border: 1px solid green;
		display: inline-block;
		max-width: 60%;
		margin: 0 auto;
		vertical-align: middle;
		}
	}


