//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive C Background Images
////////////////////////////////////////////////////////////////////////////////////////

#hero-slider {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/11/2014/11/9157850680_25d736c5dc_o_2560px.jpg);
	background-attachment: fixed;
	z-index: 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), url(/wp-content/uploads/sites/11/2014/11/9157850680_25d736c5dc_o_2560px.jpg);
	background-color: $foreground-color;
	    @include media-breakpoint-down (sm) { background-attachment: scroll;} // iPhone cover fix
}


.tint-bg-row {
	@extend #hero-slider;
	@extend .brandBase;
	@extend .negative
}


// Posts 

#flir-bullet { // /flir-tcx-thermal-bullet-mini-bullet-cameras/
	@extend .section-bg-img; 
	background-image: url(/wp-content/uploads/sites/11/2015/07/tcx-minibullet-stairs.jpg);
	background-attachment: fixed;
}

#flir-bullet-outside {
	@extend .section-bg-img; 
	background-image: url(/wp-content/uploads/sites/11/2015/07/tcx-minibullet-outside.jpg);
	background-attachment: fixed;
}
