//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive TANTIVY Background Images
////////////////////////////////////////////////////////////////////////////////////////

#home-hero-property {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/2/2018/09/fullheight-hero_1920x1280-1.jpg);
	background-attachment: fixed;
	z-index: 2;
	background-color: $foreground-color;
	    @include media-breakpoint-down (sm) { background-attachment: scroll;} // iPhone cover fix
	    
}

#our-mission {
	@extend .section-bg-img; 
	background-image: url(/wp-content/uploads/2019/02/bg-triangular-blues.jpg);
	background-attachment: fixed;
}


#msopi-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate25-1280x1280.jpg);
	&:hover {
		@extend .scale-color;	
	}
}

#bps-bg:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate13-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}

.bg-float-bottom {
	background: bottom center no-repeat;
	background-size: contain;
	min-height: 320px;
	background-position: bottom;
}

.bg-float-bottom-rnm { 
	@extend .bg-float-bottom;
	background-image: url(/wp-content/uploads/sites/2/2016/12/RnM-1080x1080.png); 
	height: 100%;
}

.experts-bg{
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/2/2018/09/meet-our-experts-bg-e1546623021780.jpg);
} 

// #blog-cat-property-managment { background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-management.jpg);}
// #blog-cat-uk-property-market-news {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-uk-property-market-news-investment-strategies.jpg);}
// #blog-cat-investing-in-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-investing-in-property.jpg);}
// #blog-cat-commercial-property {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-commercial-property.jpg);}
// #blog-cat-property-investing-tips {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-property-investing-tips.jpg);}
// #blog-cat-buy-to-let {background-image: url(/wp-content/uploads/sites/2/2018/09/blog-category-buy-to-let.jpg);}

.blog-cat-img {
	@extend .negative-bg;
	min-height: 320px;
	text-align: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	.grid-content {
		//border: 1px solid green;
		display: inline-block;
		max-width: 60%;
		margin: 0 auto;
		vertical-align: middle;
		}
	}



