// I have nothing to do with this!

#progressive-group-site #nav-bg, #group-hero-home, .fashionable-texture {
	background: url(#{$get-path-to-assets}/fashionable-texture.jpg);
	background-size: cover;
}
