//////////////////////////////////////////////////////////////////////////////////////// 
// Progressive Success Background Images
////////////////////////////////////////////////////////////////////////////////////////

//Home
#empowerment-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/Siam-1920x750.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}

#empowerment-hero {	
    @include media-breakpoint-down	(sm) { background-image: url(/wp-content/uploads/sites/4/2018/10/Siam-370x524.jpg);  background-position: center $navbar-height; }
    @include media-breakpoint-up 	(lg) { background-image: url(/wp-content/uploads/sites/4/2018/10/Siam-1140x628.jpg);}
	@include media-breakpoint-up	(xl) { background-image: url(/wp-content/uploads/sites/4/2018/10/Siam-1920x750.jpg);}
} 

//About
#success-about-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/vision.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}

//Shop
#success-shop-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/delegate.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}

//Events
#success-events-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/audience4.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}

//Business
#success-business-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/audience4.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}

//Personal
#success-personal-hero {
		background-image: url(/wp-content/uploads/sites/4/2018/10/audience4.jpg);
		@extend .section-bg-img;
		height: 65vh;
		background-attachment: fixed;
		position: right;
}


////////////////////////////////////////////////////////////////// 
////////////////////// Background image hovers 
////////////////////////////////////////////////////////////////// 

// home > 
#transform-your-business-bg:before {
 	@extend .section-bg-img;	
 	background-image: url(/wp-content/uploads/sites/4/2018/08/Home-Header-1920x750.jpg);
	&:hover {
		@extend .scale-color;	
	}
}

#transform-your-life-bg:before {
 	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/08/Home-Header-1920x750.jpg);
	&:hover {
		@extend .scale-color;	
	} 	
}

// social-media
#social-media:before  {
 	@extend .section-bg-img;	
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate13-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}

#more-money:before {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate2-1280x1280.jpg);
	&:hover {
		@extend .scale-color;
	}
}



//PERSONAL TRANSFORMATION//

#spare-time:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate15-1280x1280.jpg);
	@extend .section-bg-img;
	&:hover {
		@extend .scale-color;
		//@extend .background-clip;	
	}
	
}
#speak-at-event:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/delegate16-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
		//@extend .background-clip;	
	}
	
}
#connect:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Connect-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
		//@extend .background-clip;	
	}
	
}
#social-media:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/social-media-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
		//@extend .background-clip;	
	}
}
#wider-audience:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/staff3-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
		//@extend .background-clip;	
	}
}
#stock-market:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/stock-market-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
	}
}
#brand-image:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/brand-image-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
	}
}

//CAREERS//

#finance-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Finance-1280x1280.jpg);
     @extend .section-bg-img;
     	&:hover {
			@extend .scale-color;
		}
}

#hr-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/HR-1280x1280.jpg);
     @extend .section-bg-img;
		&:hover {
		@extend .scale-color;
	}
}

#design-bg:hover:before,
#events-bg:hover:before {

}
#design-bg:hover:before,
#events-bg:hover:before {

}

#design-bg:before, 
#events-bg:before {

}

#design-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Design-1280x1280.jpg);
     @extend .section-bg-img;
}

#events-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Events-1280x1280.jpg);
	@extend .section-bg-img;
		&:hover {
		@extend .scale-color;
	}
}

#marketing-bg:before, 
#sales-bg:before {

}

#marketing-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Marketing-1280x1280.jpg);
	  @extend .section-bg-img;
		&:hover {
		@extend .scale-color;
	}
}

#sales-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Sales-1280x1280.jpg);
	@extend .section-bg-img;
}

#marketing-bg:hover:before,
#sales-bg:hover:before {

}

#PA-bg:before, 
#Bookings-bg:before {

}

#PA-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/PA-1280x1280.jpg);
	@extend .section-bg-img;
	
}

#Bookings-bg:before {
	background-image: url(/wp-content/uploads/sites/4/2018/10/Bookings-1280x1280.jpg);
	@extend .section-bg-img;
	
}

#PA-bg:hover:before,
#Bookings-bg:hover:before {

}

.welcome-us-bg {
	background-image: url(/wp-content/uploads/sites/4/2018/08/Home-Welcome-To-US.jpg);
	@extend .section-bg-img;
}

#audience {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/audience.jpg);}
#audience2 {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/audience2.jpg);}
#audience3 {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/audience3.jpg);}
#audience4 {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/audience4.jpg);}
#audience7 { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/audience7.jpg);}
#audience8 { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/audience8.jpg);}
#audience9 { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/audience9.jpg);}
#bitcoin {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/bitcoin.jpg);}
#careers {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/careers.jpg);}
#crypto-intensive {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/crypto-intensive.jpg);}
#personal {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/personal.jpg);}
#social {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/social.jpg);}
#testimonial { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/testimonial.jpg);}
#vision { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/vision.jpg);}
#about { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/about.jpg);}
#siam { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/Siam.jpg);}
#delegate { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/delegate.jpg);}
#crew { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/crew.jpg);}
#about { @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/about.jpg);}
#speaker {@extend .section-bg-img;background-image: url(/wp-content/uploads/sites/4/2018/10/Speaker.jpg);}

#bitcoin {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/bitcoin.jpg);
}

#careers {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/careers.jpg);
}

#crypto-intensive {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/crypto-intensive.jpg);
}

#personal {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/personal.jpg);
}

#social {
	@extend .section-bg-img;
	background-image: url(/wp-content/uploads/sites/4/2018/10/social.jpg);
}

#testimonial	{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/testimonial.jpg);}
#vision 		{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/vision.jpg);}
#about			{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/about.jpg);}
#siam 			{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/Siam.jpg);}
#delegate		{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/delegate.jpg);}
#crew 			{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/crew.jpg);}
#about			{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/about.jpg);}
#speaker		{ @extend .section-bg-img; background-image: url(/wp-content/uploads/sites/4/2018/10/Speaker.jpg);}
