
// All buttons
.btn,
.btn-sm,
.btn-lg,
input[type="submit"]  {
    @include border-radius ($default-border-radius);  // Is this more prefix-friendly?
    padding-right: .75rem;
    @extend .mask-group-btn-br !optional;
    &:active {
        background-color: $brand-secondary;
    }
}

.btn:focus {
    background-color: $brand-secondary;
}

// btn-primary 
.btn-primary {
    @extend .btn;
	background-color: $brand-primary;
	border-color: $brand-primary;
    color: $background-color;
	&:hover, button.btn-primary:hover,.btn-light:hover   {
		 background-color: darken($brand-primary, 10%); border-color: darken($brand-primary, 10%);
	} 
}

// btn-secondary
.btn-secondary {
    @extend .btn;
    background-color: $brand-secondary;
    color: $background-color;
    border-color: $brand-secondary;
        &:hover, button.btn-secondary:hover {
            background-color: darken($brand-secondary, 10%); border-color: darken($brand-secondary, 10%);
    }
}

button.btn-secondary>a, button.btn-secondary>a:hover { color: $background-color; } // For a button containing a link Edit my profile

.btn-primary.disabled {
    background-color: $gray;
    border-color: $gray;
}

.btn-light {
    color: $foreground-color;
    border-color: $background-color;
    background-color: $background-color;
    &:hover {
        color: $background-color;
        border-color: darken($brand-primary, 10%);
        background-color: darken($brand-primary, 10%);
    }   
}

.btn-gray-lighter {
    @extend .btn;
    background-color: darken($gray-lighter, 10%);
    border-color: darken($gray-lighter, 10%);
}

.btn-circle {
	@extend .btn;
    padding: 6px;
    height: 42px;
  	width: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: .1;
}

.btn-block-sm-only {
    @include media-breakpoint-down (sm) {width: 100%;}
}


.btn-center {
    display: block;
    text-align:center;
    margin: 0 auto;
}
