#courses-cards { // Card deck on Courses page
	.card {
		// Stop lone card collapsing
	    min-height: 525px; width: 100%;
    	height: 100%;
	    @include media-breakpoint-up  (lg) { min-height: 565px; width: 340px; }
	    margin-bottom: 1rem;
	    overflow: hidden;
		border-radius: $default-border-radius;
		border: 0;
		// background-color: $background-color;
		.clickable-div a { // Stop links breaking layout
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
		}
		.card-header {
			padding: 0;
			background-color: transparent;
			border-bottom: 0;
			img.card-img-top  {
				// height: 7rem; // Height of logos
				width: 100%;
				height: auto;
				background-color: transparent;
				margin-bottom: -2rem;
				z-index: 99;
				position: absolute;	
			}
		}
		.card-body {
			padding: 0;
			img {
				z-index: -1;
				margin-top: 6.3rem;
			}
		}

		.card-footer {
			position: absolute;
			bottom: 0;
			vertical-align: bottom;
			background-color: $brand-secondary;
			color: $background-color; 
			border-top: 0;
			min-height: 10rem;
			width: 100%;
			&:hover {
				background-color: $brand-primary;
				p.arrow-right-x3:before  {
					color: $background-color;
				}
			}

			p {
				color: $background-color;
			}
			a { color: $background-color;}
		}
	}
}

.card-header:first-child {
    border-radius: $default-border-radius;
    //background-color: $background-color;
}  


 // products Carousel on home page

#carousel-col-3-products {

    .carousel-caption { 
        position: relative;
        left: auto;
        right: auto;
        width: 66%;
        margin: 1rem auto 2rem auto;
    }
	.carousel-inner {
		min-height: 545px; // Stop lone card collapsing
		min-width: 360px;  // Stop lone card collapsing
	}
    .card {
        border-radius: $default-border-radius;
        .card-header {
            background-color: $background-color;
            border-radius: $default-border-radius;
        }

    }
}

// Cards for archive.php
.card.card-post-grid {
	box-shadow: 0px 0px 12px 6px rgba(149, 149, 149, 0.12);
	color: $foreground-color;
	.card-header {
		height: 400px;
	}
}

.vh-100 { height: 100%; }



// Group Site only 
#progressive-group-site {
	.card {
		border: 0;
		min-height: 6rem; // Match independent card heights
		//color: inherit;
	} 
	
	.card:not(.square) {
		@extend .mask-group-br !optional;
		.bg-light {
			color: $foreground-color !important;
		}
	}

	img.p-brand {
		height: 3rem;
		width:159px;
	} 
	.card-header {
		padding: 1rem;
	}
	.card-body {
		padding: 1rem;
	}
	.card-footer { padding: 0 1rem 1rem;}
	.card.brand-primary-bg {
		h4 { color: $background-color;}
	}
	.card-header>img {
		
	}
	.card-header, .card-body, .card-footer { border: 0; }

}

