
	#hero-slider {
		padding: 5rem 2rem 3rem;
		.carousel-inner {
			height: 70vh;
			h3 { padding-bottom: 3rem; }

			.hero-item { height: 333px; padding-bottom: 2em;}
		}
		
		.carousel-control-prev,
		.carousel-control-next {
			max-width: 6vw;
			padding-bottom: 2vh;
		}

	}
