@font-face {
    font-family: 'Rotis Sans Serif Std';
    src: url('../fonts/RotisSansSerifStd.eot');
    src: url('../fonts/RotisSansSerifStd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RotisSansSerifStd.woff2') format('woff2'),
         url('../fonts/RotisSansSerifStd.woff') format('woff'),
         url('../fonts/RotisSansSerifStd.ttf') format('truetype'),
         url('../fonts/RotisSansSerifStd.svg#RotisSansSerifStd') format('svg');
    font-weight: normal;
    font-style: normal;
}