
.google-wrapper {
    position: relative;
    margin-top: 5rem;
}

#google-map{
	min-height: 416px;
}

#google-map-overlay  {
	position: absolute;
    bottom: 0px; 
    left: 0px; 
    width  : 100%;
    height : 129px;
    //border: solid 1px red;
    margin-right: 50vw;
	// h1 {
	// 	@extend .entry-title;
	// 	padding-top: 1rem !important;
	// }
}
