
// $gutter-width: 1rem;

// @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)){
//     .row > .col,
//     .row > [class*="col-"]:not(.no-gutters) {
//       padding-right:	calc($gutter-width * .5);
//       padding-left:		calc($gutter-width * .5);
//     }
//     .row { margin-right: -.5rem; margin-left: -.5rem;}
// }

// @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)){

//     .row > .col,
//     .row > [class*="col-"] {
//       padding-right: 1rem;
//       padding-left: 1rem;
//     }
//     .row { margin-right: -1rem; margin-left: -1rem;}

// }