
hr {
  border-top: 2px solid ;
  width: 100%;
  margin: 0 0 calc(#{$triangle-width} * 1);
  position: relative;
   &:after {
      font-family: 'progressive-icons';
      content: $icon-progressive-arrow-down;
      font-size: calc(#{$triangle-width} * 2);
      //position: absolute;
      float: left;
      margin-top:-2.4rem;
    }
}

hr.plain {
  margin-bottom: 1rem;
  &:after {
    content:'';
  }
}
// header hr {
//   border-top: 2px solid $background-color;
//   //width: calc(100% - 2rem);
//   float: left;
//   &:after {
//     color: $background-color;
//   }

// }


.underline-arrow {
    color: $brand-secondary;
    border-bottom: 2px solid $brand-secondary;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

      &:before {
      font-family: 'progressive-icons';
      content: $icon-progressive-arrow-down;
      font-size: calc(#{$triangle-width} * 2);
      position: absolute;
      float: left;
      margin-top: 3.7rem;
       
    }
}

.after-arrow:after {
    color: $brand-primary;
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-down;
    font-size: calc(#{$triangle-width} * 2);
    position: absolute;
    margin-top: -2.45rem;
}

