
// A bit punchy! Act globally on all images
img[src$=".jpg"]:not(.static), img[src$=".png"]:not(.static){
    //background-color: $brand-secondary; // Too heavy I am afraid :(
   
    &:hover {
        //background-color: $brand-secondary;
        opacity: .6;
        @include transition(opacity .9s ease);
        background-blend-mode: multiply; // Colour on hover
        z-index: -11;
    }
}

span.inline-img { // We are Progressive graphic
	img {
		margin-left: .5rem;
        display: block;
        @include media-breakpoint-up (md) { display: inline-block; height: 7.75rem;}

	}
}

.alogo {
    height: 3rem;
}


$url-1 : url(/wp-content/uploads/sites/2/2019/04/tash-and-karen-progressive.jpg); 
$url-2 : url(/wp-content/uploads/sites/2/2019/04/derek-pape.jpg); 

/* Working method */
.tinted-image#story1 {
    height: 520px;    
    background: 
    /* top layer with gradient */ 
    linear-gradient(
      rgba(0, 128, 198, 1), 
      rgba(62, 47, 128, 1)
    ),
    /* bottom layer with image url variable */ 
    $url-1;
}

.tinted-image#story2 {
    height: 520px;
    background: 
    /* top layer with gradient */ 
    linear-gradient(
      rgba(0, 128, 198, 1), 
      rgba(62, 47, 128, 1)
    ),
    /* bottom layer with image url variable */ 
    $url-2;
}    

.tinted-image {
    width:100%;
    color: $background-color;
    // filter: grayscale(1);
    background: 
    linear-gradient(
      rgba(0, 128, 198, 1), 
      rgba(62, 47, 128, 1)
    ),
    $url-2;
    background-blend-mode: multiply; // Optional multiply effect?
    //mix-blend-mode: multiply;
    //background-blend-mode: grayscale;
    display: table;

    .bottom-align {
        height: 30%;
        padding: 2rem;
        vertical-align: bottom;
        display: table-cell;
        h3 { padding-bottom: 1rem;}
    }
}

.v-center {
    vertical-align: middle;
    display: table-cell;
    color: red;
}