
li {
	line-height: 2em;
}

// Needs Updating!
li.list-group-item {
	padding: 0.75rem 0; // Makes cards flush with card-body
	background-color: transparent;
}

ul {
	padding-left: 1.6rem;
}

ul.ticklist, ol.ticklist, ul.arrowlist { padding-left: 0;}
	
ul.ticklist>li:before, ol.ticklist>li:before {
		font-family: 'progressive-icons';
	    content: $icon-tick-circle;
	    position: relative;
		float: left;
		font-size: 60%;
		    @include mq(ip) { margin: -15px 0  0px 0; font-size: 34px; padding: 5px 15px 0px 0; }
		    @include media-breakpoint-up (xs) { margin: -15px 0 15px 0; font-size: 34px; padding: 5px 15px 0px 0; }
		    @include media-breakpoint-up (sm) { margin: -15px 0 15px 0; font-size: 36px; padding: 5px 15px 0px 0; }
		    @include media-breakpoint-up (md) { margin: -20px 0 15px 0; font-size: 42px; padding: 5px 15px 0px 0; }
		    @include media-breakpoint-up (lg) { margin: -15px 0 15px 0; font-size: 36px; padding: 5px 15px 0px 0; } // extra paddding below icon to stop wrapping under icon
		    @include media-breakpoint-up (xl) { margin: -25px 0 15px 0; font-size: 48px; padding: 5px 15px 0px 0; } // ...on lg and xl screens 
}

.ticklist>li {
	padding-bottom: .25em;
	baseline-shift: 20px;
	line-height: inherit;
	display: block;
	clear: both;
	    @include mq(ip) {font-size: 18px;} // Mirror .p wet! :/
	    @include media-breakpoint-up (xs) {font-size: 18px;}
	    @include media-breakpoint-up (sm) {font-size: 18px;}
	    @include media-breakpoint-up (md) {font-size: 18px;}
	    @include media-breakpoint-up (lg) {font-size: 20px;}
	    @include media-breakpoint-up (xl) {font-size: 20px;}
}

.arrowlist>li:before {
	@extend .title-arrow;
	margin-left: -10px;

}

ul.grid {
	//@extend .h3;
	list-style: none;
		li {
		width: 33.3%;
		display: inline-block;
		float: left;
		position: relative;
		padding: 1em;
		background-color: $brand-primary;
		}

}


// Author About Page 

ul.author-posts {
	list-style: none;
	padding-left: 0;
}



