
//////////////// Navigation Clickable - Makes top level menu items clickable 
@include media-breakpoint-up (md) {
	.dropdown:hover .dropdown-menu { display: block; }
}

//Hide second level menu items on mobile (no hover state!)
@include media-breakpoint-down (md) {
	.dropdown:hover .dropdown-menu { display: none; }
}
@include media-breakpoint-down (md) {
	.dropdown-toggle::after {
	 	display: none;
	}
}
// END hide

.dropdown-menu { // Fix for dropdowns disappearing during hover 
 	margin: 0;
}

// Disable hover on permenant hamburger sites completely 
#progressive-group-site, #any-other-site {
		.dropdown:hover .dropdown-menu { display: none; }
}