
//////////////// Navigation


// Transparent to white navbar on Scroll

#progressive-group-site, #any-other-site {
  //background-color: $brand-secondary;
  header {
  	position: relative;
  	z-index: 1;
    //color: $foreground-color;
    
  }
  #tranny-nav {
    z-index: 33;
  }

  #nav-bg {   
    position: fixed;
    top: 0;
    left:0;
    //height: $trans-nav-height; // $navbar-height;
    width: 100%;
    z-index: 29;
    //margin-top: 1rem;
  }

  .dropShadow {
      background-color: $background-color;
      @include box-shadow( 0, 0, 32px, rgba(0, 0, 0, .15));
      // height: $trans-nav-height; // $navbar-height;
      transition: background-color .75s ease;
  }

  .collapsing { // Important! The only thing that stops the navbar ul from lingering on close.
      -webkit-transition: height .01s ease;
           -o-transition: height .01s ease;
              transition: height .01s ease;
              transition-delay: 0s;
  }

  // Swap to white logo on toggle click
  .brand-nav {
      background: $brand-secondary;
      // Nice but navbar ul lingers 
      // -webkit-transition: background-color .25s ease;
      //  -o-transition: background-color .25s ease;
      //     transition: background-color .25s ease;
      transition-delay: 0s;

      .icon-bar {
        background-color: $background-color;
      }
      .navbar-nav .nav-link {
        color: $background-color;
        &:hover {  color: $brand-primary; }
      }
      a.navbar-brand {  
          background: url(#{$get-path-to-assets}/logo-whiteout.svg) no-repeat 0px 0px !important;
       }
       // z-index: 1;
      .lines, .lines:after, .lines:before {
      background: $background-color;  
      }
  }

}

#any-other-site {
  .home a.navbar-brand {
     background: none;   
  } 
}


