// Styling for content-single.php the default Wordpress post type

// Important - Target the single post NOT the category landing page , 
#single-wrapper {
	.entry-content, .entry-footer {
		@extend .container;
	}
}

.wp-post-image {
	width: 100%;
	height: auto;
	//opacity: .1;
}

.content-area { width: 100%;}

time.updated { display: none; }

.col-md.content-area {
	padding: 0 !important; // Make Post Hero flush
}

// .entry-content {
// 	@extend .container; // auto format wide screen to container
// }


.hero-header {
	 background-size: cover; 
}

// Featured image post title overlay
.entry-header  {
	background-color: lighten($brand-secondary, 60%);
	padding-top: 14vw;
	padding-bottom: 1rem;
	width: 100%;
	z-index: 12;
}

.overlay {
	position: relative;
}

.overlay:after {
	top: 0;
	left:0;
	position: absolute;
	content:"";
	width: 100%;
	height: 100%;
	z-index: -1;
	@extend .tint-grad-bg;
}

.entry-header-short  {
	padding-top: 4rem;
}

.breadcrumbs {
	margin-top: 1rem;	
}

.entry-meta {
	margin-bottom: 1rem;
}

.entry-meta:before {
	font-family: 'progressive-icons';
	content: $icon-cal-days;
	color: $brand-secondary;
}

// Target post footer not normal page footer
.post-template-default, .post-template-single-container-fluid {
	.entry-footer {
		padding: 3rem 0 1rem;
			@extend .container;
	}
}

.cat-links { color: $gray-light; text-transform: uppercase;}

.nav-links { padding: .6rem 0;}

.nav-previous:before, .nav-next:after {
	font-family: 'progressive-icons';
	color: $gray-light;
	margin-top: .25rem; 
}

.nav-previous:before {
	content: $icon-chevron-left;
}

.nav-next:after {
	content: $icon-chevron-right;
}
.nav-next>a {
	padding-right: .6rem;
}
.nav-previous>a {
	padding-left: .6rem;
}
.nav-previous>a {
	padding-left: .6rem;
}