///

// Live Template 

body.page-template-right-sidebarpage-livestream {
  margin-top: 0;
}

#p-comments-container {
  width: 100%;
  min-height: 100vh; //calc( 100vh - 120px);
 //height: 815px;
  overflow-y: scroll;
  //border: 1px solid orange;
}

.viewing-problems {
  padding: 1rem 0;
}

.quick-chat-linkhome {
	display: none;
}

.quick-chat-history-alias {

}

div.quick-chat-history-timestring {
	font-style: normal !important;
	text-transform: uppercase;
	font-size: 14px;
}