/////////////////  Brand Colour Pallete - Row Tints

// All Row Styles

// Global section/row structure 
.brandBase {
	//color: $background-color;
	padding-top: $section-padding-top; // Set all row padding here
	padding-bottom: $section-padding-bottom;
	a.btn:not(.btn-light) {
		text-decoration: none;
		color: $background-color;
	}

	a.btn:hover {
		color: $background-color;
	}
}

#inverted-brand{
	body {
		background-color: $background-color;
		color: $foreground-color;
	}
	h1,h2,h3,h4,h5,h6,p { color: $foreground-color;}
}

// Basics

// Primary & Secondary Basic 'flat' fills
.brand-primary-bg {
	background-color: $brand-primary;
	color: $background-color;
	a:not(.btn-light) {
		color: $background-color;
	}
}

// Secondary pallette
.brand-secondary { 
	color: $brand-secondary;
}

.brand-secondary-bg {
	background-color: $brand-secondary;
	color: $background-color;
}

.brand-tertiary-bg {
	background-color: $brand-tertiary;

}
// Primary & Secondary rows : Extend brandBase + palette

.brand-primary-bg-row {
	@extend .brandBase;
 	@extend .brand-primary-bg;
	}

.brand-secondary-bg-row {
	@extend .brandBase;
 	@extend .brand-secondary-bg;
}

.brand-tertiary-bg-row {
	@extend .brandBase;
	@extend .brand-tertiary-bg;
 }

// Negative

.negative {
	color: $background-color;
}

.negative-bg {
	@extend .negative;
	background-color: $black;
		h1,h2,h3,h4,h5,h6,p { color: $background-color;}
}

.negative-bg-row { // .vc_row.negative  Brand row
	@extend .brandBase;
	@extend .negative-bg;
}

// Positive palette

.positive {
	color: $foreground-color;
}

.positive-bg:not(.brand-secondary-bg) {
	@extend .positive;
	color: $brand-secondary;
	background-color: $background-color;
	// background: url(#{$get-path-to-assets}/paper_fibers_@2X.png);
	// h1,h2:not(.whiteout), h4,h5,h6 { color: $brand-primary; }
	a:not(.wmle_post_excerpt .wmle_container a) {
	}
	.btn-default:hover  {
		border: 2px solid  transparent;
	}
	.btn-default:focus  {
		color:  $white;
	}
}
.positive-bg-row {
	@extend .brandBase;
	@extend .positive-bg;
}


// Greys
// Palette


.gray-base-bg-row {
	@extend .brandBase;
	background-color: $gray-base;
	color: $gray-base;
}

.gray-darkest-bg {
	background-color: $gray-darkest;
	color: $gray-lighter;
}

.gray-darkest-bg-row {
	@extend .brandBase;
	background-color: $gray-darkest;
	color: $gray-lighter;
	a {
		color: $gray-darker;
	}
}

.gray-darker-bg-row {
	@extend .brandBase;
	background-color: $gray-darker;
	color: $gray-base;
}

.gray-lightest-bg {
	background-color: $gray-lightest;
	color: $brand-secondary-darkest;
}

// Row
.gray-lightest-bg-row {
	@extend .brandBase;
	@extend .gray-lightest-bg;
}


.gray-lighter-bg {
	background-color: $gray-lighter;
	color: $brand-secondary-darkest;
}

// Row
.gray-lighter-bg-row {
	@extend .brandBase;
	@extend .gray-lighter-bg;
}

.gray-light-bg-row {
	@extend .brandBase;
	background-color: $gray-light;
	color: $gray-darker;
}


.gray-darkest-bg {
	background-color: $gray-darkest;
	color: $gray-lighter;
}



// The Brand Tints

.brand-light-bg-row {
	@extend .brandBase;
	background-color: $brand-primary-light;
	color: $white;

}

.brand-lighter-bg-row {
	@extend .brandBase;
	background-color: $brand-primary-lighter;
	color: $white;
}

.brand-lightest-bg-row  {
	@extend .brandBase;
	background-color: $brand-primary-lightest;
	color: $white;

}


.brand-dark-bg-row {
	@extend .brandBase;
	background-color: $brand-primary-dark;
	color: $white;
}

.brand-darker-bg-row {
	@extend .brandBase;
	background-color: $brand-primary-darker;
	color: $white;
}

.brand-darkest-bg {
	background-color: $brand-primary-darkest;
	color: $gray-darker;
}
.brand-darkest-bg-row {
	@extend .brandBase;
	background-color: $brand-primary-darkest;
	color: $gray-darker;
}



// Brand complimentary

.brand-secondary-darkest-bg-row {
	background-color: $brand-secondary-darkest;
	color:  $brand-secondary-lightest;
	
}

.brand-secondary-darkest-bg-row {
	@extend .brandBase;
	color: $background-color;
	}

.brand-secondary-darker-bg-row {
	@extend .brandBase;
	background-color: $brand-secondary-darker;
	color: $white;
}

.brand-secondary-dark-bg-row {
	@extend .brandBase; 
	background-color: $brand-secondary-dark;
	color: $white;
}

.brand-secondary-section-default {
	@extend .brandBase;
	background-color: $brand-secondary-base;
	color: $white;
	a:hover, .btn-primary  { border-color:$brand-primary-lighter; color: inherit;}

}

.brand-secondary-light-bg-row {
	@extend .brandBase;
	background-color: $brand-secondary-light;
	color: $white;
}

.brand-secondary-lighter-bg-row {
	@extend .brandBase;
	background-color: $brand-secondary-lighter;
	color: $background-color;

}

.brand-secondary-lightest-bg-row {
	@extend .brandBase;
	background-color: $brand-secondary-lightest;
	color: $brand-secondary-darkest;
}

// Gradients 

.brand-primary-grad-bg {
	background: -webkit-linear-gradient(to top, $brand-primary, $brand-secondary-light); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, $brand-primary , $brand-secondary-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: $white;
}

.brand-secondary-grad-bg {
	background: -webkit-linear-gradient(to top, $complimentary-color, $brand-secondary); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, $complimentary-color, $brand-secondary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: $white;
}


.brand-secondary-grad-bg-row{
	@extend .brandBase;
	@extend .brand-secondary-grad-bg;
}

.tint-grad-bg {
	background: -webkit-linear-gradient(to top, $black ,rgba(0, 0, 0, 0) ); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, $black, rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: $white;
}

.dark-gray-grad-bg {
	background: -webkit-linear-gradient(to top, $black ,rgba(21, 21, 21, 1) ); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, $black, rgba(21, 21, 21, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: $white;
}

.dark-gray-grad-bg-row {
	@extend .brandBase;
	@extend .dark-gray-grad-bg;
}

.brand-tint-bg-row {
	@extend .brandBase;
	@extend .brand-secondary-grad-bg;
}

