
h3.cta {
	text-transform: capitalize !important; font-weight: 500;
}

h4.strapline {
	text-transform: capitalize !important; font-weight: 300;
}

h5.blue {
	text-transform: capitalize !important; font-weight: 300; color: $brand-primary;
}


// :active temp fix - unable to kill bs blue flash
.btn-primary:not([disabled]):not(.disabled):active, .gform_wrapper .button:not([disabled]):not(.disabled):active, .gform_button :not([disabled]):not(.disabled):active[type="submit"], .wmle_loadmore .wmle_loadmore_btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled):active, .add_to_cart_button:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .gform_wrapper .button:not([disabled]):not(.disabled).active, .gform_button :not([disabled]):not(.disabled).active[type="submit"], .wmle_loadmore .wmle_loadmore_btn:not([disabled]):not(.disabled).active, .btn:not([disabled]):not(.disabled).active, .add_to_cart_button:not([disabled]):not(.disabled).active, .gform_wrapper .show>.dropdown-toggle.button, .gform_button .show>.dropdown-toggle[type="submit"], .wmle_loadmore .show>.dropdown-toggle.wmle_loadmore_btn, .show>.dropdown-toggle.btn, .show>.dropdown-toggle.btn-primary, .show>.dropdown-toggle.btn-secondary, .show>.dropdown-toggle.jig-loadMoreButton, .show>.dropdown-toggle.btn-circle, .wmle_post_excerpt .show>a.dropdown-toggle, .show>.dropdown-toggle.add_to_cart_button {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $background-color;
}
