

.img-clip-arrow-top {
	-webkit-clip-path: polygon(0 $triangle-width, $triangle-width $triangle-width, calc(#{$triangle-width} * 2) 0, calc(#{$triangle-width} * 3) $triangle-width, 100% $triangle-width, 100% 100%, 0 100%);
	// -webkit-clip-path:	polygon(0 10%, 10% 10%, calc(#{$triangle-width} * 0.5) 0, 0 0, 20% 20%, 0 calc(100% - #{$triangle-width} *1)), 0 0;	// Safari
	//-webkit-clip-path: polygon(10% 8%, 20% 0, 30% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%);
	// -webkit-clip-path: polygon(10% 8%, 20% 0, 30% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%);
	// clip-path: polygon(15% 15%, 30% 0, 40% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}

.img-clip-arrow-bottom {
	-webkit-clip-path: polygon(100% 0, 100% 85%, 35% 85%, 25% 100%, 15% 85%, 0 85%, 0 0);
	clip-path: polygon(100% 0, 100% 85%, 45% 85%, 30% 100%, 15% 85%, 0 85%, 0 0);
}

