//////////////// Start GLOBAL Typography
body {
	font-family: $font-family-primary;
    
}

body#progressive-property-site, #progressive-group-site {
    color: $brand-secondary;
}

h1,h2,h3,h4,h5,h6, .jig-caption-title {
    line-height: 1.25; font-weight: 700; letter-spacing: -0.03em; font-family: $font-family-primary; margin-bottom: 0.125em;
} 

#any-other-site3 {
    h1,h2,h3,h4 {font-family: $font-family-secondary; letter-spacing: normal; font-weight: normal;}
    h6 { font-weight: normal; letter-spacing: 1px; }
}

h1 {
    line-height: 1; 
    // text-transform: uppercase;
    @include media-breakpoint-up (xs) {font-size: 3rem;}
    @include media-breakpoint-up (sm) {font-size: 4rem;}
    @include media-breakpoint-up (md) {font-size: 5rem;}
    @include media-breakpoint-up (lg) {font-size: 6rem;}
    @include media-breakpoint-up (xl) {font-size: 6rem;}
}
h2 {
    //text-transform: uppercase;
    line-height: 1;
    @include media-breakpoint-up (xs) {font-size: 3rem;}
    @include media-breakpoint-up (sm) {font-size: 3rem;}
    @include media-breakpoint-up (md) {font-size: 3rem;}
    @include media-breakpoint-up (lg) {font-size: 4rem;}
    @include media-breakpoint-up (xl) {font-size: 4rem;}
}

h3 {
    @include media-breakpoint-up (sm) {font-size: 1.5rem;}
    @include media-breakpoint-up (md) {font-size: 2rem;}
}

// Category Post as cards title
h1.h4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
h6 {
    text-transform: uppercase;
}
h1.entry-header, h1.entry-title,  {
        @extend h1;
        //margin-bottom: 1rem;
        padding-bottom: .5rem;
}
.bigger {
    line-height: 1.25;
    @include media-breakpoint-up (sm) {font-size: 2rem;}
    @include media-breakpoint-up (md) {font-size: 2rem;}
}

.title-arrow:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-right-flush;
    position: absolute;
    left: 0;
    margin-left: -1px;
}


.smaller {
    // @include media-breakpoint-up (sm) {font-size: 1rem;}
    // @include media-breakpoint-up (md) {font-size: 1.5rem;}
}
p {
    font-family: $font-family-primary;
    &:last-child {
        margin-bottom: 1em;
    }
}

.display-3 { // Group home hero
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    @include media-breakpoint-down  (md)    {font-size: 3rem;}
    @include media-breakpoint-up    (md)    {font-size: 4rem;}
}


.display-4 { // superior to p.lead?
    font-weight: 500;
    line-height: 1.25;
    @include media-breakpoint-down (sm) {font-size: 1.5rem;}
    @include media-breakpoint-up   (sm) {font-size: 2rem;}

}

p.lead {
    font-weight: 500;
    line-height: 1.25;
    font-size: 1.5rem;
    /*@include media-breakpoint-down  (md) {font-size: 1rem;}
    @include media-breakpoint-up    (lg) {font-size: 1.5rem;}
    */
}


blockquote {
    //font-family: serif;
    font-size: 1.66rem;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.03em; 
    .tight-quote {
        line-height: 1;
    }

    .blockquote-footer {
        margin-top: 1rem;
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
            cite {
                color: $gray;
                font-style: normal;
                opacity: .8;
            }
    }
}

blockquote.negative {
    .blockquote-footer {
         color: $background-color;
     cite {
        color: $gray-lighter;
        }
    }
}


.event-details {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
}

.event-details{
    margin-right: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

// VIP Colours (adam)

.vip-body { 
	color: #000000;
}

.brand-vip-colour {
        color: #e8a714;
    }

.brand-primary-colour {
        color: $brand-primary;
    }

.brand-secondary-colour {
        color: $brand-secondary !important;
    }
    
.whiteout {
    color: $background-color !important;
} 

.arrow-title:before {
    font-family: 'progressive-icons';
    content: $icon-progressive-arrow-right-flush;
    margin-left: -.15rem;
}


//////////////// End GLOBAL Typography

////////////////////////////////////////////////////////////////
//////////////// Start GROUP ONLY
////////////////////////////////////////////////////////////////

body#progressive-group-site {
    h2.component-title { margin-bottom: 16vh; }

    h2.mask-title {
        background-color: $brand-primary;
        color: $background-color;
        font-size: 3.66em;
        padding: .1em .25em .2em .4em;
        display: inline-block;
        -webkit-clip-path:  polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 75%);
        clip-path:          polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 75%);
        // @extend .mask-group not proportional :(
    }

    .entry-title {
        padding: 5rem 0 $triangle-width 0;
    }

}


////////////////////////////////////////////////////////////////
//////////////// Start PROPERTY Typography
////////////////////////////////////////////////////////////////

.pointer>h3 {
  margin-top: -80px; // Counters the space caused by icon styling 
}

.pointer.gray-lighter-bg {
  padding-bottom: 8rem; // Counters the space caused by icon styling 
}

//////////////// End PROPERTY Typography

////////////////////////////////////////////////////////////////
//////////////// Start EMPOWERMENT ONLY
////////////////////////////////////////////////////////////////

body#progressive-emp-site{
    h1,h2,h3,h4,h5,h6, .nav-link {text-transform: uppercase;}
}

//////////////// END EMPOWERMENT ONLY

