
#empowerment-change-bg {
	max-height: 600px;
}


.video-background {
  position: relative;
  width: 100%;
  height:100%;
  overflow:hidden;
  video,
  .video-opacity {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  .video-opacity {
    z-index: 10;
    background: rgba(0,0,0,0.3);
  }
  .overlay {
    z-index: 99999;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    	h2 { max-width: 66%; color: $background-color; padding: 3rem; }
    }
	min-height: 600px;  
  }

