///

// Live Template 

body.page-template-right-sidebarpage-livestream {
  margin-top: 0;
}

#p-comments-container {
  width: 100%;
  min-height: 100vh; //calc( 100vh - 120px);
 //height: 815px;
  overflow-y: scroll;
  //border: 1px solid orange;
}

.saic-wrapper {

	.saic-wrap-form {
		padding-top: 3rem;
	}

	#saic-container-form-1844 {
		padding-left: 0;
	}

	.form-check-input, #choice_3_1_1 {
		margin-left: 0;
	}

	.form-group.comment-form-url {
		display: none !important;
	}

	.saic-wrap-.saic-container-form input[type="submit"], .saic-form-btn {
		border-radius: $default-border-radius;
	}

}

.saic-wrapper .saic-wrap-form .saic-container-form input, input#author, textarea {

		&:not(.form-check-input) {
		padding: 0.375rem 0.75rem;
		height: 42px;
	    font-size: 1rem;
	    line-height: 1;
	}
}

.viewing-problems {
  padding: 1rem 0;
}


