.wp-block-column:nth-child(odd) {
	margin-right: 1rem;
}

.wp-block-column:not(:last-child) {
    margin-right: 1rem;
		@include media-breakpoint-down (md) { margin-right: 0; margin-left: 0; }
}

.wp-block-column:not(:first-child) {
	margin-left: 1rem;
		@include media-breakpoint-down (md) { margin-right: 0; margin-left: 0; }
}

.wp-block-column:first-child {
    margin-right: 1rem;
    @include media-breakpoint-down (md) { margin-right: 0; }
} 

.wp-block-column:last-child {
	margin-right: 0 !important;
}

.wp-block-columns.has-3-columns {
    @include media-breakpoint-down (md) { display: block;}
}

.btn-wrap {
	overflow-wrap: break-word;
	white-space: normal;
	line-height: 1;
	padding: $btn-padding;
	margin-bottom: .5rem;
	@include media-breakpoint-down (md) { display: block; width: 100%;}
}