// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

////////////////// Progressive PROPERTY Brand Variables /////////////////////////////////////////

// Bootstrap 4 re-mapping basic colours

$info:          							#1700ab;
$success:     								#00BB99;
$warning:									#EE7523; // PMS 158
$danger:									#ED1C24; // Hot red

// The Brand
$brand-primary:								#e84e0f; // e66007 Progressive Orange was 
$brand-secondary:							#0f2652; // 1700ab Progressive Blue	

$brand-tertiary:							#33CCCC; // ?
$brand-quaternary:							#777777; // light grey

$complimentary-color:			      		#3E2F80; // Lighter blue used in gradients
$brand-tertiary-disabled:					#99CCCC; // For disabled inputs

$bg-primary:								$brand-primary;
$bg-danger:									red;								
$bg-info:									$brand-tertiary;						
$bg-warning:								#FFCC00;				
$bg-success:								green;

 
// Basics
$background-color: 				      		#000; // 
$foreground-color:				      		#FFF; // 


// Structure

// Basics of a navbar
$navbar-height:					    		6rem; // 96px
$navbar-padding:							1rem 1rem 0 1rem;
$navbar-bg:									$background-color;
$icon-bar-color:							$foreground-color;
$trans-nav-height:							4rem;

// $navbar-margin-bottom:             		0px

//Rows 
$default-row-height:						500px;
$section-padding-top:						96px;
$section-padding-bottom:					128px;

$triangle-width:							2rem;

$grid-gutter-width: 						30px !default;
// Cards
$card-cap-bg:                       		transparent;

$brand-footer-color:						$brand-secondary;

// Typography Variables 

$font-family-primary: 						'Lato', sans-serif;
$font-family-secondary:         			'Lato', sans-serif;
$default-paragraph-size:					1rem;
$body-font-weight:				  			300;

$display3-weight:							100; // Light font for Dashboard data headlines

$brand-box-shadow: 							0px 0px 16px 1px rgba(0, 0, 0, 0.2);


// Pagination
$pagination-color:							$brand-primary;
$pagination-bg:								$background-color;
$pagination-border-width:					1px;
$pagination-border-color:					#eaeaea;
$pagination-active-border-color:			$brand-primary;

$pagination-hover-color:					$background-color;
$pagination-hover-bg:						$brand-secondary;
$pagination-hover-border-color:				$brand-secondary;


//////////////////////////////////////////// END Bootstrap 4 re-mapping /////////////////////////////////////////

// $default-color:								#000;
// Brand Colour Tints
$brand-primary-base:              				$brand-primary; //  Pink
$brand-primary-darkest: 			     		darken($brand-primary-base, 33.5%); // #
$brand-primary-darker:            				darken($brand-primary-base, 20%); // #
$brand-primary-dark:              				darken($brand-primary-base, 13.5%);   // #
$brand-primary-light:             				lighten($brand-primary-base, 20%); // #
$brand-primary-lighter:           				lighten($brand-primary-base, 33.5%); // #
$brand-primary-lightest:          				lighten($brand-primary-base, 40%); // #


// Brand Secondary Tints
$brand-secondary-base:            				$brand-secondary; //  turquoise
$brand-secondary-darkest:			    		darken($brand-secondary-base, 30%); // #
$brand-secondary-darker:          				darken($brand-secondary-base, 10%); // #
$brand-secondary-dark:            				darken($brand-secondary-base, 1%);   // #
$brand-secondary-light:           				lighten($brand-secondary-base, 5%); // #
$brand-secondary-lighter:         				lighten($brand-secondary-base, 10%); // #
$brand-secondary-lightest:        				lighten($brand-secondary-base, 30%); // resolves to #def7f7 close enough?

// ## Gray and brand colors for use across Bootstrap.

$gray-base:              					#727c8b; 
$gray-darkest:            					#3c4149; // #
$gray-darker:            					darken ($gray-base, 50%); // #
$gray-dark:              					darken ($gray-base, 20%);   // #
$gray:                   					lighten($gray-base, 10%); // #
$gray-light:             					lighten($gray-base, 30%); // #
$gray-lighter:           					lighten($gray-base, 42%); // #
$gray-lightest:           					lighten($gray-base, 46%); // #



///////////////////// Alerts

//Success
$alert-success-border:         				darken($success, 10%);
$alert-success-bg:             				$success;
$alert-success-text:           				#FFF;

//Info
$alert-info-border:         				$brand-secondary-lighter;
$alert-info-bg:             				lighten($brand-secondary-base, 30%);
$alert-info-text:           				darken($brand-tertiary, 30%);

//Danger
$alert-danger-border:         				darken($danger, 10%);
$alert-danger-bg:             				$danger;
$alert-danger-text:           				#FFF;

// Warning
$alert-warning-border:         				darken($warning, 10%);
$alert-warning-bg:             				$warning;
$alert-warning-text:           				#FFF;

// Light
$alert-light-border:         				darken($brand-quaternary, 10%);
$alert-light-bg:             				$gray-lighter;
$alert-light-text:           				$brand-secondary;

// Dark
$alert-dark-border:         				darken($brand-quaternary, 10%);
$alert-dark-bg:             				$brand-quaternary;
$alert-dark-text:           				$background-color;

// Form Settings
$default-border-radius:         			0px; //0px
$input-border-radius:						0px;
$input-padding:								inherit; //30px
//$input-border-width:						0rem; //0px
$btn-padding:								inherit;
//$btn-border:								2px;

$input-height:								48px;
$input-bg:									rgba(255, 255, 255, 0.15);
$woo-input-bg:								$gray-lighter;
$input-bg-disabled:							$gray-light;												
$input-border:								0rem; //0px

// Tables

// Variable for brand specific assests
$get-path-to-assets: 						"../images";
$get-path-to-fonts:							"../fonts" 

