<div class="positive-bg-row">
	<div class="container">
		<h1 class="brand-secondary-colour" data-aos="fade" >Welcome to the Progressive Group</h1>
		<p class="display-4">We are a group of companies who share the vision and values of serial entrepreneurs, property investors and business owners, <a href="#ourFounders">Rob Moore & Mark Homer</a>.</p>
		<p class="lead" data-aos="fade">We aim to deliver on our goal of global financial freedom through education and training. We believe in Freedom, Choice & Profit.</p>
		<div class="row justPad">
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade"></div>
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade"></div>
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" data-aos="fade"></div>
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" data-aos="fade"></div>
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets.svg" data-aos="fade"></div>
			<div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-developments-col.svg" data-aos="fade"></div>
		</div>
		<p data-aos="fade"> The Progressive Group helps investors, business owners and entrepreneurs and over the last 12 years and has seen thousands of ordinary people change their lives by investing in their education.</p>
		<p data-aos="fade"> The Progressive group and it’s world-class trainers are constantly making headlines and breaking world records. Regularly appearing on the major radio networks and worldwide news magazines and tv channels.  The group is also known for its charitable contributions to cancer research, organizations and local hospices.</p>
		<div id="ourFounders"></div>
	</div>
</div>


<div class="gray-lighter-bg-row">
	<div class="container">
		<h2>Our Founders</h2>
		<p class="lead" data-aos="fade">Progressive was built by property multi-millionaire co-founders Rob Moore and Mark Homer after they achieved financial independence through property in their 20’s. Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice & profit [at first].

		<p class="" data-aos="fade">Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership 	built Progressive from a room in Rob’s house to over 600 properties bought and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>

		<p class="" data-aos="fade">Rob & Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way…</p>

		<div class="row">
			<div class="col-md-6">
                    <img class="img-fluid mask-group" src="/wp-content/uploads/2018/11/rob_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Rob Moore</h3>
				<p>Rob Moore is the charismatic, selfmade entrepreneur who writes, blogs, podcasts and posts his inspiring views on making money and making a difference. Whilst he is a full-time property investor, Rob is also passionate about all aspects of being an entrepreneur and is driven by a need to motivate others to make more of their time whilst chasing their professional aspirations. He has presented to over 100,000 people and is regarded by many as the best property speaker in the UK.</p>
			</div>	
			<div class="col-md-6">
				<img class="img-fluid mask-group-br" src="/wp-content/uploads/2018/11/mark_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Mark Homer</h3>
				<p>Mark is a knowledgeable property expert and investor who has been an entrepreneur since the age of 15, and whose understanding of the UK property market is near-unrivalled. Mark and Rob’s £multi- million portfolio of over 550 properties is a dream come true for Mark, as he enjoys nothing better than viewing a spreadsheet of figures that are on an upwards trajectory.</p>
			</div>	
		</div>	

	</div>
</div>	