<header id="group-hero-home">
    <div id="group-home-hero" class="hero group mask-group-tl">
        <div class="container">
            <div class="hero-content" data-aos="fade-up">
                <div class="ticker ticker-title display-3 negative">
                    <ul>
                        <li><h1 class="">Discover a Life of Freedom, Choice & Profit</h1></li>
                        <li><h1 class="">Transform Your Life With Educated Income Strategies</h1></li>
                        <li><h1 class="">Changing People's Lives Since 2007</h1></li>
                    </ul>
                </div>
                <div class="row card-group" id="">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div data-aos="fade" class="card mb-3">
                            <div data-aos="fade" class="card-header pb-0">
                                <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade">
                            </div>
                            <div data-aos="fade" class="card-body pb-0">
                                <p class="d-md-block d-none" style="line-height: 1.25;">We deliver value to you through <a href="">books</a>, audio and podcasts, online and physical courses, masterminds, mentorships and retreats. We believe that traditional education may make you a living, but self-education could make you a fortune.</p>
                                <!-- mobile copy -->
                                <p class="d-sm-block d-md-none" style="line-height: 1.25;">We believe that traditional education may make you a living, but self-education could make you a fortune...</p>
                            </div>
                            <div data-aos="fade" class="card-footer">
                                <a href="//property.beprogressive.com" class="btn angle btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div data-aos="fade" class="card mb-3">
                            <div data-aos="fade" class="card-header pb-0">
                                <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg">
                            </div>
                            <div data-aos="fade" class="card-body pb-0">
                                <p class="d-md-block d-none" style="line-height: 1.25;">This is the best place to get the education you need to improve all areas of your personal and business life and live the life of your dreams! We’re not into personal development – we are into supporting you every step of the way and welcoming you into our community.</p>
                                <!-- mobile copy -->
                                <p class="d-sm-block d-md-none" style="line-height: 1.25;">Progressive Success is the best place to get the education you need to improve all areas of your personal and business life and live the life of your dreams!</p>
                            </div>
                            <div data-aos="fade" class="card-footer">
                                <a href="//success.beprogressive.com" class="btn btn-sm btn-primary mt-3" target="_blank">Visit the site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div data-aos="fade" class="card mb-3 d-flex align-items-stretch">
                            <div data-aos="fade" class="card-body pb-0">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" class="float-right">
                                    </div>
                                    <div class="col-6">
                                        <a href="//progressivepublishing.co.uk" class="btn btn-sm btn-primary mt-3 float-right mr-3" target="_blank">2019 Launch</a>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade" class="card-footer"></div>
                        </div>
                        <div data-aos="fade" class="card mb-3">
                            <div data-aos="fade" class="card-body pb-0">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" class="float-right">
                                    </div>
                                    <div class="col-6">
                                        <a href="//progressivepropertynetwork.co.uk" class="btn btn-sm btn-primary mt-3 float-right mr-3" target="_blank">Visit the site</a>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade" class="card-footer"></div>
                        </div>
                        <div data-aos="fade" class="card brand-primary-bg mb-3">
                            <div data-aos="fade" class="card-body pb-0">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets-wo.svg" class="float-right">
                                    </div>
                                    <div class="col-6">
                                        <a href="//progressivelets.co.uk" class="btn btn-sm btn-light mt-3 float-right mr-3" target="_blank">Visit the site</a>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade" class="card-footer"></div>
                        </div>
                    </div>

                </div>
                <div class="row card-group">
                    <div class="col-lg-8 order-lg-first d-flex align-items-stretch">
                        <div data-aos="fade" class="card brand-secondary-bg founders w-100 mb-3 mb-md-0">
                            <div data-aos="fade" class="card-body pb-0">
                                <div class="row d-flex flex-row">
                                    <div class="col-lg-3 pr-lg-0">
                                        <h3 class="smaller pb-0">Progressive Founders</h3>
                                    </div>
                                    <div class="col-lg-6 pr-lg-0" href="#ourFounders" style="cursor: pointer;" onclick="window.location='/about/#ourFounders';">
                                        <div class="row d-flex align-items-start">
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img src="/wp-content/uploads/2018/11/founders-01-450.jpg" class="img-fluid mb-sm-3"></div>
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img src="/wp-content/uploads/2018/11/founders-02-450.jpg" class="img-fluid mb-sm-3"></div>
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img src="/wp-content/uploads/2018/11/founders-03-450.jpg" class="img-fluid mb-sm-3"></div>
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img src="/wp-content/uploads/2018/11/founders-04-450.jpg" class="img-fluid mb-sm-3"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pl-lg-3 d-flex align-items-end">
                                        <a href="/about/#ourFounders" class="btn btn-sm btn-primary mb-3 btn-secondary-bg">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-first order-md-last d-flex align-items-stretch">
                        <div data-aos="fade" class="card brand-secondary-bg founders w-100 mb-3 mb-lg-0">
                            <div data-aos="fade" class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <img src="/wp-content/uploads/2018/11/logo-progressive-developments.svg" class="p-brand">
                                    </div>
                                    <div class="col-6">
                                        <a href="//progressivedevelopments.co.uk" class="btn btn-sm btn-primary mt-3 float-right mr-3 btn-secondary-bg" target="_blank">Visit the site</a>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade" class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.hero-content -->
        </div>
        <!-- /.container -->
</header>

<div class="container">
        <div class="row no-gutters ticker-bar clickable-div"> 
            <div class="col-12 col-md-2 d-flex align-items-stretch">
                <div class="featured-in-label"><a href="/media-press/">Featured in:</a></div>
            </div>
            <div class="col-10">
                <div class="ticker featured-in">
                    <ul>
                        <li>Amazon &bull; BBC &bull; Financial Times &bull; The Sun &bull; WH Smith &bull; Daily Mail &bull; ITV &bull; Living TV  &bull; Quantas  &bull; Sky Living</li>
                        <li>Guinness World Records &bull; Wall Street Journal &bull; BBC &bull; Radio 2 &bull; The Independent &bull; Waterstones &bull; Huffington Post</li>
                        <li>Sue Ryder &bull; iTunes &bull; Amazon &bull; BBC &bull; Financial Times &bull; The Sun &bull; WH Smith</li>
                    </ul>
                </div>
            </div>
        </div>
</div>

<div class="positive-bg-row row-arrow-positive">
    <div class="container">
        <div class="col-12">
            <h2 data-aos="fade">The Mission</h2>
            <p class="display-4" data-aos="fade">We believe life is best lived as a progressive journey towards knowing, making and giving more. Empowering the greatness already within everyone. Making money whilst making a diﬀerence.</p>
        </div>
        <div class="col-12">
            <div data-aos="fade" class="card-deck">
                <div data-aos="fade" class="card brand-secondary-bg w-100 mask-group-br">
                    <div data-aos="fade" class="card-body pl-4">
                        <h3 class="bigger">Progressive</h3>
                        <p class="lead">Always learning, growing, serving and solving.</p>
                    </div>
                </div>

                <div data-aos="fade" class="card brand-secondary-bg w-100 mask-group-br">
                    <div data-aos="fade" class="card-body pl-4">
                        <h3 class="bigger">Innovative</h3>
                        <p class="lead">Embracing and pre-empting change rather than being disrupted by it.</p>
                    </div>
                </div>

                <div data-aos="fade" class="card brand-secondary-bg w-100 mask-group-br">
                    <div data-aos="fade" class="card-body pl-4">
                        <h3 class="bigger">Personal</h3>
                        <p class="lead">We are available and accessible. We build communities not machines.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="brandBase negative" id="home-inspire">
    <div class="container">
        <div class="col-12">
            <h2 data-aos="fade">Inspire & Empower</h2>
            <p class="display-4" data-aos="fade">Progressive exist to inspire and empower worldwide financial security, freedom & choice by making financial education, investment and asset building accessible to everyone.</p>
        </div>
    </div>
</div>


<div class="positive-bg-row row-arrow-positive">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2 data-aos="fade">Valuable Education</h2>
                <p class="display-4" data-aos="fade">We educate and build communities around property, online business, personal branding and speaking, and general business and personal development.</p>
                <p>Progressive deliver value to you through books, audio and podcasts, online and physical courses, masterminds, mentorships and retreats. We believe that traditional education may make you a living, but self-education will make you a fortune.</p>
            </div>
            <div class="col-md-4">
                <img src="/wp-content/uploads/2018/11/valuable-education.jpg" class="img-fluid mt-5">
            </div>
        </div>
    </div>
</div>


<div class="brand-primary-bg-row row-arrow-primary">
    <div class="container">
        <h2 data-aos="fade">Traditional education may make you a living, but self-education could make you a fortune.</h2>
    </div>
</div>



<div class="negative-bg pt-5" id="home-drone">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h2 class="brand-primary-colour">We Walk the Walk</h2>
                <p class="display-4" data-aos="fade">Not only do we walk the walk and test strategies on ourselves first, and not only have we created more success stories to our knowledge than any other UK training provider, but we have trained many of the trainers and competitors in the
                    marketplace.</p>
            </div>

            <div class="row-footer d-flex align-items-end">
                <div data-aos="fade" class="card brand-primary-bg w-100 mask-group-tr row-arrow-primary mr-3 ml-3 m-mb-0">
                    <div data-aos="fade" class="card-body">
                        <p class="display-4" data-aos="fade">We have created large yet very personal communities and accountability environments that get results.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="brand-secondary-bg-row mask-group mb-5 row-before-arrow">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-4">
                <img src="/wp-content/uploads/2018/11/founders-01-450.jpg" class="img-fluid">
            </div>
            <div class="col-6 col-md-2 mb-4">
                <img src="/wp-content/uploads/2018/11/founders-02-450.jpg" class="img-fluid">
            </div>
            <div class="col-6 col-md-2 mb-4">
                <img src="/wp-content/uploads/2018/11/founders-03-450.jpg" class="img-fluid">
            </div>
            <div class="col-6 col-md-2 mb-4">
                <img src="/wp-content/uploads/2018/11/founders-04-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-3 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-05-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-06-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-07-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-08-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-09-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-10-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-11-450.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4 d-none d-lg-block">
                <img src="/wp-content/uploads/2018/11/founders-12-450.jpg" class="img-fluid">
            </div>
        </div>
        <h2 data-aos="fade">Progressive Founders</h2>
        <p class="display-4" data-aos="fade">Progressive was built by property multi-millionaire co-founders Rob Moore and Mark Homer after they achieved financial independence through property in their 20’s</p>
        <p>Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice & profit [at first].</p>
        <p class="d-none d-md-block">Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership built Progressive from a room in Rob’s house to over 600 properties bought and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>
        <p class="lead">Rob & Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way...</p>
    </div>
</div>