<header id="group-hero-home">
    <div id="group-home-hero" class="hero group mask-group-tl">
        <div class="container">
            <div class="hero-content" data-aos="fade-up">
                <div class="ticker ticker-title display-3 negative">
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>
                                    <h1 class="">Invest for Freedom Choice &amp; Profit</h1>
                                </li>
                                <li>
                                    <h1 class="">Transform Your Life With Education</h1>
                                </li>
                                <li>
                                    <h1 class="">Changing People's Lives Since 2007</h1>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    
                </div>
                
                <div id="" class="row card-group">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card mb-3 fashionable-texture" data-aos="fade">
                            <div class="card-header pb-0" data-aos="fade"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade"></div>
                            
                            <div class="card-body pb-0" data-aos="fade">
                                <p class="d-md-block d-none" style="line-height: 1.25;">We deliver value to you through <a>books</a>, audio and podcasts, online and physical courses, masterminds, mentorships and retreats. We believe that traditional education may make you a living, but self-education could
                                    make you a fortune.</p>
                                <p>
                                    <!-- mobile copy -->
                                </p>
                                <p class="d-sm-block d-md-none" style="line-height: 1.25;">We believe that traditional education may make you a living, but self-education could make you a fortune...</p>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade"><a class="btn angle btn-sm btn-primary mt-3" href="//property-beprogressive-com.progressivegrp.staging.wpengine.com" target="_blank" rel="noopener">Visit the site</a></div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card mb-3 fashionable-texture" data-aos="fade">
                            <div class="card-header pb-0" data-aos="fade"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg"></div>
                            
                            <div class="card-body pb-0" data-aos="fade">
                                <p class="d-md-block d-none" style="line-height: 1.25;">This is the best place to get the education you need to improve all areas of your personal and business life and live the life of your dreams! We’re not into personal development – we are into supporting you every step
                                    of the way and welcoming you into our community.</p>
                                <p>
                                    <!-- mobile copy -->
                                </p>
                                <p class="d-sm-block d-md-none" style="line-height: 1.25;">Progressive Success is the best place to get the education you need to improve all areas of your personal and business life and live the life of your dreams!</p>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade"><a class="btn btn-sm btn-primary mt-3" href="//success-beprogressive-com.progressivegrp.staging.wpengine.com" target="_blank" rel="noopener">Visit the site</a></div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="card mb-3 fashionable-texture d-flex align-items-stretch" data-aos="fade">
                            <div class="card-body pb-0" data-aos="fade">
                                <div class="row no-gutters">
                                    <div class="col-6"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg"></div>
                                    
                                    <div class="col-6"><a class="btn btn-sm btn-primary mt-3 float-right mr-3" href="//progressivepublishing.co.uk" target="_blank" rel="noopener">2019 Launch</a></div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade">&nbsp;</div>
                            
                        </div>
                        
                        <div class="card mb-3 fashionable-texture" data-aos="fade">
                            <div class="card-body pb-0" data-aos="fade">
                                <div class="row no-gutters">
                                    <div class="col-6"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg"></div>
                                    
                                    <div class="col-6"><a class="btn btn-sm btn-primary mt-3 float-right mr-3" href="//progressivepropertynetwork.co.uk" target="_blank" rel="noopener">Visit the site</a></div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade">&nbsp;</div>
                            
                        </div>
                        
                        <div class="card brand-primary-bg mb-3" data-aos="fade">
                            <div class="card-body pb-0" data-aos="fade">
                                <div class="row no-gutters">
                                    <div class="col-6"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets-wo.svg"></div>
                                    
                                    <div class="col-6"><a class="btn btn-sm btn-light mt-3 float-right mr-3" href="//progressivelets.co.uk" target="_blank" rel="noopener">Visit the site</a></div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade">&nbsp;</div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="row card-group">
                    <div class="col-lg-8 order-lg-first d-flex align-items-stretch">
                        <div class="card brand-secondary-bg founders w-100 mb-3 mb-md-0" data-aos="fade">
                            <div class="card-body pb-0" data-aos="fade">
                                <div class="row d-flex flex-row">
                                    <div class="col-lg-3 pr-lg-0">
                                        <h3 class="smaller pb-0">Progressive Founders</h3>
                                        
                                    </div>
                                    
                                    <div class="col-lg-6 pr-lg-0" style="cursor: pointer;">
                                        <div class="row d-flex align-items-start">
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img class="img-fluid mb-sm-3" src="/wp-content/uploads/2018/11/founders-01-450.jpg"></div>
                                            
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img class="img-fluid mb-sm-3" src="/wp-content/uploads/2018/11/founders-02-450.jpg"></div>
                                            
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img class="img-fluid mb-sm-3" src="/wp-content/uploads/2018/11/founders-03-450.jpg"></div>
                                            
                                            <div class="col-6 col-lg-3 mb-4 mb-md-0"><img class="img-fluid mb-sm-3" src="/wp-content/uploads/2018/11/founders-04-450.jpg"></div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-lg-3 pl-lg-3 d-flex align-items-end"><a class="btn btn-sm btn-primary mb-3 btn-secondary-bg" href="/about/#ourFounders">Read More</a></div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4 order-first order-md-last d-flex align-items-stretch">
                        <div class="card brand-secondary-bg founders w-100 mb-3 mb-lg-0" data-aos="fade">
                            <div class="card-body" data-aos="fade">
                                <div class="row no-gutters">
                                    <div class="col-6"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-developments.svg"></div>
                                    
                                    <div class="col-6"><a class="btn btn-sm btn-primary mt-3 float-right mr-3 btn-secondary-bg" href="//progressivedevelopments.co.uk" target="_blank" rel="noopener">Visit the site</a></div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer" data-aos="fade">&nbsp;</div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="row mt-3">
                <div class="col-md-2 col-sm-6 d-flex align-items-stretch">
                    <div class="featured-in-label"><a href="/media-press/">Featured in:</a></div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</header>
<div class="container">
    <div class="row no-gutters ticker-bar clickable-div">
        <div class="col-12">
            <div class="js-conveyor">
                <ul>
                    <li style="list-style-type: none;">
                        <ul>
                            <li>Amazon</li>
                            <li>BBC</li>
                            <li><a href="http://archive.li/5OVqE">Financial Times</a></li>
                            <li>The Sun</li>
                            <li>WH Smith</li>
                            <li>Daily Mail</li>
                            <li>Living TV</li>
                            <li>Quantas</li>
                            <li>Sky Living</li>
                            <li>Guinness World Records</li>
                            <li>Wall Street Journal</li>
                            <li>BBC Radio 2</li>
                            <li>The Independent</li>
                            <li>Waterstones</li>
                            <li>iTunes</li>
                            <li>Huffington Post</li>
                            <li>Sue Ryder</li>
                        </ul>
                    </li>
                </ul>
                
                
            </div>
            
        </div>
        
    </div>
</div>
<div class="positive-bg-row row-arrow-positive">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12">
                <h2 data-aos="fade">Progressive Mission</h2>
                
                <p class="display-4" data-aos="fade">We believe life is best lived as a progressive journey towards knowing, making and giving more. Empowering the greatness already within everyone. Making money whilst making a diﬀerence.</p>
                
            </div>
            
        </div>
        
        <div id="" class="row d-flex">
            <div class="col-md-4 col-12 align-self-stretch">
                <div class="card brand-secondary-bg w-100 mask-group-br align-self-stretch vh-100 mb-3" data-aos="fade">
                    <div class="card-body pl-4" data-aos="fade">
                        <h3 class="bigger">Progressive</h3>
                        
                        <p class="lead">Always learning, growing, serving and solving.</p>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-4 col-12 align-self-stretch">
                <div class="card brand-secondary-bg w-100 mask-group-br align-self-stretch vh-100 mb-3" data-aos="fade">
                    <div class="card-body pl-4">
                        <h3 class="bigger">Innovative</h3>
                        
                        <p class="lead">Embracing and pre-empting change rather than being disrupted by it.</p>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-4 col-12 align-self-stretch">
                <div class="card brand-secondary-bg w-100 mask-group-br align-self-stretch vh-100 mb-3" data-aos="fade">
                    <div class="card-body pl-4" data-aos="fade">
                        <h3 class="bigger">Personal</h3>
                        
                        <p class="lead">We are available and accessible. We build communities not machines.</p>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
<div id="home-inspire" class="negative-bg-row">
    <div class="container">
        <div class="col-12">
            <h2 data-aos="fade">Inspire &amp; Empower</h2>
            
            <p class="display-4" data-aos="fade">Progressive exist to inspire and empower worldwide financial security, freedom &amp; choice by making financial education, investment and asset building accessible to everyone.</p>
            
        </div>
        
    </div>
</div>
<div class="positive-bg-row row-arrow-positive">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2 data-aos="fade">Progressive Education</h2>
                
                <p class="display-4" data-aos="fade">We educate and build communities around property, online business, personal branding and speaking, and general business and personal development.</p>
                <p>Progressive deliver value to you through books, audio and podcasts, online and physical courses, masterminds, mentorships and retreats. We believe that traditional education may make you a living, but self-education will make you a fortune.</p>
                
            </div>
            
            <div class="col-md-4"><img class="img-fluid mt-5" src="/wp-content/uploads/2018/11/valuable-education.jpg"></div>
            
        </div>
        
    </div>
</div>
<div class="brand-primary-bg-row row-arrow-primary">
    <div class="container">
        <h2 data-aos="fade">Traditional education may make you a living, but self-education could make you a fortune.</h2>
        
    </div>
</div>
<div id="home-drone" class="negative-bg pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h2 class="brand-primary-colour">We Walk the Walk</h2>
                
                <p class="display-4" data-aos="fade">Not only do we walk the walk and test strategies on ourselves first, and not only have we created more success stories to our knowledge than any other UK training provider, but we have trained many of the trainers and competitors in the<br>marketplace.</p>
                
            </div>
            
            <div class="row-footer d-flex align-items-end">
                <div class="card brand-primary-bg w-100 mask-group-tr row-arrow-primary mr-3 ml-3 m-mb-0" data-aos="fade">
                    <div class="card-body" data-aos="fade">
                        <p class="display-4" data-aos="fade">We have created large yet very personal communities and accountability environments that get results.</p>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
<div class="positive-bg-row mask-group row-before-arrow pb-0">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-4"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-01-450.jpg"></div>
            
            <div class="col-6 col-md-2 mb-4"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-02-450.jpg"></div>
            
            <div class="col-6 col-md-2 mb-4"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-03-450.jpg"></div>
            
            <div class="col-6 col-md-2 mb-4"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-04-450.jpg"></div>
            
            <div class="col-md-2 mb-3 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-05-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-06-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-07-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-08-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-09-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-10-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-11-450.jpg"></div>
            
            <div class="col-md-2 mb-4 d-none d-lg-block"><img class="img-fluid" src="/wp-content/uploads/2018/11/founders-12-450.jpg"></div>
            
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h2 data-aos="fade">Progressive Founders</h2>
                
                <p class="display-4" data-aos="fade">Progressive was built by property multi-millionaire co-founders Rob Moore and Mark Homer after they achieved financial independence through property in their 20’s</p>
                
            </div>
            
            <div class="col-md-6">
                <p>Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice &amp; profit [at first].</p>
                
                <p class="d-none d-md-block">Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership built Progressive from a room in Rob’s house to over 600
                    properties bought and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>
                
                <p class="lead">Rob &amp; Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way...</p>
                
            </div>
            
            <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/2018/12/rob-and-mark-cropped-on-white.jpg"></div>
            
        </div>
        
    </div>
</div>