<div class="container justPad">
<h1 class="entry-title">Privacy Policy</h1>

<strong>The Information We Collect and Use:</strong>

By information we mean information about you collected through our Service website(s), including your email address and other information you provide to us by registering for our services or making requests for information about our services. Any information provided to us will be retained and used solely for the purposes of fulfilling your request for information, fulfilling a request through a Site feature, performing and carrying out the terms of the Service, or communicating with you as a member of the Service.

<strong>Registration</strong>

Registration for the Service is not required to simply view the Site. If you elect to register for the Service, Cardellmedia Ltd asks you for information that enables us to provide the Service. You will be registering with Cardellmedia Ltd on the form provided and such registration may require you to provide contact information such as your name and email address.

<strong>Aggregate Information</strong>

From time to time, we may collect general, non-personal, statistical information about the use of the Site and the Service, such as how many visitors visit a specific page on the Site, how long they stay on that page, and which hyperlinks, if any, they “click” on. We collect this information through the use of technologies such as “cookies” and “IP addresses”, which are discussed in greater detail below. We may also group this information into aggregate visitor data in order to describe the use of the Site and Service to our existing or potential business partners or other third parties, or in response to a government request. However, please be assured that this aggregate data will in no way personally identify you, other list members or any other visitors to the Site.

<strong>IP Addresses</strong>

An IP address is a number that’s automatically assigned to your computer whenever you’re surfing the web. Web servers, the computers that “serve” web pages, automatically identify your computer by its IP address. Company collects IP addresses for purposes of system administration, to report aggregate information to third parties and to track the use of the Site. When visitors request pages from the Site or click on a link in a mailing sent through the Service our servers log the visitors’ IP addresses. We reserve the right to use IP addresses to identify a visitor or list member when it will enhance the users experience or if we feel it is necessary to enforce compliance with the Site’s policies or to protect Company, the Site, its visitors, the Service, our Internet Service Provider partners, the list members or others.

<strong>Cookies</strong>

Cookies are pieces of information that a websites transfers to an individual’s hard drive for record-keeping purposes. Cookies make web-surfing easier for you by saving your preferences while you’re at the Site. The use of cookies is an industry standard — you’ll find them at most websites. For example, we may use cookies on the Site to verify the subscriber’s login status. They are not used to store personal information, or to retain historical or transactional subscriber data. By showing how and when visitors use the Site, cookies help us see which areas are popular and which are not. Information such as the total number of visitors and pages viewed is most easily tracked with cookies. We may use the information from cookies to make improvements and updates to the Site and to tailor our services to our visitors’, list members’ and survey participants’ needs.

You always have the option of disabling cookies using your browser preferences. Most browsers are initially set up to accept cookies. You can reset your browser to refuse all cookies or indicate when a cookie is being sent. However, please be aware that some features of the Site will not function properly or may be slower if you refuse cookies.

<strong>Clear Gifs (Web Beacons / Web Bugs)</strong>

Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users. In contrast to cookies, which are stored on a user’s computer hard drive, clear gifs are embedded invisibly in HTML files and are about the size of the period at the end of this sentence.

We may use clear gifs in our HTML-based emails to let us know which emails have been opened by recipients. This allows us to gauge the effectiveness of certain communications and the effectiveness of our marketing campaigns. If you no longer wish to receive our newsletter or other promotional communications by email, you may opt-out of receiving them by following the instructions included in each communication.

<strong>Profile</strong>

We may store information that we collect through cookies and clear gifs to create a “profile” of your preferences. We may tie your personal information to information in the profile to provide tailored promotions and marketing offers or to improve the content of the Site for you. We do not share your profile with third parties.

<strong>Information Sharing and Disclosure:</strong>

Except for the limited situations listed here in this Privacy Policy, we will not share your personal information with third parties.

<strong>Agents and Third Party Service Providers</strong>

To provide the Service to you, we may sometimes use other businesses to perform certain specialized services such as data processing or other technology services. In such instances, we may provide your personal information to those businesses but they are not permitted to retain or use your information for any other purpose.

<strong>Change of Control / Asset Transfer</strong>

As the Company develops, we may buy other businesses or their assets or sell all or parts of our business assets. Customer information is generally one of the business assets involved in such transactions. Thus, in the event that the assets of the Company in whole or in parts are acquired by a third-party, customer information, including any visitor information collected through the Site or the Service, would be one of the transferred assets. In the event of a corporate change in control or sale of all or parts of our business assets our users will be notified in accordance with the “Changes to this Policy” section of the policy if their personal information is provided to the new corporate entity or asset purchaser.

<strong>Legal Compliance</strong>

Company reserves the right to disclose member information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) Company’s rights or property, other visitors, list members, or anyone else that could be harmed by such activities. Company also reserves the right to disclose visitor or list member information when we believe in good faith that the law requires it.

<strong>Communications From the Site:</strong>

Customer Service

Based upon the information you provide us, we will communicate with you in response to your inquiries, to provide the services you request, and to manage your account. We may communicate with you by email or telephone.

<strong>Newsletters and Promotions</strong>

We may provide you the opportunity to opt-in to additional newsletters or promotional communications sent by email. If you have opted in or otherwise qualify to receive these forms of communication, we will use your name and email address to communicate with you. Out of respect for your privacy, we provide you a way to unsubscribe. Please see the “Choice and Opt-out” section.

<strong>Choice/Opt-out:</strong>

Service Email messages are required to fulfill the Service to you. You may opt out of these communications, which are not promotional in nature. If you do not wish to receive them you may opt-out and/or deactivate your account by following the instructions included in each communication or by contacting cardellmedia ltd Support at unsubscribe@cardellmedia.co.uk

We may provide you the opportunity to opt-in to additional newsletters or promotional communications sent by email. If you have opted in or otherwise qualify to receive these forms of communication, and no longer wish to receive our newsletter or other promotional communications by email, you may opt-out of receiving them by following the instructions included in each communication.

<strong>Security and Information Protection:</strong>

The security of your information is important to us. When you enter sensitive information (such as a credit card number) on our payment forms, we encrypt that information using Secure Socket Layer (SSL) technology.

We follow generally accepted industry standards to protect the information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.

<strong>Firewalls</strong>

Protecting the security of your personal information is very important to us. When we store information that you have provided to us when registering for the Service, that information is protected by security measures that include “firewalls” (a combination of computer hardware and software that helps keep unauthorized visitors from accessing information within our computer network), “intrusion detection systems” (a combination of computer hardware and software that helps detect any unauthorized visitors) and other tools such as data encryption and physical security, where appropriate. Unfortunately, no data transmission over the Internet or data repository can be guaranteed to be 100% secure. As a result, while Company strives to protect your personal information and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us online and cannot be responsible for the theft, destruction, or inadvertent disclosure of your personal information.

<strong>Links to Other Sites</strong>

Please be aware that when you are on the Site, or when you receive an email message from us through the Service, you could be directed to other sites that are beyond our control. There may be links to other sites from the Site’s pages or from the email message we send to you that take you outside our Site. These other sites may send their own cookies to visitors, collect data, or solicit personal information. The privacy policies of these other sites may be significantly different from this Privacy Policy. We are not responsible for the privacy practices of these other sites and cannot guarantee the security of any of your personal information collected there. Note that when you link to a third party site from the Site, you may see pre-populated data fields with your personal information; however, that information is not available to the third party unless you take certain actions on the third party’s site, such as submitting a form.

<strong>Privacy Policy for Children:</strong>

We do not knowingly collect information from children under the age of 13 on the Site or through the Service. If you are under the age of 13, please do not provide any information to us. If we become aware that we have collected information from a child under the age of 13, we will make commercially reasonable efforts to delete such information from our database.

<strong>Changes to this Policy:</strong>

The terms of this Privacy Policy may change from time to time. We will notify you of any material changes to this Privacy Policy by posting a notice on the homepage of the Site for a reasonable period of time after such changes are made, that this Privacy Policy has been updated, and by changing the “Effective” date at the top of this Privacy Policy. We encourage you to check this page periodically for any changes. Your continued use of the Site and participation in following the posting of changes to these terms will mean you accept those changes.

</div>