<div class="gray-lighter-bg-row">
	<div class="container mt-5">
		<h2 class="brand-secondary-colour" data-aos="fade" >Welcome to the Progressive Group</h2>
		<p class="display-4">We are a group of companies who share the vision and values of serial entrepreneurs, property investors and business owners, Rob Moore & Mark Homer.</p>
		<p class="lead" data-aos="fade"> We aim to deliver on our goal of global financial freedom through education and training. We believe in Freedom, Choice & Profit.</p>
		<div class="row justPad">
			<div class="col"><a href="#progressiveProperty"><img src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade" ></a></div>
			<div class="col"><a href="#progressiveSuccess"><img src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade" ></a></div>
			<div class="col"><a href="#progressivepPublishing"><img src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" data-aos="fade" ></a></div>
			<div class="col"><a href="#progressiveNetwork"><img src="/wp-content/uploads/2018/11/logo-progressive-network.svg" data-aos="fade" ></a></div>
			<div class="col"><a href="#progressiveLets"><img src="/wp-content/uploads/2018/11/logo-progressive-lets.svg" data-aos="fade" ></a></div>
		</div>
		<p data-aos="fade"> The Progressive Group helps investors, business owners and entrepreneurs and over the last 12 years and has seen thousands of ordinary people change their lives by investing in their education.</p>
		<p data-aos="fade"> The Progressive group and it’s world-class trainers are constantly making headlines and breaking world records. Regularly appearing on the major radio networks and worldwide news magazines and tv channels.  The group is also known for its charitable contributions to cancer research, organizations and local hospices.</p>
	</div>
</div>

<div class="positive-bg-row row-arrow-positive" id="progressiveProperty">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="mb-3" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade" >
			</div>
			<div class="col-md-12">
				<p class="lead display-4" data-aos="fade" data-delay="300"> Rob & Mark are the founders of the UK’s leading Property Education company, Progressive Property. An investment, education, training and real estate development company founded in January 2007.</p>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-3" data-aos="zoom-in-up" data-delay="100">
				<h2 style="font-weight: 300;">10</h2>
				<p data-aos="fade"> Years of UK Property Education</p>
			</div>
			<div class="col-md-3" data-aos="zoom-in-up" data-delay="300">
				<i style="font-weight: 300;" class="icon-trophy i3x brand-primary-colour"></i>
				<p data-aos="fade"> Award Winning LIVE Property Events</p>
			</div>
			<div class="col-md-3" data-aos="zoom-in-up" data-delay="600">
				<h2 style="font-weight: 300;">#1</h2>
			<p data-aos="fade"> UK’s #1 Property Investing Educator</p>
			</div>
			<div class="col-md-3" data-aos="zoom-in-up" data-delay="900">
				<h2 style="font-weight: 300;">140,000</h2>
				<p data-aos="fade"> Over 140,000 UK Investors Trained</p>
			</div>
		</div>

		<div class="justPad">
			<p data-aos="fade" data-delay="600"> We help shape the property development entrepreneurs and investors of tomorrow. We believe that Progressive Property can help you make more money and bigger profits through our property education. Progressive Property is a progressive, personal and innovative community for any property investor who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.</p>

			<p data-aos="fade" data-delay="900"> Using a vast array of multimedia, events, face-to-face strategies, one2one mentoring, books, online programmes, internationally-renowned podcasts, and local and national property networking events, Progressive Property specialises in training property investors in a range of investment strategies throughout the UK.</p>

			<a class="btn btn-primary" href="//progressiveproperty.co.uk">Visit our website</a>
		</div>
	</div>
</div>

<div class="gray-lighter-bg-row" id="progressiveSuccess">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img  class="mb-3" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade" >
			</div>
		</div>
		<p class="display-4" data-aos="fade">Rob & Mark don’t only specialise in property, they are expert business owners and renowned entrepreneurs and this led to the incorporation of Progressive Success, an education and training company focuses on helping business owners start, grow and scale their own ventures.</p>
		<p class="" data-aos="fade" >Progressive Success is a supportive and inspired community of like-minded entrepreneurs helping you to make money and make a difference in the areas of life most important to you. Empowering greatness in everyone, Progressive Success gives you the ready-made business opportunities and tools to succeed right now! Providing life-changing education and wealth-development, we aim to achieve success through leadership, training, mentorship and interactive learning.</p>
		<a class="btn btn-primary" href="//www.progressivelets.co.uk">Visit our website</a>
	</div>
</div>


<div class="positive-bg-row row-arrow-positive" id="progressiveLets">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img  class="mb-3" src="/wp-content/uploads/2018/11/logo-progressive-lets.svg" data-aos="fade" >
			</div>
		</div>
		<p class="display-4" data-aos="fade"> Progressive Lets - a letting agency set-up to manage tenants living in the properties that Progressive is renting out, which has now grown to become a business in its own right taking on new tenants and growing its portfolio of properties being managed.</p>

		<a class="btn btn-primary" href="//www.progressivelets.co.uk">Visit our website</a>

	</div>
</div>


<div class="gray-lighter-bg-row" id="ourFounders">
	<div class="container">
		<h2>Our Founders</h2>
		<p>Progressive was built by property multi-millionaire co-founders Rob Moore and Mark Homer after they achieved financial independence through property in their 20’s. Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice & profit [at first].

		<p>Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership 	built Progressive from a room in Rob’s house to over 600 properties bought and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>

		<p>Rob & Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way…</p>

		<div class="row">
			<div class="col-md-6">
                    <img class="img-fluid" src="/wp-content/uploads/2018/11/rob_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Rob Moore</h3>
				<p>Rob Moore is the charismatic, selfmade entrepreneur who writes, blogs, podcasts and posts his inspiring views on making money and making a difference. Whilst he is a full-time property investor, Rob is also passionate about all aspects of being an entrepreneur and is driven by a need to motivate others to make more of their time whilst chasing their professional aspirations. He has presented to over 100,000 people and is regarded by many as the best property speaker in the UK.</p>
			</div>	
			<div class="col-md-6">
				<img class="img-fluid" src="/wp-content/uploads/2018/11/mark_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Mark Homer</h3>
				<p>Mark is a knowledgeable property expert and investor who has been an entrepreneur since the age of 15, and whose understanding of the UK property market is near-unrivalled. Mark and Rob’s £multi- million portfolio of over 550 properties is a dream come true for Mark, as he enjoys nothing better than viewing a spreadsheet of figures that are on an upwards trajectory.</p>
			</div>	
		</div>	

	</div>
</div>	