<div class="positive-bg-row">
	<div class="container">
		<h2>The Progressive Group</h2>
		<p class="lead">Progressive Group of companies share the vision and values of <a href="#ourFounders">Rob Moore & Mark Homer</a>, the serial entrepreneurs and founders of the UK’s leading Property Education company, Progressive Property.</p>
		<h3>Progressive. Innovative. Personal.</h3>
		<p>Progressive in that we are always learning, growing, serving and solving.</p>
		<p>Innovative in that we look at embracing and pre-empting change rather than being disrupted by it.</p>
		<p>Personal in that we care. We are available and accessible. We build communities not machines.</p>

	</div>
</div>

<div class="brand-primary-bg-row">
	<div class="container">
		<h2>What do Progressive Group do?</h2>
		<p class="lead">Progressive exist to:</p>
		<div class="row">
			<div class="col-md-6">
				<h3>Inspire</h3>
				<p class="lead">Inspire and empower worldwide financial security, freedom & choice by making financial education, investment and asset building accessible to everyone</p>
			</div>
			<div class="col-md-6">
				<h3>Change Lives</h3>
				<p class="lead">To bring an expanding community of like minded people together & break down personal and financial barriers
				To give people belief, tools and support to help change people’s lives</p>
			</div>
		</div>
	</div>
</div>

<div class="positive-bg-row" id="ourFounders">
	<div class="container">
		<h2>Our Founders</h2>
		<p>Progressive was built by property multi-millionaire co-founders Rob Moore and Mark Homer after they achieved financial independence through property in their 20’s. Neither Rob nor Mark intended to build a £Multi-Million Progressive business, they simply wanted to invest in property themselves, full time, for more freedom, choice & profit [at first].

		<p>Rob began £50,000 in debt struggling as an artist, and Mark stuck in the corporate rat race with no passion or way up as a glorified Butcher, and a weird and unlikely partnership 	built Progressive from a room in Rob’s house to over 600 properties bought and sold, 5 companies, 5 best-selling books and over 350,000 subscriber/investors in the community since 2006.</p>

		<p>Rob & Mark are still full time investors and buy commercial and residential projects, but it wasn’t always that way…</p>

		<div class="row">
			<div class="col-md-6">
                    <img class="img-fluid" src="/wp-content/uploads/2018/11/rob_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Rob Moore</h3>
				<p>Rob Moore is the charismatic, selfmade entrepreneur who writes, blogs, podcasts and posts his inspiring views on making money and making a difference. Whilst he is a full-time property investor, Rob is also passionate about all aspects of being an entrepreneur and is driven by a need to motivate others to make more of their time whilst chasing their professional aspirations. He has presented to over 100,000 people and is regarded by many as the best property speaker in the UK.</p>
			</div>	
			<div class="col-md-6">
				<img class="img-fluid" src="/wp-content/uploads/2018/11/mark_640@2.jpg" alt="Rob Moore Founder" />
				<h3>Mark Homer</h3>
				<p>Mark is a knowledgeable property expert and investor who has been an entrepreneur since the age of 15, and whose understanding of the UK property market is near-unrivalled. Mark and Rob’s £multi- million portfolio of over 550 properties is a dream come true for Mark, as he enjoys nothing better than viewing a spreadsheet of figures that are on an upwards trajectory.</p>
			</div>	
		</div>	

	</div>
</div>	



