
<div class="positive-bg-row">
	<div class="container">
	<h2>Do You Want To Achieve Financial Freedom?</h2>

	<p class="display-4 brand-secondary-colour">Financial freedom is the cornerstone of what Progressive stands for. As a company we aim to get people and businesses on the road to financial success.</p>
	<p class="underline-arrow"></p>

	</div>

	<div class="container">	
		<div class="row">
			<div class="col-md-8">
				<p class="lead brand-primary-colour">But where does that road to your success begin? Well it does not begin in a bank or a finance advisers office, in fact it starts in your head. Since a young age you will have had experiences with money, these experiences shape how our thoughts on finances have developed and are often linked to people’s problems with their current finances.</p> 

				<p>So in order get moving on the road to financial success you first need to take a step back to your youth and to when money first meant something to you and when you realised what it could do.</p>

				<p>Think back to the first time you realised the pleasure money could bring to your life, being able to buy your own toys or sweets, but also the pain and problems you noticed it causing. Parents fighting over paying the mortgage and bills, not being able to buy the latest clothes, video games, go on holiday every summer or not being able to go out with friends.  

				<p>All these experiences have influenced the way you think and use money today, but as we get older and wiser we often realise we must change our ways, we begin to believe it’s time to be financially independent.</p>  

				<p>What we want may vary from our experiences, perhaps we want to be free of the worry of the bills and the mortgage, perhaps we want to be free to travel the world or even leave a legacy behind so your children don’t have the same worries and experiences you have had.</p>

				<p>However we often don’t take action or know how to achieve the financial success that we crave, perhaps sometimes you feel you’ll never be able to be financial free and this is just the hand you’ve be dealt with.</p>

				<p>Well, at Progressive we think differently, we believe your potential is unlimited, we believe with the right education and mindset you can succeed in achieving the financial independence you desire.</p>

				<p>Since 2007 we have trained and educated over 400,000 people in various different ways they can achieve this, from making their fortune with their very own property, e-commerce, social media business to speaking in front of thousands of people.</p>

				<p>Each person has their own set of unique skills and talents and we believe we can harness that using our 10 years of experience, below is just a taster of what we can offer you.</p>

				<p>Each course/event we offer has the ability to set you on the road to financial freedom, the time for procrastination and not believing you can be financial free is over!</p>
				
				<hr>
				<div class="row justPad text-left">
					<div class="col-md-6">
						<img class="mask-group aos-init aos-animate" src="/wp-content/uploads/sites/1/2015/09/aav-6144.jpg" alt="" data-aos="zoom-in-right"></a>
					</div>
					<div class="col-md-6">
						<img class="mask-group aos-init aos-animate" src="/wp-content/uploads/sites/1/2015/09/aav-6144.jpg" alt="" data-aos="zoom-in-left">
					</div>
				</div>

				<div class="gray-lighter-bg mask-group p-4 pointer" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="150" data-aos-offset="0">
					<h3>From Broke To Best Selling Authour</h3>
					<p class="lead brand-primary">Kevin went from being massively in debt from a couple of very bad investment years ago, he decided to get property education which set him on the path of becoming a trainer, running 2 property networking events and recently making it to the VIP Hall Of Fame!</p>

					<p class="mb-6">Realising he needed to get educated, he researched, followed and learned from every successful property investor he could find. Kevin finally cracked the property investment formula in 2013 and is now the owner of multiple businesses and has become a self-made millionaire thanks to property, building a multi-million-pound portfolio using creative No Money Down property investment techniques.</p>
				</div>
			</div> <!-- END col-8 -->
			<div class="col-md-4">
				<div id="courses-cards">
					<a href="//property.progressive.test/courses/no-money-down/"><h4>Gain Financial Freedom, take action now</h4>
					<div class="card clickable-div">
						<div class="card-header">
					        <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/logo-nmd.svg" alt="Card image cap">
				      	</div>
						<div class="card-body p-0">
					        <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Card image cap">
				      	</div>
						<div class="card-footer">
						<p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p>
						</div>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>


				
<div class="gray-lighter-bg-row" data-aos="fade">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			     <img class="" src="/wp-content/uploads/sites/1/2018/10/no-money-down@2-e1540480183574.jpg" alt=""  data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="100" >
			</div>
			<div class="col-md-6">
				<h2>Check Out Kevin’s Best Selling Book</h2>

				<p>No Money Down is the perfect guide to how you can get started and scale your property business quickly, with little or none of your own funds.</p>

				<p>Real life examples, case studies, tools and techniques you can use right now to turn your dreams into reality.</p>
				<a href="//property.progressive.test/books/" class="btn btn-primary p-arrow" data-aos="zoom-in-left" >Find Out More</a>
			</div>
		</div>
	</div>
</div>
	
<nav class="navbar brand-primary-bg p-2" id="footer-nav">
	<div class="container">
			<ul class="nav ml-auto">
				<li class="nav-item mr-5">
					<h5 class="" data-aos="fade-in" >Do You Want To...</h5>
				</li>
				<li class="nav-item"><a href="//property.progressive.test/books/" class="p-arrow nav-link active" data-aos="fade-in" data-aos-delay="100">Achieve Financial Freedom?</a></li>
				<li class="nav-item"><a href="//property.progressive.test/books/" class="p-arrow nav-link">Make Money On Social Media?</a></li>
				<li class="nav-item"><a href="//property.progressive.test/books/" class="p-arrow nav-link">Become a Property Developer?</a></li>
			</ul>
	</div>
</nav>
