Inspire and empower		
		<h4>Progressive is... reason to believe. Low friction data capture. Click edit button to change this text. </h4>		
			<a href="#posthero">
			</a>
			<h2>The Group Brands</h2>		
										<img src="http://progressive.test/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="" />											
			<h2><a href="/progressive-brands/">Property</a></h2>		
		<p>Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit. The company was the brainchild of two dreamers, <a href="https://www.progressiveproperty.co.uk/the-progressive-co-founders/">Rob Moore and Mark Homer</a>, who simply wanted to build a joint property portfolio, but ended up becoming the UK’s largest property investment education company and improving the lives of thousands of people in the process. </p><p><a href="https://unlimited-success.co.uk" target="_blank" rel="noopener">Visit Progressive Property</a></p>		
										<img src="http://progressive.test/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="" />											
			<h2>Success</h2>		
		<p>The US vision is to empowering the greatness in everyone</p><p>We aim to achieve the vision through leadership, training, mentorship and interactive learning from leaders and a community who’ve been there, done it and won’t stop in this lifetime.</p><p>US are unique in that we believe you already have the power and responsibility to change and control your destiny. We’re not into excuses, we’re into giving you the most innovative tools and techniques to unleash clarity and confidence to achieve your definition of fast and lasting success.</p><p><a href="https://unlimited-success.co.uk" target="_blank" rel="noopener">Visit Progressive Success</a></p>		
										<img src="http://progressive.test/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="" />											
			<h2>Publishing</h2>		
		Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
<p><a href="https://www.progressiveproperty.co.uk/e-shop/" target="_blank" rel="noopener">Visit Progressive Publishing</a></p>		
			<h5>As seen on:</h5>		
				<figure><img src="http://progressive.test/wp-content/uploads/2018/08/bbc-logo.svg" alt="bbc-logo" /></figure><figure><img src="http://progressive.test/wp-content/uploads/2018/08/pr-guardian.svg" alt="pr-guardian" /></figure><figure><img src="http://progressive.test/wp-content/uploads/2018/08/pr-thetelegraph.svg" alt="pr-thetelegraph" /></figure><figure><img src="http://progressive.test/wp-content/uploads/2018/08/pr-times.svg" alt="pr-times" /></figure><figure><img src="http://progressive.test/wp-content/uploads/2018/08/channel-4-logo-1.svg" alt="channel 4" /></figure>			
			<h2>Blog (grid)</h2>		
		[justified_image_grid preset=9 thumbs_spacing=16 row_height=370 height_deviation=0 caption_opacity=1 caption_bg_color=(0,0,0,0) limit=4 max_rows=2 load_more=click initially_load=4 recent_posts=yes]