<div class="positive-bg-row">
    <div class="container">
    	<h1 class="brand-secondary-colour">News &amp; Media</h1>
                <p class="lead display-4">Thirty words text. Sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci.</p>
                <p class="lead">Here are just some of the places we've been featured recently:</p>

			<div class="card-deck">
				<div class="card bg-light w-100 mask-group-br mb-3">
					<div class="card-header">
						<h4>Huffington Post</h4>
					</div>
					<div class="card-body">
					 	<p>“As the UK goes through uncharted territory in terms of leaving the EU, it is clear that government will need to keep fiscal and monetary support to business”</p>
					 		<cite>- Mark Homer in the Huffington Post.</cite>
					</div>
					<div class="card-footer">	
						<a href="//www.huffingtonpost.co.uk" class="btn btn-primary btn-sm">huffingtonpost.co.uk</a>
					</div>
				</div>

				<div class="card bg-light w-100 mask-group-br mb-3">
					<div class="card-header">
						<h4>Elite Business</h4>
					</div>
					<div class="card-body">
					 	<p>Thirty words text. Sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci.</p>
							<cite>- Mark Homer in the Elite Business Magazine</cite> 	
					</div>
					<div class="card-footer">	
						<a href="//www.elitebusinessmagazine.co.uk" class="btn btn-primary btn-sm">elitebusinessmagazine.co.uk</a>
					</div>					
				</div>

				<div class="card brand-primary-bg w-100">
					<div class="card-header">
						<h4 class="whiteout">Featured</h4>
					</div>
					<div class="card-body">	
		 				<img class="img-fluid" src="/wp-content/uploads/2018/11/the-mews-progressive-developments.jpg" width="310" height="207">
					</div>
				</div>

			</div>
			




			<div class="card-deck">
				<div class="card bg-light w-100 mask-group-br mb-3">
					<div class="card-header">
						<h4>Landlord News</h4>
					</div>
					<div class="card-body">
					 	<p>“By restricting landlord’s finance cost relief to the basic rate of income tax we are helping to reduce the advantage landlords may have over homeowners in the property market.”</p>
					 	<cite>- Mark Homer in the Landlord News</cite> 	
					</div>
					<div class="card-footer">	
						<a href="//www.landlordnews.co.uk" class="btn btn-primary btn-sm">landlordnews.co.uk</a>
					</div>
				</div>

				<div class="card bg-light w-100 mask-group-br mb-3">
					<div class="card-header">
						<h4>The Express</h4>
					</div>
					<div class="card-body">
					 	<p>“Fewer landlords are likely to buy in 2018 than previous years due to Section 24 tax restricting mortgage interest relief against rent, increased stamp duty and increased mortgage lender criteria.”</p>
							<cite>- Mark Homer in the Huffington Post.</cite>					 	
					</div>
					<div class="card-footer">	
						<a href="//www.express.co.uk" class="btn btn-primary btn-sm">express.co.uk</a>
					</div>
				</div>

				<div class="card brand-primary-bg w-100 mask-group-br mb-3">
					<div class="card-body">
						<blockquote class="lead">“They are usually so thankful and appreciative of our help and we pride ourselves on giving a first class service”</blockquote>
							<cite>- Rob Moore in the Peterborough Telegraph</cite>
					</div>
					<div class="card-footer">	
						<a href="//www.peterboroughtelegraph.co.uk" class="btn btn-secondary btn-sm">peterboroughtelegraph.co.uk</a>
					</div>
				</div>
	
			</div>
				<p class="lead display-4 justPad">Thirty words text. Sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci.</p>
         
        </div>
</div>

