<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">The close relationships we forge with our partners allows us to provide a larger range of products, services and skills which in turn helps us deliver richer solutions to clients.</p>
                <p class="text-center"><a href="#partnerlogos" ><i style="font-size:5em;" class="icon-arrow-down-circle"></i></a></p>
            </div>
        </div>
    </div>
</div>


<div id="partnerlogos"></div>[justified_image_grid preset=10 thumbs_spacing=10 row_height=250 lightbox=links-off mobile_lightbox=no orderby=title_asc limit=0 hidden_limit=99 width_mode=responsive_fallback last_row=flexible-match-center load_more=click load_more_text="More" load_more_count_text=none load_more_auto_width=off load_more_limit=99 ng_gallery=3]
</div>

