<div class="positive-bg-row">
		<div class="container">
			<h2>Progressive</h2>
			<p>Progressive in that we are always learning, growing, serving and solving.</p>
		</div>
</div>

<div class="brand-primary-bg-row">
		<div class="container">
			<h2>Innovative</h2>
			<p>Innovative in that we look at embracing and pre-empting change rather than being disrupted by it.</p>
		</div>
</div>

<div class="brand-secondary-darker">
		<div class="container">
			<h2>Personal</h2>
			<p>Personal in that we care. We are available and accessible. We build communities not machines.</p>
		</div>
</div>


