<div class="positive-bg-row">
    <div class="container">
        <h2>Our Brands</h2>
        <div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselTestimonialIndicators" data-slide-to="0"></li>
                <li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
                <li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item text-center active">

                    <img class="d-block mx-auto" src="/wp-content/uploads/2018/11/logo-whiteout.svg" alt="First slide" width="320" />
                    <h4>Progressive Group</h4>
                    <p class="lead">Also wanted to thank the amazing trainers at the MSOPI event David Siegler, Kevin McDonnell, Liam Ryan, Anne Houlton, Paul Smith and Bethany Lee-Ashby...</p>
                    <p class="text-muted">- Abigail Langridge</p>

                </div>
                <div class="carousel-item text-center">

                    <img class="d-block mx-auto" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" alt="Second slide" width="320" />
                    <h4>Progressive Property</h4>
                    <p class="lead">“I enjoyed a brilliant 3 days at my first MSOPI in Manchester with my son Phil Essery. We got a great deal out of the weekend &amp; met some lovely people...</p>
                    <p class="text-muted">- Jenny Essery</p>

                </div>
                <div class="carousel-item text-center">

                    <img class="d-block mx-auto" src="//wp-content/uploads/2018/11/logo-progressive-success.svg" alt="Third slide" width="320" />
                    <h4>Progressive Success</h4>
                    <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic...</p>
                    <p class="text-muted">- Jason Hunt</p>

                </div>

                </div>
                <div class="carousel-item text-center">

                    <img class="d-block mx-auto" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" alt="Third slide" width="320" />
                    <h4>Progressive Network</h4>
                    <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic...</p>
                    <p class="text-muted">- Jason Hunt</p>

                </div>
                <div class="carousel-item text-center">

                    <img class="d-block mx-auto" src="/wp-content/uploads/2018/11/logo-whiteout.svg" alt="Third slide" width="320" />
                    <h4>Progressive Developments</h4>
                    <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic...</p>
                    <p class="text-muted">- Jason Hunt</p>
                </div>
            </div>
            <a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev">
		<i class="icon-chevron-left i2x text-muted"></i>
		<span class="sr-only">Previous</span>
		</a>
            <a class="carousel-control-next text-faded" role="button" href="#carouselTestimonialIndicators" data-slide="next">
		<i class="icon-chevron-right i2x text-muted"></i>
		<span class="sr-only">Next</span>
		</a>

        </div>
    </div>
</div>


<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">The close relationships we forge with our partners allows us to provide a larger range of products, services and skills which in turn helps us deliver richer solutions to clients.</p>
                <p class="text-center"><a href="#partnerlogos" ><i style="font-size:5em;" class="icon-arrow-down-circle"></i></a></p>
            </div>
        </div>
    </div>
</div>


<div id="partnerlogos"></div>[justified_image_grid preset=10 thumbs_spacing=10 row_height=250 lightbox=links-off mobile_lightbox=no orderby=title_asc limit=0 hidden_limit=99 width_mode=responsive_fallback last_row=flexible-match-center load_more=click load_more_text="More" load_more_count_text=none load_more_auto_width=off load_more_limit=99 ng_gallery=3]
</div>


