// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

//////////////////////////////////////////// Bootstrap 4 re-mapping /////////////////////////////////////////

// Re-map the basic colours

$info:          							#1700ab;
$success:     								#00BB99;
$warning:									#EE7523; // 
$danger:									#b94a48; // darker gravity bs red

// The Brand
$brand-primary:								#efb33f; //#efb33f Tantivy Yellow
$brand-secondary:							#6F8595; //  

$brand-tertiary:							#252838; // Dark Blue  #1A1C37; // Navy
$brand-quaternary:							#B2B2B6; // light grey

$complimentary-color:			      		#CB9903; // Tantivy Mustard

$bg-primary:								$brand-primary;
$bg-danger:									red;								
$bg-info:									$brand-tertiary;						
$bg-warning:								#FFCC00;				
$bg-success:								green;

 
// Basics
$background-color: 				      		#FFF; // 
$foreground-color:				      		#000; // 

$brand-box-shadow: 							0px 0px 16px 1px rgba(0, 0, 0, 0.2);


// Pagination
$pagination-color:							$brand-primary;
$pagination-bg:								$background-color;
$pagination-border-width:					1px;
$pagination-border-color:					#eaeaea;
$pagination-active-border-color:			$brand-primary;
$pagination-hover-color:					$background-color;
$pagination-hover-bg:						$brand-secondary;
$pagination-hover-border-color:				$brand-secondary;

//////////////////////////////////////////// END Bootstrap 4 re-mapping /////////////////////////////////////////

// Structure

// Basics of a navbar
$navbar-height:					    		5rem; // 48px

$navbar-padding:							1rem 1rem 0 1rem;
$navbar-bg:									transparent;
$icon-bar-color:							$foreground-color;
$trans-nav-height:							4rem;
// $navbar-margin-bottom:             		0px

//Rows 
$default-row-height:						500px;
$section-padding-top:						9vh;
$section-padding-bottom:					15vh;

$brand-footer-color:						$brand-secondary;

$triangle-width:							2rem;




// Cards
$card-cap-bg:                       		transparent;

// Typography Variables 
$font-family-primary: 						-apple-system, system-ui,
											BlinkMacSystemFont, 
											"Segoe UI",
											"Roboto",  
											"Helvetica Neue", Arial, sans-serif; // Basic web fallback
$font-family-secondary:         			'Playfair Display', Georgia, "Times New Roman", Times, serif !default;


$default-paragraph-size:					1rem;
$body-font-weight:				  			300;

$display3-weight:							100; // Light font for Dashboard data headlines





$default-color:								#000;

// Brand Colour Tints
$brand-primary-base:              				$brand-primary; //  Pink
$brand-primary-darkest: 			     		darken($brand-primary-base, 33.5%); // #
$brand-primary-darker:            				darken($brand-primary-base, 20%); // #
$brand-primary-dark:              				darken($brand-primary-base, 13.5%);   // #
$brand-primary-light:             				lighten($brand-primary-base, 20%); // #
$brand-primary-lighter:           				lighten($brand-primary-base, 33.5%); // #
$brand-primary-lightest:          				lighten($brand-primary-base, 40%); // #


// Brand Secondary Tints
$brand-secondary-base:            				$brand-secondary; //  turquoise
$brand-secondary-darkest:			    		darken($brand-secondary-base, 30%); // #
$brand-secondary-darker:          				darken($brand-secondary-base, 10%); // #
$brand-secondary-dark:            				darken($brand-secondary-base, 1%);   // #
$brand-secondary-light:           				lighten($brand-secondary-base, 5%); // #
$brand-secondary-lighter:         				lighten($brand-secondary-base, 10%); // #
$brand-secondary-lightest:        				lighten($brand-secondary-base, 30%); // resolves to #def7f7 close enough?

// ## Gray and brand colors for use across Bootstrap.

$gray-base:              					#3c4149; 
$gray-darkest:            					#3c4149; // #
$gray-darker:            					darken ($gray-base, 50%); // #
$gray-dark:              					darken ($gray-base, 20%);   // #
$gray:                   					lighten($gray-base, 33.5%); // #
$gray-light:             					lighten($gray-base, 50%); // #
$gray-lighter:           					lighten($gray-base, 71%); // #
$gray-lightest:           					lighten($gray-base, 46%); // #

///////////////////// Alerts

//Success
$alert-success-border:         				darken($success, 10%);
$alert-success-bg:             				$success;
$alert-success-text:           				#FFF;

//Info
$alert-info-border:         				$brand-secondary-lighter;
$alert-info-bg:             				lighten($brand-secondary-base, 30%);
$alert-info-text:           				darken($brand-tertiary, 30%);

//Danger
$alert-danger-border:         				darken($danger, 10%);
$alert-danger-bg:             				$danger;
$alert-danger-text:           				#FFF;

// Warning
$alert-warning-border:         				darken($warning, 10%);
$alert-warning-bg:             				$warning;
$alert-warning-text:           				#FFF;

// Light
$alert-light-border:         				darken($brand-quaternary, 10%);
$alert-light-bg:             				$gray-lighter;
$alert-light-text:           				$brand-secondary;

// Dark
$alert-dark-border:         				darken($brand-quaternary, 10%);
$alert-dark-bg:             				$brand-quaternary;
$alert-dark-text:           				$background-color;

// Form Settings
$default-border-radius:         			0px; //0px
$input-border-radius:						0px;
$input-padding:								inherit; //30px
//$input-border-width:						0rem; //0px
$btn-padding:								0.375rem 0.75rem;
//$btn-border:								2px;

$input-height:								48px;
$input-bg:									$background-color;
$woo-input-bg:								$background-color;
$input-bg-disabled:							$gray-light;												
$input-border:								0rem; //0px

// Tables

// Variable for brand specific assests
$get-path-to-assets: 						"../images";
$get-path-to-fonts:							"../fonts" 
