<div class="bgc1 clearfix">
<h2 class="mhmm mvm"><span class="fgc1">Font Name:</code> progressive-icons <small class="fgc1">(Glyphs:&nbsp;284)</small></h2>
</div>


<h3>Grid Size: 14</h1>
<div class="d-flex justify-inbetween flex-wrap align-items-stretch text-center">
<div class="col p-3 align-self-stretch">
	<i class="i5x icon-chevron-left"></i>
	<code>icon-chevron-left</code>
</div>
<div class="col p-3 align-self-stretch">
	<i class="i5x icon-chevron-right"></i>
	<code>icon-chevron-right</code>
</div>
<div class="col p-3 align-self-stretch">
	<i class="i5x icon-twitter-square"></i>
	<code>icon-twitter-square</code>
	<div class="col mt-auto">f081</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-facebook-square"></i>
    <code>icon-facebook-square</code>
    <div class="col mt-auto">f082</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-camera-retro"></i>
    <code>icon-camera-retro</code>
    <div class="col mt-auto">f083</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-linkedin-square"></i>
    <code>icon-linkedin-square</code>
    <div class="col mt-auto">f08c</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-twitter"></i>
    <code>icon-twitter</code>
    <div class="col mt-auto">f099</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-facebook"></i>
    <code>icon-facebook</code>
    <div class="col mt-auto">f09a</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-facebook-f"></i>
    <code>icon-facebook-f</code>
    <div class="col mt-auto">f09a</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-pinterest"></i>
    <code>icon-pinterest</code>
    <div class="col mt-auto">f0d2</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-pinterest-square"></i>
    <code>icon-pinterest-square</code>
    <div class="col mt-auto">f0d3</div>
</div>

<div class="col p-3 align-self-stretch">
    <i class="i5x icon-google-plus-square"></i>
    <code>icon-google-plus-square</code>
    <div class="col mt-auto">f0d4</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-google-plus"></i>
    <code>icon-google-plus</code>
    <div class="col mt-auto">f0d5</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-envelope2"></i>
    <code>icon-envelope2</code>
    <div class="col mt-auto">f0e0</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-linkedin"></i>
    <code>icon-linkedin</code>
    <div class="col mt-auto">f0e1</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-angle-double-left"></i>
    <code>icon-angle-double-left</code>
    <div class="col mt-auto">f100</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-angle-double-right"></i>
    <code>icon-angle-double-right</code>
    <div class="col mt-auto">f101</div>

</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-github-alt"></i>
    <code>icon-github-alt</code>
    <div class="col mt-auto">f113</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-html5"></i>
    <code>icon-html5</code>
    <div class="col mt-auto">f13b</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-css3"></i>
    <code>icon-css3</code>
    <div class="col mt-auto">f13c</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-bitbucket"></i>
    <code>icon-bitbucket</code>
    <div class="col mt-auto">f171</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-tumblr"></i>
    <code>icon-tumblr</code>
    <div class="col mt-auto">f173</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-apple"></i>
    <code>icon-apple</code>
    <div class="col mt-auto">f179</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-windows"></i>
    <code>icon-windows</code>
    <div class="col mt-auto">f17a</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-android"></i>
    <code>icon-android</code>
    <div class="col mt-auto">f17b</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-linux"></i>
    <code>icon-linux</code>
    <div class="col mt-auto">f17c</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-skype"></i>
    <code>icon-skype</code>
    <div class="col mt-auto">f17e</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-wordpress"></i>
    <code>icon-wordpress</code>
    <div class="col mt-auto">f19a</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-git-square"></i>
    <code>icon-git-square</code>
    <div class="col mt-auto">f1d2</div>
</div>
<div class="col p-3 align-self-stretch">
    <i class="i5x icon-diamond"></i>
    <code>icon-diamond</code>
    <div class="col mt-auto">f219</div>
</div>

</div>