<div class="row brandBase">


<div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselTestimonialIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
    <li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item text-center active">
      <img class="d-block mx-auto" width="320" src="/wp-content/uploads/sites/2/2018/09/btlb-logo.svg" alt="First slide">
            <h4>Amazing trainers at the MSOPI</h4>
            <p class="lead">Also wanted to thank the amazing trainers at the MSOPI event David Siegler, Kevin McDonnell, Liam Ryan, Anne Houlton, Paul Smith and Bethany Lee-Ashby...</p>
            <p class="text-muted">- Abigail Langridge</p>
    </div>
    <div class="carousel-item text-center">
      <img class="d-block mx-auto" width="320" src="/wp-content/uploads/sites/2/2018/09/bps-logo.svg" alt="Second slide">
            <h4>Enjoyed a brilliant 3 days</h4>
            <p class="lead">“I enjoyed a brilliant 3 days at my first MSOPI in Manchester with my son Phil Essery. We got a great deal out of the weekend & met some lovely people...</p>
            <p class="text-muted">- Jenny Essery</p>
    </div>
    <div class="carousel-item text-center">
      <img class="d-block mx-auto" width="320" src="/wp-content/uploads/sites/2/2018/09/cpc-logo.svg" alt="Third slide">
            <h4>Loads of informative content</h4>
            <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic...</p>
            <p class="text-muted">- Jason Hunt</p>
    </div>
  </div>
        <a class="carousel-control-prev" href="#carouselTestimonialIndicators" role="button" data-slide="prev">
            <i class="icon-chevron-left i3x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carouselTestimonialIndicators" role="button" data-slide="next">
            <i class="icon-chevron-right i3x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
</div>

</div>