<div class="row positive-bg-row">
    <div id="carousel-col-3-courses" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox" id="courses-cards">
            <div class="carousel-item col-md-4 active">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
                
                
                
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>

            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>

            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>

            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card clickable-div">
                  <a role="button" href="/courses/no-money-down/">
                    <div class="card-header">
                      <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" width="350" height="111" alt="Property Course">
                    </div>
                    <div class="card-body p-0">
                      <img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course">
                    </div>
                    <div class="card-footer">
                      <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                    </div></a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-col-3-courses" role="button" data-slide="prev">
            <i class="icon-chevron-left i3x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carousel-col-3-courses" role="button" data-slide="next">
            <i class="icon-chevron-right i3x text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
        <div class="text-center pt-5 mx-auto">
            <a class="btn btn-primary" href="/property-events/">See More Events</a>
        </div>
    </div>

</div>