<div class="row brandBase experts-bg">
	<div class="container">	
		<h2 class="whiteout d-xs-block d-lg-none">Meet Our Property Investing Experts...</h2>
	</div>
	<div class="container">	
		<div class="row">
			<div class="col-lg-2">
				<h2 class="whiteout vertical-text d-none d-xl-block">Meet Our Property Investing Experts... </h2>
			</div>
			<div class="col-lg-10">

			<!-- Start Carousel -->
			<div class="row">
				<div id="carousel-experts" class="carousel slide" data-ride="carousel" data-interval="9000">
				        <div class="carousel-inner row w-100 mx-auto" role="listbox">
				            <div class="carousel-item col-md-4 active">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no1.jpg" alt="No Money Down">
				                <h4 class="whiteout">Kevin McDonnell:</h4>
								  <p class="text-left small whiteout">Kevin McDonnell began investing in property in 2004, and initially made lots of mistakes and lost a lot of money. After almost 10 years of juggling property with his full-time job he attended a MSOPI Event and over the next 5 years went on to build a £5M+ Portfolio with a Monthly Positive Cash Flow of over £20k per month. He uses Creative Strategies such as Rent2Rent, Lease Options, Assisted Sales, Vendor Finance, JV Finance & Rent2Own.</p>
				            </div>
				            	
				                  

				            <div class="carousel-item col-md-4">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no2.jpg" alt="Deal Packaging">
								<h4 class="whiteout">Anne Houlton:</h4>
								<p class="text-left small whiteout">Anne spent thirteen years slowly saving money for deposits and growing a portfolio organically.
								She joined Progressive’s VIP Programme in 2014 and learnt how to recycle her deposits to grow her portfolio rapidly. She now has 76 properties of her own and with Joint Venture partners
								and has been involved with two commercial conversion projects. Her passive income from property allowed her to leave her career as a dentist and her husband Steve to quit as a GP.</p>
				            </div>
				            <div class="carousel-item col-md-4">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3.jpg" alt="Beginners Property Secrets">
								<h4 class="whiteout">Kevin Poneskis:</h4>
								<p class="text-left small whiteout">Kevin has been investing in property since 1991 when he bought his first Buy-to-Let at the age of 20. After leaving the British Army in 2011 he had a portfolio of Buy-to-Let’s and HMO’s worth over a million pounds, and due to this income did not need to get a job and has gone on to build a portfolio worth in excess of 3 million pounds. Kevin now specialises in Serviced Accommodation, and Rent-to- Rent Serviced Accommodation.</p>
				            </div>

				            <div class="carousel-item col-md-4">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no1.jpg" alt="No Money Down">
								<h4 class="whiteout">Kevin McDonnell:</h4>
								  <p class="text-left small whiteout">Kevin McDonnell began investing in property in 2004, and initially made lots of mistakes and lost a lot of money. After almost 10 years of juggling property with his full-time job he attended a MSOPI Event and over the next 5 years went on to build a £5M+ Portfolio with a Monthly Positive Cash Flow of over £20k per month. He uses Creative Strategies such as Rent2Rent, Lease Options, Assisted Sales, Vendor Finance, JV Finance & Rent2Own.</p>
				            </div>
				            <div class="carousel-item col-md-4">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no2.jpg" alt="Deal Packaging">
								<h4 class="whiteout">Anne Houlton:</h4>
								  <p class="text-left small whiteout">Kevin McDonnell began investing in property in 2004, and initially made lots of mistakes and lost a lot of money. After almost 10 years of juggling property with his full-time job he attended a MSOPI Event and over the next 5 years went on to build a £5M+ Portfolio with a Monthly Positive Cash Flow of over £20k per month. He uses Creative Strategies such as Rent2Rent, Lease Options, Assisted Sales, Vendor Finance, JV Finance & Rent2Own.</p>
				            </div>
				            <div class="carousel-item col-md-4">
				                <img class="img-fluid mx-auto d-block mb-3" src="/wp-content/uploads/sites/2/2018/09/carousel-col-3_no3.jpg" alt="Beginners Property Secrets">
								<h4 class="whiteout">Kevin Poneskis:</h4>
								  <p class="text-left small whiteout">Kevin McDonnell began investing in property in 2004, and initially made lots of mistakes and lost a lot of money. After almost 10 years of juggling property with his full-time job he attended a MSOPI Event and over the next 5 years went on to build a £5M+ Portfolio with a Monthly Positive Cash Flow of over £20k per month. He uses Creative Strategies such as Rent2Rent, Lease Options, Assisted Sales, Vendor Finance, JV Finance & Rent2Own.</p>
				            </div>

				        </div>
				        <a class="carousel-control-prev" href="#carousel-experts" role="button" data-slide="prev">
				            <i class="icon-chevron-left i2x text-muted"></i>
				            <span class="sr-only">Previous</span>
				        </a>
				        <a class="carousel-control-next text-faded" href="#carousel-experts" role="button" data-slide="next">
				            <i class="icon-chevron-right i2x text-muted"></i>
				            <span class="sr-only">Next</span>
				        </a>
				    </div>
				</div>    
					<!-- / Carousel -->


			</div>
		</div>	
	</div>

</div>