<div class="row brandBase experts-bg">
	<div class="container">	
		<img src="/wp-content/uploads/sites/2/2018/10/msopip.svg" width="320">
		<h2>Make large sumes of money</h2>

		<p>You just need to make that first step...</p>
		<a class="btn btn-primary" href="/" class="float-right arrow-de-toir">Next step</a>

	</div>

</div>