			
						

			<div class="container">

				
				<link rel="stylesheet" id="builder-styles" href="/wp-content/themes/themify-ultra/themify/themify-builder/css/themify-builder-style.css" media="all"><div id="themify_builder_content-21342" data-postid="21342" class="themify_builder_content themify_builder_content-21342 themify_builder themify_builder_front">

				
			<div data-gutter="gutter-default" class="themify_builder_row themify_builder_21342_row module_row module_row_0 module_row_21342-0 clearfix gutter-default col_align_top" data-column-alignment="col_align_top">

		
				
				<div class="row_inner_wrapper">
					<div class="row_inner">

						
						
							
		<div class="col-full first tb-column  tb_21342_column module_column_0 module_column_21342-0-0 module_column">

			
			
			<div class="tb-column-inner">

				
				
					

<div id="text-21342-0-0-1" class="module module-text text-21342-0-0-1   ">
	
	
	<h3>Proven, practical, real-life information from a range of expert property investors</h3>
		<p>This is the property investment podcast for investors at all levels of experience, from amateurs to veterans and everyone in between. The Progressive Property Podcast is carefully compiled to give you no fluff, no filler, no adverts; only the most thought-provoking, informative and penetrating insights into the property world, to help YOU become a more accomplished, better informed, and wealthier property investor.</p><p>It doesn’t matter whether you are a multi-letter, a deal packager, a flipper, a “buy and hold” investor, or any other form of property entrepreneur – the Progressive Property Podcast will provide you with proven, practical, real-life information from a range of expert property investors who have some of the UK’s largest and most lucrative portfolios.</p><p>Learn from the best as you hear the views and advice of millionaires, billionaires and success stories from our very own Progressive Property community.</p><p>It’s packed with info, it’s frequently updated, and it’s free.</p><h4><img class="size-full wp-image-21347 aligncenter" src="/wp-content/uploads/sites/2/sites/2/2017/11/progressive-property-podcast.jpg" alt="progressive-property-podcast" width="170" height="170" srcset="/wp-content/uploads/sites/2/sites/2/2017/11/progressive-property-podcast.jpg 170w, /wp-content/uploads/sites/2/sites/2/2017/11/progressive-property-podcast-150x150.jpg 150w" sizes="(max-width: 170px) 100vw, 170px"></h4><h4>Available on:</h4><p><a href="https://itunes.apple.com/gb/podcast/the-progressive-property-podcast/id1176574597?mt=2"><img class="aligncenter wp-image-21344 size-full" src="/wp-content/uploads/sites/2/sites/2/2017/11/itunes-3.png" alt="itunes-3" width="353" height="94" srcset="/wp-content/uploads/sites/2/sites/2/2017/11/itunes-3.png 353w, /wp-content/uploads/sites/2/sites/2/2017/11/itunes-3-300x80.png 300w" sizes="(max-width: 353px) 100vw, 353px"></a></p><p><a href="https://www.stitcher.com/podcast/rob-moore/the-progressive-property-podcast"><img class="size-full wp-image-21345 aligncenter" src="/wp-content/uploads/sites/2/sites/2/2017/11/stitcher.png" alt="" width="353" height="94" srcset="/wp-content/uploads/sites/2/sites/2/2017/11/stitcher.png 353w, /wp-content/uploads/sites/2/sites/2/2017/11/stitcher-300x80.png 300w" sizes="(max-width: 353px) 100vw, 353px"></a></p><p>&nbsp;</p>
	</div>


				
			</div><!-- /.tb-column-inner -->
					</div>
		<!-- /.tb-column -->
		
		
								
								
							
						</div>
						<!-- /row_inner -->
					</div>
					
				</div>
				<!-- /module_row -->
		</div>



								<!-- /comments -->

			</div>
			
