<div id="accordionExample" class="accordion">
<div id="" class="" aria-labelledby="headingOne" data-parent="#accordionExample">
<h2>Property Investment Courses, Seminars And Training Events.</h2>
			<p class="lead">The innovative, lucrative world of Progressive Property is where we help shape the great property development entrepreneurs and investors of tomorrow.</p>
	<div class="row">
		<div class="col-md-6">

			<p>Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit. Whether you are new to investing or a property professional we believe that Progressive Property can help you make more money and bigger profits through our property education.</p>
			<div class="row p-3"><a class="btn btn-secondary btn-block-sm-only" href="/our-vision/">Our Vision</a> <!-- <a class="btn btn-primary" href="/our-founders/" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Founders</a> --></div>
		</div>

		<div class="col-md-6">
			<div class="bg-float-bottom-rnm d-none d-md-block"></div>

		</div>
	</div>
</div>
<div id="headingTwo" class="brand-primary-bg text-center"><a class="btn btn-inline btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><!-- <i class="icon-plus"></i> --> Meet Our Founders</a></div>
<div id="collapseTwo" class="collapse justPad" aria-labelledby="headingTwo" data-parent="#accordionExample">
	<h3>The UK’s largest property educators, changing the lives of thousands of entrepreneurs.</h3>
	<div class="bg-float-bottom-rnm d-sm-block d-md-none"></div>
	<p>The company was the brainchild of two dreamers, <a href="/the-progressive-co-founders/">Rob Moore and Mark Homer</a>, who simply wanted to build a joint property portfolio, but ended up becoming the UK’s largest property investment education company and improving the lives of thousands of people in the process.</p>
	<p><a href="/the-progressive-co-founders/">More</a></p>

</div>
</div>