<div class="row">
    <div class="container">
		<h1>DON’T TAKE OUR WORD FOR IT!</h1>

		<p>Read about the successes our students have gone on to achieve after attending our courses!</p>

		<p>As you know, the setting of New Year’s resolutions is an age-old tradition, and one that is commonly practised. But, to use the frequently-cited statistic, only 8% of resolutions are actually seen through. So, why is it that so many fail?</p>

		<p>Too many people are ‘doing it wrong’.</p>
		 <div class="col-6">
		<p>Well, most people set their big goals in one year and, when the next year begins, there’s this huge, daunting task in front of them, and… they don’t know where to start. That’s one reason.
		Another is that people aren’t visualising; they aren’t visualising the process they need to submit themselves to, to reach their goals, and they aren’t visualising the outcome of this process. If they’re not focusing their attention on where they’re trying to get to – and how great that’s going to be – they’re not creating the necessary strong psychological associations in your brain. They need to instil in themselves the concept that hard work now, in pursuit of a goal, is going to lead to long-term benefits.</p>
		</div>
		<div class="col-6">
			<img src="/wp-content/uploads/sites/2/2018/08/BLOG-GOAL-SETTING.jpg">
		</div>

	</div>
</div>

<div class="row">
    <div class="container">

		<h2>HOW TO SET S.M.A.R.T. GOALS</h2>

		<p>This acronym is a useful tool for goal-setting which has been adopted by schools and businesses worldwide.
		Specificity and precision when constructing your goals is key, because they’ll help you stick to them. As an example, “I want to have lost weight by next year” is a very flimsy goal that’s, quite frankly, just going to leave a person lost and confused about how to get there.</p>

		<p>However, “I want to lose x lbs per month by following a strict caloric intake of y calories per day, and completing z hours of exercise per week” is a much more specific target which provides more clarity in terms of what needs to be done. With a goal like this, it is much easier to expand, elaborate, and evaluate what steps you need to take (e.g. “I’ll need to make meal plans and rearrange my schedule to allocate time for going to the gym”).
		This second goal is also measurable; progress is broken down into measurable elements, which won’t leave you with a huge, daunting task to complete. This means you’re more likely to reach your goal – ‘chunking’ your strategy for success is essential for not falling victim to procrastination or laziness.
		It’s necessary to add a timescale when you do this: “Sure, I want to lose a certain number of kilos by this time next year. So, I’ll divide this by 12 to work out how many I should lose per month, from which I can determine what to do per day.” This helps you assess your progress as you continue through the year – and, if a strategy isn’t working, change it!</p>

		<p>Breaking down a goal like this also helps you to determine whether what you want is attainable. “Is it actually possible to lose x lbs per month? I’ll do the math and check.” Setting a sizeable goal for yourself can be wonderful – push yourself – but you must ensure the realism of your goal by breaking it down first. To quote Tony Robbins, most people overestimate what they can do in a year, and underestimate what they can do in ten.</p>
		<p>HOW TO SET S.M.A.R.T. GOALS</p>

	</div>
</div>