<div style="width:50%;" class="input-group mb-3 mx-auto">
  <input type="text" class="form-control" placeholder="youremail@domain.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
  
    <button class="btn btn-primary" id="basic-addon2">Submit</button>

</div>