<div class="row element-container cf ">
    <div id="5addee05912cb" class="optin-box optin-box-6" style="margin-right: auto; margin-left: auto;">
        <div class="optin-box-content">
            <form id="inf_form_dae472446d92ba16f0eb7ce54a4d3339" class="cf op-optin-validation" action="https://progproperty.infusionsoft.com/app/form/process/dae472446d92ba16f0eb7ce54a4d3339" method="post">
                <div style="display: none;"><input name="inf_form_xid" type="hidden" value="dae472446d92ba16f0eb7ce54a4d3339" /><input name="inf_form_name" type="hidden" value="August 2018 - MSOPI Generic Interest- (RH-FB-S2)" /><input name="infusionsoft_version" type="hidden" value="1.70.0.60109"
                    /><input name="redirect_url" type="hidden" value="https://progproperty.infusionsoft.com/app/form/process/dae472446d92ba16f0eb7ce54a4d3339" /><input name="email_field" type="hidden" value="inf_field_Email" /></div>
                <div class="text-boxes">
                    <div class="text-box name"><input name="inf_field_FirstName" required="required" type="text" value="" placeholder="Enter your first name" /></div>
                    <div class="text-box"><input name="inf_field_LastName" required="required" type="text" value="" placeholder="Enter your last name" /></div>
                    <div class="text-box email"><input name="inf_field_Email" required="required" type="email" value="" placeholder="Enter your email address" /></div>
                    <div class="text-box"><input name="inf_field_Phone5" required="required" type="text" value="" placeholder="Enter your contact number" /></div>
                </div>
                <fieldset>[xyz-ihs snippet="1test"]<br /><input id="inf_option_Checkbox" name="inf_option_Checkbox" required="required" type="checkbox" value="33123" /><label class="light" for="inf_option_Checkbox"></label><span class="number">Yes!</span></fieldset>
                <div
                    style="text-align: center;"><button id="btn_1_7060e83ec2641b8ddabfd7c4af600835" class="css-button style-1 location_optin_box_style_7" type="submit"><span class="text">Book Your Place Now</span></button></div>
        </form>
        <p class="privacy"><img src="http://www.progressiveproperty.co.uk/offers/wp-content/themes/optimizePressTheme/lib/assets/images/optin_box/privacy.png" alt="privacy" width="16" height="15" />We value your privacy and would never spam you</p>
    </div>
</div>
</div>