<div class="row positive-bg-row" id="top">
<div class="container">
<h1>Brand Style Guide</h1>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#brand-primary-bg-row ">brand-primary-bg-row </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#brand-dark-bg-row">brand-dark-bg-row</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#brand-darker-bg-row">brand-darker-bg-row</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#brand-dark-bg-row">brand-dark-bg-rowest</a>
  </li>
</ul>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#brand-secondary">brand-secondary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#brand-secondary-dark">brand-secondary-dark</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#brand-secondary-darker">brand-secondary-darker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link brand-secondary-darkest-pallete" href="#brand-secondary-darkest">brand-secondary-darkest</a>
  </li>
</ul>


<h3>Heading 3 - positive-bg-row</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

<div class="justPad">
  <div class="row">
    <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
    <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
  </div>
</div>

<div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>


</div>
</div>
<div class="row brand-primary-bg-row " id="brand-primary-bg-row ">
<div class="container">
<h2>Heading Two - brand-primary-bg-row </h2>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-dark-bg-row" id="brand-dark-bg-row">
<div class="container">
<h3>Heading Three brand-dark-bg-row</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-darker-bg-row" id="brand-darker-bg-row">
<div class="container">
<h3>Heading Three brand-darker-bg-row</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

</div>
</div>
<div class="row brand-dark-bg-row" id="brand-dark-bg-row">
<div class="container">
<h3>Heading Three brand-dark-bg-row</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brandLight" id="brandLight">
<div class="container">
<h3>Heading 3 - brandLight</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brandLighter" id="brandLighter">
<div class="container">
<h3>Heading 3 - brandLighter</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-lightest-bg-row" id="brand-lightest-bg-row">
<div class="container">
<h3>Heading 3 - brand-lightest-bg-row</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
</div>
</div>
<div class="row brand-secondary-darkest" id="brand-secondary-darkest">
<div class="container">
<h3>Heading 3 - brand-secondary-darkest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-darker" id="brand-secondary-darker">
<div class="container">
<h3>Heading 3 - brand-secondary-darker</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-dark" id="brand-secondary-dark">
<div class="container">
<h3>Heading 3 - brand-secondary-dark</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-bg-row" id="brand-secondary">
<div class="container">
<h3>Heading 3 - brand-secondary</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-light" id="brand-secondary-light">
<div class="container">
<h3>Heading 3 - brand-secondary-light</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>


<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-lighter" id="brand-secondary-lighter">
<div class="container">
<h3>Heading 3 - brand-secondary-lighter</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>
<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>
<div class="row brand-secondary-lightest" id="brand-secondary-lightest">
<div class="container">
<h3>Heading 3 - brand-secondary-lightest</h3>
<p class="lead">Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut.</p>
Lorem ipsum dolor sit amet, <a href="#">am I standing out as a link?</a> elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.

Duis autem dolor <a href="#">in hendrerit</a> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.
<div class="justPad">
<div class="row">
  <div class="col-sm-6"><button class="btn btn-primary btn-lg" type="button">Large Primary button</button></div>
  <div class="col-sm-6"><button class="btn btn-secondary btn-lg" type="button">Large Default button</button></div>
</div><div class="justPad">
        <div class="justPad d-flex justify-content-between">
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/expertise/brand-development/"><i class="icon-mcdonalds i5x" alt="Brand Development"></i><h6></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <a class="inherit-color" href="/styleguide/icons/"><i class="icon-mercedes i5x" alt="User Experience Design (UX)"></i><h6 class="hidden-xs-down"></h6></a>
          </div> 
          <div class="icon-grid3 text-center">
            <i class="icon-hp-logo i5x" alt="Technology"></i><h6 class="hidden-xs-down"></h6></div> 
        </div> 
</div>
</div>


<div class="justPad">[gravityform id="1" title="false" description="false" ajax="true"]</div><a href="#top">Top</a>
</div>
</div>