<div id="empowerment-hero" class="negative-bg-row hero-bg">
</div>

<div class="positive-bg-row">
    <div class="container">
        <h2>The US vision is to empowering the greatness in everyone.</h2>

        <p class="display-4">We aim to achieve the vision through leadership, training, mentorship and interactive learning from leaders and a community who've been there, done it and won't stop in this lifetime.</p>

        <p class="lead">US are unique in that we believe you already have the power and responsibility to change and control your destiny. We're not into excuses, we're into giving you the most innovative tools and techniques to unleash clarity and confidence to achieve your definition of fast and lasting success.</p>

        <p>If you want therapy or counselling, US is not for you. No victims here just inspired leaders, including you. US will lead and serve you towards proactive and innovative growth; both personal and financial. We're not into dreamy barefoot meditation, but real tools &amp; strategies that the wealthiest people are using to change the world. US was built by property multi-millionaire businessman Rob Moore with multi-millionaire business partner Mark Homer. Not self-styled gurus, but real life, active, visionary Entrepreneurs like you. It's not just about the money; that comes when you discover and free what you love to do the most. Whatever financial or life challenge you may have now, you can achieve the same results in the US community, trainings, interactive learning and mentorships.</p>
    </div>
</div>

<div class="positive-bg-row">
    <img src="//success.progressive.test/wp-content/uploads/sites/4/2018/10/section-background-image-1920x624.jpg" class="img-fluid">
</div>

<div class="container">
    <div class="row brandBase">
        <div class="col-sm">
            <h3>Our Values</h3>
            <p>And we are totally committed to serving you to set up or grow your passion, Entrepreneurial vision, and becoming the person you need to become to change the world.
                <ul>
                    <li> that in a supportive environment anyone (you) can achieve greatness </li>
                    <li> that anyone can change and improve to fulfil their (your) full potential </li>
                    <li> that anyone (you) can create freedom, choice and control of their lives </li>
                </ul>
                The Unlimited Success values are Personal, Inspired, Results.
        </div>
        <div class="col-sm">
            <img src="//success.progressive.test/wp-content/uploads/sites/4/2018/10/vision-1280x1280.jpg">
        </div>
    </div>
</div>

<div class="negative-bg-row" id="empowerment-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>You Are Your Greatest Asset</h3>
                <h4>An introduction to better communication, stronger influence and booming profits.</h4>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row brandBase">
        <div class="col-sm">
            <h3>Hear From Our Mentors</h3>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary">View Our Testimonials</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row brandBase">
        <div class="col-sm">
            <iframe width="490" height="315" src="//www.youtube.com/embed/_RaaoqPnBpM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-sm">
            <iframe width="490" height="315" src="//www.youtube.com/embed/_RaaoqPnBpM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>