<div class="row brandBase negative vh100 hero-bg" id="empowerment-hero">
	<div class="container text-center">
		<h1>Your business & personal transformation</h1>
	</div>
</div>

<div class="row brandBase">
	<div class="container">
		<p class="lead">Attending the Expert Speaker Discovery is possibly the fastest way to go from inexperienced speaker to a confident speaker.</p>

		<p>During the event you’re taken by the hand and shown step-by-step the secrets to making memorable speeches which attract standing ovations. So afterwards you’ll be able to confidently speak. And boost your reputation as a speaker and be well-rewarded in the process.</p>
	</div>
</div>

		[justified_image_grid preset=9 thumbs_spacing=32 row_height=420 height_deviation=0 caption_opacity=1 caption_bg_color=(0,0,0,0.5) limit=6 load_more=click initially_load=6 recent_posts=yes recents_description_3=auto_manual_excerpt recents_include=3]
