<div id="crypto-intensive" class="negative-bg-row hero-bg">
</div>

<div class="positive-bg-row">
    <div class="container">
        <h1 class="brand-primary-colour">Welcome To Our Store</h1>
        <p class="display-4">We hope you find what you are looking for amongst our wide range of live changing products.</p>

        <p>lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <div class="row">
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
        </div>
    </div>
</div>


<div class="negative-bg-row" id="empowerment-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>You Are Your Greatest Asset</h2>
                <p class="display-4">An introduction to better communication, stronger influence and booming profits.</p>
                <button type="button" class="btn btn-primary">Find Out More</button>
            </div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <h2 class="brand-primary-colour">Book Sets</h2>
        <div class="row">
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
        </div>
    </div>
</div>

<div class="negative-bg-row hero-bg" id="empowerment-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Special Offer</h2>
                    <p class="display-4">For a limited time only we are offering this course at a reduced price of £100+VAT (RRP £497) </p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
            <div class="col">
                <img src="/wp-content/uploads/sites/4/2018/07/CommunicationHacks-6DISC-050318-01.jpg">
                <h4>Communication Hacks</h4>
                <p>Description goes here</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
        </div>
    </div>
</div>