<div class="container">

    <h2>Security Assessments</h2>

    <p>Cyber resilience is not an option, but a necessity. To reduce risk and enhance resilience, organisations must understand their security maturity in order to make cost-effective decisions on their security capability. Tantivy’s assessments are designed to provide organisations with assurance and insights into their security posture, with recommendations to enhance cyber resilience. Tantivy utilise experienced-based, structured and pragmatic approaches; our assessments are not an audit against predetermined Standards or Governance frameworks (e.g. ISO/COBIT), but a practical inspection predicated first and foremost on real world threats to your business information assets.</p>
</div>

<div class="brand-secondary-bg-row">
	<div class="container">
    	[docxpresso file="http://tantivyconsult.staging.wpengine.com/wp-content/uploads/2019/01/Assessments.odt" comments="true" SVG="true"]
	</div>
</div>


<div class="positive-bg-row">
	<div class="container">
	    <h4>Security Health Check Assessment (Bronze)</h4>

	    <ul>
	        <li>Tantivy apply our discovery and assessment method to validate your security posture against an agreed set of criteria, spanning policy, process, people and technology. Our report details the areas of shortfall in the organisation’s cyber resilience,
	            and provides independent assurance as to current security posture and response capability.</li>
	    </ul>

	    <p>The Assessment includes:</p>
	    <ul>
	        <li>Access Management</li>
	        <li>Support &amp; Monitoring</li>
	        <li>Incident Response</li>
	        <li>Information Asset Register(s)</li>
	        <li>Data Privacy</li>
	        <li>Technical Provisions</li>
	        <li>Security Protocols &amp; Policies</li>
	        <li>Business Tools</li>
	        <li>Business Support Functions</li>
	        <li>Corporate Risk Compliance</li>
	    </ul>


	</div>
</div>





<div class="positive-bg-row">
	<div class="container">

    <h4>Threat Perimeter Assessment (Silver)</h4>

    <ul>
        <li>Tantivy apply an intelligence led approach to assessing the attack surface for your organisation and we pay particular attention to the likely motives and modus operandi of the would-be-attacker. With a targeted view of the attack surface, clients
            are better placed to implement counteractive controls.</li>
    </ul>

    <p>The Assessment includes:</p>
    <ul>
        <li><strong>Security Health Check Assessment</strong></li>
    </ul>
    <p>Plus;</p>
    <ul>
        <li>Threat Assessment</li>
        <li>Open and Closed Source Intelligence</li>
        <li>Macro Threat Environment</li>
        <li>Post Incident Decomposition and Analysis</li>
    </ul>

	</div>
</div>


 <div class="positive-bg-row">
	<div class="container">
		
    <h4>Business Risk Resilience Radar (Gold)</h4>
    <ul>
        <li>For a highly comprehensive deep dive assessment, Tantivy will map technology and process threats, vulnerabilities and controls, working with your risk owners to value information assets i.e. value at risk (VaR), providing the ability to model the
            impact of various under-attack and post breach/clean-up scenarios. We produce a simple and clear radar diagram of business risk resilience, showing the gap and remediation estimates. This management reporting capability can make a significant
            difference in the effectiveness of communicating value-at-risk and cyber resilience to executive management.</li>
    </ul>
    <h5>The Assessment includes:</h5>
    <ul>
        <li><strong>Security Health Check Assessment</strong></li>
        <li><strong>Threat Perimeter Assessment</strong></li>
    </ul>
    <p>Plus;</p>
    <ul>
        <li>Business Risk Assessment</li>
        <li>Technology and Process Mapping</li>
        <li>Board Reporting and Business Risk Radar</li>
    </ul>

    <h4>M&amp;A Cyber Hygiene Report</h4>

    <ul>
        <li>Investing or acquiring a company carries considerable risk. Not only should you be concerned about Balance Sheet and Profit &amp; Loss; increasingly, security posture has a direct relationship with corporate value. In relation to the target company,
            has the intellectual property been compromised previously and is now of significantly less value?</li>
    </ul>

    <p>Contact us to discuss your requirements and receive a bespoke quotation.</p>

    <h1></h1>
    <h2>Security Programmes</h2>
     <p>As cyber resilience rises in board room priority, the requirements on the organisation to deliver change transformation projects are complex and unfamiliar without prior security experience. From starting out with a fit-for-purpose strategy, architecture and operating model, to developing the policies and governance necessary, to the ongoing education and awareness across your organisation, Tantivy can help. Arm your human firewall with the ongoing training and knowledge to spot an attempted breach, and you will appreciate the future cost savings in avoided cyber incidents and penalties for bad practice.</p>

     [docxpresso file="http://tantivyconsult.staging.wpengine.com/wp-content/uploads/2019/01/Programmes.odt" comments="true" SVG="true"] 

    <h5>Strategy, Architecture &amp;Operating Model</h5>
    <ul>
        <li>Tantivy have experts in delivering security strategy, architecture and operating model transformation. Beginning by assessing the client's business risks and valuable critical information assets, Tantivy guide the client in areas of improving cyber resilience.
        </li>
    </ul>

    <h5>Policy &amp; Governance</h5>
    <ul>
        <li>Tantivy create bespoke policies and governance structures to meet the current and future demands of the client organisation. We can prioritise and advise on procedural changes to safeguard the organisation against non compliance and/or incident deterrence.</li>
    </ul>
    <h5>Education and Awareness</h5>
    <ul>
        <li>Tantivy provide learning and development services in information security (including GDPR). We have a learning management system and can deliver CBT and/or classroom training. We also have a suit of interactive games designed to test and train in cyber security awareness and techniques.</li>
    </ul>

    <img class="img-fluid" src="http://tantivyconsult.staging.wpengine.com/wp-content/uploads/2017/09/tantivy-engagement-principles.png" alt="" width="2560" height="1600">

    <h1>Our mission is to enhance cyber resilience in an uncertain world.</h1>
    <div class="row justify-content-center">
        <div class="col-2">

            <a class="btn btn-primary btn-lg" href="/contact">Contact us</a>

        </div>
    </div>
