<div class="positive-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="aos-init aos-animate" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="400">The Disruptive Entrepreneur &#8482;</h2>
            </div>
            <div class="col-md-6">
                <blockquote class="aos-init aos-animate" data-aos="zoom-in-left" data-aos-easing="ease-in-sine" data-aos-duration="400">"If you don't risk anything, you risk everything." – Rob Moore</blockquote>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SRTkbixhiY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>




<div class="gray-lighter-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="ticklist">
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">One of the UK’s top non-fiction authors – 8 books, published by Hachette</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Became a millionaire at 30 having been an artist £50k in debt 5 years before</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Built the UK’s largest property training co. Progressive Property (won business of the year 2016)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Broke 3 public speaking world records (an international keynote speaker)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Has done over £100m in revenue</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Co-owns or manages 850 tenants in his property portfolio & Progressive Lets agency</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="ticklist">
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">One of the UK’s top influencers (775,000 subscribers & followers on email & social)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Leading UK Business Podcaster: his podcast (media agency) has 200,000+ downloads a month</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Mentor to some big UK celebrities like Kevin Clifton & board advisor to some great companies</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Currently developing 160 residential property units (120,000 sq. ft.)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Won business of the year 2016 & Property Wire Training Company of the Year</li>
                </ol>
            </div>
        </div>
        <blockquote>“Rob is a great mentor for both my property journey and podcast media. He’s prolific, accessible and unique. Thank you Rob”<footer class="blockquote-footer">Kevin Clifton<cite title="Source Title"> Strictly Come Dancing, Rock of Ages</cite></footer></blockquote>

    </div>
</div>


<div class="positive-bg-row">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="400">Biography</h2>
        <div class="row">
            <div class="col-md-8">
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Rob lives and loves entrepreneurship and property investing, and is the host of the successful UK podcasts, The “Disruptive Entrepreneur" and “Money”. He is on a mission to change the way people think about business and aims to support
                    people around the globe through the Rob Moore foundation.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Rob co-founded Progressive Property – the UK's leading property training company – and Unlimited Success with his business partner, before becoming the host of the wildly successful podcast The “Disruptive Entrepreneur” and now The “Money”
                    Podcast, listened to in 192 countries worldwide. This has grown into a complete digital agency: Progressive Media.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">A self-made multi-millionaire by the age of 30, having risen to riches from being heavily in debt in his 20s, Rob has retired and un-retired countless times, each time creating a new innovation, vision, book or entire company.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">He continues to disrupt as an entrepreneur and businessman, with interests ranging from property development to public speaking and digital media. He is a writer, communicator, social media influencer and philanthropist. His 8 books have
                    been translated into more than a dozen languages and received over 9,000 reviews, and 200 1 stars!</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">He is a highly sought-after public speaker, having given 1,200 speeches in the last decade and held 2 separate world records for the longest individual speech marathon. Rob holds his audience captive as an engaging and innovative speaker.
                    He has the rare skill of cutting to the chase, using his personal experience to help others and entertain in a disruptive way.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Through the Rob Moore Foundation, he provides an opportunity for under-privileged individuals, start-ups and small established businesses to gain valuable support, investment and mentorship from some of the best in the business. All his
                    profits from his book Money go to the foundation.</p>
            </div>
            <div class="col-md-4">
                <blockquote class="aos-init aos-animate" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="400">“Rob is one of the most genuine, forward-thinking, positive and motivational guys I have ever met”
                    <footer class="blockquote-footer"><cite title="Source Title">Jake Wood </cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<div class="gray-lighter-bg-row">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob's Story</h2>
        <div class="row">
            <div class="col-md-4">
                <blockquote class="aos-init aos-animate" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="400">“Rob uses lots of good ideas about the balance of living a life away from working 24/7, I wish I had seen this book when I was a teenager!”<footer class="blockquote-footer">Frank Bruno MBE<cite title="Source Title"> (about Life Leverage)</cite></footer></blockquote>
            </div>
            <div class="col-md-8">
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Rob’s entrepreneurial journey started at a very young age, when his Dad encouraged him to work in the family pub, cleaning, ‘bottling up’ and following Dad around while he was buying pubs. But Rob lost his way through his teens and 20s,
                    with a lack of direction and clarity, and was struggling as an artist by age 25. On Dec 15th 2005, Rob’s Dad had a huge nervous breakdown in his pub; he was sectioned by the police in front of all his customers, and has been living
                    with bipolar disorder ever since. This was a rude awakening for Rob, who felt shame for not living up to his potential and taking full advantage of the upbringing his Dad had given him. To this day, this is one of two main drivers
                    for Rob’s life and enterprises.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">At his turnivictimng point in 2005, Rob was £50k in personal consumer debt. He was shocked into action – no more excuses, dependence on others or playing the . He cleared all his debt within one year. Another year later he had 20 properties
                    in a partnership with Mark Homer, and two years later they had 50 properties.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Rob became a millionaire before his 31st birthday. By the age of 40, Rob had a business and property empire. His most proud moment was ‘retiring’ his parents and giving them his house, with the profits he made from property.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Rob’s second driver for success is to help as many people around the globe get a better financial education than what’s taught in schools, and to start and scale their own ventures. He set up the Rob Moore Foundation to take his mission
                    to the global level.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">What you didn’t know about Rob</h3>

        <ul>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Nearly died twice: peritonitis & a motorbike crash</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">He was ‘’Face of Peterborough” 1999! Clearly wasted talent!</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Applied for Big Brother & the Apprentice in a ‘lost’ period of his life & thankfully didn’t get on</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Listens to Radiohead & Rammstein to cheer himself up</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Appeared on the ‘world’s most expensive crashes’ website & The Sun newspaper for crashing his 5-day-old Ferrari into the News International building, incurring a £105,000 repair bill</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s superpowers</h3>
        <ul>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Having a great business partner: surrounding himself with smarter people</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Inspiring & educating people to achieve more than they believe they can themselves</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Running his mouth off for a living (his best trait according to his business partner)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s epic weaknesses</h3>
        <ul>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Total child-like impatience</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Retires then starts again about every two years; just can’t seem to stop</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Takes on way too many things (& his team have to clear up the mess)</li>
        </ul>
    </div>
</div>







<div class="gray-lighter-bg-row">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="400">The Progressive Group</h2>
        <div class="row justPad">
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2019/04/logo-progressive-developments-col.svg" data-aos="fade" /></div>
        </div>

        <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">The Progressive Group (Property, Success, Media, Publishing, Lets) beprogressive.com</p>



        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Main Books</h3>
        <ul>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">I’m Worth More</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Start Now. Get Perfect Later</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Money</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Property Investing Secrets</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">Multiple Streams of Property Income</li>
        </ul>
    </div>
</div>

<div class="negative-bg-row">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
	        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Podcasts</h3>
	        <ul>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">The “Disruptive Entrepreneur”: http://bit.ly/TDEPodcast</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">The “Money” Podcast: http://bit.ly/moneypodcastitunes</li>
	        </ul>
	        <img src="/wp-content/uploads/sites/2/2019/04/us-uk-apple-podcasts-listen-color-lockup-rgb-wht-type.svg" data-aos="fade" />
	    	</div>
			<div class="col-md-6">
		        <img src="/wp-content/uploads/sites/2/2019/04/tde-podcast-iphone.png"  class="aos-init aos-animate" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="400" />
		    </div>
		</div>
		<div class="row">
			<div class="col-md-6">
		        <img src="/wp-content/uploads/sites/2/2019/04/money-podcast-iphone.png"  class="aos-init aos-animate" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="400" />
		    </div>    
		</div>
			
	</div>
</div>


<div class="positive-bg-row pt-0">
   [justified_image_grid ids="33819, 33821, 33820, 33822, 33823, 33824, 33825, 33826, 33827, 33828, 33831, 33830, 33832," thumbs_spacing=0 row_height=400 height_deviation=0 title_field=title caption_field=description caption=slide caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off custom_fonts=yes gradient_caption_bg=no lightbox=links-off mobile_lightbox=no orderby=rand last_row=flexible aspect_ratio=1:1 disable_cropping=no developer_link=hide load_more=hybrid initially_load=12 recent_posts=undefined recents_description=auto_manual_excerpt recents_post_type=page recents_link_to=image]
</div>
<div class="positive-bg-row">
    <div class="container">
        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Social</h3>
        <ul>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">facebook.com/robmooreprogressive</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">instagram.com/robmooreprogressive</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">youtube.com/c/RobMoore1</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">https://www.linkedin.com/in/robmoore1979/</li>
            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200">twitter.com/robprogressive</li>
        </ul>

        <p class="i3x d-flex flex-row justify-content-around"><a href="//www.facebook.com/ProgressivePropertyInvestment/" target="_blank"><i class="icon-facebook mr-3"></i></a><a href="//twitter.com/robandmark" target="_blank"><i class="icon-twitter mr-3"></i></a><a href="//www.linkedin.com/company/progressive-property/" target="_blank"><i class="icon-linkedin mr-3"></i></a></p>
	</div>
</div>
