<div class="negative-bg-row" id="about-rob">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-4">
                <blockquote style="font-size: 3rem; line-height: 1.5;" class="aos-init aos-animate mt-sm-5 negative" data-aos="zoom-in-left" data-aos-easing="ease-in-sine" data-aos-duration="400">"If you don't risk anything, you risk everything."<footer class="blockquote-footer">Rob Moore<cite title="Source Title"></cite></footer></blockquote>
                <h3 class="aos-init aos-animate" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="400">The Disruptive Entrepreneur &#8482;</h3>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-8">
        		<h1 style="" class="aos-init aos-animate pt-5" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob Moore</h1>
        		<h2 class="h5 aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Entrepreneur/Investor | Author of 6 Amazon/Audible Bestsellers | Prolific Podcaster | 2x Public Speaking World Record Holder | Founder of The Rob Moore Foundation</h2>
        	</div>
        </div>

    <div class="bounce animated justPad">
            <a href="#first-scroll">
                <div class="arrow i5x">
                </div>
            </a>
        </div>
    </div>
</div>



<div class="positive-bg-row" id="first-scroll">
    <div class="container">
    	<div class="row justPad">
			<div class="col-md-12">
		    	<img class="static float-left mr-3 mask-group-bl" src="/wp-content/uploads/sites/2/2019/04/kevin-clifton.jpg" width="120px" height="131px"/>

		    	<blockquote>“Rob is a great mentor for both my property journey and podcast media. He’s prolific, accessible and unique. Thank you Rob”<footer class="blockquote-footer">Kevin Clifton<cite title="Source Title"> Strictly Come Dancing, Rock of Ages</cite></footer></blockquote>
		    </div>	
    	</div>
        <div class="row">
            <div class="col-md-6">
                <ol class="ticklist">
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">One of the UK’s top non-fiction authors – 8 books, published by Hachette</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Became a millionaire at 30 having been an artist £50k in debt 5 years before</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Built the UK’s largest property training co. Progressive Property (won business of the year 2016)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Broke 3 public speaking world records (an international keynote speaker)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Has done over £100m in revenue</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Co-owns or manages 850 tenants in his property portfolio & Progressive Lets agency</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="ticklist">
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">One of the UK’s top influencers (775,000 subscribers & followers on email & social)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Leading UK Business Podcaster: his podcast (media agency) has 200,000+ downloads a month</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Mentor to some big UK celebrities like Kevin Clifton & board advisor to some great companies</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Currently developing 160 residential property units (120,000 sq. ft.)</li>
                    <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Won business of the year 2016 & Property Wire Training Company of the Year</li>
                </ol>
            </div>
        </div>
        
    </div>
</div>


<div class="negative-bg-row" id="about-rob-second-scroll">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="600">Biography</h2>
        <div class="row">
            <div class="col-md-8">
                <p class="lead aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob lives and loves entrepreneurship and property investing, and is the host of the successful UK podcasts, The “Disruptive Entrepreneur" and “Money”. He is on a mission to change the way people think about business and aims to support people around the globe through the Rob Moore foundation.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob co-founded Progressive Property – the UK's leading property training company – and Unlimited Success with his business partner, before becoming the host of the wildly successful podcast The “Disruptive Entrepreneur” and now The “Money” Podcast, listened to in 192 countries worldwide. This has grown into a complete digital agency: Progressive Media.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">A self-made multi-millionaire by the age of 30, having risen to riches from being heavily in debt in his 20s, Rob has retired and un-retired countless times, each time creating a new innovation, vision, book or entire company.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">He continues to disrupt as an entrepreneur and businessman, with interests ranging from property development to public speaking and digital media. He is a writer, communicator, social media influencer and philanthropist. His 8 books have been translated into more than a dozen languages and received over 9,000 reviews, and 200 1 stars!</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">He is a highly sought-after public speaker, having given 1,200 speeches in the last decade and held 2 separate world records for the longest individual speech marathon. Rob holds his audience captive as an engaging and innovative speaker. He has the rare skill of cutting to the chase, using his personal experience to help others and entertain in a disruptive way.</p>
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Through the Rob Moore Foundation, he provides an opportunity for under-privileged individuals, start-ups and small established businesses to gain valuable support, investment and mentorship from some of the best in the business. All his profits from his book Money go to the foundation.</p>
            </div>
            <div class="col-md-4">
            	<div id="maskborder">
            		<img style="margin-bottom: -.75rem;" class="static mt-2 mr-3 float-left aos-init aos-animate negative mask-group-bl" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="300" src="/wp-content/uploads/sites/2/2019/04/jake-wood-max-branning-in-eastenders.jpg" width="120px" height="131px"/>
            	</div>
                <blockquote class="aos-init aos-animate negative" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="400">“Rob is one of the most genuine, forward-thinking, positive and motivational guys I have ever met”
                    <footer class="blockquote-footer">Jake Wood<cite title="Source Title">, Max Branning in EastEnders </cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

x
<div class="gray-lighter-bg-row" id="about-rob-third-scroll">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="100" data-aos-delay="100">Rob's Story</h2>
        <div class="row">
            <div class="col-md-4">
        		<img style="margin-bottom: -.75rem;" class="static mr-3 mt-2 float-left aos-init aos-animate mask-group-bl" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="300" data-aos-delay="200" src="/wp-content/uploads/sites/2/2019/04/frank-bruno-rob-moore-super-conference.jpg" width="120px" height="131px" title="Rob uses lots of good ideas about the balance of living a life away from working 24/7, I wish I had seen this book when I was a teenager!" />
                <blockquote class="aos-init aos-animate " data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">“Rob uses lots of good ideas about the balance of living a life away from working 24/7, I wish I had seen this book when I was a teenager!”<footer class="blockquote-footer">Frank Bruno MBE<cite title="Source Title"> (about Life Leverage)</cite></footer></blockquote>
            </div>
            <div class="col-md-8">
                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s entrepreneurial journey started at a very young age, when his Dad encouraged him to work in the family pub, cleaning, ‘bottling up’ and following Dad around while he was buying pubs. But Rob lost his way through his teens and 20s, with a lack of direction and clarity, and was struggling as an artist by age 25. On Dec 15th 2005, Rob’s Dad had a huge nervous breakdown in his pub; he was sectioned by the police in front of all his customers, and has been living with bipolar disorder ever since. This was a rude awakening for Rob, who felt shame for not living up to his potential and taking full advantage of the upbringing his Dad had given him. To this day, this is one of two main drivers for Rob’s life and enterprises.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">At his turnivictimng point in 2005, Rob was £50k in personal consumer debt. He was shocked into action – no more excuses, dependence on others or playing the . He cleared all his debt within one year. Another year later he had 20 properties
                    in a partnership with Mark Homer, and two years later they had 50 properties.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob became a millionaire before his 31st birthday. By the age of 40, Rob had a business and property empire. His most proud moment was ‘retiring’ his parents and giving them his house, with the profits he made from property.</p>

                <p class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s second driver for success is to help as many people around the globe get a better financial education than what’s taught in schools, and to start and scale their own ventures. He set up the Rob Moore Foundation to take his mission to the global level.</p>
            </div>
        </div>
    </div>


</div> <!-- / gray-lighter-bg-row -->








<div class="gray-lightest-bg-row pt-0 pb-0">
	<div class="row">
	    <div class="col-md-4 p-5 gray-darkest-bg">
	        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">What you didn’t know about Rob</h3>
	        <ul>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Nearly died twice: peritonitis & a motorbike crash</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">He was ‘’Face of Peterborough” 1999! Clearly wasted talent!</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Applied for Big Brother & the Apprentice in a ‘lost’ period of his life & thankfully didn’t get on</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Listens to Radiohead & Rammstein to cheer himself up</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Appeared on the ‘world’s most expensive crashes’ website & The Sun newspaper for crashing his 5-day-old Ferrari into the News International building, incurring a £105,000 repair bill</li>
	        </ul>
	    </div>
	    <div class="col-md-4 p-5 brand-primary-bg">
	        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s superpowers</h3>
	        <ul>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Having a great business partner: surrounding himself with smarter people</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Inspiring & educating people to achieve more than they believe they can themselves</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Running his mouth off for a living (his best trait according to his business partner)</li>
	        </ul>
	    </div>
	    <div class="col-md-4 p-5 brand-secondary-bg">
	        <h3 class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">Rob’s epic weaknesses</h3>
	        <ul>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Total child-like impatience</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Retires then starts again about every two years; just can’t seem to stop</li>
	            <li class="aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="200" data-aos-delay="200">Takes on way too many things (& his team have to clear up the mess)</li>
	        </ul>
		</div>
	</div>
</div>






<div class="positive-bg-row" id="about-rob-fourth-scroll">
    <div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="400">The Progressive Group</h2>
           <p class="display-4 aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400" data-aos-delay="200">We are a group of companies who share the vision and values of serial entrepreneurs, property investors and business owners, Rob Moore &amp; Mark Homer.</p>
        <div class="row justPad">
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-property.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-success.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-publishing.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-network.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2018/11/logo-progressive-lets.svg" data-aos="fade" /></div>
            <div class="col-md-2 col-12 mb-5 mb-md-0"><img class="p-brand" src="/wp-content/uploads/2019/04/logo-progressive-developments-col.svg" data-aos="fade" /></div>
        </div>
   </div>
</div>

<div class="brand-secondary-bg-row">
	<div class="container">
        <h2 class="aos-init aos-animate" data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="600">6 Best Sellers</h2>
		[smartslider3 slider=2]
	</div>
</div>


<div style="padding-top: 10rem" class="negative-bg-row" id="about-rob-sixth-scroll">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
        	<div class="row">
				<div class="col-lg-6">
    		       <img class="pb-5 p-brand aos-init aos-animate" src="/wp-content/uploads/sites/2/2019/04/tde-logo.svg" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="400" data-aos-delay="100"/>
				</div>
				<div class="col-lg-6">
					<img class="pb-5 p-brand aos-init aos-animate" src="/wp-content/uploads/sites/2/2019/04/money-logo.svg" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="400" data-aos-delay="730" />
				</div>
			</div>
    		    <p class="aos-init aos-animate mb-5" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="400">The “Disruptive Entrepreneur” and now The “Money” Podcast is listened to in 192 countries worldwide and grown into a complete digital agency: Progressive Media.</p>   
		        <a href=""><img class="mr-3 mb-3" src="/wp-content/uploads/sites/2/2019/04/us-uk-apple-podcasts-listen-color-lockup-rgb-wht-type.svg" data-aos="fade" data-aos-delay="700" width="233" height="42"/></a>
		         <a href=""><img src="/wp-content/uploads/sites/2/2019/04/stitcher-button.png" data-aos="fade" data-aos-delay="700" width="233" height="42"/></a>
	    	</div>
	    	<div class="col-md-6 text-center text-lg-right">
		       	<img style="max-height: 760px;" src="/wp-content/uploads/sites/2/2019/04/tde-podcast-iphone.png"  class="aos-init aos-animate mask-group-bl" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="400" />
	    		<img style="margin-top:-400px; margin-left:-130px;" src="/wp-content/uploads/sites/2/2019/04/money-podcast-iphone.png"  class="aos-init aos-animate d-none d-lg-block" data-aos="zoom-in-right" data-aos-easing="ease-in-sine" data-aos-delay="300" data-aos-duration="400" />
	    	</div>
		</div>
	</div>
</div>


<div class="positive-bg-row pt-0 pt-0 pb-0">
   [justified_image_grid ids="33819, 33821, 33820, 33822, 33823, 33824, 33825, 33826, 33827, 33828, 33831, 33830, 33832, 34112, 34129, 34128, 34112, 34113, 34114, 34115, 34116, 34117, 34118, 34119, 34120, 34121, 34122, 34123, 34124, 34125, 34126, 34127, 34128, 34129" thumbs_spacing=0 row_height=400 height_deviation=0 title_field=title caption_field=description caption=slide caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off custom_fonts=yes gradient_caption_bg=no lightbox=links-off mobile_lightbox=no orderby=rand last_row=hide aspect_ratio=1:1 disable_cropping=no developer_link=hide load_more=hybrid load_more_auto_width=off recent_posts=undefined recents_description=auto_manual_excerpt recents_post_type=page recents_link_to=image]
</div>

<div class="positive-bg-row" id="about-rob-seventh-scroll">
    <div class="container">
		<p class="i3x d-flex flex-row justify-content-around">
			<a href="//www.facebook.com/robmooreprogressive/" target="_blank"><i class="icon-facebook"></i></a>
			<a href="youtube.com/c/RobMoore1" target="_blank"><i class="icon-youtube"></i></a>
			<a href="//www.linkedin.com/in/robmoore1979/" target="_blank"><i class="icon-linkedin"></i></a>
			<a href="//twitter.com/robprogressive" target="_blank"><i class="icon-twitter"></i></a>
			<a href="//www.instagram.com/robmooreprogressive/" target="_blank"><i class="icon-camera-retro"></i></a>
		</p>

	</div>
</div>
