<img class="size-full wp-image-144 alignleft" src="/wp-content/uploads/sites/2/2016/12/1-rob-mark-cars.jpg" sizes="(max-width: 167px) 100vw, 167px" srcset="/wp-content/uploads/sites/2/2016/12/1-rob-mark-cars.jpg 167w, /wp-content/uploads/sites/2/2016/12/1-rob-mark-cars-150x150.jpg 150w" alt="1-rob-mark-cars" width="167" height="166" />

<p class="lead">Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit.</p>
<p>A personal community for any property investor, real estate entrepreneur or individual wanting make more money, invest or create a better life for freedom, choice and profit. We hope this is you. Progressive was built by property multi-millionaire Co-Founders Rob Moore &amp; Mark Homer after they achieved freedom…</p>
<p><a class="btn-secondary btn btn-sm" href="/about-progressive-property/">Read More</a></p>


<div class="row">
	[justified_image_grid title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=yes load_more=hybrid initially_load=6 recent_posts=yes recents_description=auto_manual_excerpt recents_post_type=page recents_parent_id=5]
</div>

<div class="row">
  <div class="col-6 col-md-4">
	<div class="background-clip">
		<div class="img-background" id="msopi-bg">
			<div class="img-content">
				<h3>Multiple Streams of Property Income (MSOPI)</h3>
				<h4>Start Your Own Property Empire</h4>
				<p><a class="btn btn-primary" href="/wp-content/uploads/sites/2/2018/09/placeholder.png">Get started!</a></p>
			</div>
		</div>
	</div>
  </div>

  <div class="col-6 col-md-4">
	<img class="img-fluid" src="/wp-content/uploads/sites/2/2018/09/placeholder.png">
  </div>

  <div class="col-6 col-md-4">
  	<img class="img-fluid" src="/wp-content/uploads/sites/2/2018/09/placeholder.png">
  </div>

</div>


