<div class="alert alert-primary brand-primary-bg alert-dismissible fade show" role="alert">
    <div class="container">
        <div class="col">
            <p class="lead m-0">Live Update: Paul from London just bought two tickets!</p>
            <p><button class="close" type="button" data-dismiss="alert" aria-label="Close"><br><span aria-hidden="true">×</span><br></button></p>

        </div>

    </div>
</div>