<div class="container pt-4">
    <h2 class="brand-primary-colour">Return High Yields From £million Property Development Deals</h2>
    <p class="lead">Turn old commercial property into residential goldmines</p>
    <hr style="margin-bottom: 2rem;">
</div>
<div class="positive-bg-row">
    <!-- header and two columns text/two columns images -->
    <div class="container">
        <h2 class="brand-secondary-colour">Expert knowledge from one of the UKs leading commercial to residential property investment specialists</h2>
        <p class="lead brand-primary-colour">Intensive commercial conversions course transforming you from a novice to a property investor with an edge over the competition.</p>
        <div class="row">
            <div class="col-md-6">
                <p>Commercial property conversions are the hottest property strategy around, believe it or not, you can earn 6-figure profits fast! And make in one commercial deal, what most investors struggle to make in five to six buy-to-let property deals.
                    By the end of this property developing course, you will clearly understand the key elements of both small- and large-scale conversions, and have attained an in-depth knowledge of the planning process. This educational event offers
                    advanced information on how to return high levels of profit from £million property development deals, and offers you the chance to discuss with the experts how to become a full-time property developer.</p>
            </div>
            <div class="col-md-6">
                <p>We also uncover where to find and how to recognise the best deals, plus how to add value to them and maximise their returns. Our Detailed Development Appraisal System is an essential tool for any developer, and we also deliver breakdowns
                    of how to de-risk deals, what to avoid, the construction process and how to manage, how to deliver deals “hands free”, how to finance or package deals, and a crystal-clear understanding of the principles that affect a property deal.</p>
            </div>
            <div class="w-100">&nbsp;</div>
            <div class="col-md-6"><img class="alignnone wp-image-23675 img-fluid" src="/wp-content/uploads/sites/2/2019/01/commercial-property-conversions.png" alt="commercial-property-conversions"></div>
            <div class="col-md-6"><img class="alignnone wp-image-24344 img-fluid" src="/wp-content/uploads/sites/2/2019/01/commercial-property-conversions-course-event.png" alt="commercial-property-conversions-course-event"></div>
        </div>
    </div>
</div>
<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Get Your Free Report</h2>
                <p class="lead">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>
            </div>
            <div class="col-md-4"><img class=" img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/sa-500x500-v1.png" alt="Serviced Accommodation Report"></div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-3">Interested in attending the next Commercial Property Conversions course?</h2>
                <p class="lead pb-3">When You join us You will discover:</p>
            </div>
            <div class="col-md-4"><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/02/cpcd-640x370-v1.jpg" alt="" width="300" height="161"></div>
            <div class="col-md-6">
                <ul>
                    <li>Leave knowing all the planning, tax and building regulation pitfalls and how to avoid them</li>
                    <li>How you can quickly and easily find the commercial buildings</li>
                    <li>The commercial conversion basics: Planning, building control, legal issues, points of caution, freehold &amp; leasehold properties</li>
                    <li>How to compete with some of the best in the market</li>
                    <li>How to make your properties the most desired with the help of our full and complete three day course</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>The knowledge and confidence to make your own development a success</li>
                    <li>Property Development Exits: Start with the exit first! De-risk, De-risk, De-risk. How to de-risk any project and ensure all investments are calculated</li>
                    <li>Finance: Learn all aspects of Property Development Finance. Private Finance, Angel Finance, joint ventures, option agreements, lease option agreements and bridging finance.</li>
                    <li>Learn how to do desk top appraisals, feasibility studies, site visits, viewing tools, mindset master scripts when talking to agents, detailed appraisals and detailed services appraisals</li>
                    <li>Sourcing – earn a % of the GDV (Gross Development Value) of a project deals for simply finding them. £15,000 to £100,000 per project!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row brand-secondary-bg-row">
    <div class="container">

        <h2 class="pb-5">Spaces are Limited, Don't Miss Out!</h2>

        <div class="row">

            <div class="col-md-4">
                <p class="lead text-center text-md-left">Number of people Masterclass has helped:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">56,146</h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p class="lead text-center text-md-left">An average amount raised by delegates:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">£16,000*</h2>

                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-md-left">*According to our recent survey</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p class="lead text-center text-md-left">How many spaces left on this course?</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">Just 12</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="brand-primary-colour pt-5 pb-5">Testimonials</h2>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/ian-morton-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Ian Morton</h4>
                                <p class="brand-secondary-colour">Amazing people with fabulous energy! We have had a wonderful weekend learning Commercial Conversions at the Intensive Masterclass. Afterwards we enjoyed a glass of prosecco with our high profile Mentees who have now joined
                                    our Mastermind Group and we're going to make them £100,000.000 if they follow our unique system and our creative workshops. Our team of Mentees have over 100 years of collective experience!!! Who else provides that
                                    level in Property Training?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/shaz-nawaz-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Shaz Nawaz</h4>
                                <p class="brand-secondary-colour">I bought the Commercial Conversions course in September 2015. Key learnings: Keep investing in yourself - it pays the best return. Take quick action otherwise you'll lose enthusiasm. Capitalise on opportunites - there's
                                    plenty out there!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/vaidehi-dinesh.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Vaidehi Dinesh</h4>
                                <p class="brand-secondary-colour">I had great and informative time for last 2 days in Progressive training center, learning from experts in their field about commercial conversion and service accommodation. I experienced light bulb moment while attending
                                    Commercial Conversion Discovery day with Glenn Delve and Service Accommodation Discovery Day with Kevin Poneskis . Every time there is something new to learn when you go with positive attitude and open mind.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/david-johns.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">David Johns</h4>
                                <p class="brand-secondary-colour">The course that grabbed me at MSOPI was Commercial Conversion Discovery. I signed up. It was money I didn't really have but the opportunities were big, so I did it anyway. While I was waiting I was looking at deals. I found
                                    some land and thought maybe I could build on it. I went on the course and I learned some more... My business was formed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="course-banner tinted-image" class="brand-secondary-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Commercial Conversions Course</h2>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">Commercial Property Conversions are the hottest property strategy around, believe it or not, you can earn 6-figure profits fast! And make in one commercial deal, what most investors struggle to make in five to six buy-to-let property
                            deals.</p>
                        <p>Experts Mark Homer and Glenn Delve give you the proven formula for success. You’ll instantly be able to implement the step-by-step system to finding and funding commercial buildings and turning them into residential goldmines.</p>
                        <p>If you’re interested in making BIG money through property, then this is the fastest way to making it happen, and you can do it even if you’re starting with no experience, or no finances.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
</div>
<p>
    <!-- last section tickets -->
</p>
<div class="positive-bg-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                <p class="lead mb-4">Act now to avoid missing out</p>
                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next Commercial Conversions course</h4>
                    </div>
                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>
                    </div>
                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/02/cpcd-640x370-v1.jpg" alt="" width="640" height="370"></div>
                    <h5>Click Here to Register<br>For Your Tickets Now</h5>
                </div>
            </div>
        </div>
    </div>
</div>