<div class="gray-lighter-bg-row">
    <!-- testimonials -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-5">Testimonials</h2>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/craig-hamilton-400x400.jpg" alt="" width="200" height="200"></figure>
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Craig Hamilton</h4>
                                    <p class="brand-secondary-colour">100% do it. Great value for money. You will meet property friends for life on this course. I cannot emphasise enough on how great Anne, Dixie and Peter are.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/darren-burrows-400x400.jpg" alt="" width="200" height="200"></figure>
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Darren Burrows</h4>
                                    <p class="brand-secondary-colour">The Masterclass is a terrific course for understanding &amp; learning the fundamentals of buying property to refurb &amp; let. It would give you a great foundation for future courses in my humble opinion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/pete-lonton-400x400.jpg" alt="" width="200" height="200"></figure>
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Pete Lonton</h4>
                                    <p class="brand-secondary-colour">It's a great foundation and in my opinion a natural next step after MSOPI. This is the route I followed on my path before narrowing down to a particular core area.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/inno-mas-400x400.jpg" alt="" width="200" height="200"></figure>
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Inno Mas</h4>
                                    <p class="brand-secondary-colour">I have done the Masterclass and without any doubt it's the best all round training that anyone who wants to succeed in property must do. It turns the amateur into a professional. After doing the Masterclass in November
                                        2017 I have secured my first big project to convert an old building in into 8 by 2 bed flats. Plus more are coming as a result of Masterclass. Definitely a must-do training!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
    <div id="course-banner" class="brand-secondary-bg-row">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Progressive Property Masterclass</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="lead">If you are serious about turning your career and life around, committing to a future in multi-million-pound property investment, and enjoying the stability and eventual ease of passive income, this is the masterclass for you
                                – or double your money back!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- last section tickets -->

    <div class="positive-bg-row">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                    <p class="lead mb-4">Act now to avoid missing out</p>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h4 class="mb-2">The next Progressive Property Masterclass course</h4>
                        </div>
                        <div class="col">
                            <span class="badge badge-success">Date</span>
                            <p>3rd-7th May</p>
                            <span class="badge badge-success">Location</span>
                            <p>Peterborough</p>
                        </div>
                        <div class="col">
                            <span class="badge badge-success">Date</span>
                            <p>3rd-7th May</p>
                            <span class="badge badge-success">Location</span>
                            <p>Peterborough</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <div><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/03/ppm-v1-1920x1200.jpg" alt=""></div>
                        <h5>Click here to register for your tickets now</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
