<div class="positive-bg-row">
    <div class="container">
	    <p class="lead">We’re a social bunch. You can contact us through the following social media accounts;</p>

	    <p class="i3x d-flex flex-row justify-content-around p-5"><a href="//www.facebook.com/ProgressivePropertyInvestment/" target="_blank"><i class="icon-facebook mr-3"></i></a><a href="//twitter.com/robandmark" target="_blank"><i class="icon-twitter mr-3"></i></a><a href="//www.linkedin.com/company/progressive-property/" target="_blank"><i class="icon-linkedin mr-3"></i></a></p>

			<p>If you’d prefer to speak to us we are available during normal office hours on; <a href="tel:01733 898 557">01733 898 557</a>. Alternatively you can email us at <a href="mailto:hello@progressiveproperty.co.uk"><strong> hello@progressiveproperty.co.uk</strong></a> or use the form below.</p>	
		<div class="row">
			[gravityform id=1 title=false description=false ajax=true]
		</div>
	</div>
</div>