
<div class="container">
  <h3>Beginners Property Secrets – grill the UK’s top property investors!</h3>
  <div class="row">
    <div class="col-md-6">
    <p class="lead">beginners-propertyLearn the basics of buy-to-let, buy-to-sell (flipping), and joint ventures</p>
    <p>This intimate Q&A with the UK’s top property trainers and investors is the ideal solution for anyone wishing to get a firmer grasp on how the experts make money from property. At the heart of Progressive Property, in the training academy of our Peterborough offices, you’ll pick the brains of the investors who spend their lives making money from the buy-to-let boom – and who are eager to teach you the tried, tested and 100% proven investing systems that have brought them success.</p>
    <a class="btn btn-primary" href="https://www.progressiveproperty.co.uk/offers/beginner-property-secrets-seminar-sept-ih-ppw/">10th December - Book Now</a>
  </div>
  <div class="col-md-6">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/ya138VR6UUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>
</div>