<div class="container">

<div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel"> <ol class="carousel-indicators"> <li class="" data-target="#carouselTestimonialIndicators" data-slide-to="0"></li><li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li><li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li></ol> <div class="carousel-inner"> <div class="carousel-item text-center active"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120"> <h4>Amazing trainers at the MSOPI</h4> <p class="lead">Also wanted to thank the amazing trainers at the MSOPI event David Siegler, Kevin McDonnell, Liam Ryan, Anne Houlton, Paul Smith and Bethany Lee-Ashby…</p><p class="text-muted">– Abigail Langridge</p></div><div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120"> <h4>Enjoyed a brilliant 3 days</h4> <p class="lead">“I enjoyed a brilliant 3 days at my first MSOPI in Manchester with my son Phil Essery. We got a great deal out of the weekend &amp; met some lovely people…</p><p class="text-muted">– Jenny Essery</p></div><div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120"> <h4>Loads of informative content</h4> <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic…</p><p class="text-muted">– Jason Hunt</p></div></div><a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev"> <i class="icon-chevron-left i2x text-muted"></i> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next text-faded" role="button" href="#carouselTestimonialIndicators" data-slide="next"> <i class="icon-chevron-right i2x text-muted"></i> <span class="sr-only">Next</span> </a></div>


<div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="" data-target="#carouselTestimonialIndicators" data-slide-to="0"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item text-center active">
            <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120">

            <h4>Amazing trainers at the MSOPI</h4>
            <p class="lead">Also wanted to thank the amazing trainers at the MSOPI event David Siegler, Kevin McDonnell, Liam Ryan, Anne Houlton, Paul Smith and Bethany Lee-Ashby…</p>
            <p class="text-muted">– Abigail Langridge</p>
        </div>
        <div class="carousel-item text-center">
            <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120">

            <h4>Enjoyed a brilliant 3 days</h4>
            <p class="lead">“I enjoyed a brilliant 3 days at my first MSOPI in Manchester with my son Phil Essery. We got a great deal out of the weekend &amp; met some lovely people…</p>
            <p class="text-muted">– Jenny Essery</p>
        </div>
        <div class="carousel-item text-center">
            <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="120" height="120">

            <h4>Loads of informative content</h4>
            <p class="lead">“Just got home after 3 days at MSOPI and what a great way to spend it. Loads of informative content. Thank you to all of the team a progressive for a fantastic…</p>
            <p class="text-muted">– Jason Hunt</p>
        </div>
    </div>
    <a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev">
            <i class="icon-chevron-left i2x text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" role="button" href="#carouselTestimonialIndicators" data-slide="next">
            <i class="icon-chevron-right i2x text-muted"></i>
            <span class="sr-only">Next</span>
    </a>
</div>



</div>

<div class="container">
<h1>Customer Reviews &amp; Feedback</h1>

<p>Since 2007 there have been 1000s of reviews for Progressive Property. The co-founder of Progressive Property have written property books with nearly 1,100 reviews across Amazon &amp; Audible. Progressive have over 300 reviews on Facebook, Trust Pilot and Google, and 1,000s in the Progressive Property Facebook community. Progressive Property help you invest for freedom, choice and profit. Below are some of the reviews Progressive have received in helping property investors from all walks of life using many property investing strategies. </p>

<p>Progressive, and co-founders Rob Moore and Mark Homer care and want to help you start and scale your property empire. They don’t claim to be perfect, but are personal and accessible. In the rare instances that there is a bad review or issue, they will endeavour to help the reviewer to a good outcome. Progressive do not delete bad reviews in their community, instead look to solve the issue. Whilst the average rating is very high, their reviews also have some critics, which is understandable for a company going since 2007 &amp; being the UKs largest yet most personal property training company. You will find some of the reviews are from trolls, and Progressive accept this as part of the cost of doing what they do. Progressive have also trained many of the competitors in the property market, many being Progressive students in the beginning, and have inspired and taught many people in setting up their own property training business. </p>
<p>Here is just a small selection of the feedback (1000’s emails, calls, letters &amp; videos) we’ve received from our Handsfree Investors, Mastermind, Masterclass &amp; <a href="https://www.progressiveproperty.co.uk/progressive-training-programmes/">MSOPI Course</a> Attendees, Mentorship attendees, Book Buyers &amp; <a href="https://www.facebook.com/groups/progressivepropertycommunity/">Facebook community. Feel free to contact them</a> if you want to talk to them about their experiences &amp; results with Progressive</p>

</div>