<div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carouselTestimonialIndicators" data-slide-to="0"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="1"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="2"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="3"></li>
        <li data-target="#carouselTestimonialIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item text-center active"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/02/mehul-patel-400x400.jpg" alt="" width="120" height="120">
            <h4>Mehul Patel</h4>
            <p class="lead">I have raised £245,000 JV finance; £1,000,000 in property (me alone), £500,000 in property (company). My company assets are £2,000,000. Cashflow is £15,000 of rent per month – NET £10,000</p>
        </div>
        <div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/02/andy-gelder-400x400.jpg" alt="" width="120" height="120">
            <h4>Andy Gelder</h4>
            <p class="lead">18 properties & packaging deals to investors (min £3,000 per deal) part-time!</p>
        </div>
        <div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/01/kam-dovedi-400x400.jpg" alt="" width="120" height="120">
            <h4>Kam Dovedi</h4>
            <p class="lead">£780,000 Equity & £7,800 monthly cashflow! After only 2 years of joining progressive Kam has a portfolio worth 2.9 million, £780,000 equity and a monthly cash flow of £7,800</p>
        </div>
        <div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/02/iain-mcbain-400x400.jpg" alt="" width="120" height="120">
            <h4>Iain & Iain McBain</h4>
            <p class="lead">Father & Son duo with only 8 months investing experience raise £300k in JV finance</p>
        </div>
        <div class="carousel-item text-center"> <img class="img-fluid img-thumbnail rounded m-3" src="/wp-content/uploads/sites/2/2019/02/fran-dolley-400x400.jpg" alt="" width="120" height="120">
            <h4>Fran & Jane Dolley</h4>
            <p class="lead">We make £4,900 NET cashflow from our Multi-Let without the sweat prioperties, and we did it in 5 months!</p>
        </div>
    </div><a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev"> <i class="icon-chevron-left i2x text-muted"></i> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next text-faded" role="button"
        href="#carouselTestimonialIndicators" data-slide="next"> <i class="icon-chevron-right i2x text-muted"></i> <span class="sr-only">Next</span> </a></div>
