<div class="container pt-4">
    <h2 class="brand-primary-colour">Money Making Strategies Without Mortgages, Loans or Debt</h2>
    <hr style="margin-bottom: 2rem;">
</div>
<div class="positive-bg-row">
    <div class="container">
        <h3 class="pb-3">Monetising ‘Reject’ Deals You Don’t Keep in Your Portfolio</h3>
        <p class="lead">This course reveals how to make cash in your spare time and replace your income by monetising almost every deal - especially those you don't want to keep for yourself!</p>
        <div class="row">
            <div class="col-md-6">
                <p>The strategies you'll learn at this course don't require mortgages, loans or debt at all. This course is a step-by-step guide to finding investors, making deals irresistible to investors through "magnetic marketing packs", negotiating,
                    tying up deals legally and completing the deals. </p>
            </div>

            <div class="col-md-6">
                <p>You can package and sell deals using just a mobile phone and computer – you could literally trade deals from the beach if you wanted to!</p>
            </div>
        </div>

        <div class="row">
            <div class="w-100"></div>

            <div class="col-md-6">
                <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/serviced-accommodation-course.png" alt="property-event-msopi">
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/msopi-event-uk.png" alt="msopi-event-uk">
            </div>
        </div>
    </div>
</div>
</div>

<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Get Your Free Report</h2>

                <p class="lead brand-secondary-colour">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>

            </div>

            <div class="col-md-4"><img class="alignnone wp-image-23690 img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/buy-to-let-property-report.png" alt="buy-to-let-property-report"></div>

        </div>

    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-3">Benefits of Attending this Essential Deal Packaging Course</h2>

                <p class="lead pb-3">When You join us You will discover:</p>

            </div>

            <div class="col-md-4"><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/03/dpd-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income"></div>

            <div class="col-md-6">
                <ul>
                    <li style="list-style-type: none">
                        <ul>
                            <li>11 ways to package almost any deal for positive cash flow</li>
                            <li>How to monetise almost every deal from 30% BMV to negative equity, and where to find the right investor for the right deal</li>
                            <li>How to create more immediate cash flow in addition to your longer-term asset-building strategy</li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="col-md-6">
                <ul>
                    <li style="list-style-type: none">
                        <ul>
                            <li>How to make &pound;3,000 to &pound;8,000 cash flow per month as a property “Deal Packager”</li>
                            <li>How to Monetise almost Every Deal: From 30% BMV Discounts to Negative Equity: &amp; where to Find Each ‘Level’ of Investor ‘</li>
                            <li>You will also have full access to all progressive trainers for support for 1 year per month from properties you don't own</li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>

<div class="row brand-secondary-bg-row">
    <div class="container">

        <h2 class="pb-5">Spaces are Limited, Don't Miss Out!</h2>

        <div class="row">

            <div class="col-md-4">
                <p class="lead text-center text-md-left">Number of people Deal Packaging has helped:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">56,146</h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p class="lead text-center text-md-left">An average amount raised by delegates:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">£16,000*</h2>

                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-md-left">*According to our recent survey</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p class="lead text-center text-md-left">How many spaces left on this course?</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">Just 12</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>

</div>
</div>

<div class="gray-lighter-bg-row">
    <!-- testimonials -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-5">Testimonials</h2>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/03/karl-simpson-2-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Karl Simpson</h4>
                                    <p class="brand-secondary-colour">Final session on Deal Packaging Mastermind today - It's going to be emotional :D When i think back to June 2017 and my very first MSOPI event and having zero property or investing knowledge or experience to doing deals,
                                        building an ever-expanding network of professional contacts, putting in offers with agents using none of my own money, consuming 100s of hours of podcasts and audiobooks (read over 20 investing and mindset books
                                        alone during that period), and attended dozens of network events, and to know that I’ve only really just got started excites me beyond anything I could have imagined only 12 months ago.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/03/jessie-marsh-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Jessie Marsh</h4>
                                    <p class="brand-secondary-colour">Excellent day mentoring on the Deal Packaging Mastermind, even got a name place so I don't forget where to sit! Fantastic results from some of the mentees today, also great to meet some newbies and offer my guidance
                                        and support...</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/03/nigel-moysey-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Nigel Moysey</h4>
                                    <p class="brand-secondary-colour">Great day at the Deal Packaging Mastermind today. Great content throughout the day. The roundtable session just goes to show how different people are, but also what everyone can accomplish in only a few months, with
                                        the right mentoring and accountability.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/03/bob-wilson-400x400.jpg" class="img-fluid" width="200" height="200" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Bob Wilson</h4>
                                    <p class="brand-secondary-colour">Just returned from the Deal Packaging Mastermind in Peterborough. Great content shared with other like minded people looking to make a real difference to people’s lives. Thank you Jamie York, David Siegler and Kevin
                                        McDonnell 👍</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>    
        <!-- last section tickets -->
    <div class="positive-bg-row">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="brand-primary-colour">Tickets are going fast!</h2>

                    <p class="lead mb-4">Act now to avoid missing out.</p>

                    <div class="row">
                        <div class="col-12 mb-4">
                            <h4 class="mb-2">The next Deal Packaging Discovery Course:</h4>

                        </div>

                        <div class="col">
                            <span class="badge badge-success">Date</span>
                            <p>3rd-7th May</p>
                            <span class="badge badge-success">Location</span>
                            <p>Peterborough</p>

                        </div>

                        <div class="col">
                            <span class="badge badge-success">Date</span>
                            <p>3rd-7th May</p>
                            <span class="badge badge-success">Location</span>
                            <p>Peterborough</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <div class="row align-items-center">
                        <div>
                            <p><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/03/dpd-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income"></p>

                        </div>
                        <h5>Register for your tickets now</h5>

                    </div>

                </div>

            </div>

        </div>
</div>        