<div class="container pt-4">





    <h2 class="brand-primary-colour">Money Making Strategies Without Mortgages, Loans or Debt</h2>
    <hr style="margin-bottom: 2rem;">
</div>
<div class="positive-bg-row">
    <div class="container">
        <h3 class="pb-3">Monetising ‘Reject’ Deals You Don’t Keep in Your Portfolio</h3>
        <p class="lead">This course reveals how to make cash in your spare time and replace your income by monetising almost every deal - especially those you don't want to keep for yourself!</p>
        <div class="row">
            <div class="col-md-6">
                <p>The strategies you'll learn at this course don't require mortgages, loans or debt at all. This course is a step-by-step guide to finding investors, making deals irresistible to investors through "magnetic marketing packs", negotiating,
                    tying up deals legally and completing the deals. </p>
            </div>

            <div class="col-md-6">
                <p>You can package and sell deals using just a mobile phone and computer – you could literally trade deals from the beach if you wanted to!</p>
            </div>
        </div>

        <div class="row">
            <div class="w-100"></div>

            <div class="col-md-6">
                <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/serviced-accommodation-course.png" alt="property-event-msopi">
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/msopi-event-uk.png" alt="msopi-event-uk">
            </div>
        </div>
    </div>
</div>

<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Get Your Free Report</h2>

                <p class="lead brand-secondary-colour">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>

            </div>

            <div class="col-md-4"><img class="alignnone wp-image-23690 img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/buy-to-let-property-report.png" alt="buy-to-let-property-report"></div>

        </div>

    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-3">Benefits of Attending this Essential Deal Packaging Course</h2>

                <h3 class="lead pb-3">When You join us You will discover:</h3>

            </div>

            <div class="col-md-4"><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/03/dpd-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income"></div>

            <div class="col-md-6">
                <ul>
                    <li style="list-style-type: none">
                        <ul>
                            <li>11 ways to package almost any deal for positive cash flow</li>
                            <li>How to monetise almost every deal from 30% BMV to negative equity, and where to find the right investor for the right deal</li>
                            <li>How to create more immediate cash flow in addition to your longer-term asset-building strategy</li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="col-md-6">
                <ul>
                    <li style="list-style-type: none">
                        <ul>
                            <li>How to make &pound;3,000 to &pound;8,000 cash flow per month as a property “Deal Packager”</li>
                            <li>How to Monetise almost Every Deal: From 30% BMV Discounts to Negative Equity: &amp; where to Find Each ‘Level’ of Investor ‘</li>
                            <li>You will also have full access to all progressive trainers for support for 1 year per month from properties you don't own</li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>

<div class="row brand-secondary-bg-row">
    <div class="container">

        <h2 class="pb-5">Spaces are Limited, Don't Miss Out!</h2>

        <div class="row">

            <div class="col-md-4">
                <p class="lead text-center text-md-left">Number of people Deal Packaging has helped:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">56,146</h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p class="lead text-center text-md-left">An average amount raised by delegates:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">£16,000*</h2>

                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-md-left">*According to our recent survey</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p class="lead text-center text-md-left">How many spaces left on this course?</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">Just 12</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="brand-primary-colour pt-5 pb-5">Testimonials</h2>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/mark-nicholson-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Mark Nicholson</h4>
                                <p class="brand-secondary-colour">This morning's Deal Packaging Discovery was eye opening! A real motivational pitch and one that makes more sense to me than any other strategy! Here's to all the community members and team at Progressive! So happy to be
                                    included in such a friendly, supportive and inspirational group.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/marcus-chapman-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Marcus Chapman</h4>
                                <p class="brand-secondary-colour">Deal Packaging Discovery weekend done and the Mastermind booked for January. Now going on the Public Speaking Discovery Day at Progressive Towers today. Love the buzz around this part of Peterborough.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/devon-marrett-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Devon Marrett</h4>
                                <p class="brand-secondary-colour">At it again, training at Progressive in Peterborough. Today was Deal Packaging Discovery Day with David Siegler. Fantastic day David, you were great. 40%, that's what we want! I be back soon for more self development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/03/john-franks-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">John Franks</h4>
                                <p class="brand-secondary-colour">Successful day on the Deal Packaging Discovery Event. Looking foward to implementing the knowledge gained today plus what will be coming in the future to really get that cashflow rolling in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- last section tickets -->
<div class="positive-bg-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are going fast!</h2>

                <p class="lead mb-4">Act now to avoid missing out.</p>

                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next Deal Packaging Discovery Course:</h4>

                    </div>

                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>

                    </div>

                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="row align-items-center">
                    <div>
                        <p><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/03/dpd-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income"></p>

                    </div>
                    <h5>Register for your tickets now</h5>

                </div>

            </div>

        </div>

    </div>
</div>