<div class="row subpage-header"  id="events-property-hero">
	<div class="container">
		<div class="col-12">
			<h1>Property Events</h1>
			<p class="lead">Progressive have property training programmes in multimedia for every type of investor, at every stage of the investing journey, for every personality type, in your preferred delivery style.</p>
		</div>
	</div>

</div>

<div class="mt-5">
	<div class="container">
		<div class="col-12">
			<h2 class="underline-arrow">Upcoming Events.</h2>
			<p class="lead brand-primary-colour">Whether you’re a beginner who likes full immersion courses and hand holding support, or an advanced, self motivated investor who wants easily consumable knowledge to crack on and take action, Progressive delivers immersion courses, accountability programmes, CD’s, DVD’s, Apps & innovation, networking events; even the UK’s largest SuperConferences. And, importantly, at very fair prices, with big guarantees, personal support, accountability and community.</p>
		</div>
	</div>
</div>


<div class="row brandBase text-center">
	<a class="img-background" href="/business-transformation/">
		<div class="col-sm-6" id="transform-your-business-bg">
			<div class="img-content">
				<h3>Multiple Streams of Property Income (MSOPI)</h3>
				<h4>Start Your Own Property Empire</h4>
				<a href="/business-transformation/" class="btn btn-primary">Get started!</a>
			</div>
			<div class="img-opacity"></div>
		</div>
	</a>
	<a class="img-background" href="/personal-transformation/">
		<div class="col-sm-6" id="transform-your-life-bg">
			<div class="img-opacity"></div>
			<div class="img-content">
				<h3>Beginners Property Secrets (BPS)</h3>
				<h4>Grill the UK’s top property investors!</h4>
				<a href="/multiple-streams-of-property-income/"class="btn btn-primary">Get involved!</a>
			</div>	
		</div>
	</a>
</div>