<div class="brandBase negative" id="home-hero-property">
    <div class="container">
        <h1 class="text-md-left">Progressive Property​</h1>
        <div class="row">
            <div class="col-md-12 text-md-left">
                <p class="bigger pb-3">Helping you invest for freedom, choice and profit through multiple streams of property income</p>
            </div>
            <div class="col-md-12 text-md-left">
                <h3 class="pb-3">Ways We Can Help</h3>
            </div>
            <div class="col-md-12">
                <hr class="plain">
            </div>
        </div>
        <div class="row justPad text-sm-center d-flex justify-content-between">
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/shop/">
                    <h4 class="whiteout text-center pb-2">Our Products</h4>
                    <p class="text-center"><img class="alignnone wp-image-23386 size-thumbnail mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/property-events/">
                    <h4 class="whiteout text-center pb-2">Our Events</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23387 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-calendar-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/blog/">
                    <h4 class="whiteout text-center pb-2">Our Blog</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23388 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-speech-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-3 text-sm-center">
                <a class="whiteout" href="/podcast/">
                    <h4 class="whiteout text-center pb-2">Our Podcasts</h4>
                    <p class="text-center"><img class="alignnone size-thumbnail wp-image-23388 mx-auto" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-headphones-normal.svg" alt="" width="120" height="120" /><br />
                </a>
            </div>
        </div>
        <div class="bounce animated mt-6">
            <a href="#firstSection">
                <div class="arrow i5x">
                </div>
            </a>
        </div>

    </div>
</div>