<div class="brandBase negative" id="home-hero-property">
  <div class="container">
    <h1 class="text-md-left">We Make Property Millionaires​</h1>
  <div class="row">
    <div class="col-md-12 text-md-left">
    <p class="bigger pb-3">We help shape the great property development entrepreneurs and investors of tomorrow. Start your property journey with:</p>
    </div>
    <div class="col-md-12">
      <hr class="plain">
    </div>
  </div>
        <div class="row justPad text-sm-center d-flex justify-content-between">
            <div class="col-md-3 text-sm-center">
                <h4 class="whiteout pb-2">Our Products</h4>
                <img class="alignnone wp-image-23386 size-thumbnail" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-trolley-normal.svg" alt="" width="80" height="80" />

            </div>
            <div class="col-md-3 text-sm-center">
                <h4 class="whiteout pb-2">Our Events</h4>
                <img class="alignnone size-thumbnail wp-image-23387" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-calendar-normal.svg" alt="" width="80" height="80" />

            </div>
            <div class="col-md-3 text-sm-center">
                <h4 class="whiteout pb-2">Our Blog</h4>
                <img class="alignnone size-thumbnail wp-image-23388" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-speech-normal.svg" alt="" width="80" height="80" />

            </div>
            <div class="col-md-3 text-sm-center">
                <h4 class="whiteout pb-2">Our Podcasts</h4>
                <img class="alignnone size-thumbnail wp-image-23388" role="img" src="/wp-content/uploads/sites/2/2018/12/icons-speech-normal.svg" alt="" width="80" height="80" />

            </div>
        </div>
        <div class="bounce animated mt-6">
           <a href="#firstSection">
            <div class="arrow i5x"></div>
            </a>
        </div>
    </div>
</div>
<div id="firstSection" class="positive-bg-row">
    <div class="container">
        <h2 class="brand-primary-colour">Property Investment Courses, Seminars And Training Events.</h2>
        <p class="lead">The innovative, lucrative world of Progressive Property is where we help shape the great property development entrepreneurs and investors of tomorrow.</p>

        <div class="row mb-0">
            <div class="col-md-6">

                Progressive Property is a personal, nationwide networking and educational community for any property investor or entrepreneur who is hungry to make more money, invest more reliably, and lay a path to greater freedom, choice and profit. Whether you are
                new to investing or a property professional we believe that Progressive Property can help you make more money and bigger profits through our property education.
                <h3 class="brand-primary-colour">Meet Our Founders</h3>
                <p class="lead">The UK’s largest property educators, changing the lives of thousands of entrepreneurs.</p>
                The company was the brainchild of two dreamers, <a href="/the-progressive-co-founders/">Rob Moore and Mark Homer</a>, who simply wanted to build a joint property portfolio, but ended up becoming the UK’s largest property investment education
                company and improving the lives of thousands of people in the process.
                <div class="row p-3"><a class="btn btn-primary btn-block-sm-only" href="/the-progressive-co-founders/">Our Founders</a> <a class="btn btn-secondary btn-block-sm-only" href="/vision-and-values/">Our Vision</a></div>
            </div>
            <div class="col-md-6">
                <div class="bg-float-bottom-rnm d-none d-md-block"></div>
            </div>
            <div class="col-12">

                <hr />

            </div>
        </div>
    </div>
</div>
<div class="brandBase negative experts-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="/wp-content/uploads/sites/2/2018/11/msopip-whiteout.svg" width="320" />
                <h2>Make large sums of money even if you have no previous experience and little to no finance.</h2>
                You just need to make that first step...

            </div>
            <div class="col-md-6 d-flex flex-row align-items-start"><a class="btn btn-primary align-self-end">Next step</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="brand-secondary-colour">Life Changing Training Events.</h2>
        </div>
        <div class="col-md-6">
            <p class="lead brand-primary-colour">We teach and share invaluable guidance to mastering the UK’s buy-to-let and commercial property market. We hope will both educate and inspire you to take your property investing to the next level.</p>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="carousel-col-3-courses" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div id="courses-cards" class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-4 active">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card clickable-div">
                        <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/10/nmdd.svg" alt="Property Course" width="350" height="111" /></div>
                        <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2018/10/nmd-col-4-card.jpg" alt="Property Course" /></div>
                        <div class="card-footer">
                            <p>Attract a Huge Choice of Investment Partners and Joint Venture Finance.</p><p>Take Action Now!</p>
                        </div>
                        &nbsp;

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" role="button" href="#carousel-col-3-courses" data-slide="prev">
<i class="icon-chevron-left i3x text-muted"></i>
<span class="sr-only">Previous</span>
</a>
            <a class="carousel-control-next text-faded" role="button" href="#carousel-col-3-courses" data-slide="next">
<i class="icon-chevron-right i3x text-muted"></i>
<span class="sr-only">Next</span>
</a>
            <div class="text-center p-5 pt-3 mx-auto"><a class="btn btn-primary" href="/property-events/">See More Events</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div id="property-jig">[justified_image_grid title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=yes
        load_more=hybrid initially_load=6 recent_posts=yes recents_description=auto_manual_excerpt recents_include=10]</div>
</div>