<div class="row brand-secondary-bg-row">
    <div class="container">

        <h2 class="pb-5">Spaces are Limited, Don't Miss Out!</h2>

        <div class="row">

            <div class="col-md-4">
                <p class="lead text-center text-md-left">Number of people Masterclass has helped:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">
                        <div class="counter">
                            <h2 class="text-sm-center counter-count">56,146</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p class="lead text-center text-md-left">An average amount raised by delegates:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">
                        <div class="counter-count">
                            <h2 class="text-sm-center">£16,000*</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-md-left">*According to our recent survey</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p class="lead text-center text-md-left">How many spaces left on this course?</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">
                        <div class="counter-count">
                            <h2 class="text-sm-center">Just <span class="counter-count">12</span></h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>