<div class="positive-bg-row">
    <div class="container">

	<h2>We are here to help you</h2>
	<p class="lead bigger">We’re proud of our great people and culture, and the 35 or so of us believe in being a loyal team, resourcefulness, professionalism, continual development, ambition, results focus and passion.</p>

[justified_image_grid thumbs_spacing=16 row_height=400 title_field=title caption_field=description caption=mixed caption_opacity=1 caption_match_width=no caption_align=left v_center_captions=off gradient_caption_bg=no orderby=menu_order last_row=flexible aspect_ratio=1:1 disable_cropping=no load_more=hybrid initially_load=6 recent_posts=yes recents_description=auto_manual_excerpt recents_post_type=page recents_parent_id=167]

		[justified_image_grid preset=8 lightbox=links-off orderby=menu_order thumbs_spacing=16 row_height=400 aspect_ratio=1/1 disable_cropping=no load_more=click load_more_count_text=none load_more_auto_width=off initially_load=9 load_more_limit=6 recent_posts=yes recents_post_type=page]
	</div>
</div>