<div class="container pt-4">
    Gain Long Term Financial Security from Property This intensive, fun and rewarding three day course has immeasurably helped tens of thousands of investors take steps towards financial freedom. The UK’s brightest property investment experts will offer you
    in-depth, practical knowledge of buy-to-let properties, property trading, raising finance and how to build a mighty portfolio from the ground up.


    <div class="card-header">
        <img src="/wp-content/uploads/sites/2/2017/01/msopi.svg" class="card-img-top" alt="Beginners Property Secrets">
    </div>
    <div class="card-body">
        <h4 class="event-detail"><span class="badge badge-success">Date </span> 3rd-7th May 2019</h4>
        <h4 class="event-detail"><span class="badge badge-success">Time </span> 9.00am</h4>
        <h4 class="event-detail"><span class="badge badge-success">Location </span> Peterborough</h4>
    </div>
    <div class="card-footer"><button class="btn btn-primary btn-lg modal-link btn-block" href="/beginners-property-secrets-form/">Book now</button>
    </div>







    <div class="container pt-4">
        <p> </p>
        <div class="positive-bg-row">
            <!-- header and two columns text/two columns images -->
            <div class="container">
                <h2 class="brand-secondary-colour">Start Your Property Empire</h2>
                <p class="lead">You’ll network with entrepreneurs who share your dreams of owning more property, and discover all you need to know to gain financial security from investing in property – not to mention spectacular levels of wealth.</p>
                <p>The Multiple Streams of Property Income event is for anyone seeking a path into property ownership – regardless of whether you are simply trying to pull together a deposit to buy your next home, or you are a full-time property investor
                    hungry to source the below market-value property deals that will propel your income to the highest levels.</p>
                <div class="row">
                    <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/property-event-msopi.png" alt="property-event-msopi" /></div>
                    <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/msopi-event-uk.png" alt="msopi-event-uk" /></div>
                </div>
            </div>
        </div>
        <div class="gray-lighter-bg-row pt-4">
            <!-- free report banner -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="brand-primary-colour">Get Your Free Report</h2>
                        <p class="lead">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>
                    </div>
                    <div class="col-md-4"><img class="alignnone wp-image-23690 img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/buy-to-let-property-report.png" alt="buy-to-let-property-report" /></div>
                </div>
            </div>
        </div>
        <div class="alert alert-primary brand-primary-bg alert-dismissible fade show" role="alert">
            <div class="container">
                <div class="col">
                    <p class="lead m-0">Live Update: Paul from London just bought two tickets!</p>
                    <p><button class="close" type="button" data-dismiss="alert" aria-label="Close"><br /><span aria-hidden="true">×</span><br /></button></p>
                </div>
            </div>
        </div>
        <div class="positive-bg-row">
            <div class="container">
                <!-- bullet points -->
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="brand-primary-colour pb-3">Interested in attending the next Multiple Streams of Property Income live event?</h2>
                        <h3 class="lead pb-3">When You join us You will discover:</h3>
                    </div>
                    <div class="col-md-4"><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/01/msopi-ticket-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income" /></div>
                    <div class="col-md-6">
                        <ul>
                            <li>How to make more money from ONE simple property deal than you make in 6 months of paid work.</li>
                            <li>A simple strategy to lock in a quick £900/month income (&amp; how to repeat it again and again...)</li>
                            <li>How to make an immediate £3,000.00 without buying a single property.</li>
                            <li>Proven formulas to invest in property without a deposit or a mortgage for instant ongoing monthly cashflow.</li>
                            <li>How to get the hottest property deals (these deals NEVER appear in Estate Agent’s windows).</li>
                            <li>How to give up your job within 30-90 days and live off your property income WITHOUT the need for a large cash pot, mortgage or loans.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Why and how property can make you wealthy, regardless of experience or cash to start, &amp; how to find properties at silly low prices (WAY below market price) without paying a single penny.</li>
                            <li>How to make £500,000 from ONE property deal – thanks to a little known recent government policy change.</li>
                            <li>How to get UNLIMITED finance to build your portfolio (hint: you can do this WITHOUT using either a mortgage company OR a bank!)</li>
                            <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
                            <li>How to have a flood of local deals at 25%-55% discount whilst others are paying full price! (Using these methods you can take your pick of properties which are substantially under market value).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row brand-secondary-bg-row">
            <div class="container">
                <h2 class="pb-5">Spaces are limited, Don't Miss Out!</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-center">Number of people MSOPI has helped:</h4>
                        <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120" /></p>
                        <h5 class="text-center">100,000</h5>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-center">An average amount raised by delegates:</h4>
                        <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120" /></p>
                        <h5 class="text-center">£16,000*</h5>
                        <p class="text-center">*According to our recent survey</p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-center">Spaces left on this course</h4>
                        <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120" /></p>
                        <h5 class="text-center">Just 11</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="brand-primary-colour pt-5 pb-5">Testimonials</h2>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/chris-taylor-400x400.jpg" alt="" width="200" height="200" /></div>
                                <div class="col">
                                    <div class="card-block px-2">
                                        <h4 class="card-title brand-primary-colour pt-3">Chris Taylor</h4>
                                        <p class="brand-secondary-colour">I never would have believed that the decisions I made at MSOPI that weekend would completely change my life. For those that are just starting out, to those who have been in the community for a while, it definitely
                                            proves what is possible if you just take some action.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/sharon-griffiths-400x400.jpg" alt="" width="200" height="200" /></div>
                                <div class="col">
                                    <div class="card-block px-2">
                                        <h4 class="card-title brand-primary-colour pt-3">Sharon Griffiths</h4>
                                        <p class="brand-secondary-colour">I attended my 1st MSOPI in April with my husband and 6 months later ( yesterday), we completed on our fourth investment property.<br />All are single buy to let investments, around 5 minutes walk from each other,
                                            with the first three now let out.... and each property purchased has increased in value by at least 12% since purchase... The fourth will also follow a similar pattern based oncomparable house sale prices over
                                            last few months.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/sarah-walsh.jpg" alt="" width="200" height="200" /></div>
                                <div class="col">
                                    <div class="card-block px-2">
                                        <h4 class="card-title brand-primary-colour pt-3">Sarah Walsh</h4>
                                        <p class="brand-secondary-colour">I’ve just completed the MSOPI training and all I can say is wow. I’ve learned so much and obviously want to do every strategy going but am also sensible enough to know that’s too much to start with. I have never
                                            been to any other training event that has left me completely exhausted and incoherent (in a good way). Looking forward to starting the masterclass training to start my property journey. Have met some lovely
                                            people and look forward to hearing from them on there journeys. Thanks to all the speakers and staff for a brilliant weekend.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/daniel-hennessy-400x400.jpg" alt="" width="200" height="200" /></div>
                                <div class="col">
                                    <div class="card-block px-2">
                                        <h4 class="card-title brand-primary-colour pt-3">Daniel Hennessy</h4>
                                        <p>Thursday I left Liverpool to travel down for my first EVER MSOPI event and wow what an occasion it was. ✅✅</p>
                                        <p>I honestly have never been to any event like it. The whole weekend was run and managed very well and I am sure there will be people in that room who will achieve the most spectacular things. (Watch this space 😉).</p>
                                        <p>The trainers and crew were just terrific. 💯💯</p>
                                        <p>What a diverse group of people who were genuinely just amazing, a team Rob Moore and Mark Homer should be VERY VERY proud off. 😎😎</p>
                                        <p>So friendly, funny and fantastic. 😀😀</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="course-banner" class="brand-secondary-bg-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Multiple Streams of Property Income Event</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="lead">At the Multiple Streams of Property Income event you’ll hear from other property investors who are experts in buy-to-let, property trading, raising finance and other ways of building a property portfolio from scratch into
                                    a multi-million pound business.</p>
                                <p>You’ll be networking with like-minded people – ordinary people who share your aspirations. You’ll make lifelong friends and together you will build the life of your dreams. Whilst your friends moan about their jobs and
                                    meagre pensions, you’ll be securing your financial future.<br />Over the three days you will learn innovative methods of property wealth creation. It’s intensive but also fun. Our trainers have all ‘been there, done
                                    that’ and you can relax in the certainty that you are getting the expert help you deserve.</p>
                                <p>The Progressive Property Multiple Streams of Property Income event is the only event of its kind in the UK where you can learn all these property secrets. Since our first training sessions in 2006 we have helped over 140,000
                                    people on their way to becoming successful property investors.<br />We’d be honoured and privileged to help YOU achieve your property, income and personal goals too. Many have transformed their lives and income (up
                                    to £10,000 NET cashflow per month) within 12-24 months of receiving our training. But don't take our word for it...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                </div>
            </div>
        </div>
        <p>
            <!-- last section tickets -->
        </p>
        <div class="positive-bg-row">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                        <p class="lead mb-4">Act now to avoid missing out</p>
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h4 class="mb-2">The next MSOPI event</h4>
                            </div>
                            <div class="col">
                                <p class="brand-primary-colour">3rd-7th May</p>
                                <p>Peterborough</p>
                            </div>
                            <div class="col">
                                <p class="brand-primary-colour">3rd-7th May</p>
                                <p>Peterborough</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row align-items-center">
                            <div>
                                <p><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/01/msopi-ticket-frontback-640x370-v1.jpg" alt="multiple-streams-of-property-income" /></p>
                            </div>
                            <h5>Register<br />for your tickets now</h5>
                        </div>
                    </div>

				</div>
			</div>