<div class="container pt-4">
    <h2 class="brand-primary-colour">Attract a Huge Choice of Investment Partners &amp; Joint Venture Finance</h2>
    <p class="lead">Grow your portfolio, using other people’s money! Does that sound unlikey, or even crazy?! Think again.</p>
    <hr style="margin-bottom: 2rem;">
</div>
<div class="positive-bg-row">
    <!-- header and two columns text/two columns images -->
    <div class="container">
        <h2 class="brand-secondary-colour">Magnetise the right partners to create life-changing income</h2>
        <p class="lead brand-primary-colour">Grow your portfolio, using other people’s money! Does that sound unlikely, or even crazy? Think again.</p>
        <div class="row">
            <div class="col-md-6">
                <p>At Progressive Property’s No Money Down course, you’ll discover how the super-rich make a fortune from property they control but don’t own, and learn how to forge explosively successful JV partnerships.</p>
            </div>
            <div class="col-md-6">
                <p>The knowledge you’ll be taught at this event will include creative and sustainable money-making systems, alongside rock-solid negotiation techniques to help you carve out the deals that will work best for you.</p>
            </div>
            <div class="w-100">&nbsp;</div>
            <div class="col-md-6"><img class="alignnone wp-image-24367 img-fluid" src="/wp-content/uploads/sites/2/2019/01/no-money-down-property-course-event.png" alt="no-money-down-property-course-event"></div>
            <div class="col-md-6"><img class="alignnone wp-image-24374 img-fluid" src="/wp-content/uploads/sites/2/2019/01/no-money-down-courses.png" alt="No-Money-down-property-courses"></div>
        </div>
    </div>
</div>
<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Get Your Free Report</h2>
                <p class="lead">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>
            </div>
            <div class="col-md-4"><img class="alignnone wp-image-23690 img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/buy-to-let-property-report.png" alt="buy-to-let-property-report"></div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-3">Interested in attending the next No Money Down live event?</h2>
                <h3 class="lead pb-3">During No Money Down, you will also learn:</h3>
            </div>
            <div class="col-md-4"><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/01/nmd-frontback-640x370-v1.jpg" alt=""></div>
            <div class="col-md-6">
                <ul>
                    <li>How you can control and buy properties for as little as £1</li>
                    <li>How you can make HMO returns from Single Let Properties</li>
                    <li>How to attract a huge choice of investment partners and JV finance</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>How to recycle the money you have used to invest and give it back to the partners who gave it to you, leaving you with another cash-producing property to add to your portfolio</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row brand-secondary-bg-row">
    <div class="container">
        <h2 class="pb-5">Spaces are limited, Don't Miss Out!</h2>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Number of people Serviced Accommodation has helped:</h4>
                <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120"></p>
                <h5 class="text-center">56,146</h5>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">An average amount raised by delegates:</h4>
                <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120"></p>
                <h5 class="text-center">£16,000*</h5>
                <p class="text-center">*According to our recent survey</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Spaces left on this course</h4>
                <p><img class="mx-auto d-block pt-5 pb-5" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120"></p>
                <h5 class="text-center">Just 12</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="brand-primary-colour pt-5 pb-5">Testimonials</h2>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/christine-dalton-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Christine Dalton</h4>
                                <p class="brand-secondary-colour">Just got my first booking for AirBnB which I found out about on a one day Beginners Property Secrets day and I have now all 6 rooms filled on my R2R! Amazing!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/mikki-ashton-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Mikki Ashton</h4>
                                <p class="brand-secondary-colour">Had a fantastic day at Progressive Towers on the Beginners Property Secrets day. Learned loads and made some new friends, hopefully for years to come!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Adam Galbraith</h4>
                                <p class="brand-secondary-colour">I've just realised that 1 year today was the day I did my first BPS... Bought our first in February and we've actually exchanged on our 7th property today HAPPY ANNIVERSARY MEEEEEE!!!! Number 8 is next week and then 9 is
                                    about 6 weeks. I bloody love Progressive!!!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/kay-bennellack-400x400.jpg" alt="" width="200" height="200"></div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title brand-primary-colour pt-3">Kay Bennallack</h4>
                                <p class="brand-secondary-colour">What a great couple of days. First, I attended the Beginners Property Secrets and then today my first VIP day. Everyone was so welcoming and I really felt like part of the community. Watch this space guys, onwards and upwards.
                                    Thank you so much for making Steve and I so at home and see you all there again next month.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="course-banner" class="brand-secondary-bg-row">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>No Money Down Event</h2>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">At Progressive Property’s No Money Down course, you’ll discover how the super-rich make a fortune from property they control but don’t own, and learn how to forge explosively successful JV partnerships.</p>
                        <p>The knowledge you’ll be taught at this event will include creative and sustainable money-making systems, alongside rock-solid negotiation techniques to help you carve out the deals that will work best for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
</div>
    <!-- last section tickets -->
<div class="positive-bg-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                <p class="lead mb-4">Act now to avoid missing out</p>
                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next MSOPI event</h4>
                    </div>
                    <div class="col">
                        <p class="brand-primary-colour">3rd-7th May</p>
                        <p>Peterborough</p>
                    </div>
                    <div class="col">
                        <p class="brand-primary-colour">3rd-7th May</p>
                        <p>Peterborough</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div><img class="wp-image-21690 img-fliud" src="/wp-content/uploads/sites/2/2019/01/nmd-frontback-640x370-v1.jpg" alt=""></div>
                    <h5>Click here to register<br>for your tickets now</h5>
                </div>
            </div>
        </div>
    </div>
</div>