<div class="gray-lighter-bg-row mt-5" id="author-row">
    <div class="container">
        <footer class="author_bio_section">' . $author_details . '</footer>
        <footer class="author_bio_section"></footer>
    </div>
</div>
