<div class="positive-bg-row">
    <div class="container">
        <p class="lead">Progressive works with some of the UK's foremost property experts...</p>
        <div class="row">
            <h2 class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-co-founder-rob.jpg" alt="" /></h2>
            <div class="col-md-8">
                <h3 class="brand-primary-colour">Rob Moore</h3>
                <hr class="plain brand-primary-colour" />
                <p class="lead">Rob is a self made Property businessman owning a £multi-million business portfolio, Full time Property Investor (Over 550 properties bought &amp; sold between himself, business partner Mark &amp; his investors (&amp; Bestselling author of "The 44 Most Closely Guarded Property Secrets", "Make Cash in a Property Market Crash", "Multiple Streams Of Property Income” &amp; “Life Leverage".</p>
                
                <p>Rob's educated over 100,000 people "LIVE" on stage including business, property and personal development and has over 120,000 subscribers to his Property Education website. He also featured in a prime time TV show for Living as a Mentor and has recorded interviews on the Business Channel, major articles on BBC Radio &amp; TV, The Independent, The Wall Street Journal and the Financial Times.</p>
            </div>
        </div>
    </div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-co-founder-mark.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">Mark Homer</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">Mark has bought 550 properties (&amp; counting) for himself, Rob, &amp; his investors. He has commented in many major publications including BBC Radio, The Independent &amp; The Wall Street journal, as well as co-authoring 2 Best Selling Property
                Books.</p>
            <p>Mark has been an Investor/Entrepreneur since the age of 16. He had several successful small businesses before Progressive &amp; has had many investments in the stock market. He was obsessed with finding the very best investment vehicle &amp;
                now has a £Multi-Million Business Portfolio and Property Interests to the value of over £25Million.</p>
        </div>
    </div>
</div>
</div>

<div class="positive-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-kevin-mcdonnell-640x640-new.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">Kevin McDonnell</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">Kevin McDonnell began investing in property in 2004, and initially made lots of mistakes that cost him a lot of money. After almost 10 years of juggling property with his full-time job he attended an MSOPI.</p>
            <p>Over the next 5 years he went on to build a £5M+ property portfolio with a monthly positive cashflow of over £20k per month. He uses creative strategies such as Rent2Rent, Lease Options, Assisted Sales, Vendor Finance, JV Finance and Rent2Own.</p>
        </div>
    </div>
</div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-kevin-poneskis1280x1280.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">Kevin Poneskis</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">Kevin has been investing in property since 1991 when he bought his first Buy-to-Let at the age of 20. After leaving the British Army in 2011 he had a portfolio of Buy-to-Let’s and HMO’s worth over a million pounds, and due to this income did
                not need to get a job and has gone on to build a portfolio worth in excess of 3 million pounds.</p>
            <p>Kevin now specialises in Serviced Accommodation, and Rent-to-Rent Serviced Accommodation.</p>
        </div>
    </div>
</div>
</div>

<div class="positive-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-jaime-york-1280x1280.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">Jamie York</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">Jamie started in property from humble beginnings, pouring his heart and sole into a single flip project in 2011.</p>
            <p>Since then, he has built up an asset base in the millions, has regularly featured on prime time television for his expertise in property and now owns and runs one of the largest deal packaging businesses in the UK, having sourced well over
                1,000 property deals.</p>
        </div>
    </div>
</div>
</div>

<div class="gray-lighter-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-david-siegler-1280x1280.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">David Siegler</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">David has over 25 years’ experience in property and his own portfolio of 26 units, with a rent roll in in excess of £10k per month.</p>
            <p>He’s a partner in a Deal Sourcing and Packaging business in the North West of England and has sourced over 200 properties for investors since 2004.</p>
        </div>
    </div>
</div>
</div>

<div class="positive-bg-row">
    <div class="container">
    <div class="row">
        <div class="col-md-4"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-anne-houlton-1280x1280.jpg" alt="" /></div>
        <div class="col-md-8">
            <h3 class="brand-primary-colour">Anne Houlton</h3>
            <hr class="plain brand-primary-colour" />
            <p class="lead">Anne began investing in property in 2001. And to start with it was an enjoyable hobby that she had alongside her day job as a dentist. In 2014 she discovered Progressive Property and her whole world changed forever. She now owns over 60 properties with her husband Steve and a further 8 with her Joint Venture partners.</p>

            <p>They're a mix of single lets and HMOs with a value of over £6 million. She is also investing in Commercial Conversion Projects and runs her own Lettings agency! Her last day as a dentist was 1st September 2015 and she now gets to spend her "work" time (because it really doesn’t feel like work) investing in property and training other people to become financially free through property.</p>
        </div>
    </div>
</div>
</div>