  <!-- Products Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="productModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The 44 Most Closely Guarded Property Secrets<br>
            <span>By Rob Moore & Mark Homer</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2018/11/510Wjqt4kJL.jpg">
            </div>
            <div class="col-md-6">
                <p class="lead">'The 44 Most Closely Guarded Property Secrets' will teach you how to easily and effortlessly secure financial independence through property.</p> 

                <p>You will learn the proven secrets most investors wish they knew and the mistakes 99% of investors make [so you don't have to]. This information packed, fun and sometimes provactive guide from two young and successful property investors will guarantee you success if you apply what you learn. Read this book and you will discover how to: - Retire rich through property - Profit in a 'boom' and 'crash' - Easily replace any pension whatever your age - Make passive income without working - Earn year after year with specialist knowledge - Apply the secrets 99% of investors don't know - Save huge amounts of tax</p>
                <button href="https://www.amazon.co.uk/Property-Investing-Secrets-Special-4th/dp/B00CZA6ZLG/ref=sr_1_1?s=books&ie=UTF8&qid=1541175725&sr=1-1&keywords=The+44+Most+Closely+Guarded+Property+Secrets" type="button" class="btn btn-primary">Buy now</button>
            </div>

      </div>
      <div class="modal-footer">
            <img src="/">
      </div>
    </div>
  </div>
</div><!-- END Products Modal -->