<div class="positive-bg-row mt-0 mb-3">
    <div class="container">
        <!-- 1st deck of 3 -->
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="brand-primary-colour">Introductory & Discovery Events</h2>
            </div>

            <div class="col-md-6">
                <p class="lead brand-secondary-colour">These are low cost, sometimes even free events for you to try out Progressive, discover the individual strategies and which are right for you.</p>
                <p class="brand-secondary-colour">If you are new to property, don’t know what strategies are out there or are right for you, or simply want to test out Progressive, these are for you. These are usually at Progressive HQ in Peterborough, PE7 8GX. We might be the only UK property training company that owns our own buildings; around 10,000 sq.ft. of office and training venue. This is why we can pass the cost saving onto you.</p>
            </div>
        </div>

        <div id="courses-cards" class="card-deck">
            <div class="card linked-card clickable-div">
                <div class="card-header brand-primary-bg"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/dpd.svg" alt="Deal Packaging Discovery" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Make cash in your spare time and replace your income by monetising almost every deal!</p>
                    <p class="arrow-right-x3"><a href="/courses/deal-packaging-discovery/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/sad.svg" alt="Serviced Accommodation Discovery" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btlb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>We will teach you the most secure and profitable ways to let via serviced accommodation.</p>
                    <p class="arrow-right-x3"><a href="/courses/serviced-accommodation-discovery/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/cpcd.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btsb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Transforming you from a novice to a property investor with an edge over the competition.</p>
                    <p class="arrow-right-x3"><a href="/courses/commercial-property-conversions-discovery/">Take Action Now!</a></p>
                </div>
            </div>

        </div>
    </div>
</div>