<div class="positive-bg-row mt-0 mb-3">
    <div class="container">
        <!-- 1st deck of 3 -->
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="brand-primary-colour">Masterminds & Mentorships</h2>
            </div>

            <div class="col-md-6">
                <p class="lead brand-secondary-colour">If you feel you need accountability, support and community, these are for you.</p>
                <p class="brand-secondary-colour">If you’ve invested in courses but are struggling to piece it all together, or if you’ve done courses with other providers who can’t match Progressive’s unrivalled support and community, then these are also for you. To know and not to do
                    is not to know, so if you want a mentor, support or to be in a mastermind for your chosen property strategy, you're in the right place.</p>
            </div>
        </div>


        <div id="courses-cards" class="card-deck">
            <div class="card linked-card clickable-div">
                <div class="card-header brand-primary-bg"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/dpdm.svg" alt="Deal Packaging Mastermind" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Deal Packaging Mastermind" /></div>
                <div class="card-footer">
                    <p>Money Making Strategies Without Mortgages, Loans Or Debt.</p>
                    <p class="arrow-right-x3"><a href="/courses/deal-packaging-mastermind/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/sam.svg" alt="Serviced Accommodation Mastermind" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btlb.jpg" alt="Serviced Accommodation Mastermind" /></div>
                <div class="card-footer">
                    <p>Make hundreds of percent more monthly cashflow.</p>
                    <p class="arrow-right-x3"><a href="/courses/serviced-accommodation-mastermind/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/nmdm.svg" alt="No Money Down Mastermind" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btsb.jpg" alt="No Money Down Mastermind" /></div>
                <div class="card-footer">
                    <p>Attract A Huge Choice Of Investment Partners And Joint Venture Finance.</p>
                    <p class="arrow-right-x3"><a href="/courses/no-money-down-mastermind/">Take Action Now!</a></p>
                </div>
            </div>

        </div>
    </div>
</div>