<div class="mt-5 pb-2">
    <div class="container">
        <h2 class="underline-arrow brand-secondary-colour">Life Changing Property Courses</h2>
        <p class="lead">Progressive have property training programmes in multimedia for every type of investor, at every stage of the investing journey, for every personality type, in your preferred delivery style.</p>
        <p>We teach and share invaluable guidance to mastering the UK’s buy-to-let and commercial property market. We hope will both educate and inspire you to take your property investing to the next level.</p>
    </div>
</div>



<div class="positive-bg-row pt-5 pb-0">
    <div class="container">
        <!-- 1st deck of 3 -->
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="brand-primary-colour pb-3">Introductory & Discovery Events</h2>
                <a class="btn btn-primary" href="/courses/introductory-discovery-courses/">Find Out More</a>
            </div>

            <div class="col-md-6">
                <p class="lead brand-secondary-colour">These are low cost, sometimes even free events for you to try out Progressive, discover the individual strategies and which are right for you.</p>
                <p class="brand-secondary-colour">If you are new to property, don’t know what strategies are out there or are right for you, or simply want to test out Progressive, these are for you. These are usually at Progressive HQ in Peterborough, PE7 8GX. We might be the only UK
                    property training company that owns our own buildings; around 10,000 sq.ft. of office and training venue. This is why we can pass the cost saving onto you.</p>
            </div>
        </div>


        <div id="courses-cards" class="card-deck">
            <div class="card linked-card clickable-div">
                <div class="card-header gray-lighter"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/dpd.svg" alt="Deal Packaging Discovery" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-bps.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>How to make cash in your spare time and replace your income by monetising almost every deal.</p>
                    <p class="arrow-right-x3"><a href="/courses/deal-packaging-discovery/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/sad.svg" alt="Serviced Accommodation Discovery" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btlb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Discover the powerful and lucrative secrets of Serviced Accommodation…</p>
                    <p class="arrow-right-x3"><a href="/courses/serviced-accommodation-discovery/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2018/09/cpcd.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-btsb.jpg" alt="Property Course" /></div>
                <div class="card-footer">
                    <p>Commercial property conversions are the hottest property strategy around, you can earn 6-figure profits fast!</p>
                    <p class="arrow-right-x3"><a href="/courses/commercial-property-conversions-discovery/">Take Action Now!</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row pb-0 pt-5">
    <div class="container">
        <hr>
    </div>
</div>

<p>
    <!-- /1st deck of 3 --><br />
    <!-- 2nd deck of 3 -->
</p>

<div class="positive-bg-row pt-0 pb-0">
    <div class="container">
        <!-- 1st deck of 3 -->
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <h2 class="brand-primary-colour pb-3">Deep-Dive Masterclass</h2>
                <a class="btn btn-primary" href="/courses/deep-dive-courses/">Find Out More</a>
            </div>

            <div class="col-md-6">
                <p class="lead brand-secondary-colour">These are intensive, deep-study courses on your specific chosen strategy.</p>
                <p class="brand-secondary-colour">This could be buy to let, multi-let, serviced accommodation, low & no money down, deal packaging or commercial conversion. When you know what strategy you want to invest in, and you want the best education, from real experience, that money
                    can buy, these are the courses for you.</p>
            </div>
        </div>

        <div id="courses-cards" class="card-deck">
            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/02/ppm.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/02/pp-web-property-event-image-cpcd.jpg" alt="Progressive Property Masterclass" /></div>
                <div class="card-footer">
                    <p>The UK’s flagship property investment training programme, changing countless entrepreneur’s lives for the better.</p>
                    <p class="arrow-right-x3"><a href="/courses/progressive-masterclass/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/sai.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-dp.jpg" alt="Serviced Accommodation Intensive" /></div>
                <div class="card-footer">
                    <p>We will teach you the most secure and profitable ways to let via Serviced Accommodation.</p>
                    <p class="arrow-right-x3"><a href="/courses/serviced-accommodation-intensive">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/cpcm.svg" alt="Property Course" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/02/pp-web-property-event-image-eca.jpg" alt="Commercial Property Conversions Masterclass" /></div>
                <div class="card-footer">
                    <p>Return high yields from £million property development deals and turn old commercial properties into residential goldmines.</p>
                    <p class="arrow-right-x3"><a href="/courses/commercial-property-conversions-masterclass/">Take Action Now!</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row row pb-0 pt-5">
    <div class="container">
        <hr>
    </div>
</div>

<p>
    <!-- /2nd deck of 3 --><br />
    <!-- 3rd deck of 3 -->
</p>

<div class="positive-bg-row pt-0 pb-5">
    <div class="container">
        <!-- 1st deck of 3 -->
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <h2 class="brand-primary-colour pb-3">Masterminds & Mentorships</h2>
                <a class="btn btn-primary" href="/courses/masterminds-mentorships/">Find Out More</a>
            </div>

            <div class="col-md-6">
                <p class="lead brand-secondary-colour">If you feel you need accountability, support and community, these are for you.</p>
                <p class="brand-secondary-colour">If you’ve invested in courses but are struggling to piece it all together, or if you’ve done courses with other providers who can’t match Progressive’s unrivalled support and community, then these are also for you. To know and not to do
                    is not to know, so if you want a mentor, support or to be in a mastermind for your chosen property strategy, you’re in the right place.</p>
            </div>
        </div>

        <div id="courses-cards" class="card-deck">

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/dpdm.svg" alt="Deal Packaging Mastermind" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-jv.jpg" alt="Deal Packaging Mastermind" /></div>
                <div class="card-footer">
                    <p>£3K – £8K per Month as a Property ‘Deal Packager + Trader’.</p>
                    <p class="arrow-right-x3"><a href="/courses/deal-packaging-mastermind/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header"><img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/sam.svg" alt="Serviced Accommodation Mastermind" width="350" height="111" /></div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-hmo.jpg" alt="Serviced Accommodation Mastermind" /></div>
                <div class="card-footer">
                    <p>Make hundreds of percent more monthly cashflow.</p>
                    <p class="arrow-right-x3"><a href="/courses/serviced-accommodation-mastermind/">Take Action Now!</a></p>
                </div>
            </div>

            <div class="card linked-card clickable-div">
                <div class="card-header">
                    <img class="card-img-top float-left" src="/wp-content/uploads/sites/2/2019/03/nmdm.svg" alt="No Money Down Mastermind" width="350" height="111" />
                </div>
                <div class="card-body p-0"><img class="" src="/wp-content/uploads/sites/2/2019/01/pp-web-property-event-image-msopi-p.jpg" alt="No Money Down Mastermind" />
                </div>
                <div class="card-footer">
                    <p>Magnetise the right partners to create life-changing income.</p>
                    <p class="arrow-right-x3"><a href="/courses/no-money-down-mastermind/">Take Action Now!</a></p>
                </div>

            </div>

        </div>


    </div>
</div>

<div class="brandBase negative" id="ppn-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/wp-content/uploads/sites/2/2019/03/ppn-white-500x500.png" width="200">
                <h3>Progressive Property Network</h3>
                <p class="lead">These are local property networking meet-ups. To find your nearest property networking event, click the button below!</p>
                <p>"You are your best asset, invest in yourself wisely, you pay the best interest."</p>
                <p><strong>- Rob Moore</strong></p>
                <a class="btn btn-lg btn-primary align-self-end" href="/courses/no-money-down/">Start Now</a>
            </div>

        </div>
    </div>
</div>