<img class="size-full wp-image-20189 aligncenter" src="http://property.progressive.test/wp-content/uploads/sites/2/2016/12/Rob_moore_dont_exchange_time_for_money.png" alt="" width="786" height="462" />

With any training or self-development education programme, it is important to put in some hard research before committing to a paying for a course, because it is a sad fact that many are nothing more than scams.

As a property investment educator and a self-development coach myself, I know the importance of differentiating between scammers and the real deal. For every 1 company run by passionate educators whose experience is invaluable to entrepreneurs hungry to improve themselves, there are probably 10 scam artists who know very little about the subject and are just out to make a quick buck. These latter companies are unlikely to teach you anything more than regurgitated information that anyone can pick up from 10 minutes’ research online.

But surely there must be ways to avoid the guff and track down the 5* educators?
<h3><b>Scams and Success Stories</b></h3>
With so many companies and self-proclaimed experts claiming to be able to help you improve your mindset, improve your careers or, like my business partner Mark Homer and I, profitably grow your property portfolio, it is essential to steer clear of scams and only invest money in the areas offering you genuine quality for your hard-earned cash.

As an example, I founded Progressive Property with my business partner Mark in January 2007 and have taught thousands of investors how to improve and enlarge their portfolios – however, many property education companies only appeared within the last year or so, and do not have the experience to be offering a refined, valuable set of products. Similarly, while Mark and I have purchased 700+ properties in the last decade, many other companies claiming to educate in property investment have no detectable property portfolio, or are at best still in the very early stages of their property investment careers.

There are huge differences between companies and entrepreneurs that live as they claim and have the experience to pass on valuable knowledge, and others who promise the moon but instead deliver a few pebbles.

Anyone who reads this blog or listens to my <a href="http://thedisruptiveentrepreneur.co.uk">Disruptive Entrepreneur podcast</a> will know that I am a proud self-development fan. Alongside self-development programmes I have also attended countless <a href="http://property.progressive.test/progressive-training-programmes/">property education training programmes</a>, and benefitted from many of them.

So how do I radically reduce the possibility of being scammed by a chancer?
<h3><b>Rob Moore’s 5 tips to avoid education scams</b></h3>
<b>1.  Research the teachers</b> who are running the courses. How do they behave online? Are they accessible and personal, and do they respond to being contacted online in a welcoming, engaging, positive way? Have they written books, broken records, been interviewed in the media? Are they thought leaders?<b> </b>If they are teaching how to improve your knowledge of property investment, are they investors themselves?

<b>2. Research the company</b> to learn how long it has been operating, what its annual revenue is and how many staff it employs. You can use <a href="https://www.gov.uk/government/organisati…">Companies House</a> to find out its incomings and outgoings – though be aware that these records can be 18 months (or more) behind the times. Such basic checks can tell you a lot about the kind of business being provided and the honesty of those who run the company.

<b>3. Speak to people who’ve attended the course</b> who you already know and respect. If they have had contact with the company, in what capacity, and what was their impression? Did they only attend once, or would they attend again? What were their takeaways, and could they imagine such a course improving their career? What were their views on the teachers and the owners of the company?

<b>4. Follow the company’s and its director’s social media profiles</b>, watch/listen/read their online content, and sign up to their mailing list. Ask yourself, are their profiles up-to-date? Is the content they share of a high quality, and valuable, and informative, or is it simply derivative, unhelpful, and lacking in detail? Could you use any of the content to help further your career, and does it make you want to read, listen to or watch more?

The content that a company shares can offer you insights into the views they hold and the information they can supply. The best content acts as social proof for a company’s legitimacy and thought leadership.

<b>5. Read online comments</b>, but take them with a pinch of salt. Forums and comment sections allow for people with agendas to anonymously bad-mouth another company as well as to compliment their own. It’s best to listen to the entrepreneurs you already know and respect, and let the internet trolls and commentators talk amongst themselves. However, one particularly good sign is if a company or one of its representatives takes time to respond in a civil, helpful manner to accusations of being scammers or offering low value information. This suggests that they have nothing to hide and are willing to communicate in a civil, open way – even with detractors.

Have you had good or bad experiences with companies promising to educate you? Have you or anyone you know ever been a victim of a training course scam? How do you make sure that the course you pay for is legitimately going to benefit you? Share your thoughts and leave comments on our <a href="https://www.facebook.com/groups/progressivepropertycommunity/">Progressive Property community </a>