<div class="container pt-4">
    <h2 class="brand-primary-colour">Serviced Accommodation – Make hundreds of percent more monthly cashflow</h2>
    <p class="lead">The most secure and profitable ways to let via Serviced Accommodation</p>


    <hr style="margin-bottom: 2rem;">

</div>
<div class="positive-bg-row">
    <!-- header and two columns text/two columns images -->
    <div class="container">
        <h2 class="brand-secondary-colour">The powerful secrets of Serviced Accommodation... </h2>
        <p class="lead brand-primary-colour">We will teach you the most secure and profitable ways to let via serviced accommodation
        </p>

        <div class="row">
            <div class="col-md-6">

                <p>It’s the property letting strategy that is making traditional investors hundreds of percent more cashflow, every month! This course – the first ever serviced accommodation course in England – will teach you the most secure and profitable
                    ways to let via serviced accommodation, reassuring you about the apparent risks of voids or occupancy rates, and introducing you to the powerful secrets of serviced accommodation that require no more of your time than traditional single
                    occupancy letting. </p>

            </div>
            <div class="col-md-6">

                <p>In order to take advantage of this income-boosting strategy, you don’t need to refurbish from a normal single let and you can start instantly – you simply need the knowledge and the encouragement to go for it!</p>
            </div>


            <div class="w-100">&nbsp;</div>
            <div class="col-md-6"><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/serviced-accommodation-intensive-course.png" alt="serviced-accommodation-intensive-course"></div>
            <div class="col-md-6">
                <img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/serviced-accommodation-course.png" alt="serviced-accommodation-course"></div>
        </div>
    </div>
</div>
<div class="gray-lighter-bg-row pt-4">
    <!-- free report banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pt-5 pb-2">Get Your Free Report</h2>
                <p class="lead brand-secondary-colour">Book your place now for free &amp; get a free copy of our step-by-step quick-start guide "How to make a fortune from buy-to-let" (once you have confirmed your place)</p>

            </div>
            <div class="col-md-4">
                <img class="img-fluid neg-margin-sm" src="/wp-content/uploads/sites/2/2019/01/sa-500x500-v1.png" alt="Serviced Accommodation Report"></div>
        </div>
    </div>
</div>

<div class="positive-bg-row">
    <div class="container">
        <!-- bullet points -->
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-3">Interested in attending the next Serviced Accommodation course?</h2>
                <p class="lead pb-3">When You join us You will discover:</p>
            </div>

            <div class="col-md-4">
                <img class="img-fliud" src="/wp-content/uploads/sites/2/2019/01/sa-frontback-640x370-v1.jpg" alt="">
            </div>

            <div class="col-md-6">
                <ul>
                    <li>Brand new scalable strategy</li>
                    <li>HMO rent with no tenants</li>
                    <li>300%-500% increase upon normal buy-to-let</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Repeat business without letting agents</li>
                    <li>A full proven system of business</li>
                    <li>Q&A with the expert</li>
                    <li>Cast-iron guarantee: do the course and have the opportunity to JV with us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row brand-secondary-bg-row">
    <div class="container">

        <h2 class="pb-5">Spaces are Limited, Don't Miss Out!</h2>

        <div class="row">

            <div class="col-md-4">
                <p class="lead text-center text-md-left">Number of people Serviced Accommodation has helped:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">56,146</h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p class="lead text-center text-md-left">An average amount raised by delegates:</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-02.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">£16,000*</h2>

                    </div>
                    <div class="col-md-12">
                        <p class="text-center text-md-left">*According to our recent survey</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <p class="lead text-center text-md-left">How many spaces left on this course?</p>
                <div class="row pt-3 pb-3">
                    <div class="col-md-3 pt-3 pb-3">
                        <img class="mx-auto d-block" role="img" src="/wp-content/uploads/sites/2/2019/01/event-icons-03.svg" alt="" width="120" height="120">
                    </div>
                    <div class="col-md-9 pt-3 pb-3">

                        <h2 class="text-sm-center">Just 12</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="gray-lighter-bg-row">
    <!-- testimonials -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="brand-primary-colour pb-5">Testimonials</h2>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/02/gary-smith-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Gary Smith</h4>
                                    <p class="brand-secondary-colour">Serviced Accommodation gave me my life back. I now decide the hours I work and how much money I make by following the systems taught at Progressive. Yesterday I taught my son how to poach an egg for his lunch. In my
                                        old life I would have been at work and missed the moment.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/02/darren-grigas-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Darren Grigas</h4>
                                    <p class="brand-secondary-colour">Having attended many PP events and taken up training and mentorship, we decided Serviced Accommodation was one of a few strategies we'd adopt. This community has put us in contact with many inspirational and experienced
                                        people, a few of whom have become good friends and great mentors, all of whom have helped contribute to our journey so far.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/02/chris-taylor-400x400.jpg" width="200" height="200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Chris Taylor</h4>
                                    <p class="brand-secondary-colour">Progressive completely changed our lives. Over the last 12 months, we have built a 6 figure Deal Packaging and Serviced Accommodation management business, become financially free and sacked our bosses! The support and
                                        assistance we have received has been truly incredible and it is the one thing that makes this company what it is!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/wp-content/uploads/sites/2/2019/02/naz-hanif-400x400.jpg" class="img-fluid" width="200" height="200" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title brand-primary-colour pt-3">Naz Hanif</h4>
                                    <p class="brand-secondary-colour">So I attended SA discovery day yesterday... Results ....... Today I receive 3 emails to arrange meeting with them, 1 text saying would like to JV with me as I have the knowledge and skills. And a very interesting call
                                        from a lovely lady who was also listening in to the conversations I had yesterday but didn't get chance to speak to me as I rushed back home. Although my diary fully booked we arranged a meeting to discuss how we
                                        could help each other. Meeting outcome....... The lovely lady wants me to bring my knowledge, skills and education to JV with her as she lives in Nottingham so knows the areas quite well but works in Leicester.
                                        We have arranged meeting tomorrow with the landlord to discuss her property portfolio which consists of couple of houses , commercial to residential with planning permission. Lightbulb moment 🤔 lease options, assisted
                                        sale, r2r or even deal package 😜😂 The power of networking 👏👏 </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</div>

<div id="sad-banner" class="brandBase negative">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Serviced Accommodation course</h2>
                <div class="row">
                    <div class="col-md-8">

                        <p class="lead">It’s the property letting strategy that is making traditional investors hundreds of percent more cashflow, every month! This course – the first ever serviced accommodation course in England – will teach you the most secure and
                            profitable ways to let via serviced accommodation, reassuring you about the apparent risks of voids or occupancy rates, and introducing you to the powerful secrets of serviced accommodation that require no more of your time
                            than traditional single occupancy letting.
                        </p>
                        <p>In order to take advantage of this income-boosting strategy, you don’t need to refurbish from a normal single let and you can start instantly – you simply need the knowledge and the encouragement to go for it!
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
</div>
<!-- last section tickets -->
<div class="positive-bg-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                <p class="lead mb-4">Act now to avoid missing out</p>

                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next Serviced Accommodation course</h4>
                    </div>
                    <div class="col">

                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>

                    </div>
                    <div class="col">

                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div><img class="wp-image-21690 img-fliud" src="/wp-content/uploads/sites/2/2019/01/sa-frontback-640x370-v1.jpg" alt=""></div>
                    <h5>Click here to register for your tickets now</h5>
                </div>
            </div>
        </div>
    </div>
</div>