<div id="carouselTestimonialIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li style="list-style-type: none">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselTestimonialIndicators" data-slide-to="0"> </li>
            </ol>
        </li>
    </ol>
    <ol class="carousel-indicators">
        <li style="list-style-type: none">
            <ol class="carousel-indicators">
                <li data-target="#carouselTestimonialIndicators" data-slide-to="1"> </li>
            </ol>
        </li>
    </ol>
    <ol class="carousel-indicators">
        <li data-target="#carouselTestimonialIndicators" data-slide-to="2"> </li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item text-center active">
            <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/iain-mcbain-400x400.jpg" alt="Iain Mcbain" width="200" /></p>
            <h4>Iain & Iain McBain</h4>
            <p class="lead">Father & Son duo with only 8 months investing experience raise &pound;300k in JV finance</p>
        </div>
        <div class="carousel-item text-center">
            <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/fran-dolley-400x400.jpg" alt="Fran Dolley" width="200" /></p>
            <h4>Fran & Jane Dolley</h4>
            <p class="lead">We make &pound;4,900 NET cashflow from our Multi-Let without the sweat prioperties, and we did it in 5 months!</p>
        </div>
        <div class="carousel-item text-center">
            <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/mehul-patel-400x400.jpg" alt="Mehul Patel" width="200" /></p>
            <h4>Mehul Patel</h4>
            <p class="lead">I have raised &pound;245,000 JV finance; &pound;1,000,000 in property (me alone), &pound;500,000 in property (company). My company assets are &pound;2,000,000. Cashflow is &pound;15,000 of rent per month - NET &pound;10,000.</p>
        </div>
        <div class="carousel-item text-center">
            <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/02/andy-gelder-400x400.jpg" alt="Andy Gelder" width="200" /></p>
            <h4>Andy Gelder</h4>
            <p class="lead">18 properties & packaging deals to investors (min &pound;3,000 per deal) part-time!</p>
        </div>
        <div class="carousel-item text-center">
            <p><img class="d-block mx-auto" src="/wp-content/uploads/sites/2/2019/01/kam-dovedi-400x400.jpg" alt="Kam Dovedi" width="200" /></p>
            <h4>Kam Dovedi</h4>
            <p class="lead">&pound;780,000 Equity & &pound;7,800 monthly cashflow! After only 2 years of joining progressive Kam has a portfolio worth 2.9 million, &pound;780,000 equity and a monthly cash flow of &pound;7,800.</p>
        </div>
    </div>
    <a class="carousel-control-prev" role="button" href="#carouselTestimonialIndicators" data-slide="prev"><i class="icon-chevron-left i2x text-muted"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next text-faded"
            role="button" href="#carouselTestimonialIndicators" data-slide="next"><i class="icon-chevron-right i2x text-muted"></i><span class="sr-only">Next</span></a>
</div>