    <p class="p2">1</p>
    <p class="p2"><b>PROGRESSIVE PROPERTY LIMITED </b></p>
    <p class="p2"><b>PROGRESSIVE PROPERTY VENTURES LLP </b></p>
    <p class="p2"><b>TERMS AND CONDITIONS </b></p>
    <p class="p2">THE TERMS AND CONDITIONS SET OUT BELOW SHALL APPLY TO ANY CONTRACT BETWEEN US FOR THE SUPPLY OF PRODUCTS (WHICH INCLUDES SERVICES) PURCHASED FROM US. PLEASE READ ALL OF THEM CAREFULLY. THEY CONTAIN EXCLUSIONS AND LIMITATIONS OF OUR LIABILITY UNDER
        ANY SUCH CONTRACT.</p>
    <p class="p2">1. <b>PRELIMINARY </b></p>
    <p class="p2">1.1. The headings in these terms and conditions are for ease of reference only and shall not be taken into account in the construction or interpretation of any provision to which they refer.</p>
    <p class="p2">1.2. References to any statute or statutory provision include a reference to that statute or statutory provision as from time to time amended, extended or re-enacted.</p>
    <p class="p2">1.3. Any reference to a statutory provision shall include any subordinate legislation made from time to time under that provision.</p>
    <p class="p2">1.4. Words importing the singular number shall include the plural and vice versa and words importing the masculine shall include the feminine and neuter and vice versa.</p>
    <p class="p2">1.5. Unless otherwise specifically agreed in writing these terms and conditions shall apply to any Order placed by you.</p>
    <p class="p2">1.6. In these Terms, references to liability are to include any liability whether actual, contingent, present or future.</p>
    <p class="p2"><b>2. DEFINITIONS </b></p>
    <p class="p2">2.1 When the following words with capital letters are used in these Terms, this is what they will mean:</p>
    <p class="p2"><b>Agreement: </b>the agreement between Us in respect of our provision of Products to you.</p>
    <p class="p2"><b>Booking: </b>your Booking for a Seminar;</p>
    <p class="p2"><b>Confidential Information</b>: all information (whether written, visual, oral, electronic or in any other form) which has the necessary quality of confidence and which is disclosed by Us to you save insofar as the same was not in the public domain
        at the time of receipt by you or has not subsequently entered into the public domain other than by reason of the breach of any obligation of confidence owed by you to us. 2</p>
    <p class="p2"><b>Event Outside Our Control: </b>is defined in clause 16;</p>
    <p class="p2"><b>Excluded Services: </b>means services, Products or investment opportunities provided direct to you by our mentors or consultants which do not form part of the arrangement between you and Us;</p>
    <p class="p2"><b>Products</b>: shall mean the range of services (for example seminars), digital content and goods provided under our Agreement.</p>
    <p class="p2"><b>Terms: </b>the terms and conditions set out in this document;</p>
    <p class="p2"><b>Seminar(s): </b>the Seminar(s), mentorship(s) and/or course(s) that We are providing to you as set out in the Booking;</p>
    <p class="p2"><b>We/Our/Us: </b>One of the following trading entities ie Unlimited Success Ventures Limited, Progressive Property Limited or Progressive Property Ventures LLP that is named as the contracting party on your invoice each of Unit 10, Office Village,
        Hampton, Peterborough, PE7 8GX.</p>
    <p class="p2"><b>2.2 What these terms cover. </b>These are the terms and conditions on which We supply products to you, whether these are services, digital content or goods.</p>
    <p class="p2"><b>2.3 Why you should read them. </b>Please read these terms carefully before you submit your Booking to Us. These terms tell you who We are, how We will provide Products to you, how you and We may change or end the contract, what to do if there is
        a problem and other important information. If you think that there is a mistake in these terms or require any changes, please contact Us to discuss.</p>
    <p class="p2">2.4 <b>Conflicts. </b>If any of these Terms conflict with any term of the Booking, these Terms will take priority.</p>
    <p class="p2"><b>3. INFORMATION ABOUT US AND HOW TO CONTACT US </b></p>
    <p class="p2"><b>Who We are. </b>We are one of the following trading entities: Unlimited Success Ventures Limited (company registration number: 10020892), Progressive Property Limited (company registration number: 06059800) or Progressive Property Ventures LLP
        (company registration number OC361197) that is named as the contracting party on your invoice and Our registered office in each case is at Unit 10, Office Village, Hampton, Peterborough, PE7 8GX.</p>
    <p class="p2"><b>3.1 How to contact Us</b>. You can contact Us by telephoning Our customer service team at 01733 898550 or by e-mailing Us at ask@progressiveproperty.co.uk or writing to Unit 10, Office Village, Hampton, Peterborough PE7 8GX.</p>
    <p class="p2"><b>3.2 How We may contact you</b>. If We have to contact you We will do so by telephone or by writing to you at the email address or postal address you provided to Us in your Booking.</p>
    <p class="p2"><b>3.3 “Writing” includes emails</b>. When We use the words “writing” or “written” in these terms, this includes emails. 3</p>
    <p class="p2"><b>4. OUR CONTRACT WITH YOU </b></p>
    <p class="p2">4.1 <b>How We will accept your Booking</b>. Our acceptance of your Booking will take place when We email you to accept it, at which point a contract will come into existence between you and Us.</p>
    <p class="p2">4.2 <b>If We cannot accept your Booking</b>. If We are unable to accept your Booking, We will inform you of this in writing and will not charge you. This might be because of unexpected limits on Our resources which We could not reasonably plan for,
        because We have identified an error in the price or description of the Seminar or because there are no spaces left.</p>
    <p class="p2">4.3 <b>Your Booking Reference</b>. We will assign a Booking reference number to your Booking and tell you what it is when We accept your Booking. It will help Us if you can tell Us the Booking reference whenever you contact Us about your Booking.</p>
    <p
        class="p2"><b>5. YOUR RIGHTS TO MAKE CHANGES </b></p>
        <p class="p2">If you wish to make a change to your Booking please contact Us. We will let you know if the change is possible. If it is possible We will let you know about any changes to the price, the timing of supply or anything else which would be necessary
            as a result of your requested change and ask you to confirm whether you wish to go ahead with the change.</p>
        <p class="p2"><b>6. OUR RIGHTS TO MAKE CHANGES </b></p>
        <p class="p2">6.1 <b>Minor changes</b>. We may make changes:</p>
        <p class="p2">6.1.1 to reflect changes in relevant laws and regulatory requirements;</p>
        <p class="p2">6.1.2 to the location of any Seminar and/or speaker(s), mentor(s) or content,</p>
        <p class="p2">at any time without notice. You will not be entitled to a refund as a result, unless you exercise your rights shown in clause 11.</p>
        <p class="p2">6.2 <b>More significant changes including changes to these terms</b>. In addition, as We informed you on Our website, We may make the following changes but if We do so We will notify you and you may then contact Us to end the contract and receive
            a full refund before the changes take effect:</p>
        <p class="p2">6.2.1 changes in how We accept payment from you; and</p>
        <p class="p2">6.2.2 changes in relevant laws and regulatory requirements.</p>
        <p class="p2">6.3 <b>Updates to digital content</b>. We may update or require you to update digital content, provided that the digital content shall always match the description of it that We provided to you before you bought it.</p>
        <p class="p2"><b>7 PROVIDING SEMINARS </b></p>
        <p class="p2">7.1 <b>When We will provide the Seminar. </b>We will supply the Seminar to you on the date set out in the Booking unless otherwise varied by Us in accordance with clause 6. 4</p>
        <p class="p2">7.2 <b>If the contract is a one-off purchase of digital content</b>. We will make the digital content available for download by you as soon as We accept your Booking.</p>
        <p class="p2">7.3 <b>Filming and Photography. </b>Seminars may be filmed and recorded without prior notice and unless you inform Us before the Seminar begins, you will be deemed that you have given Us permission for any footage containing you to be used by
            Us for commercial purposes.</p>
        <p class="p2">7.4 <b>We are not responsible for delays outside of Our control. </b>We will make every effort to provide the Seminar on the date(s) set out in the Booking. However, there may be delays due to an Event Outside Our Control. See clause 16 for Our
            responsibilities when an Event Outside Our Control happens. If Our supply of the Services is delayed by an event outside Our control then We will contact you as soon as possible to let you know and We will take steps to minimise the effect
            of the delay. Provided We do this We will not be liable for delays caused by the event, but if there is a risk of substantial delay you may contact Us to end the contract and receive a refund for any Seminar you have paid for but not received.</p>
        <p
            class="p2">7.5 <b>What happens if you do not pay? </b>If you do not pay Us for a Seminar when you are supposed to and you still do not make payment within 7 days of Us reminding you that payment is due, We may withdraw your enrolment on a Seminar with immediate
            effect (except where you dispute an invoice). We will contact you to tell you this. We can also charge you interest on overdue payments.</p>
            <p class="p2">7.6 <b>What rights We retain. </b>You acknowledge that all copyright, design right, trademarks and all other intellectual property rights in all Seminar materials (including but not limited to any drafts, drawings, PowerPoints or illustrations
                We make in connection with such materials) are owned by Us or Our licensors.</p>
            <p class="p2">7.7 <b>What is not included? </b></p>
            <p class="p2">7.7.1 You acknowledge that We do not (nor does any trainer, mentor, consultant, team member, agent or employee who is providing a course, mentoring or other training) provide financial, legal or accounting advice. We are not authorised by
                the FCA or other body to do so and as such this does not form part of the Seminar or the contract between Us.</p>
            <p class="p2">7.7.2 You further acknowledge that the opinions and comments made by trainers, consultants and mentors (whether employed by Us or not) are their own and do not represent or reflect Our opinions or comments. You acknowledge that any opinions
                or comments are followed at your own risk. You agree not to hold Us responsible for any such opinions or claims.</p>
            <p class="p2">7.8 <b>What will happen if you do not give required information to Us</b>? We may need certain information from you so that We can supply the Seminar(s) to you. If so, this will have been stated on Our website. We will contact you to ask for
                this information. If you do not give Us this information within a reasonable time of Us asking for it, or if you give Us incomplete or incorrect information, We may either end the contract or make an additional charge of a reasonable sum
                to compensate Us for any extra work 5</p>
            <p class="p2">that is required as a result. We will not be responsible for supplying the products late or not supplying any part of them if this is caused by you not giving Us the information We need within a reasonable time of Us asking for it.</p>
            <p class="p2"><b>8 EXCLUDED SERVICES </b></p>
            <p class="p2">8.1 We use self-employed consultants to assist us in providing Seminars. They may offer you Excluded Services with Our consent. If you accept or proceed with any Excluded Services, the contract will be between you and the consultant and not
                between you and Us.</p>
            <p class="p2">8.2 We do not recommend or endorse any of the Excluded Services or offer any guarantees as to the Excluded Services or any potential financial return arising from them. If you agree to take Excluded Services you are doing so at your own risk.</p>
            <p
                class="p2">8.3 We suggest that you make your own investigations and enquiries regarding these services before acting upon any advice or investment opportunity provided to you.</p>
                <p class="p2">8.4 Because the Excluded Services are carried out between you and the consultant, we will not be responsible for any costs or losses you or any person connected with you, incur as a result of those Excluded Services.</p>
                <p class="p2">8.5 By placing a Booking you are agreeing to waive forever and release Us and our affiliates and partners from any claims you may have against Us arising out of or in connection with the Excluded Services.</p>
                <p class="p2">9 <b>MONEY BACK GUARANTEES (WHERE APPLICABLE) </b></p>
                <p class="p2"><b>9.1 </b>We offer a ‘Double Money Back Guarantee’ on selected trainings subject to certain criteria being met. This is in addition to and does not affect your legal rights. If the training which you have signed up for is eligible for
                    this guarantee it will be made explicit prior to when product is sold to you. If this guarantee was not explicitly offered on the product you purchased prior to your purchase then the guarantee is not offered. The terms of this guarantee
                    are subject to the following terms:</p>
                <p class="p2"><b>9.2 </b>If you do not get two bona fide property deals within one year of starting your VIP programme, you will be entitled to be refunded double the price you paid for the programme. Please note that any refund due under excludes any
                    amounts you have paid for books, CDs and DVDs, VIP/Grad, Deal Packaging and social media courses.</p>
                <p class="p2">9.3 In order to qualify for our “Double Money Back Guarantee” you must meet and be able to demonstrate that you have met the following criteria:</p>
                <p class="p2">9.3.1 attend all 12 VIP sessions and Complete all 12 VIP one to one training sessions;</p>
                <p class="p2">9.3.2 attend at least 30 property/biz networking/angel meetings in the period for which your VIP membership is active (receipts will need to be provided as proof); 6</p>
                <p class="p2">9.3.3 publish at least two posts a week on Progressive Property community Facebook page of questions and challenges;</p>
                <p class="p2">9.3.4 follow all actions given in ‘1 to 1 sessions’ and where not followed, the reasons why before the next session to reset action;</p>
                <p class="p2">9.3.5 view a minimum of 10 properties a month (documentary evidence of viewings will need to be supplied from viewing agents);</p>
                <p class="p2">9.3.6 make a minimum of three offers a month (documentary evidence of offers will need to be supplied);</p>
                <p class="p2">9.3.7 no requests have been made by You for your VIP programme membership to be placed on hold for longer than 31 days;</p>
                <p class="p2">9.3.8 no requests for a refund of your VIP programme after 14 working days or requests which have previously been denied.</p>
                <p class="p2">9.4 If you are unable to demonstrate compliance with the criteria above to Our satisfaction, you will not be entitled to receive any refund.</p>
                <p class="p2">9.5 We will pay to you any money due under this clause by the method you used to pay for your Booking.</p>
                <p class="p2"><b>10 FAILURE TO ATTEND </b></p>
                <p class="p2">If you fail to attend a Seminar but have not varied your Booking you will forfeit any amounts that you have paid for that Seminar. This covers the cost we have incurred in organising your Booking and attendance at the Seminar. You will
                    not receive any credits for a Seminar that has been paid for but for which you do not attend. You acknowledge that this clause does not work harshly on you.</p>
                <p class="p2"><b>11 YOUR RIGHTS TO END THE CONTRACT </b></p>
                <p class="p2">11.1 <b>You can always end your contract with Us</b>. Your rights when you end the contract will depend on what you have booked, whether there is anything wrong, how We are performing and when you decide to end the contract:</p>
                <p class="p2">11.1.1 <b>If what you have bought is faulty or misdescribed you may have a legal right to end the contract </b>(or to get a service re-performed or to get some or all of your money back), see clause 12;</p>
                <p class="p2"><b>11.1.2 If you want to end the contract because of something We have done or have told you We are going to do; </b>or</p>
                <p class="p2">11.1.3 <b>If you have just changed your mind</b><i>. </i>You may be able to get a refund if you are within the cooling-off period and purchased the item online or over the telephone, but this may be subject to deductions. 7</p>
                <p class="p2">11.2 <b>Ending the contract because of something We have done or are going to do</b>. If you are ending the contract for a valid reason, the contract will end immediately and We will refund you in full for any Seminars which have not been
                    provided and you may also be entitled to compensation. Valid reasons are:</p>
                <p class="p2">11.2.1 We have told you about an upcoming change under clause 6.2 which you do not agree to;</p>
                <p class="p2">11.2.2 We have told you about an error in the price or description of the Seminar and you do not wish to proceed;</p>
                <p class="p2">11.2.3 there is a risk that supply of the Seminar or any Product(s) may be significantly delayed because of events outside Our control; or</p>
                <p class="p2">11.2.4 you have a legal right to end the contract because of something We have done wrong.</p>
                <p class="p2">11.3 <b>Exercising your right to change your mind (Consumer Contracts Regulations 2013)</b>. For most products bought online or over the telephone you have a legal right to change your mind within 14 days and receive a refund. These rights,
                    under the Consumer Contracts Regulations 2013, are explained in more detail in these terms.</p>
                <p class="p2">11.4 <b>When you don’t have the right to change your mind</b>. You do not have a right to change your mind in respect of:</p>
                <p class="p2">11.4.1 digital products after you have started to download or stream these;</p>
                <p class="p2">11.4.2 services (including Seminars), once these have been completed, even if the cancellation period is still running;</p>
                <p class="p2">11.4.3 sealed audio or sealed video recordings or sealed computer software, once these products are unsealed after you receive them; and</p>
                <p class="p2">11.4.4 any Products which become mixed inseparably with other items after their delivery.</p>
                <p class="p2">11.4.5 Any products purchased in person and therefore not online or over the telephone</p>
                <p class="p2">11.5 <b>How long do I have to change my mind? </b>How long you have depends on what you have ordered and how it is delivered.</p>
                <p class="p2">11.5.1 <b>Have you purchased services or products over the internet or over the telephone? </b>If so, you have 14 days after the day We email you to confirm We accept your Booking. However, once We have completed the Seminar you cannot
                    change your mind, even if the period is still running. If you cancel after We have started the Seminar, you must pay Us for services provided up until the time you tell Us that you have changed your mind.</p>
                <p class="p2">11.5.2 <b>Have you bought digital content for download or streaming? </b>if so, you have 14 days after the day We email you to confirm We accept your Booking, or, if earlier, until you start downloading or streaming. If We delivered the
                    8</p>
                <p class="p2">digital content to you immediately, and you agreed to this when ordering, you will not have a right to change your mind.</p>
                <p class="p2">11.5.3 <b>Have you bought goods? </b>if so you have 14 days after the day you (or someone you nominate) receives the goods if purchased over the internet or telephone, <b>unless</b>:</p>
                <p class="p2">11.5.3.1 <b>Your goods are split into several deliveries over different days</b>. In this case you have until 14 days after the day you (or someone you nominate) receives the last delivery to change your mind about the goods.</p>
                <p class="p2">11.5.3.2 <b>Your goods are for regular delivery over a set period</b>. In this case you have until 14 days after the day you (or someone you nominate) receives the first delivery of the goods.</p>
                <p class="p2">11.6 <b>Tell Us you want to end the contract</b>. To end the contract with Us, please let Us know by doing one of the following:</p>
                <p class="p2">11.6.1 <b>Phone or email</b>. Call customer services on 01733 898550 or email Us at ask@progressiveproperty.co.uk. Please provide your name, home address, details of the Booking and, where available, your phone number and email address.</p>
                <p
                    class="p2">11.6.2 <b>By post</b>. Print off the form below and post it to Us at the address on the form for the attention of the Managing Director. Or simply write to Us as that address, including the information required in the form.</p>
                    <p class="p2"><b><i>CANCELLATION FORM </i></b></p>
                    <p class="p2"><i>To: Unlimited Success Ventures Limited, </i></p>
                    <p class="p2"><i>Progressive Property Limited or </i></p>
                    <p class="p2"><i>Progressive Property Ventures LLP </i></p>
                    <p class="p2"><i>of Unit 10, Office Village, Hampton, Peterborough, PE7 8GX. </i></p>
                    <p class="p2"><i>I/We* hereby give notice that I/We* cancel my/Our* contract of sale of the following goods/ for the supply of the following services* </i></p>
                    <p class="p2"><i>Ordered on/received on * DATE. </i></p>
                    <p class="p2"><i>Name of consumer(s). </i></p>
                    <p class="p2"><i>Consumer(s) Address(es) </i></p>
                    <p class="p2"><i>Signature (if sent on paper) </i></p>
                    <p class="p2"><i>Date………………………………. </i></p>
                    <p class="p2">11.7 <b>Returning Products after ending the contract</b>. If you end the contract for any reason after Products have been dispatched to you or you have received them, you must return them to Us. You must either return the goods in
                        person to where you 9</p>
                    <p class="p2">bought them, post them back to Us or (if they are not suitable for posting) allow Us to collect them from you. Please call customer services on 01733 898550 or email Us at ask@progressiveproperty.co.uk for a return label or to arrange
                        collection. If you are exercising your right to change your mind you must send off the goods within 14 days of telling Us you wish to end the contract.</p>
                    <p class="p2">11.8 When We will pay the costs of return. We will pay the costs of return:</p>
                    <p class="p2">11.8.1 if Products are faulty or misdescribed; or</p>
                    <p class="p2">11.8.2 if you are ending the contract because We have told you of an upcoming change to the Product or these terms, an error in pricing or description, a delay in delivery due to events outside Our control or because you have a legal
                        right to do so as a result of something We have done wrong.</p>
                    <p class="p2">In all other circumstances (including where you are exercising your right to change your mind) you must pay the costs of return.</p>
                    <p class="p2">11.9 <b>How We will refund you</b>. We will refund you the price you paid for the Products and any Seminar(s) including delivery costs, by the method you used for payment. However, We may make deductions from the price, as described
                        below.</p>
                    <p class="p2">11.10 <b>Deductions from refunds</b>. If you are exercising your right to change your mind:</p>
                    <p class="p2">11.10.1 We may reduce your refund of the price (excluding delivery costs) to reflect any reduction in the value of the goods, if this has been caused by your handling them in a way which would not be permitted in a shop. If We refund
                        you the price paid before We are able to inspect the goods and later discover you have handled them in an unacceptable way, you must pay Us an appropriate amount.</p>
                    <p class="p2">11.10.2 The maximum refund for delivery costs will be the costs of delivery by the least expensive delivery method We offer. For example, if We offer delivery of a Product within 3-5 days at one cost but you choose to have the Product
                        delivered within 24 hours at a higher cost, then We will only refund what you would have paid for the cheaper delivery option.</p>
                    <p class="p2">11.10.3 Where the Product is a service, We may deduct from any refund an amount for the supply of the service for the period for which it was supplied, ending with the time when you told Us you had changed your mind. The amount will
                        be in proportion to what has been supplied, in comparison with the full coverage of the contract.</p>
                    <p class="p2">11.11 <b>When your refund will be made</b>. We will make any refunds due to you as soon as possible. If you are exercising your right to change your mind then:</p>
                    <p class="p2">11.12 If the products are goods and We have not offered to collect them, any valid refund requests will be made within 14 days from the day on which We receive the Product back from you or, if earlier, the day on which you provide
                        Us with evidence that you have sent the Product back to Us. For information about how to return a Product to Us, see section above with cancellation form attached. 10</p>
                    <p class="p2">11.12.1 In all other cases, any valid refunds refund will be made within 14 days of your telling Us you have changed your mind</p>
                    <p class="p2">11.13 <b>We may end the contract if you break it</b>. We may end the contract at any time by writing to you if:</p>
                    <p class="p2">11.13.1 you do not make any payment to Us when it is due and you still do not make payment within 7 days of Us reminding you that payment is due;</p>
                    <p class="p2">11.13.2 you do not, within a reasonable time of Us asking for it, provide Us with information that is necessary for Us to provide the Product(s) or Seminar(s);</p>
                    <p class="p2">11.13.3 you do not, within a reasonable time, allow Us to deliver the products to you or collect them from Us;</p>
                    <p class="p2">11.14 <b>You must compensate Us if you break the contract</b>. If we end the contract we will refund any money you have paid in advance for products or Seminars We have not provided but We may deduct or charge you a proportion of the
                        price based on our current charging rates depending on the date on which We end the contract, as compensation for the net costs We will incur as a result of your breaking the contract.</p>
                    <p class="p2"><b>12 IF THERE IS A PROBLEM </b></p>
                    <p class="p2">12.1 <b>How to tell Us about problems</b>. If you have any questions or complaints about the Product, please contact Us. You can telephone Our customer service team at 01733 898550 or write to Us at ask@progressiveproperty.co.uk or
                        Unit 10, Office Village, Hampton, Peterborough, PE7 8GX.</p>
                    <table class="t1" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="td1" valign="top">
                                    <p class="p2">12.2 <b>Summary of your legal rights</b>. We are under a legal duty to supply products and services that are in conformity with this contract. See the box below for a summary of your key legal rights. Nothing in these
                                        terms will affect your legal rights. <b>Summary of your key legal rights </b></p>
                                    <p class="p2">This is a summary of your key legal rights. These are subject to certain exceptions. For detailed information please visit the Citizens Advice website www.adviceguide.org.uk or call 03454 04 05 06.</p>
                                    <p class="p2">If your Product is <b>goods</b>, for example furniture or a laptop, the Consumer Rights Act 2015 says goods must be as described, fit for purpose and of satisfactory quality. During the expected life of your Product
                                        your legal rights entitle you to the following:</p>
                                    <p class="p2">up to 30 days: if your item is faulty, then you can get a refund.</p>
                                    <p class="p2">up to six months: if your faulty item can’t be repaired or replaced, then you’re entitled to a full refund, in most cases.</p>
                                    <p class="p2">up to six years: if the item can be expected to last up to six years you may be entitled to a repair or replacement, or, if that doesn’t work, some of your money back.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
