<div class="gray-lighter-bg-row" id="testimonials">
<div class="container pt-5">
<div class="row">
<div class="col-md-8">
<h2 class="pb-5">Testimonials</h2>
</div>
<div class="col-md-6 mb-5">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-auto"><figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/02/scott-williams-400x400.jpg" alt="Scott Williams" width="200" height="200"></figure></div>
<div class="col">
<div class="card-block px-2">
<h4 class="card-title brand-primary-colour pt-3">Scott Williams</h4>
<p class="brand-secondary-colour">Education is so important. I had the pleasure of listening to the amazing Anne Houlton today at the Beginners Property Secrets discovery day (thank you!) Without a doubt, educating yourself can be the difference between being successful or unsuccessful.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6  mb-5 ">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-auto"><figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/mikki-ashton-400x400.jpg" alt="" width="200" height="200"></figure></div>
<div class="col">
<div class="card-block px-2">
<h4 class="card-title brand-primary-colour pt-3">Mikki Ashton</h4>
<p class="brand-secondary-colour">Had a fantastic day at Progressive Towers on the Beginners Property Secrets day. Learned loads and made some new friends, hopefully for years to come!!</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6 mb-5">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-auto"><figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/adam-galbraith-400x400.jpg" alt="" width="200" height="200"></figure></div>
<div class="col">
<div class="card-block px-2">
<h4 class="card-title brand-primary-colour pt-3">Adam Galbraith</h4>
<p class="brand-secondary-colour">OMG!!! Sorry guys, I just have to add to my previous post... I've just realised that 1 year today was the day I did my first BPS, hosted by Rebecca Smith and Toni Gargan... Bought our first in February and we've actually exchanged on our 7th property today HAPPY ANNIVERSARY MEEEEEE!!!! Number 8 is next week and then 9 is about 6 weeks. I bloody love Progressive!!!! MASSIVE thank you and gratitude to EVERYONE who has helped me in my first year! Here's to the next 12 months!!! xxx</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6  mb-5">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-auto"><figure><img class="img-fluid" src="/wp-content/uploads/sites/2/2019/01/kay-bennellack-400x400.jpg" alt="" width="200" height="200"></figure></div>
<div class="col">
<div class="card-block px-2">
<h4 class="card-title brand-primary-colour pt-3">Kay Bennallack</h4>
<p class="brand-secondary-colour">What a great couple of days. First, I attended the Beginners Property Secrets and then today my first VIP day. Everyone was so welcoming and I really felt like part of the community. Watch this space guys, onwards and upwards. Thank you so much for making Steve and I so at home and see you all there again next month.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>