<p>
    <!-- last section tickets -->
</p>
<div class="positive-bg-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="brand-primary-colour">Tickets are going fast!</h2>
                <p class="lead mb-4">Act now to avoid missing out</p>
                <div class="row">
                    <div class="col-12 mb-4">
                        <h4 class="mb-2">The next Commercial Conversions course</h4>
                    </div>
                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>
                    </div>
                    <div class="col">
                        <span class="badge badge-success">Date</span>
                        <p>3rd-7th May</p>
                        <span class="badge badge-success">Location</span>
                        <p>Peterborough</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div><img class="img-fliud" src="/wp-content/uploads/sites/2/2019/02/cpcd-640x370-v1.jpg" alt="" width="640" height="370"></div>
                    <h5>Click Here to Register<br>For Your Tickets Now</h5>
                </div>
            </div>
        </div>
    </div>
</div>