<div class="positive-bg-row">
	<div class="container">

<ul>
	<li>You’ll be fully supported and mentored by the UK’s most prolific, successful & diverse property Cashflow investing community, including real life property millionaire mentors homegrown throw the Progressive community</li>
	<li>We hold you accountable for your success – This is the BIGGEST determining factor achieving your goals and Cashflow. We’ll give you the incentive and system to act and get results instead of procrastinate!</li>
</ul>

	<p class="small">** Please Remember ** We take applications very seriously. There is no guarantee that you will be accepted, and as of this time we only have a few places available in the entire programme. We will contact you within 3 days in first apply first called order, to let you know if you’ve been accepted – this must be confirmed by phone & if you don’t take the call you could lose your place</p>

	[MAKE A NEW FORM ID]

	</div>
</div>
