<div class="positive-bg-row">
    <div class="container">
        <h2 class="brand-primary-colour">The very best thing about property investing is what you get to give</h2>

        <p class="lead">Thanks to some pain we’ve experienced, a desire to do more than just make money, and the Progressive Community, Progressive proudly support…</p>

        <p>Both Rob and business partner Mark have had very close loved ones [Mark’s father and uncle] die of Cancer.</p>

        <p>Without property, we doubt we’d really be able to make much of a difference for the lives of other people – tenants, refurb teams, maintenance men, letting agents, all of whom benefit from the work Progressive do, as well as the charity work we feel compelled to do.</p>

        <p>If you can’t give back and help others, then life just isn’t as rewarding, is it?</p>

        <p>Together, the Progressive Community have donated up to 50% of event ticket revenues, raised £10,000’s at the Progressive Charity ball, with Rob &amp; Mark embarrassing themselves at a couple of marathons, to amass well over 6 figures for great causes.</p>

        <p>We aim to hit the top of that thermometer bar and 7 figures soon. Perhaps we can work together, and the great thing about the Progressive Community is you help to be a part of that too, so thank you.</p>
    </div>
</div>
