
<!-- WONT DISPLAY DESC -->

<!-- 	<div class="gray-lighter-bg-row mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div id="author_pic">
						<?php echo get_avatar( get_the_author_meta('ID'), 256); ?>
					</div>	
				</div>
				<div class="col-md-9">
					<h6 class="text-muted">Post Author:</h6>
					<h3><a href="<?php echo get_author_posts_url( get_the_author_meta( 'ID' )); ?>" rel="author"><?php the_author(); ?></a></h3>
						<?php 
						// Get author's biographical information or description
						$author_details .= '<p class="col-md-12 author_bio">' . get_the_author_meta( 'user_description' ). '</p>';

						?>
				</div>		
			</div>				
		</div>
	</div>		
 -->